.notice {
  padding: 0.125rem 0.5rem 0 0.75rem;
  border: 1px solid var(--mb-color-border-brand);
  border-radius: 0.5rem;
  background: var(--mb-color-background_page-secondary);
  margin: 0 0.5rem;
}
