.name {
  &:hover,
  &:focus-within {
    position: relative;
    z-index: 1; /* prevent focus state from being cut off after imitating collapsed borders */
  }
}

.section {
  width: auto;
}

.description {
  position: relative;
  top: -2px; /* Imitate collapsed borders. -1px does not seem to do the trick on Mac. */
}

.nameInput {
  border-start-start-radius: var(--mantine-radius-sm);
  border-start-end-radius: var(--mantine-radius-sm);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.descriptionInput {
  line-height: var(--mantine-line-height-lg);
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  border-end-start-radius: var(--mantine-radius-sm);
  border-end-end-radius: var(--mantine-radius-sm);
}

.name .nameWrapper {
  --input-height-lg: rem(50px);
}

.name .nameInput,
.description .descriptionInput {
  --input-border-color: var(--mb-color-border-neutral);
  --input-ring: 0 0 0 0 transparent;

  border-width: 1px;
  background-color: var(--mb-color-background_page-primary);
}

.name .nameInput {
  font-size: var(--mantine-font-size-lg);
}

.name .nameInput:hover,
.name .nameInput:focus-within,
.description .descriptionInput:hover,
.description .descriptionInput:focus-within {
  --input-border-color: var(--mb-color-core-brand);
  --input-ring: 0 0 0 0 transparent;

  background-color: var(--mb-color-background_page-primary);
}
