.name {
  &:focus-within {
    position: relative;
    z-index: 1; /* prevent focus state from being cut off after imitating collapsed borders */
  }
}

.section {
  width: auto;
}

.description {
  position: relative;
  top: -2px; /* Imitate collapsed borders. -1px does not seem to do the trick on Mac. */
}

.nameInput {
  border-start-start-radius: var(--mantine-radius-md);
  border-start-end-radius: var(--mantine-radius-md);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.descriptionInput {
  line-height: var(--mantine-line-height-lg);
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  border-end-start-radius: var(--mantine-radius-md);
  border-end-end-radius: var(--mantine-radius-md);
}
