.root {
  position: relative;
  min-width: 8rem;
  min-height: 4.5rem;

  &:last-child {
    flex-grow: 1;
    justify-content: end;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--mb-color-border);
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0.5rem;
  padding: 0 0.5rem;
  transform: translateY(-50%);
  color: var(--mb-color-text-medium);
  background-color: white;
  text-transform: uppercase;
}
