.slidePreviewContainer {
  background: white;
  border-right: 1px solid var(--mb-color-border);
  overflow-y: auto;
  padding: 1rem 1rem 1rem .75rem;
  height: calc(100dvh - 52px - 85px);
  flex-shrink: 0;
  width: 13.75rem;
}

.slidePreview {
  width: 10rem;
  aspect-ratio: 16 / 9;
  border: 1px solid #eeecec;
}

.slidePreviewSelected {
  border: 1px solid var(--mb-color-brand);
}

.slidePreview > div {
  transform: scale(0.1);
  transform-origin: top left;
  width: calc(1600px - 2rem);
  height: calc(900px - 2rem);
}

.slidePreviewSlide {
  pointer-events: none;
}
