.tile {
  display: block;
  overflow: hidden;
  text-align: left;
  cursor: grab;
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mb-color-background-primary);
}

.tile:active {
  cursor: grabbing;
}

.tile:hover {
  border-color: var(--mb-color-brand);
}
