{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {metabase.models.params.custom-values {values-from-card {:arities {2 {:args [:any
                                                                                                                    :any],
                                                                                                             :ret :any},
                                                                                                          3 {:args [:fn
                                                                                                                    :fn
                                                                                                                    :any],
                                                                                                             :ret :any}}}},
                                        metabase.models.parameter-card {upsert-or-delete-from-parameters! {:arities {3 {:args [:string
                                                                                                                               :int
                                                                                                                               :nilable/sequential],
                                                                                                                        :ret :any}}}},
                                        metabase-enterprise.advanced-config.api.logs {query-execution-logs {:arities {2 {:args [:int
                                                                                                                                :int],
                                                                                                                         :ret :any}}}},
                                        metabase.driver.sql-jdbc.sync.describe-database {simple-select-probe-query {:arities {3 {:args [:keyword
                                                                                                                                        :nilable/string
                                                                                                                                        :string],
                                                                                                                                 :ret [:string
                                                                                                                                       {:op :rest,
                                                                                                                                        :spec :any}]}}}},
                                        metabase.api.card {param-values {:arities {2 {:args [:any :any], :ret :any},
                                                                                   3 {:args [{:op :keys}
                                                                                             :string
                                                                                             :nilable/string],
                                                                                      :ret :any}}}},
                                        metabase.api.dashboard {chain-filter {:arities {3 {:args [:any :any :any],
                                                                                           :ret :any},
                                                                                        4 {:args [{:op :keys}
                                                                                                  :string
                                                                                                  {:op :keys}
                                                                                                  :nilable/string],
                                                                                           :ret :any}}}},
                                        metabase.util.honey-sql-2 {identifier {:arities {:varargs {:args [:keyword
                                                                                                          {:op :rest,
                                                                                                           :spec :nilable/any}],
                                                                                                   :ret :any,
                                                                                                   :min-arity 1}}},
                                                                   normalize-type-info {:arities {1 {:args [:any],
                                                                                                     :ret {:op :keys,
                                                                                                           :opt {:metabase.util.honeysql-extensions/database-type :any}}}}},
                                                                   with-database-type-info {:arities {2 {:args [:any
                                                                                                                :nilable/any],
                                                                                                         :ret :any}}},
                                                                   cast {:arities {2 {:args [:any :any], :ret :fn}}},
                                                                   quoted-cast {:arities {2 {:args [:string :any],
                                                                                             :ret :fn}}},
                                                                   maybe-cast {:arities {2 {:args [:any :any], :ret :fn}}}},
                                        metabase.query-processor.middleware.permissions {check-query-permissions* {:arities {1 {:args [{:op :keys}],
                                                                                                                                :ret :any}}}},
                                        metabase.util.malli {with-api-error-message {:arities {2 {:args [:any :fn],
                                                                                                  :ret :any},
                                                                                               3 {:args [:any :fn :fn],
                                                                                                  :ret :any}}}},
                                        metabase.models.permissions {classify-path {:arities {1 {:args [:any],
                                                                                                 :ret :keyword}}},
                                                                     classify-data-path {:arities {1 {:args [:string],
                                                                                                      :ret :keyword}}},
                                                                     generate-graph {:arities {2 {:args [:any :map],
                                                                                                  :ret {:op :keys}}}},
                                                                     ->v2-path {:arities {1 {:args [:any], :ret :vector}}},
                                                                     update-db-data-access-permissions! {:arities {3 {:args [:pos-int
                                                                                                                             :pos-int
                                                                                                                             :any],
                                                                                                                      :ret :any}}},
                                                                     update-group-permissions! {:arities {2 {:args [:pos-int
                                                                                                                    :map],
                                                                                                             :ret :any}}},
                                                                     update-data-perms-graph! {:arities {1 {:args [{:op :keys,
                                                                                                                    :req {:groups :map,
                                                                                                                          :revision :int}}],
                                                                                                            :ret :any},
                                                                                                         2 {:args [:vector
                                                                                                                   :any],
                                                                                                            :ret :any}}}},
                                        metabase.driver.h2 {classify-query {:arities {2 {:args [:any :any],
                                                                                         :ret {:op :keys,
                                                                                               :req {:command-types :vector,
                                                                                                     :remaining-sql :nilable/string},
                                                                                               :nilable true}}}}}}}}}
