.Description {
  white-space: pre-line;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 0.5em;
}

.EmptyDescription {
  color: var(--mb-color-text-disabled);
  font-weight: 700;
}

.fade {
  transition: opacity 0.25s linear;

  &:empty {
    display: none;
  }
}

.slide {
  transition:
    opacity 0.25s linear,
    transform 0.25s linear;
}

.slideOut {
  transform: translateY(100%);
}

@media (prefers-reduced-motion: reduce) {
  .fade,
  .slide {
    transition-duration: 0s;
  }
}
