{
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "metabase-enterprise",
          "metabase-enterprise/*",
          "cljs/metabase.lib*"
        ],
        "paths": [
          {
            "name": "react-redux",
            "importNames": ["useSelector", "useDispatch"],
            "message": "Please import from `metabase/lib/redux` instead."
          },
          {
            "name": "@mantine/core",
            "message": "Please import from `metabase/ui` instead."
          },
          {
            "name": "moment",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "moment-timezone",
            "message": "Moment is deprecated, please use dayjs"
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.unit.spec.{js,jsx,ts,tsx}"],
      "rules": {
        "no-console": 0
      }
    },
    {
      "files": ["**/*.stories.tsx"],
      "rules": {
        "import/no-default-export": 0
      }
    },
    {
      "files": ["lib/redux/hooks.ts"],
      "rules": {
        "no-restricted-imports": 0
      }
    },
    {
      "files": ["ui/**/*.{js,jsx,ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              "metabase-enterprise",
              "metabase-enterprise/*",
              "cljs/metabase.lib*"
            ],
            "paths": [
              {
                "name": "moment",
                "message": "Moment is deprecated, please use dayjs"
              },
              {
                "name": "moment-timezone",
                "message": "Moment is deprecated, please use dayjs"
              }
            ]
          }
        ]
      }
    }
  ]
}
