.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.beforeEol {
  background-color: var(--mb-color-background-secondary);
  border: 1px solid var(--mb-color-border-neutral);
}

.afterEol {
  background-color: var(--mb-color-background_surface-warning);
  border: 1px solid var(--mb-color-feedback-warning);
}
