.list {
  &::before {
    display: none;
  }
}

.allTab :global(.Icon) {
  display: block;
}

.removeButton {
  margin-left: 4px;
}

.addButton {
  align-self: center;
  margin-left: var(--mantine-spacing-xs);
  color: var(--mb-color-text-medium);
}

.addButton:hover {
  color: var(--mb-color-text-dark);
}

.columnPicker {
  color: var(--mb-color-brand);
}
