.removeButton {
  margin-left: 4px;
}

.overflowButton {
  margin-left: var(--mantine-spacing-xs);
  color: var(--mb-color-text-medium);
}

.overflowButton:hover {
  color: var(--mb-color-text-dark);
}

.overflowButton[data-active] {
  color: var(--mb-color-brand);
}

.overflowMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  margin-left: var(--mantine-spacing-xs);
  color: var(--mb-color-text-medium);
}

.addButton:hover {
  color: var(--mb-color-text-dark);
}

.columnPicker {
  color: var(--mb-color-brand);
}
