.BehaviorOptionIcon {
  border-color: var(--mb-color-border-neutral);

  .Icon {
    color: var(--mb-color-text-primary-inverse);
  }

  &.isSelected {
    border-color: transparent;

    .Icon {
      color: var(--mb-color-text-primary-inverse);
    }
  }
}
