.dropdownFieldSet {
  min-width: 0;
  text-overflow: ellipsis;
  border: 2px solid var(--mb-color-border-neutral);
  margin: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;

  & legend {
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
    position: relative;
    height: 2px;
    line-height: 0;
    margin-left: -0.45em;
    padding: 0 0.5em;
  }
}

.hasValue {
  border-color: var(--mb-color-core-brand);

  &,
  & legend {
    color: var(--mb-color-core-brand);
  }
}

.labelIcon {
  overflow: visible;
}

.eventSandbox {
  display: contents;
}
