.content {
  & > [data-node-view-content-react] {
    height: 100%;

    & > :global(.node-cardEmbed) {
      height: 100%;
    }

    & > :global(.node-flexContainer) {
      height: 100%;
    }
  }

  height: 100%;
}

.dragContainer {
  position: absolute;
  bottom: -0.75rem;
  width: 100%;
  opacity: 0;
  transition: opacity 150ms ease;
}

.dragHandle {
  background-color: var(--mb-color-border);
  height: 0.25rem;
  width: 4rem;
  cursor: pointer;
  z-index: 10;
  border-radius: var(--default-border-radius);
  transition: background-color 150ms ease;

  &:hover {
    background-color: var(--mb-color-brand);
  }
}

.wrapper {
  position: relative;

  &:hover {
    .dragContainer {
      opacity: 1;
    }
  }
}
