{:paths
 ["src" "resources"]

 :deps
 {net.snowflake/snowflake-jdbc-thin {:mvn/version "4.0.1"
                                     :exclusions  [io.grpc/grpc-netty-shaded
                                                   ;; This will already get excluded automatically by the build tools
                                                   ;; since it's a top-level dep in `/deps.edn` but adding the
                                                   ;; exclusion here will (hopefully?) prevent code scanning alerts
                                                   ;; from complaining about it as well.
                                                   io.netty/netty-codec-http]}
  ;; drop when snowflake update driver to the one without the vulnerabilities
  io.grpc/grpc-netty-shaded         {:mvn/version "1.77.0"}
  ;; pinned: snowflake-jdbc-thin 4.1.0 pulls jackson-core 2.18.4.1 which has resource exhaustion vulns
  com.fasterxml.jackson.core/jackson-core {:mvn/version "2.21.2"}}}
