{:paths
 ["src" "resources"]

 :deps
 {net.snowflake/snowflake-jdbc-thin {:mvn/version "3.25.1"
                                     :exclusions  [com.nimbusds/nimbus-jose-jwt
                                                   org.apache.commons/commons-lang3]}
  ;; drop when snowflake update driver to the one without the vulnerabilities
  com.nimbusds/nimbus-jose-jwt      {:mvn/version "10.4"}
  org.apache.commons/commons-lang3  {:mvn/version "3.18.0"}}}
