.inlineEditingInput {
  /* Should be in sync with DEFAULT_FONT_SIZE */
  --inline-editing-input-font-size: 12.5px;
  /* Properly alignment with BaseCell, to avoid text flickering (BaseCell has only border-bottom 1px) */
  --inline-editing-input-border-top: none;

  transition: none;
  outline: 2px solid var(--mb-base-color-blue-50);
  outline-offset: -2px;
  border-color: transparent;
  box-sizing: border-box;
  font-weight: 700;
  background-color: var(--mb-base-color-white);
  border-radius: 0;
  font-size: var(--inline-editing-input-font-size);
  border-top: var(--inline-editing-input-border-top);

  /* Mirror props to nested input, since TextInput and DateInput component structure is different */
  & > input {
    font-size: var(--inline-editing-input-font-size);
    border-top: var(--inline-editing-input-border-top);
  }

  /** DateInput behaves a bit differently, therefore we need a style override for focused state */
  &:focus {
    outline: 2px solid var(--mb-base-color-blue-50);
  }
}
