.Schedule {
  line-height: 2.5rem;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  gap: 0.5rem;
  row-gap: 0.35rem;
}

.ControlGroup {
  display: flex;
  gap: 0.25rem;
  flex-flow: row wrap;
  grid-column: 2;
}

.TextInFirstColumn {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.TextInSecondColumn {
  line-height: 1.5rem;
  grid-column: 2;
}
