.root {
  height: unset;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  gap: var(--mantine-spacing-xs);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  line-height: 1rem;
  border-radius: 999px;
  color: var(--mb-color-text-primary);
  background-color: var(--mb-color-background-primary);
  box-shadow: var(--mantine-shadow-xs);
}

.root[data-disabled] {
  color: var(--mb-color-text-disabled);
}

.label {
  line-height: 1rem;
}

.remove {
  --cb-size: 0.75rem;
  --cb-icon-size: 0.75rem;

  padding: 0;
  border: none;
  min-width: var(--cb-size);
  min-height: var(--cb-size);
  opacity: 0.5;
}

.root:hover .remove {
  opacity: 1;
}
