.menuItem {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-lg);
  background-color: transparent;
  color: var(--mb-color-text-primary);
  transition:
    background-color 100ms,
    color 100ms;
  border-radius: 6px;
}

.menuItem[aria-selected="true"] {
  color: var(--mb-color-brand);
  background-color: var(--mb-color-background-hover);
}

.menuItemWithBorder {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-lg);
  background-color: transparent;
  color: var(--mb-color-text-primary);
  transition:
    background-color 100ms,
    color 100ms;
  border-radius: 6px;
  border-top: 1px solid var(--mb-color-border);
}

.menuItemWithBorder:hover,
.menuItemWithBorder[aria-selected="true"] {
  color: var(--mb-color-brand);
  background-color: var(--mb-color-background-hover);
}

.menuItemStack {
  flex: 1;
}
