.removeLinkAnchor {
  cursor: pointer;
}

.removeLinkAnchor:hover {
  text-decoration: underline;
}

.embedCodeContainer {
  position: relative;
  background-color: var(--mb-color-background-secondary);
  border-radius: 4px;
  padding: 0.5rem;
}

.copyButtonContainer {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.embedCode {
  white-space: pre;
  font-size: 12px;
  background-color: transparent;
}
