.horizontalRoot {
  overflow: hidden;
}

.overflowLabel {
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: var(--mb-color-core-brand);
  }
}

.popoverScroll {
  overflow-x: hidden;
}

.itemLabel {
  opacity: 0.35;
  transition: opacity 0.25s linear;
}

.itemLabel:hover,
.itemLabel:focus-within,
.highlightedLabel {
  opacity: 1;
}

.itemTitle {
  overflow: hidden;
}

.clickableLabel {
  cursor: pointer;
}
