.text {
  color: var(--mb-color-text-primary);
  font-weight: bold;

  && {
    padding-top: 0;
    margin-top: 0;
  }
}

.link {
  line-height: 1.5rem;
  cursor: pointer;

  /* Increases specificity to override default link styles */
  && {
    padding-top: 0;
    margin-top: 0;
  }

  &:hover {
    color: var(--mb-color-brand);
  }
}
