@import "../Questions.css";

:local(.actionHeader) {
  composes: full flex align-center from "style";
  line-height: 1;
  font-size: 14px;
  color: var(--brand-color);
}

:local(.selectedCount) {
  composes: mx4 from "style";
}

/* ALL CHECKBOX */
:local(.allCheckbox) {
  composes: icon from "./List.css";
  margin-left: 10px;
  visibility: visible !important;
}

:local(.selected) {
  color: var(--blue-color) !important;
}

:local(.actionButton) {
  composes: px1 cursor-pointer text-bold flex align-center from "style";
}

:local(.actionButton) .Icon {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

:local(.actionButton) .Icon-chevrondown {
  color: #deeaf1;
}
