@import '../Questions.css';

:local(.list) {
  composes: ml-auto mr-auto from "style";
  padding-bottom: 40px;
}

:local(.list-wrapper) {
  max-width: var(--md-width);
  composes: ml-auto mr-auto from "style";
}

:local(.list) a {
    text-decoration: none;
}

:local(.header) {
    composes: header from "../Questions.css";
}

:local(.empty) {
    composes:  flex align-center justify-center from "style";
    composes: full from "style";
}

:local(.item) {
    composes: border-top from "style";
    composes: flex align-center from "style";
    composes: relative from "style";
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #EDF5FB;
}

:local(.itemBody) {
    composes: flex-full from "style";
}

:local(.itemTitle) {
    composes: text-bold from "style";
    color: var(--title-color);
    font-size: 18px;
}

:local(.itemName) {
    composes: mr1 from "style";
    composes: inline-block from "style";
}

:local(.itemName):hover {
    color: var(--blue-color);
}

:local(.itemSubtitle) {
    color: var(--subtitle-color);
    font-size: 14px;
}

:local(.itemSubtitleBold) {
    color: var(--title-color);
}

/* TAG */
:local(.open) :local(.tagIcon) {
    visibility: visible;
    color: var(--blue-color);
}

