.root {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: default;
  font-weight: 700;
  padding: 0 12px;
  border-bottom: unset;
  background-color: #FAFAFB;
}

.content {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.625em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  outline: none;
  gap: 0.25rem;
  font-size: 12px;
}

.alignRight {
  flex-direction: row-reverse;
}

.light .content {
  transition: background-color 200ms ease-in-out;
  background-color: #F4F4F5;
  cursor: pointer;
}

.light .content:hover {
  background-color: var(--mb-color-background-selected);
  color: var(--mb-color-text-white);
}

.outline .content {
  border: 1px solid var(--mb-base-color-brand-20);
}

.sortIndicator {
  flex-shrink: 0;
}

.firstHeaderCell .content {
  border-radius: 8px 0 0 8px;
}

.lastHeaderCell .content {
  border-radius: 0 8px 8px 0;
}
