.root {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: default;
  font-weight: 700;
  padding: 0 12px;
  border-bottom: unset;
}

.content {
  overflow: auto;
  outline: none;
}

.outline .content {
  background-color: transparent;
  border: 1px solid var(--mb-color-border);
}

.outline .content:hover {
  background-color: transparent;
}
