.ItemLink {
  margin-bottom: 0.5rem;
  display: block;

  &:hover {
    color: var(--mb-color-brand);
  }
}

.SuggestionsSidebarWrapper {
  min-height: 100%;
  width: 346px;
  background-color: var(--mb-color-bg-light);
  border-left: 2px solid var(--mb-color-border);
}

.DashboardWrapper {
  flex-grow: 1;

  &.HasSidebar {
    padding-right: 346px;
  }
}

.Root {
  background: var(--mb-color-background-light);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
