
<div class="wrapper">
    <div>
        <div class="">
            <h2>{{query.name}}</h2>
            <h5>Historical Result - {{queryResult.id}}</h5>

            <pre class="px2 py2 bordered rounded bg-grey-1">{{queryResult.json_query.rawsql.sql}}</pre>
        </div>

        <div class="">
          <a class="Button" href="/api/result/{{queryResult.id}}/csv" target="_self" ng-if="queryResultData">Download Results</a>
        </div>
    </div>

    <div ng-include="'/app/admin/query/partials/query_detail_results.html?cb=4'"></div>

    <div ng-include="'/app/admin/query/partials/query_detail_recentexec.html?cb=2'"></div>
</div>
