<div class="wrapper">
    <div>
        <div class="">
            <h2>
              <a href="#" ng-if="query.can_write" editable-text="query.name" e-size="80" onaftersave="inlineSave(query)">{{query.name}}</a>
              <span ng-if="!query.can_write">{{query.name}}</span>
            </h2>

            <pre class="px2 py2 bordered rounded bg-grey-1 scroll-x">{{query.details.sql}}</pre>
        </div>

        <div class="">
          <div class="float-right">
            <input class="Button" type="button" value="Clone Query" ng-click="cloneQuery(query.id)"/>
            <a class="Button" cv-org-href="/admin/query/{{query.id}}/modify" ng-if="query.can_write">Modify Query</a>
          </div>

          <input class="Button Button--primary" type="button" value='Execute Now' ng-click="runQuery(query.id)"/>
          <a class="Button" href="/api/result/{{queryResult.id}}/csv" target="_self" ng-if="queryResultData">Download Results</a>
          <a class="Button" cv-org-href="/card/create/{{query.id}}">Create Card</a>
        </div>
    </div>

    <div ng-include="'/app/admin/query/partials/query_detail_results.html?cb=4'"></div>

    <div ng-include="'/app/admin/query/partials/query_detail_recentexec.html?cb=2'"></div>
</div>
