.analysisWrapper {
  line-height: 1.5;
}

.analysisWrapper p {
  margin-bottom: 1rem;
}

.analysisWrapper h1,
.analysisWrapper h2,
.analysisWrapper h3,
.analysisWrapper h4,
.analysisWrapper h5,
.analysisWrapper h6 {
  margin-bottom: 1rem;
}

.analysisWrapper ul,
.analysisWrapper ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.analysisWrapper ul {
  list-style-type: disc;
}

.analysisWrapper ol {
  list-style-type: decimal;
}

.analysisWrapper li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.analysisWrapper li p {
  line-height: 1.5;
}

.analysisWrapper li > ul,
.analysisWrapper li > ol {
  margin-top: 0.5rem;
}
