.resultItem {
  cursor: pointer;
  border-radius: 4px;
}

.refreshIcon {
  opacity: 0;
}

.resultItem:hover {
  color: var(--mb-color-brand);
  background-color: var(--mb-color-bg-medium);

  .refreshIcon {
    opacity: 1;
  }
}

.resultItemSelected,
.resultItemSelected:hover {
  color: var(--mb-color-text-white);
  background-color: var(--mb-color-brand);
}

.resultItemActions {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-xs);
}
