.resultItem {
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  height: 40px;
  margin-bottom: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-sm);
  transition: all 0.2s;
}

.resultItem:hover {
  color: var(--mb-color-brand);
  background-color: var(--mb-color-bg-medium);
}

.resultItemSelected,
.resultItemSelected:hover {
  color: var(--mb-color-text-white);
  background-color: var(--mb-color-brand);
}

.resultItemIncompatible {
  height: 0;
  padding: 0;
  opacity: 0;
}
