.root {
  .description {
    color: var(--mb-color-text-secondary);
    font-size: var(--mantine-font-size-sm);
    line-height: var(--mantine-line-height-sm);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .error {
    color: var(--mb-color-feedback-negative-strong);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &:has(input:disabled) {
    .label,
    .description {
      color: var(--mb-color-text-disabled);
    }

    .track {
      background-color: var(--mb-color-switch-disabled);
      border-color: transparent;
    }

    .thumb {
      background-color: var(--mb-color-switch_thumb-disabled);
      box-shadow: none;
    }
  }

  &[data-label-position="left"] .body {
    column-gap: var(--mantine-spacing-lg);
  }

  &[data-variant="stretch"] .body {
    justify-content: space-between;
  }
}

.body {
  --label-offset-start: 0;
  --label-offset-end: 0;

  align-items: start;
  column-gap: var(--mantine-spacing-md);

  &:has(.label) .track {
    margin-top: rem(2px);
  }
}

.label {
  color: var(--mb-color-text-primary);
  font-size: var(--mantine-font-size-md);
  line-height: rem(20px);
}

.labelWrapper {
  gap: var(--mantine-spacing-xxxs);
  align-self: center;
}

.track {
  border: 0.5px solid var(--mb-color-border-neutral-strong);
  background-color: var(--mb-color-switch-unchecked);
  cursor: pointer;

  input:checked + & {
    background-color: var(--mb-color-switch-checked);
  }

  input:disabled + & {
    background-color: var(--mb-color-switch-disabled);
    cursor: not-allowed;
  }
}

.thumb {
  background-color: var(--mb-color-core-white_constant);
  box-shadow: var(--mantine-shadow-sm_outline);
}
