.container {
  display: grid;
  grid-template-columns: auto minmax(min-content, 20rem);
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
}

.gridLabelInput {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;

  .label {
    grid-column: 1;
  }

  .input {
    grid-column: 2;

    &.unset {
      color: var(--mb-color-text-secondary);
    }
  }
}

.transformLink {
  grid-column: 2 / 3;
  margin-top: -8px;
}
