:root {
  --default-button-border-radius: 4px;
  --default-button-border-color: #b9b9b9;
  --default-button-background-color: #fff;

  --primary-button-border-color: #509ee3;
  --primary-button-bg-color: #509ee3;
  --warning-button-border-color: #ef8c8c;
  --warning-button-bg-color: #ef8c8c;
  --danger-button-bg-color: #ef8c8c;
  --selected-button-bg-color: #f4f6f8;

  --success-button-color: var(--success-color);
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background: #fbfcfd;
  border: 1px solid #ddd;
  color: var(--default-font-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  border-radius: var(--default-button-border-radius);
}
.Button:hover {
  color: var(--brand-color);
}

@media screen and (--breakpoint-min-lg) {
  .Button {
    padding: 0.75rem 1rem;
  }
}

@media screen and (--breakpoint-min-xl) {
  .Button {
    padding: 1rem 1.5rem;
  }
}

.Button:hover {
  transition: border 0.3s linear;
}

.Button--small {
  padding: 0.45rem 1rem;
  font-size: 0.6rem;
}

.Button--medium {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.Button--large {
  padding: 0.8rem 1.25rem;
  font-size: 1rem;
}

.Button-normal {
  font-weight: normal;
}

.Button--primary {
  color: #fff;
  background: var(--primary-button-bg-color);
  border: 1px solid var(--primary-button-border-color);
}

.Button--primary:hover {
  color: #fff;
  border-color: color(var(--primary-button-border-color) shade(10%));
  background-color: color(var(--primary-button-bg-color) shade(10%));
}

.Button--warning {
  color: #fff;
  background: var(--warning-button-bg-color);
  border: 1px solid var(--warning-button-border-color);
}

.Button--warning:hover {
  color: #fff;
  border-color: color(var(--warning-button-border-color) shade(10%));
  background-color: color(var(--warning-button-bg-color) shade(10%));
}

.Button--cancel {
  border-radius: 99px;
}

.Button--white {
  background-color: white;
  color: color(var(--base-grey) shade(30%));
  border-color: color(var(--base-grey) shade(30%));
}

.Button--purple {
  color: white;
  background-color: #a989c5;
  border: 1px solid #a989c5;
}

.Button--purple:hover {
  color: white;
  background-color: #885ab1;
  border-color: #885ab1;
}

.Button--borderless {
  border: none;
  background: transparent;
  color: color(var(--base-grey) shade(40%));
}
.Button--borderless:hover {
  color: color(var(--base-grey) shade(50%));
}

.Button--onlyIcon {
  border: none;
  background: transparent;
  color: var(--default-font-color);
  padding: 0;
}

.Button-group {
  display: inline-block;
  border-radius: var(--default-button-border-radius);
  border: 1px solid var(--default-button-border-color);
  overflow: hidden;
  clear: both;
}

.Button-group .Button {
  margin: 0;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.Button-group .Button--active {
  background-color: var(--success-color);
  color: #fff;
}

.Button-group .Button:first-child {
  border-left: none;
}

.Button-group--blue {
  border-color: rgb(194, 216, 242);
}

.Button-group--blue .Button {
  color: rgb(147, 155, 178);
}

.Button-group--blue .Button--active {
  background-color: rgb(227, 238, 250);
  color: rgb(74, 144, 226);
}

.Button-group--brand {
  border-color: white;
}

.Button-group--brand .Button {
  border-color: white;
  color: var(--brand-color);
  background-color: #e5e5e5;
}

.Button-group--brand .Button--active {
  background-color: var(--brand-color);
  color: white;
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Button--selected,
.Button--selected:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: var(--selected-button-bg-color);
}

.Button--danger {
  background-color: var(--danger-button-bg-color);
  border-color: var(--danger-button-bg-color);
  color: #fff;
}

.Button--danger:hover {
  color: white;
  background-color: color(var(--danger-button-bg-color) shade(10%));
  border-color: color(var(--danger-button-bg-color) shade(10%));
}

.Button--success {
  background-color: var(--success-button-color);
  border-color: var(--success-button-color);
  color: #fff;
}
.Button--success:hover {
  background-color: var(--green-saturated-color);
  border-color: var(--green-saturated-color);
  color: #fff;
}

/* toggle button */
.Button-toggle {
  color: var(--grey-text-color);
  display: flex;
  line-height: 1;
  border: 1px solid #ddd;
  border-radius: 40px;
  width: 3rem;
  transition: background 0.2s linear 0.2s, border 0.2s linear 0.2s;
}

.Button-toggleIndicator {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 99px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
  transition: margin 0.3s linear;
  background-color: #fff;
}

.Button-toggle.Button--toggled .Button-toggleIndicator {
  margin-left: 50%;
  transition: margin 0.3s linear;
}

.Button-toggle.Button--toggled {
  color: var(--brand-color);
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  transition: background 0.2s linear 0.2s, border 0.2s linear 0.2s;
}

.Button--withIcon {
  line-height: 1;
}
