:root {
  --default-button-border-radius: 6px;
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid var(--mb-color-border);
  color: var(--mb-color-text-primary);
  cursor: pointer;
  font-weight: bold;
  font-family: var(--mb-default-font-family), sans-serif;
  border-radius: var(--default-button-border-radius);
  transition: all 200ms linear;
  transition-property: color, border-color, background-color;
}

.Button:hover {
  color: var(--mb-color-text-brand);
  border-color: var(--mb-color-border);
  background: var(--mb-color-background-secondary);
}

.Button:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline: 1px solid var(--mb-color-brand);
}

@media screen and (--breakpoint-min-lg) {
  .Button {
    padding: 0.75rem 1rem;
  }
}

.ButtonSmall {
  padding: 0.45rem 1rem;
}

.ButtonMedium {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.ButtonLarge {
  padding: 0.8rem 1.25rem;
  font-size: 1rem;
}

.ButtonNormal {
  font-weight: normal;
}

.ButtonRound {
  border-radius: 99px;
}

.ButtonPrimary {
  color: var(--mb-color-text-primary-inverse);
  background: var(--mb-color-brand);
  border-color: var(--mb-color-brand);
}

.ButtonPrimary:hover {
  color: var(--mb-color-text-primary-inverse);
  border-color: var(--mb-color-brand);
  background-color: var(--mb-color-brand-hover);
}

.ButtonPrimary:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline-color: var(--mb-color-brand);
}

.ButtonWarning {
  color: var(--mb-color-text-primary-inverse);
  background: var(--mb-color-error);
  border-color: var(--mb-color-error);
}

.ButtonWarning:hover {
  color: var(--mb-color-text-primary-inverse);
  border-color: var(--mb-color-error);
  background-color: var(--mb-color-error);
}

.ButtonWarning:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline-color: var(--mb-color-error);
}

.ButtonCancel {
  border-radius: 99px;
}

.ButtonWhite {
  background-color: var(--mb-color-background-primary);
  color: var(--mb-color-text-primary);
  border-color: var(--mb-color-border);
}

.ButtonBorderless {
  border-color: transparent;
  background: transparent;
  color: var(--mb-color-text-secondary);
}

.ButtonBorderless:hover {
  border-color: transparent;
  color: var(--mb-color-text-secondary);
}

.ButtonBorderless:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline-color: var(--mb-color-brand);
}

.ButtonOnlyIcon {
  border: none;
  background: transparent;
  color: var(--mb-color-text-primary);
  padding: 0;
}

.ButtonOnlyIcon:focus-visible {
  border: none;
  outline-color: var(--mb-color-brand);
}

.ButtonGroup {
  display: inline-block;
  border-radius: var(--default-button-border-radius);
  border: 1px solid var(--mb-color-border);
  overflow: hidden;
  clear: both;
}

.ButtonGroup .Button {
  margin: 0;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.ButtonGroup .ButtonActive {
  background-color: var(--mb-color-success);
  color: var(--mb-color-text-primary-inverse);
}

.ButtonGroup .Button:first-child {
  border-left: none;
}

.ButtonGroupBrand {
  border-color: white;
}

.ButtonGroupBrand .Button {
  border-color: white;
  color: var(--mb-color-brand);
  background-color: var(--mb-color-background-tertiary);
}

.ButtonGroupBrand .ButtonActive {
  background-color: var(--mb-color-brand);
  color: white;
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ButtonDanger {
  background-color: var(--mb-color-error);
  border-color: var(--mb-color-error);
  color: var(--mb-color-text-primary-inverse);
}

.ButtonDanger:hover {
  color: white;
  background-color: var(--mb-color-error);
  border-color: var(--mb-color-error);
}

.ButtonDanger:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline-color: var(--mb-color-error);
}

.ButtonSuccess {
  background-color: var(--mb-color-success);
  border-color: var(--mb-color-success);
  color: var(--mb-color-text-primary-inverse);
}

.ButtonSuccess:hover {
  background-color: var(--mb-color-success);
  border-color: var(--mb-color-success);
  color: var(--mb-color-text-primary-inverse);
}

.ButtonSuccess:focus-visible {
  border-color: var(--mb-color-background-primary);
  outline-color: var(--mb-color-success);
}

.ButtonFullWidth {
  width: 100%;
}
