:root {
  --default-button-border-radius: 4px;
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background: var(--color-bg-light);
  border: 1px solid var(--color-border);
  color: var(--color-text-dark);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  border-radius: var(--default-button-border-radius);
}
.Button:hover {
  color: var(--color-brand);
}

@media screen and (--breakpoint-min-lg) {
  .Button {
    padding: 0.75rem 1rem;
  }
}

@media screen and (--breakpoint-min-xl) {
  .Button {
    padding: 1rem 1.5rem;
  }
}

.Button:hover {
  transition: border 0.3s linear;
}

.Button--small {
  padding: 0.45rem 1rem;
  font-size: 0.6rem;
}

.Button--medium {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.Button--large {
  padding: 0.8rem 1.25rem;
  font-size: 1rem;
}

.Button-normal {
  font-weight: normal;
}

.Button--primary {
  color: var(--color-text-white);
  background: var(--color-brand);
  border: 1px solid var(--color-brand);
}

.Button--primary:hover {
  color: var(--color-text-white);
  border-color: var(--color-brand);
  background-color: var(--color-brand);
}

.Button--warning {
  color: var(--color-text-white);
  background: var(--color-error);
  border: 1px solid var(--color-error);
}

.Button--warning:hover {
  color: var(--color-text-white);
  border-color: var(--color-error);
  background-color: var(--color-error);
}

.Button--cancel {
  border-radius: 99px;
}

.Button--white {
  background-color: white;
  color: var(--color-text-medium);
  border-color: var(--color-border);
}

.Button--purple {
  color: white;
  background-color: var(--color-accent2);
  border: 1px solid var(--color-accent2);
}

.Button--purple:hover {
  color: white;
  background-color: var(--color-accent2);
  border-color: var(--color-accent2);
}

.Button--borderless {
  border: none;
  background: transparent;
  color: var(--color-text-medium);
}
.Button--borderless:hover {
  color: var(--color-text-medium);
}

.Button--onlyIcon {
  border: none;
  background: transparent;
  color: var(--color-text-dark);
  padding: 0;
}

.Button-group {
  display: inline-block;
  border-radius: var(--default-button-border-radius);
  border: 1px solid var(--color-border);
  overflow: hidden;
  clear: both;
}

.Button-group .Button {
  margin: 0;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.Button-group .Button--active {
  background-color: var(--color-success);
  color: var(--color-text-white);
}

.Button-group .Button:first-child {
  border-left: none;
}

.Button-group--blue {
  border-color: var(--color-border);
}

.Button-group--blue .Button {
  color: var(--color-text-medium);
}

.Button-group--blue .Button--active {
  background-color: var(--color-bg-medium);
  color: var(--color-brand);
}

.Button-group--brand {
  border-color: white;
}

.Button-group--brand .Button {
  border-color: white;
  color: var(--color-brand);
  background-color: var(--color-bg-medium);
}

.Button-group--brand .Button--active {
  background-color: var(--color-brand);
  color: white;
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Button--selected,
.Button--selected:hover {
  box-shadow: inset 0 1px 1px var(--color-shadow);
  background-color: var(--color-bg-light);
}

.Button--danger {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: var(--color-text-white);
}

.Button--danger:hover {
  color: white;
  background-color: var(--color-error);
  border-color: var(--color-error);
}

.Button--success {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-text-white);
}
.Button--success:hover {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-text-white);
}

.Button--withIcon {
  line-height: 1;
}
