:root {
  --default-button-border-radius: 6px;
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid color-mix(in srgb, var(--mb-color-border), black 5%);
  color: var(--mb-color-text-primary);
  cursor: pointer;
  font-weight: bold;
  font-family: var(--mb-default-font-family), sans-serif;
  border-radius: var(--default-button-border-radius);
  transition: all 200ms linear;
  transition-property: color, border-color, background-color;
}

.Button:hover {
  color: var(--mb-color-text-brand);
  border-color: color-mix(in srgb, var(--mb-color-border), black 12%);
  background: var(--mb-color-bg-light);
}

.Button:focus {
  outline: 2px solid var(--mb-color-focus);
}

.Button:focus:not(:focus-visible) {
  outline: none;
}

@media screen and (--breakpoint-min-lg) {
  .Button {
    padding: 0.75rem 1rem;
  }
}

.ButtonSmall {
  padding: 0.45rem 1rem;
}

.ButtonMedium {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.ButtonLarge {
  padding: 0.8rem 1.25rem;
  font-size: 1rem;
}

.ButtonNormal {
  font-weight: normal;
}

.ButtonRound {
  border-radius: 99px;
}

.ButtonPrimary {
  color: var(--mb-color-text-white);
  background: var(--mb-color-brand);
  border: 1px solid var(--mb-color-brand);
}

.ButtonPrimary:hover {
  color: var(--mb-color-text-white);
  border-color: var(--mb-color-brand);
  background-color: var(--mb-color-brand-alpha-88);
}

.ButtonWarning {
  color: var(--mb-color-text-white);
  background: var(--mb-color-error);
  border: 1px solid var(--mb-color-error);
}

.ButtonWarning:hover {
  color: var(--mb-color-text-white);
  border-color: var(--mb-color-error);
  background-color: var(--mb-color-error);
}

.ButtonCancel {
  border-radius: 99px;
}

.ButtonWhite {
  background-color: white;
  color: var(--mb-color-text-dark);
  border-color: var(--mb-color-border);
}

.ButtonBorderless {
  border-color: transparent;
  background: transparent;
  color: var(--mb-color-text-medium);
}

.ButtonBorderless:hover {
  border-color: transparent;
  color: var(--mb-color-text-medium);
}

.ButtonOnlyIcon {
  border: none;
  background: transparent;
  color: var(--mb-color-text-dark);
  padding: 0;
}

.ButtonGroup {
  display: inline-block;
  border-radius: var(--default-button-border-radius);
  border: 1px solid var(--mb-color-border);
  overflow: hidden;
  clear: both;
}

.ButtonGroup .Button {
  margin: 0;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.ButtonGroup .ButtonActive {
  background-color: var(--mb-color-success);
  color: var(--mb-color-text-white);
}

.ButtonGroup .Button:first-child {
  border-left: none;
}

.ButtonGroupBrand {
  border-color: white;
}

.ButtonGroupBrand .Button {
  border-color: white;
  color: var(--mb-color-brand);
  background-color: var(--mb-color-bg-medium);
}

.ButtonGroupBrand .ButtonActive {
  background-color: var(--mb-color-brand);
  color: white;
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ButtonDanger {
  background-color: var(--mb-color-error);
  border-color: var(--mb-color-error);
  color: var(--mb-color-text-white);
}

.ButtonDanger:hover {
  color: white;
  background-color: var(--mb-color-error);
  border-color: var(--mb-color-error);
}

.ButtonSuccess {
  background-color: var(--mb-color-success);
  border-color: var(--mb-color-success);
  color: var(--mb-color-text-white);
}

.ButtonSuccess:hover {
  background-color: var(--mb-color-success);
  border-color: var(--mb-color-success);
  color: var(--mb-color-text-white);
}

.ButtonFullWidth {
  width: 100%;
}
