:root {
  --form-field-border-color: color(var(--color-border) blackness(+10%));
}
::-webkit-input-placeholder {
  color: var(--color-text-light);
}
:-moz-placeholder {
  color: var(--color-text-light);
}
:-ms-input-placeholder {
  color: var(--color-text-light);
}

.Form-field {
  margin-bottom: 1.5em;
  color: var(--color-text-medium);
}

.Form-field.Form--fieldError {
  color: var(--color-error);
}

.Form-label {
  display: block;
  font-weight: 900;
  font-size: 0.88em;
  color: inherit;
  margin-bottom: 0.5em;
}

.Form-input {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text-dark);
  background-color: var(--color-bg-white);
  padding: 0.75em;
}

.Form-input,
.Form-input-border {
  border: 1px solid var(--form-field-border-color);
  border-radius: 4px;
  outline: none;
}

.Form-file-input::-webkit-file-upload-button {
  visibility: hidden;
  padding-right: 32px;
  padding-top: 8px;
}
.Form-file-input--has-value {
  color: var(--color-text-dark);
  font-weight: bold;
}
.Form-file-input::before {
  background: transparent;
  border: 1px solid color(var(--color-border) blackness(+ 5%));
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--color-text-dark);
  content: "Select a file";
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  -webkit-user-select: none;
}
.Form-file-input:hover::before {
  transition: all 0.5s ease;
  border-color: var(--color-brand);
}
.Form-file-input:active {
  outline: none;
}
.Form-file-input:focus {
  outline: none;
}
.Form-file-input:active::before {
  background: transparent;
}

.Form-field.Form--fieldError .Form-input {
  border-color: var(--color-error);
}

.Form-message {
  opacity: 0;
  transition: none;
}

.Form-message.Form-message--visible {
  opacity: 1;
  transition: opacity 500ms linear;
}

.Form-input:focus:not(.no-focus),
.Form-field:hover .Form-input:not(.no-focus) {
  border-color: var(--color-brand);
  transition: border 300ms ease-in-out;
}

.Form-radio {
  display: none;
}

.Form-radio + label {
  cursor: pointer;
  display: inline-block;
  flex: 0 0 auto;
  position: relative;
  margin-right: var(--margin-1);
  width: 8px;
  height: 8px;
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--color-shadow);
  border-radius: 8px;
}

.Form-radio:checked + label {
  box-shadow: 0 0 0 2px var(--color-shadow);
  background-color: var(--color-brand);
}

.Form-field .AdminSelect {
  border-color: var(--form-field-border-color);
}

.Form-field .AdminSelect:hover {
  border-color: var(--color-brand);
  transition: border 300ms ease-in-out;
}
