.Header-title {
  width: 455px;
}

.Header-title-name {
  font-size: 1.24em;
  color: var(--color-text-dark);
}

.Header-buttonSection {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid color-mod(var(--color-accent2) alpha(-80%));
}

.Header-buttonSection:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
