:root {
  --icon-color: var(--color-text-light);
}

:global(.IconWrapper) {
  font-size: 0;
}

:global(.Logo .Icon) {
  width: 33px;
  height: 42.5px;
}

@media screen and (--breakpoint-min-md) {
  :global(.Logo .Icon) {
    width: 66px;
    height: 85px;
  }
}
