:root {
  --icon-color: var(--color-text-light);
}

.IconWrapper {
  font-size: 0;
}

.Logo .Icon {
  width: 33px;
  height: 42.5px;
}

@media screen and (--breakpoint-min-md) {
  .Logo .Icon {
    width: 66px;
    height: 85px;
  }
}
