.ListSectionHeader :global(.Icon),
.ListItem .ListItemArrow :global(.Icon) {
  color: var(--color-text-dark);
}

.ListSectionHeader:hover :global(.Icon) {
  color: inherit;
}

.ListItem :global(.Icon) {
  color: var(--color-text-light);
}

.ListSectionHeader {
  color: var(--color-text-dark);
  border: 2px solid transparent;

  /* so that spacing matches .List-item */
}

.ListSectionHeaderCursor {
  border-radius: 8px;
  outline: 2px solid var(--color-focus);
  outline-offset: -4px;
}

/* these crazy rules are needed to get currentColor to propagate to the right elements in the right states */
.ListSectionToggleAble .ListSectionHeader:hover,
.ListSectionToggleAble .ListSectionHeader:hover :global(.Icon),
.ListSectionToggleAble .ListSectionHeader:hover .ListSectionTitle,
.ListSectionExpanded .ListSectionHeader,
.ListSectionExpanded .ListSectionHeader .ListSectionIcon :global(.Icon) {
  color: currentColor;
}

.ListSectionExpanded .ListSectionHeader .ListSectionTitle {
  color: var(--color-text-dark);
}

.ListSectionTitle {
  word-wrap: break-word;
}

/* LIST ITEM */
.ListItem {
  display: flex;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ListItemCursor {
  outline: 2px solid var(--color-focus);
}

.ListItemCursor:not(.ListItemDisabled),
.ListItem:not(.ListItemDisabled):hover,
:global(.List-item--selected):not(.ListItemDisabled) {
  background-color: currentColor;
}

/* LIST ITEM TITLE */
:global(.List-item-title) {
  color: var(--color-text-dark);
}

.ListItemDisabled :global(.List-item-title) {
  color: var(--color-text-light);
}

.ListItemCursor:not(.ListItemDisabled) :global(.List-item-title),
.ListItem:not(.ListItemDisabled):hover :global(.List-item-title),
:global(.List-item--selected):not(.ListItemDisabled) :global(.List-item-title) {
  color: white;
}

/* LIST ITEM DESCRIPTION */
:global(.List-item-description) {
  margin-top: 0.25em;
  margin-bottom: 0;
  color: var(--color-text-medium);
}

.ListItemDisabled :global(.List-item-description) {
  color: var(--color-text-dark);
}

.ListItemCursor:not(.ListItemDisabled) :global(.List-item-description),
.ListItem:not(.ListItemDisabled):hover :global(.List-item-description),
:global(.List-item--selected):not(.ListItemDisabled)
  :global(.List-item-description) {
  color: rgba(255, 255, 255, 0.5);
}

/* LIST ITEM ICON */
.ListItemCursor:not(.ListItemDisabled) :global(.Icon),
.ListItem:not(.ListItemDisabled):hover :global(.Icon),
:global(.List-item--selected):not(.ListItemDisabled) :global(.Icon) {
  color: white !important;
}

/* Moved from `query_builder.module.css` to make migration easier */
.ListItem:not(.ListItemDisabled):hover .FieldListGroupingTrigger,
:global(.List-item--selected) .FieldListGroupingTrigger {
  visibility: visible;
}
