.ModalContainer {
  z-index: 4;
}

.Modal {
  margin: auto;
  width: 640px;
  box-shadow: 0 0 6px var(--color-shadow);
  max-height: 90%;
  overflow-y: auto;
}

/* On IE11, single flex item with `margin: auto` gets shifted to flex end
 * https://github.com/philipwalton/flexbugs/issues/157
 * Set margin to zero when using Flexbox in `WindowModal` component
 */
.ModalBackdrop > .Modal {
  margin: 0;
}

.Modal:global(.Modal--small) {
  width: 480px;
} /* TODO - why is this one px? */
.Modal:global(.Modal--medium) {
  width: 65%;
}

.Modal:global(.Modal--wide) {
  width: 85%;
}

.Modal:global(.Modal--fit) {
  width: auto;
  max-height: 100%;
}

.Modal:global(.Modal--tall) {
  min-height: 85%;
}

:global(.Modal--full) {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.ModalBackdrop {
  background-color: color-mod(var(--color-bg-black) alpha(-40%));
}

/* TRANSITIONS */

/* backdrop */

.ModalBackdrop:global(.Modal-appear),
.ModalBackdrop:global(.Modal-enter) {
  background-color: color-mod(var(--color-bg-black) alpha(-99%));
}

.ModalBackdrop:global(.Modal-appear-active),
.ModalBackdrop:global(.Modal-enter-active) {
  transition: background-color 200ms ease-in-out;
  background-color: color-mod(var(--color-bg-black) alpha(-40%));
}

.ModalBackdrop:global(.Modal-exit) {
  background-color: color-mod(var(--color-bg-black) alpha(-40%));
}

.ModalBackdrop:global(.Modal-exit-active) {
  transition: background-color 200ms ease-in-out 100ms;
  background-color: color-mod(var(--color-bg-black) alpha(-99%));
}

/* modal */

.ModalBackdrop:global(.Modal-appear) .Modal,
.ModalBackdrop:global(.Modal-enter) .Modal {
  opacity: 0.01;
  transform: translate(0, 40px);
}

.ModalBackdrop:global(.Modal-appear-active) .Modal,
.ModalBackdrop:global(.Modal-enter-active) .Modal {
  transition: opacity 200ms linear 100ms, transform 200ms ease-in-out 100ms;
  opacity: 1;
  transform: translate(0, 0);
}

.ModalBackdrop:global(.Modal-exit) .Modal {
  opacity: 1;
  transform: translate(0, 0);
}

.ModalBackdrop:global(.Modal-exit-active) .Modal {
  transition: opacity 200ms linear, transform 200ms ease-in-out;
  opacity: 0.01;
  transform: translate(0, -40px);
}

@media (prefers-reduced-motion) {
  .ModalBackdrop:global(.Modal-appear),
  .ModalBackdrop:global(.Modal-enter),
  .ModalBackdrop:global(.Modal-exit),
  .ModalBackdrop:global(.Modal-appear) .Modal,
  .ModalBackdrop:global(.Modal-enter) .Modal,
  .ModalBackdrop:global(.Modal-exit) .Modal {
    transition: none;
  }
}
