:root {
  --table-border-color: color(var(--color-border) alpha(-70%));
  --table-alt-bg-color: color(var(--color-bg-black) alpha(-98%));

  --entity-image-small-size: 24px;
  --entity-image-large-size: 64px;
}

/*
  explicitly set the th text alignment to left. this is required for IE
  which follows the suggested rendering and defaults to center, whereas
  chrome and others do not
*/
th {
  text-align: left;
}

.Table {
  /* standard table reset */
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;

  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.76rem;
  line-height: 0.76rem;
  text-align: left;
}

.Table--bordered {
  border: 1px solid color(var(--color-border) alpha(-70%));
}

.Table tr,
.Table th {
  border-bottom: 1px solid color(var(--color-border));
}

.Table tr:last-child {
  border-bottom: none;
}

.Table.Table--striped tr:nth-child(even) {
  background-color: color(var(--color-bg-black) alpha(-98%));
}

.Table th,
.Table td {
  padding: 1em;
}

.ComparisonTable {
  border-collapse: collapse;
  border-spacing: 0;
}

.ComparisonTable th,
.ComparisonTable td {
  border-bottom: 1px solid var(--color-border);
}
