.root {
  min-width: 1rem;
  padding: 0 0.125rem;
  border: none;
  border-radius: var(--mantine-radius-xs);
  background-color: var(--mb-color-background_surface-secondary);
  box-shadow: none;
  color: var(--mb-color-text-primary);
  font-family: inherit;
  font-weight: 500;
  line-height: 1rem;
}
