.field {
  border-radius: var(--default-border-radius);
  border: 1px solid var(--mb-color-border);

  &:hover {
    &:not(.active) {
      background-color: var(--mb-color-background-light) !important;
    }
  }
}

.icon {
  color: var(--mb-color-brand);
}

.input {
  &,
  & textarea {
    height: 1.5rem !important;
  }

  textarea {
    cursor: text;
    white-space: nowrap;
  }
}
