.root {
  color: var(--mb-color-text-primary);
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: var(--mantine-heading-font-weight);
  line-height: var(--mantine-line-height-md);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overlay {
  background-color: var(--mb-color-overlay);
  padding: 11px;
}

.content {
  background-color: var(--mb-color-background-primary);
  border: 1px solid var(--mb-color-border);
}

.header {
  background-color: var(--mb-color-background-primary);
}

.ModalCloseButton {
  color: var(--mb-color-text-tertiary) !important;
  padding: 0;
  width: rem(18px);
  height: rem(18px);

  &:hover {
    color: var(--mb-color-text-secondary) !important;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}
