.root {
  color: var(--mb-color-text-primary);
}

.title {
  font-size: var(--mantine-h2-font-size);
  font-weight: var(--mantine-heading-font-weight);
  line-height: var(--mantine-h2-line-height);
  flex: 1 1 auto;
  min-width: 0;
  overflow-wrap: break-word;
}

.overlay {
  background-color: var(--mb-color-overlay);
  padding: 11px;
}

.content {
  background-color: var(--mb-color-background_page-primary);
  border: 1px solid var(--mb-color-border-neutral);
}

.header {
  background-color: var(--mb-color-background_page-primary);
}

.ModalCloseButton {
  color: var(--mb-color-text-tertiary) !important;
  padding: 0;
  width: rem(18px);
  height: rem(18px);

  &:hover {
    color: var(--mb-color-text-secondary) !important;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}
