.imageBlockContainer {
  border: 1px solid var(--mb-color-border-secondary);
  border-radius: 6px;
  padding: var(--mantine-spacing-md);
  background-color: var(--mb-color-background);
}

.uploadWrapper {
  cursor: pointer;
  display: inline-block;
}
