.imageBlockContainer {
  border: 1px solid var(--mb-color-border-secondary);
  border-radius: 6px;
  padding: var(--mantine-spacing-md);
  background-color: var(--mb-color-bg-light);

  display: flex;

  &.selected {
    background-color: var(--mb-color-bg-medium);
  }
}

.uploadWrapper {
  cursor: pointer;
  display: inline-block;
}
