.errorTooltip {
  overflow-wrap: break-word;
}

.tree {
  overflow-y: auto;
  /*
  as we poll for query results, the tree items can get resorted
  some browsers by default try to keep the scroll position of an anchor item stable
  but that seems to work poorly for our use case, so disable it
  */
  overflow-anchor: none;
  padding: 0 1rem 1rem 0;
}

.tree :global(ul) {
  display: flex;
  flex-direction: column;
}

.treeRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  color: inherit;
  text-align: left;
}

.treeRow:hover {
  background: var(--mb-color-background-hover);
}

.treeRowSelected {
  background: var(--mb-color-background-brand);
  color: var(--mb-color-brand);
}
