
*.clj @camsaul
*.js @tlrobinson
*.jsx @tlrobinson
/frontend/ @tlrobinson @kdoh
/frontend/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
