.App-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: aliceblue;

    overflow: hidden;
}

.App-body {
    padding: 2rem;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: row;

    overflow: hidden;

    gap: 2rem;
}

.App-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.QueryVisualization-container {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.ChooseQuestion-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.QuestionList-container {
    overflow: scroll;
}

.QuestionList-item {
    cursor: pointer;
    padding: 0.5rem 0.5rem;

    width: 30vw;

    border-radius: 0.25rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.QuestionList-item:hover {
    background: aliceblue;
}

.QuestionList-item--selected {
    background: #ccc;
}