.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue;

  flex-shrink: 0;

  overflow: hidden;
}

.App-body {
  background: white;
  min-height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.App-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.QueryVisualization-container {
  width: 100%;
  min-height: 200px;
}

.ChooseParamsHeader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1rem;
  width: 100%;
  background-color: aliceblue;
}

.Params-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.QueryVisualization-placeholder {
  display: grid;
  place-items: center;
  font-weight: bold;
  height: 100%;
  color: darkgray;
  font-size: 1.5rem;
}

.ChooseQuestion-input {
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.QuestionsList {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.QuestionList-item {
  cursor: pointer;
  padding: 0.5rem 0.5rem;

  width: 30vw;

  border-radius: 0.25rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.QuestionList-item:hover {
  background: aliceblue;
}

.QuestionList-item--selected {
  background: #ccc;
}
