.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: aliceblue;
}

.App-body {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.QueryVisualization-container {
  width: 100%;
  min-height: 100%;
}

.ChooseParams-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.ChooseQuestion-input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
