.previewWrapper {
  position: relative;
}

.preview {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mb-color-background-secondary);
  overflow: hidden;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  min-height: 4rem;
}

.preview :global(.cm-editor) {
  background-color: transparent;
}

.placeholderBox {
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mb-color-background-secondary);
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.editorWrapper {
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.editButton {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: var(--mantine-spacing-xs);
  z-index: 1;
}

.placeholder {
  color: var(--mb-color-text-secondary);
  font-family: var(--mb-default-monospace-font-family, monospace);
  font-size: 0.8125rem;
}
