.nav {
  border-right: 1px solid var(--mb-color-border);
  overflow: auto;
}

.opened {
  width: 300px;
}

.logo {
  display: block;
  height: 2rem;
  transition: opacity 400ms ease;
  width: 2rem;
}

.icon {
  color: var(--mb-color-text-secondary);
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }

  &.selected {
    background-color: var(--mb-color-background-selected);
  }
}

.tab,
.toggle {
  color: var(--mb-color-text-primary);
  position: relative;
  transition: opacity 400ms ease;

  &:hover,
  &.selected {
    color: var(--mb-color-brand);

    .icon {
      color: inherit;
    }
  }
}

.logoWrapper {
  position: relative;

  .toggle {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.navbarClosed {
    &:hover {
      .toggle {
        opacity: 1;
      }

      .logo {
        opacity: 0;
      }
    }
  }
}

.badgeOverlay {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
