.nav {
  border-right: 1px solid var(--mb-color-border);
  overflow: auto;
}

.opened {
  width: 300px;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 0 -8px;
  display: block;
}

.icon {
  color: var(--mb-color-text-secondary);
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }

  &.selected {
    background-color: var(--mb-color-background-selected);
  }
}

.tab,
.toggle {
  position: relative;
  color: var(--mb-color-text-primary);

  &:hover,
  &.selected {
    color: var(--mb-color-brand);

    .icon {
      color: inherit;
    }
  }
}

.hoverButton {
  &:hover {
    .showOnHover {
      opacity: 1;
    }

    .hideOnHover {
      opacity: 0;
    }
  }
}

.showOnHover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 400ms ease;
}

.hideOnHover {
  opacity: 1;
  transition: opacity 400ms ease;
}

.disablePointer {
  cursor: default;
}

.badgeOverlay {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
