.aiMarkdown {
  line-height: 1.5;
}

.aiMarkdown pre {
  width: 100%;
  overflow-x: auto;
}

.aiMarkdown p {
  margin-bottom: 1rem;
}

.aiMarkdown h1,
.aiMarkdown h2,
.aiMarkdown h3,
.aiMarkdown h4,
.aiMarkdown h5,
.aiMarkdown h6 {
  margin-bottom: 1rem;
}

.aiMarkdown ul,
.aiMarkdown ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.aiMarkdown ul {
  list-style-type: disc;
}

.aiMarkdown ol {
  list-style-type: decimal;
}

.aiMarkdown li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.aiMarkdown li p {
  line-height: 1.5;
}

.aiMarkdown li > ul,
.aiMarkdown li > ol {
  margin-top: 0.5rem;
}

.smartLink {
  color: var(--mb-color-brand);
  font-weight: 700;
  padding: 0.125rem;
  border-radius: var(--mantine-radius-sm);
  transition: 200ms background-color;
  outline: none;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}

.smartLinkInner {
  border-bottom: 1px solid var(--mb-color-brand-light);
}

.icon {
  margin-bottom: -0.125rem;
  margin-right: 0.25rem;
}
