.tooltipTable {
  border-collapse: collapse;
  margin: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.tableBody.hasBottomSpacing::after {
  line-height: var(--mantine-spacing-sm);
  content: " ";
  display: block;
}

.tableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 15rem;
  padding: 0.125rem 0.0625rem;

  &:first-of-type {
    padding: 0.125rem var(--mantine-spacing-sm) 0.125rem 0.0625rem;
  }
}

.tableFooter {
  border-top: 1px solid var(--mb-color-background-secondary-inverse);

  &::before {
    line-height: var(--mantine-spacing-sm);
    content: " ";
    display: block;
  }
}
