.Header {
  color: var(--mb-color-text-secondary);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--mb-color-border);
  display: flex;
  align-items: center;
  height: 3rem;

  .HeaderButton {
    color: var(--mb-color-text-tertiary);

    &:not(:disabled):hover {
      color: var(--mb-color-brand);
    }

    &:disabled {
      opacity: 1;
      cursor: default;
    }
  }
}
