
<div class="wrapper">
  <div class="py1 border-bottom">
      <h2>Annotations</h2>
  </div>

  <div class="List-filters List-section clearfix">
    <div class="List-filterCategories float-left">
    <span class="List-filterLabel float-left">Filter:</span>
    <div class="Button-group">
      <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'all' }" ng-click="filter('all')">all</a>
      <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'mine' }" ng-click="filter('mine')">mine</a>
    </div>
    </div>
    <div class="mx3 float-left">
        <input class="input" type="text" ng-model="searchFilter" placeholder="Search annotations ...">
    </div>
    <div class="float-right">
        <span>Sort by:</span>
        <select ng-init="sortMode = 'name'" ng-model="sortMode" ng-change="sort()">
            <option value="start">Start Date (default)</option>
        </select>
    </div>
  </div>

  <div class="TableWrapper my2">
    <table class="Table">
        <thead>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Title</th>
            <th>Body</th>
            <th>Author</th>
            <th>Delete</th>
        </thead>
        <tfoot>
            <tr ng-if="!annotations">
            <td colspan="7" style="text-align:center;"><h3>Loading ...</h3></td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="annotation in annotations | filter:searchFilter">
                <td>{{annotation.start | date : 'MMMM d, y, hh:mm a'}}</td>
                <td>{{annotation.end | date : 'MMMM d, y, hh:mm a'}}</td>
                <td>{{annotation.title | limitTo: 200}}</td>
                <td width="40%">{{annotation.body | limitTo: 200}}</td>
                <td>{{annotation.author.email}}</td>
                <td style="text-align:center;"><input class="Button" type="button" value="Delete" ng-click="deleteAnnotation(annotation.id)" delete-confirm/></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="wrapper" ng-if="allowCreate">
    <form class="Form bordered rounded" name="createAnnotationForm" cv-form="c.newAnnotation" ng-controller="CreateAnnotation as c" novalidate ng-submit="submit()">
    <div class="Form-group border-bottom">
        <h3>New Annotation</h3>
    </div>
    <div class="Form-group clearfix">
        <div class="float-left half" cv-error-flag="start">
            <label class="my1 block full" for="start">Start Date</label>
            <input class="input block full" ng-model="c.newAnnotation.start" type="datetime" name="start" required>
            <fielderrors for="start"></fielderrors>
        </div>

        <div class="float-left half" cv-error-flag="end">
            <label class="my1 block full" for="end">End Date</label>
            <input class="input block full" ng-model="c.newAnnotation.end" type="datetime" name="end" required>
            <fielderrors for="end"></fielderrors>
        </div>

        <div class="float-left half" cv-error-flag="title">
            <label class="my1 block full" for="title">Title</label>
            <input class="input block full" ng-model="c.newAnnotation.title" type="text" name="title" placeholder="Title">
            <fielderrors for="title"></fielderrors>
        </div>

        <div class="float-left half" cv-error-flag="body">
            <label class="my1 block full" for="body">Body</label>
            <input class="input block full" ng-model="c.newAnnotation.body" type="text" name="body" placeholder="Body">
            <fielderrors for="Body"></fielderrors>
        </div>

    </div>
    <div class="Form-group border-top">
        <button type="submit" class="Button Button--primary" ng-disabled="!form.$dirty || form.$invalid">Save</button>
        <button type="button" class="Button" cv-reset-button ng-disabled="!form.$dirty">Reset</button>
    </div>

    <div cv-form-status></div>
</div>
</div>
