{:linters
 {:metabase/test-helpers-use-non-thread-safe-functions
  ;; TODO -- seems silly to maintain different blacklists and whitelists here than we use for the deftest `^:parallel`
  ;; checker...
  {:explicitly-safe
   #{ ;; these toucan methods might actually set global values if it's used outside of a transaction,
     ;; but since mt/with-temp runs in a transaction, so we'll ignore them in this case.
     toucan2.core/delete!
     toucan2.core/update!
     toucan2.core/insert!
     toucan2.core/insert-returning-instance!
     toucan2.core/insert-returning-instances!
     toucan2.core/insert-returning-pk!
     toucan2.core/insert-returning-pks!
     clojure.core.async/<!!
     clojure.core.async/<!
     clojure.core.async/>!!
     clojure.core.async/>!
     clojure.core.async/alts!
     clojure.core.async/alts!!
     clojure.core.async/close!
     clojure.core.async/poll!
     clojure.core.memoize/memo-clear!
     clojure.core/conj!
     clojure.core/persistent!
     clojure.core/reset!
     clojure.core/swap!
     clojure.core/volatile!
     clojure.core/vreset!
     clojure.core/vswap!
     clojure.java.jdbc/execute!
     methodical.core/add-aux-method-with-unique-key!
     methodical.core/remove-aux-method-with-unique-key!
     next.jdbc/execute!

     ;; Definitely thread safe
     metabase.test.util.dynamic-redefs/patch-vars!

     ;; TODO: most of these symbols shouldn't be here, we should go through them and
     ;; find the functions/macros that use them and make sure their names end with !
     ;; best way to do this is try remove each of these and rely on kondo output to find places where it's used
     clojure.test/grant-collection-perms!
     clojure.test/grant-collection-perms-fn!
     clojure.test/grant-perms-fn!
     clojure.test/purge-old-entries!
     clojure.test/revoke-collection-perms!
     clojure.test/save-results!
     metabase-enterprise.advanced-permissions.models.permissions/update-db-download-permissions!
     metabase-enterprise.internal-user/install-internal-user!
     metabase-enterprise.sso.integrations.saml-test/call-with-login-attributes-cleared!
     metabase.actions.actions/perform-action!
     metabase.actions.models/insert!
     metabase.analytics.snowplow-test/fake-track-event-impl!
     metabase.analytics.snowplow/track-event-impl!
     metabase.app-db.core/finish-db-setup!
     metabase.app-db.core/migrate!
     metabase.app-db.core/setup-db!
     metabase.app-db.schema-migrations-test.impl/run-migrations-in-range!
     metabase.app-db.setup/migrate!
     metabase.app-db.setup/setup-db!
     metabase.channel.email-test/reset-inbox!
     metabase.channel.email/send-email!
     metabase.cmd.dump-to-h2/dump-to-h2!
     metabase.cmd.load-from-h2/load-from-h2!
     metabase.content-verification.models.moderation-review/create-review!
     metabase.core.core/ensure-audit-db-installed!
     metabase.driver.mongo-test/create-database-from-row-maps!
     metabase.driver.postgres-test/create-enums-db!
     metabase.driver.postgres-test/drop-if-exists-and-create-db!
     metabase.driver.sql-jdbc.execute/execute-statement!
     metabase.indexed-entities.models.model-index/add-values!
     metabase.driver.sql-jdbc.connection.ssh-tunnel-test/start-mock-servers!
     metabase.driver.sql-jdbc.connection.ssh-tunnel-test/stop-mock-servers!
     metabase.indexed-entities.task.index-values/job-init!
     metabase.model-persistence.models.persisted-info/ready-database!
     metabase.model-persistence.task.persist-refresh/job-init!
     metabase.model-persistence.task.persist-refresh/refresh-tables!
     metabase.model-persistence.task.persist-refresh/schedule-persistence-for-database!
     metabase.models.on-demand-test/add-dashcard-with-parameter-mapping!
     metabase.permissions.core/grant-application-permissions!
     metabase.permissions.core/grant-collection-read-permissions!
     metabase.permissions.core/grant-collection-readwrite-permissions!
     metabase.permissions.core/grant-full-data-permissions!
     metabase.permissions.core/grant-native-readwrite-permissions!
     metabase.permissions.core/grant-permissions!
     metabase.permissions.core/revoke-application-permissions!
     metabase.permissions.core/revoke-data-perms!
     metabase.permissions.core/update-data-perms-graph!
     metabase.permissions.core/update-group-permissions!
     metabase.permissions.models.collection.graph-test/clear-graph-revisions!
     metabase.permissions.models.collection.graph-test/do-with-n-temp-users-with-personal-collections!
     metabase.permissions.models.permissions/grant-application-permissions!
     metabase.permissions.models.permissions/grant-collection-read-permissions!
     metabase.permissions.models.permissions/grant-collection-readwrite-permissions!
     metabase.permissions.models.permissions/grant-full-data-permissions!
     metabase.permissions.models.permissions/grant-native-readwrite-permissions!
     metabase.permissions.models.permissions/grant-permissions!
     metabase.permissions.models.permissions/revoke-application-permissions!
     metabase.permissions.models.permissions/revoke-data-perms!
     metabase.permissions.models.permissions/update-data-perms-graph!
     metabase.permissions.models.permissions/update-group-permissions!
     metabase.permissions.test-util/with-restored-perms!
     metabase.public-sharing-rest.api-test/add-card-to-dashboard!
     metabase.pulse.send/send-notifications!
     metabase.pulse.send/send-pulse!
     metabase.query-processor.streaming.interface/begin!
     metabase.query-processor.streaming.interface/finish!
     metabase.query-processor.streaming.interface/write-row!
     metabase.sample-data.impl/try-to-extract-sample-database!
     metabase.settings.models.setting-test/test-user-local-allowed-setting!
     metabase.settings.models.setting-test/test-user-local-only-setting!
     metabase.settings.models.setting.cache/restore-cache!
     metabase.settings.models.setting/set!
     metabase.settings.models.setting/validate-settings-formatting!
     metabase.setup.core/create-token!
     metabase.sso.ldap-test-util/start-ldap-server!
     metabase.sync.core/sync-database!
     metabase.sync.sync-metadata.fields.sync-metadata/update-field-metadata-if-needed!
     metabase.sync.sync-metadata/sync-db-metadata!
     metabase.sync.util-test/sync-database!
     metabase.sync.util/store-sync-summary!
     metabase.task.core/delete-task!
     metabase.task.impl/delete-task!
     metabase.test.data.bigquery-cloud-sdk/execute!
     metabase.test.data.impl.get-or-create/set-test-db-permissions!
     metabase.test.data.impl/copy-db-tables-and-fields!
     metabase.test.data.impl/get-or-create-database!
     metabase.test.data.impl/get-or-create-default-dataset!
     metabase.test.data.interface/create-db!
     metabase.test.data.interface/destroy-db!
     metabase.test.data.oracle/create-user!
     metabase.test.data.oracle/drop-user!
     metabase.test.data.sql-jdbc.load-data/make-insert!
     metabase.test.data.users/clear-cached-session-tokens!
     metabase.test.initialize/do-initialization!
     metabase.test.initialize/initialize-if-needed!
     metabase.test.util.log/ensure-unique-logger!
     metabase.test.util.log/set-ns-log-level!
     metabase.test.util/do-with-temp-env-var-value!
     metabase.test.util/restore-raw-setting!
     metabase.test.util/upsert-raw-setting!
     metabase.test/initialize-if-needed!
     metabase.test/test-helpers-set-global-values!
     metabase.test/with-temp-env-var-value!
     metabase.upload.impl-test/set-local-infile!
     metabase.util.files/create-dir-if-not-exists!
     metabase.warehouse-schema.models.field-values/create-or-update-full-field-values!}}}}
