.BreadcrumbsPathSeparator {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  user-select: none;
  color: var(--mb-color-text-tertiary);
}
