{
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": []
    },
    "extract": {
      "plugins": [
        [
          "ttag",
          {
            "extract": {
              "output": "locales/metabase-frontend.pot"
            },
            "discover": ["t", "jt"],
            "numberedExpressions": true
          }
        ]
      ]
    }
  }
}
