# Metabase EditorConfig settings
# http://editorconfig.org/

# use the top most editor config file
root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[Makefile]
indent_style = tab

[*.clj]
indent_size = 2
max_line_length = 120

[*.css]
indent_size = 2

[*.html]
indent_size = 2

[*.mustache]
indent_size = 2

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.json]
indent_size = 2
