# Metabase EditorConfig settings
# http://editorconfig.org/

# use the top most editor config file
root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[Makefile]
indent_style = tab

[*.clj]
indent_size = 2
max_line_length = 120

[*.{html,css,mustache,js,jsx,ts,tsx,json}]
indent_size = 2
