{
  "rules": {
    "strict": [2, "never"],
    "no-undef": 2,
    "no-var": 1,
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "no-empty": [1, { "allowEmptyCatch": true }],
    "curly": [1, "all"],
    "eqeqeq": [1, "smart"],
    "import/no-commonjs": 1,
    "no-console": 0,
    "react/no-is-mounted": 2,
    "react/prefer-es6-class": 2,
    "react/display-name": 1,
    "react/prop-types": 2,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/no-find-dom-node": 0,
    "react/no-children-prop": 2,
    "react/no-string-refs": 2,
    "react/no-unescaped-entities": 2,
    "react/jsx-no-target-blank": 2,
    "react/jsx-key": 2,
    "prefer-const": [1, { "destructuring": "all" }],
    "no-useless-escape": 0,
    "no-only-tests/no-only-tests": "error",
    "complexity": ["error", { "max": 54 }]
  },
  "globals": {
    "before": true,
    "cy": true,
    "Cypress": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "no-only-tests"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "import/resolver": "webpack",
    "import/ignore": ["\\.css$"],
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
