*.class
*.*.rej
*.iml
*.jar
*.log
*.po~
*.sqlite
*.trace.db
*.xcworkspacedata
.DS_Store
.\#*
.cpcache/
.eastwood
.idea/
.nrepl-port
.portal
.vscode
/*.h2.db
/*.lock.db
/*.mv.db
/*.trace.db
/.babel_cache
/.env
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/.sqlite.db
/backend-checksums.txt
/backend-docs
/build.xml
/checkouts
/classes
/coverage
/crate-*
/cypress
/deploy/artifacts/*
/frontend/test/snapshots/*
/e2e/snapshots/*
/lein-plugins/*/target
/local
/locales/metabase-*.pot
/modules/drivers/*/resources/namespaces.edn
/modules/drivers/*/target
/node_modules/
/plugins
/process.yml
/reset-password-artifacts
/resources/frontend_client/app/dist/
/resources/frontend_client/app/locales
/resources/frontend_client/embed.html
/resources/frontend_client/index.html
/resources/frontend_client/public.html
/resources/embedding-sdk
/resources/i18n/*.edn
/resources/instance_analytics.zip
/resources/license-backend-third-party.txt
/resources/license-frontend-third-party.txt
/resources/namespaces.edn
/resources/sample-dataset.db.trace.db
/resources/version.properties
/screenshots
/sqlite.db
/stats.json
/storybook-static
/target
/test-report-*
\#*\#
bin/node_modules/
bin/release/aws-eb/metabase-aws-eb.zip
coverage-summary.json
junit.xml
pom.xml
pom.xml.asc
profiles.clj
target/checksum.txt
xcshareddata
xcuserdata
dev/src/dev/nocommit/
*~
**/cypress_sample_database.json
**/cypress_sample_instance_data.json
/frontend/src/cljs
/frontend/src/cljs_release
.shadow-cljs
.clerk

# lsp: ignore all but the config file
.lsp/*
!.lsp/config.edn
modules/drivers/*/.lsp/*
!modules/drivers/*/.lsp/config.edn
**/.clj-kondo/.cache

# clj-kondo: ignore all except our defined config
.clj-kondo/*
!.clj-kondo/README.md
!.clj-kondo/config.edn
!.clj-kondo/hooks/
!.clj-kondo/macros/

# Editor- or environment-specific local files
*.code-workspace
.java-version
.calva/

# malli + clj-kondo: ignore malli-types
.clj-kondo/metosin/malli-types-clj

.github/static-viz-sources.yaml

# airgap
/resources/airgap/
