\#*\#
.\#*
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-env
/.lein-failures
/.lein-repl-history
/.nrepl-port
.idea/
/docs/uberdoc.html
profiles.clj
/*.h2.db
/*.mv.db
/*.lock.db
/*.trace.db
/resources/frontend_client/app/dist/
/resources/frontend_client/index.html
/node_modules/
/.babel_cache
/coverage
/resources/sample-dataset.db.trace.db
/deploy/artifacts/*
/resources/version.properties
xcuserdata
xcshareddata
*.xcworkspacedata
OSX/Metabase/jre
OSX/Resources/metabase.jar
OSX/build
/osx-artifacts
OSX/dsa_priv.pem
bin/config.json
bin/release/aws-eb/metabase-aws-eb.zip
*.sqlite
/reset-password-artifacts
/.env
/npm-debug.log
/plugins
