{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": false
    },
    "experimental": {
      "plugins": [ ["@swc/plugin-emotion", {} ] ]
    }
  }
}
