# Use this file to create a `cypress.env.json` in the root of this project.
# Documentation: https://docs.cypress.io/app/references/environment-variables#Option-2-cypressenvjson

# Remove all lines starting with "#" (including this one)
{
  "MB_SNOWPLOW_URL": "http://localhost:9090",
  "MB_SNOWPLOW_AVAILABLE": "true",
  "MB_ALL_FEATURES_TOKEN": "get it from the password manager",
  "MB_STARTER_CLOUD_TOKEN": "get it from the password manager",
  "MB_PRO_CLOUD_TOKEN": "get it from the password manager",
  "MB_PRO_SELF_HOSTED_TOKEN": "get it from the password manager",
  "MB_EDITION": "ee",
  "QA_DB_ENABLED": "true"
}
