# Use this file to create a `cypress.env.json` in the root of this project.
# Documentation: https://docs.cypress.io/app/references/environment-variables#Option-2-cypressenvjson

# What this file is not good for?
# -------------------------------
# DO NOT use this file to set the environment variables that are needed for the e2e environment setup.
# Variables set in this file are only available to Cypress via Cypress.env(). Node process does not see them.

# What this file is good for?
# ---------------------------
# Experimenting with certain [configuration options](https://docs.cypress.io/app/references/configuration) locally.
# e.g. You could easily change [timeouts](https://docs.cypress.io/app/references/configuration#Timeouts) for all tests.
# Or you can mess with the [viewport settings](https://docs.cypress.io/app/references/configuration#Viewport)

# Remove all lines starting with "#" (including this one)
{

}
