^:replace
{:linters {:missing-else-branch         {:level :warn}
           :misplaced-docstring         {:level :warn}
           :missing-body-in-when        {:level :warn}
           :missing-docstring           {:level :warn}
           :refer-all                   {:level   :warn
                                         :exclude [clojure.test]}
           :unsorted-required-namespace {:level :warn}
           :use                         {:level :warn}}}