;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :nrepl
 {:middleware
  [cider.nrepl/cider-middleware
   cider.piggieback/wrap-cljs-repl
   refactor-nrepl.middleware/wrap-refactor]
  :port 50655}

 :builds
 {:app
  {:target     :npm-module
   :output-dir "target/cljs_release/"
   :dev        {:output-dir "target/cljs_dev/"
                :compiler-options {:reader-features #{:cljs-dev}}}
   :compiler-options {:reader-features #{:cljs-release}
                      :source-map      true}
   :closure-defines {goog.debug.LOGGING_ENABLED true}
   :entries    [metabase.legacy-mbql.js
                metabase.lib.column-group
                metabase.lib.js
                metabase.lib.limit
                metabase.lib.types.isa
                metabase.models.dashboard.constants
                metabase.models.params.shared
                metabase.types
                metabase.util.currency
                metabase.util.devtools
                metabase.util.formatting.constants
                metabase.util.formatting.date
                metabase.util.formatting.numbers
                metabase.util.formatting.time
                metabase.util.time
                metabase.xrays.domain-entities.queries.util]}

  :test
  {:target           :node-test
   :output-to        "target/node-tests.js"
   :ns-regexp        "-test$"
   :compiler-options {:reader-features #{:cljs-test}}}}}
