;; shadow-cljs configuration
{:source-paths
 ["shared/src"
  "shared/test"]

 ;; TODO -- share deps with project.clj -- see https://shadow-cljs.github.io/docs/UsersGuide.html#Leiningen
 :dependencies
 [[org.clojure/core.match "0.3.0"]
  [medley "1.3.0"]
  [net.cgrand/macrovich "0.2.1"]
  [prismatic/schema "1.1.12"]

  ;; new stuff
  [lambdaisland/glogi "1.0.83"]]

 :nrepl
 {:middleware
  [cider.nrepl/cider-middleware
   cider.piggieback/wrap-cljs-repl
   refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app
  {:target     :npm-module
   :output-dir "frontend/src/cljs/"
   :entries    [metabase.mbql.js
                metabase.types]}

  :test
  {:target    :node-test
   :output-to "target/node-tests.js"
   :ns-regexp "-test$"
   :autorun   true}}}
