.AddAggregationButtonRoot {
  &[data-variant="subtle"] {
    padding: 0.625rem;
    color: var(--mb-color-core-summarize);
    background-color: var(--mb-color-background_page-secondary);

    &:hover {
      color: var(--mb-color-core-summarize);
      background-color: var(--mb-color-background_page-tertiary);
    }
  }
}
