.AddAggregationButtonRoot {
  padding: 0.625rem;
  color: var(--mb-color-summarize);
  background-color: var(--mb-color-background-secondary);

  &:hover {
    color: var(--mb-color-summarize);
    background-color: var(--mb-color-background-tertiary);
  }
}
