.container {
  padding-inline: 12px;
  border: 1px solid var(--mb-color-border);
  border-radius: 8px;
  height: 2.5rem;
  background-color: var(--mb-color-background-primary);
}

.numberInput {
  font-weight: 700;
  text-align: center;
}

.numberInputRoot {
  width: 4rem;
}
