.row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--mb-color-border);
  color: var(--mb-color-text-primary);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  font-size: 14px;
  line-height: 20px;
  background: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}

.cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table {
  background: inherit;
  display: grid;
}

.header {
  background: inherit;
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;

  .row {
    cursor: unset;
    padding-left: 1rem;

    &:hover {
      background-color: inherit;
    }
  }
}

.headerBadge {
  cursor: pointer;
  user-select: none;
}

.headerBadgeLabel {
  text-transform: none;
  font-size: 0.75rem;
}

.scrollContainer {
  background: inherit;
  overflow: auto;
  position: relative;
}

.body {
  .row:last-of-type {
    border-bottom: none;
  }
}
