<!DOCTYPE html>
<html>
  <head>
    <title>Metabase</title>
  </head>
  <body style="font-family: Helvetica, sans-serif;">
    <div align="center" style="padding: 100px;">
      <div style="width:1000px;">
        <img src="../app/assets/img/disconnect.svg">

        <h2>It looks like we weren't able to log you {{logDirection}}.</h2>

        <h2><tt>{{errorMessage}}</tt></h2>

        <p style="margin-top: 20px;">
          Stuck? Need help? Contact the administrator of your Metabase instance about this error.
        </p>

        <div align="left" style="border:1px dashed gray; padding: 5px; margin-top:100px;">
          <h4>Additional Info</h4>
          <pre>{{additionalData}}</pre>
        </div>
      </div>
    </div>
  </body>
</html>
