.SettingsSection {
  background-color: var(--mb-color-background_page-primary);
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xl);
}
