.BannerContainer {
  align-items: flex-start;
  justify-content: flex-start;
}

.BannerBody {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (--breakpoint-min-sm) {
    flex-direction: row;
    align-items: center;
  }
}
