{:paths
 ["src" "resources"]

 :deps
 ;; TODO: figure out how to be able to leave off this version string and use the version from the BOM
 {com.google.cloud/google-cloud-bigquery {:mvn/version "2.55.3"
                                          ;; this appears to be dual licensed EPL, GPL2.0 but it's not super
                                          ;; clear so we're excluding it
                                          :exclusions  [javax.annotation/javax.annotation-api
                                                        ;; netty is updated because of CVE
                                                        io.netty/netty-common
                                                        io.netty/netty-buffer]}
  ;; pin arrow formats to 17 for cve about parquet files
  org.apache.arrow/arrow-format          {:mvn/version "18.3.0"}
  org.apache.arrow/arrow-memory-core     {:mvn/version "18.3.0"}
  org.apache.arrow/arrow-memory-netty    {:mvn/version "18.3.0"}
  org.apache.arrow/arrow-vector          {:mvn/version "18.3.0"}
  ;; was 1.71.0. bumping to 77
  io.grpc/grpc-netty-shaded              {:mvn/version "1.77.0"}
  ;; matches those in athena
  io.netty/netty-common                  {:mvn/version "4.2.7.Final"}
  io.netty/netty-buffer                  {:mvn/version "4.2.7.Final"}}}
