.root {
  border-bottom: 1px solid var(--mb-color-border);
}

/* Doubled selector for higher specificity to override the inner styled UserAvatar */
.avatar.avatar {
  width: 3em;
  height: 3em;
}

@media (--breakpoint-min-sm) {
  .avatar.avatar {
    width: 4em;
    height: 4em;
  }
}

@media (--breakpoint-min-md) {
  .avatar.avatar {
    width: 5em;
    height: 5em;
  }
}
