.root {
  display: flex;
  cursor: pointer;
  color: var(--mb-color-core-filter);
  background-color: color-mix(
    in srgb,
    var(--mb-color-core-filter) 20%,
    transparent
  );
  border-radius: 0.75rem;
  overflow-wrap: anywhere;

  &.readOnly {
    cursor: default;
    pointer-events: none;
  }
}

.icon {
  flex-shrink: 0;
}
