<!-- SETUP NAV -->
<nav class="SetupNav text-brand py4 flex layout-centered">
    <mb-logo-icon class="mr2" width="41" height="51"></mb-logo-icon>
    <span class="Setup-brandWordMark">metabase</span>
</nav>

<div class="wrapper flex flex-column layout-centered wrapper wrapper--trim">
    <div class="SetupSteps full">
        <section class="SetupStep rounded full relative" ng-class="{ 'SetupStep--active shadowed' : activeStep == 'user', 'SetupStep--completed shadowed' : completedSteps.user }">
                <div class="flex align-center py3" ng-click="activeStep = 'user'">
                    <span class="SetupStep-indicator flex layout-centered absolute bordered">
                        <span class="SetupStep-number">1</span>
                        <mb-icon name="check" class="SetupStep-check" width="16px" height="16px"></mb-icon>
                    </span>
                    <h2 class="SetupStep-title ml4 my1">{{userStepText}}</h2>
                </div>
                <form name="form" ng-submit="createOrgAndUser()" novalidate ng-if="activeStep == 'user'" novalidate>
                    <div class="Form-field Grid" mb-form-field="first_name">
                        <div>
                            <mb-form-label display-name="First name" field-name="first_name"></mb-form-label>
                            <input class="Form-input Form-offset full" name="name" placeholder="Johnny" ng-model="newUser.first_name" required autofocus />
                            <span class="Form-charm"></span>
                        </div>
                        <div>
                            <mb-form-label display-name="Last name" field-name="last_name"></mb-form-label>
                            <input class="Form-input Form-offset" name="name" placeholder="Appleseed" ng-model="newUser.last_name" required />
                            <span class="Form-charm"></span>
                        </div>
                    </div>

                    <div class="Form-field" mb-form-field="email">
                        <mb-form-label display-name="Email" field-name="email"></mb-form-label>
                        <input class="Form-input Form-offset full" name="email" placeholder="johndoe@mycompany.com" ng-model="newUser.email" required />
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field" mb-form-field="password">
                        <mb-form-label display-name="Create a password - Must be 8 characters long and include one upper case letter, one a number and one special character" field-name="password"></mb-form-label>
                        <input class="Form-input Form-offset full" name="password" type="password" placeholder="Shhh..." ng-model="newUser.password" required>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field" mb-form-field="repeated_password">
                        <mb-form-label display-name="Verify your new password" field-name="password"></mb-form-label>
                        <input class="Form-input Form-offset full" type="password" placeholder="Please type it again so we can verify it" ng-model="newUser.repeated_password" required>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field" mb-form-field="value">
                        <mb-form-label display-name="Your organization or company name" field-name="value"></mb-form-label>
                        <input class="Form-input Form-offset full" name="value" type="text" placeholder="Department of awesome" ng-model="newUser.siteName" required>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-actions">
                        <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(newUser)" ng-disabled="!form.$valid">
                            Next
                        </button>
                    </div>
                </form>
              <div class="bg-error text-white p2 rounded" ng-show="error">
                  {{error}}
              </div>
        </section>

        <section class="SetupStep rounded full relative" ng-class="{ 'SetupStep--active shadowed' : activeStep == 'database', 'SetupStep--completed shadowed' : completedSteps.database }">
            <div class="flex align-center py3">
                <span class="SetupStep-indicator flex layout-centered absolute bordered">
                    <span class="SetupStep-number">2</span>
                    <mb-icon name="check" class="SetupStep-check" width="16px" height="16px"></mb-icon>
                </span>
                <h2 class="SetupStep-title ml4 my1">{{databaseStepText}}</h2>
            </div>
            <div ng-controller="DatabaseEdit" ng-if="activeStep == 'database'">
                <form name="form" novalidate>
                    <!-- Form -->
                    <div ng-include="'/app/admin/databases/partials/database_edit_forms.html'"></div>

                    <!-- Bottom Actions -->
                    <div class="Form-actions">
                        <button class="Button" mb-action-button="saveNoRedirect" success-text="Saved!" failed-text="Failed!" active-text="Validating " ng-disabled="!form.$valid || !database.engine">
                            Save
                        </button>
                        <mb-form-message></mb-form-message>
                    </div>
                </form>
            </div>
        </section>

        <section class="SetupCompleted SetupStep SetupStep--active flex flex-column layout-centered bordered rounded shadowed relative p4" ng-if="activeStep == 'finish'">
            <h3 class="SetupStep-title text-brand">You're all set!</h3>
            <p class="text-body m0">Your data is being imported and analyzed.</p>
            <p class="text-body">(This can take a while depending on the size of your data, but any data that's finished importing can be accessed immediately.)</p>
            <a class="Button Button--primary mt3" href="/">Take me to my data</a>
        </section>
    </div>
    <div ng-include="'/app/setup/partials/setup_help.html'"></div>
</div>
