<style type="text/css">
    .Setup--section {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        border: 4px solid lightgray;
        min-height: 50px;
    }
    .Setup--active {
        border: 4px solid blue;
    }
    .Setup--completed {
        border: 4px solid #9CC177;
    }
</style>
<section class="Setup--section" ng-class="{ 'Setup--active' : activeStep == 'user', 'Setup--completed' : completedSteps.user }">
    <h3>1. User</h3>
  <form name="setupForm" ng-submit="createOrgAndUser()" novalidate ng-if="activeStep == 'user'">
    <input class="Connection-input block full" name="organization" type="text" placeholder="Organization name" ng-model="userOrgName" autofocus required>
    <label class="Connection-label" for="organization">Organization name</label>

    <div class="Grid Grid--1of2">
        <div class="Grid-cell">
            <input class="Connection-input" type="text" name="firstName" placeholder="First name" ng-model="newUser.firstName" required>
            <label class="Connection-label" for="firstName" ng-class="{'Connection--error' : setupForm.firstName.$invalid && !setupForm.firstName.$pristine}">First name</label>
        </div>

        <div class="Grid-cell">
            <input class="Connection-input" type="text" name="lastName" placeholder="Last name." ng-model="newUser.lastName" required>
            <label class="Connection-label" for="lastName">Last name</label>
        </div>
    </div>

    <input class="Connection-input block full" name="email" type="email" placeholder="email@company.com" ng-model="newUser.email" required>
    <label class="Connection-label" for="lastName" ng-class="{'Connection--error' : setupForm.email.$invalid && !setupForm.email.$pristine}">Email:</label>

    <input class="Connection-input block full" name="password" type="password" placeholder="Create a new password" ng-model="newUser.password" required>
    <label class="Connection-label">Create a password - Must be 8 characters long and include one upper case letter, one a number and one special character</label>

    <input class="Connection-input block full" type="password" placeholder="Type it again so we can verify it" ng-model="newUser.repeated_password" required>
    <label class="Connection-label">Verify your new password</label>

    <button class="Button Button--primary" type="submit">Next</button>
  </form>
  <div class="bg-error text-white p2 rounded" ng-show="error">
      {{error}}
  </div>
</section>
<section class="Setup--section" ng-class="{ 'Setup--active' : activeStep == 'database', 'Setup--completed' : completedSteps.database }">
    <h3>2. Database</h3>
    <div ng-controller="DatabaseEdit" ng-if="activeStep == 'database'">
        <form class="Form-new bordered rounded shadowed" name="form" novalidate>
            <!-- Form -->
            <div ng-include="'/app/admin/databases/partials/database_edit_forms.html'"></div>

            <!-- Bottom Actions -->
            <div class="Form-actions">
                <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(database, details, false)" ng-disabled="!form.$valid">
                    Save
                </button>
                <mb-form-message></mb-form-message>
            </div>
        </form>
    </div>
</section>
<section class="Setup--section" ng-class="{ 'Setup--active' : activeStep == 'finish' }" >
<h3>3. Finish</h3>
</section>
