<section class="SetupSubNav">
    <div class="SetupWrapper">
        <div class="SetupBreadcrumbs">
            <ul>
                <li class="inline-block text-grey-3"><a class="Breadcrumb" href="/setup/data">Your data</a></li>
                <li class="Breadcrumb-separator inline-block mx2"></li>
                <li class="inline-block text-brand"><a class="Breadcrumb">{{breadcrumb}}</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="SetupOffset">
    <div class="SetupWrapper">
        <div class="AdminContent AdminContent-shallow">
            <div class="p4">
                <div>
                    <div ng-include="'/app/admin/databases/partials/database_edit_forms.html'"></div>
                </div>
                <div class="bg-error text-white p2 rounded mb2" ng-show="error">
                    {{error}}
                </div>
            </div>
            <div class="p3 border-top clearfix">
                <button class="Button Button--primary float-right" ng-click="submit()">Connect</button>
                <a class="Button" href="/setup/data">Cancel</a>
            </div>
        </div>
</section>
