<section class="wrapper flex layout-centered full-height flex-column">
  <cv-logo-icon width="109px" height="138px"></cv-logo-icon>
  <div class="WelcomeMessage text-centered">
      <h1 class="WelcomeMessage-title text-brand">Welcome to Metabase</h1>
      <p class="WelcomeMessage-subTitle text-body">Looks like everything is installed and working great. We’ll quickly get to know you, connect you to your data, and we’ll have you on your way  to your data.</p>
  </div>
  <a class="Button Button--primary" href="/setup/info">Let's get started</a>
  <div ng-include="'/app/setup/partials/setup_help.html'"></div>
</section>
