<!-- SETUP NAV -->
<nav ng-show="completedSteps.welcome" class="SetupNav text-brand py4 flex layout-centered">
    <mb-logo-icon class="mr2" width="41" height="51"></mb-logo-icon>
</nav>

<div class="wrapper flex flex-column layout-centered wrapper wrapper--trim">
    <section ng-show="!completedSteps.welcome" class="wrapper wrapper--trim flex layout-centered full-height flex-column">
        <mb-logo-icon class="text-brand" width="109px" height="138px"></mb-logo-icon>
        <div class="WelcomeMessage text-centered">
            <h1 class="WelcomeMessage-title text-brand">Welcome to Metabase</h1>
            <p class="WelcomeMessage-subTitle text-body">Looks like everything is installed and working great. We’ll quickly get to know you, connect you to your data, and we’ll have you on your way  to your data.</p>
        </div>
        <button class="Button Button--primary" ng-click="completedSteps.welcome = true">Let's get started</button>
    </section>

    <div ng-show="completedSteps.welcome" class="SetupSteps full">
        <section class="SetupStep rounded full relative" ng-class="{ 'SetupStep--active shadowed' : (completedSteps.welcome && !completedSteps.user), 'SetupStep--completed shadowed' : completedSteps.user }">
            <div class="flex align-center py3">
                <span class="SetupStep-indicator flex layout-centered absolute bordered">
                    <span class="SetupStep-number">1</span>
                    <mb-icon name="check" class="SetupStep-check" width="16px" height="16px"></mb-icon>
                </span>
                <h2 class="SetupStep-title ml4 my1">{{userStepText}}</h2>
            </div>
            <form ng-show="completedSteps.welcome && !completedSteps.user" name="userForm" ng-submit="createUser()" novalidate>
                <div class="Form-field Grid" mb-form-field="first_name">
                    <div>
                        <mb-form-label display-name="First name" field-name="first_name"></mb-form-label>
                        <input class="Form-input Form-offset full" name="name" placeholder="Johnny" ng-model="newUser.first_name" required autofocus />
                        <span class="Form-charm"></span>
                    </div>
                    <div>
                        <mb-form-label display-name="Last name" field-name="last_name"></mb-form-label>
                        <input class="Form-input Form-offset" name="name" placeholder="Appleseed" ng-model="newUser.last_name" required />
                        <span class="Form-charm"></span>
                    </div>
                </div>

                <div class="Form-field" mb-form-field="email">
                    <mb-form-label display-name="Email" field-name="email"></mb-form-label>
                    <input class="Form-input Form-offset full" name="email" placeholder="johndoe@mycompany.com" ng-model="newUser.email" required />
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-field" mb-form-field="password">
                    <mb-form-label display-name="Create a password - Must be 8 characters long and include one upper case letter, one a number and one special character" field-name="password"></mb-form-label>
                    <input class="Form-input Form-offset full" name="password" type="password" placeholder="Shhh..." ng-model="newUser.password" required>
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-field" mb-form-field="repeated_password">
                    <mb-form-label display-name="Verify your new password" field-name="password"></mb-form-label>
                    <input class="Form-input Form-offset full" type="password" placeholder="Please type it again so we can verify it" ng-model="newUser.repeated_password" required>
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-field" mb-form-field="value">
                    <mb-form-label display-name="Your organization or company name" field-name="value"></mb-form-label>
                    <input class="Form-input Form-offset full" name="value" type="text" placeholder="Department of awesome" ng-model="newUser.siteName" required>
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-actions">
                    <button class="Button" ng-class="{'Button--primary': userForm.$valid}" ng-click="save(newUser)" ng-disabled="!userForm.$valid">
                        Next
                    </button>
                    <mb-form-message form="userForm"></mb-form-message>
                </div>
            </form>
        </section>

        <section class="SetupStep rounded full relative" ng-class="{ 'SetupStep--active shadowed' : (completedSteps.user && !completedSteps.database), 'SetupStep--completed shadowed' : completedSteps.database }">
            <div class="flex align-center py3">
                <span class="SetupStep-indicator flex layout-centered absolute bordered">
                    <span class="SetupStep-number">2</span>
                    <mb-icon name="check" class="SetupStep-check" width="16px" height="16px"></mb-icon>
                </span>
                <h2 class="SetupStep-title ml4 my1">{{databaseStepText}}</h2>
            </div>
            <form ng-show="isStep('database')">
                <div class="Form-field Form-offset">
                    You’ll need some info about your database, like the username and password.  If you don’t have that right now, Metabase also comes with an Sample dataset you can get started with.
                </div>
                <div ng-controller="DatabaseEdit">
                    <form name="form" novalidate>
                        <!-- DB Engine (database.engine) -->
                        <div class="Form-field" mb-form-field="engine">
                            <label class="Select Form-offset mt1">
                                <select class="Select" ng-model="database.engine" ng-options="type as properties.name for (type, properties) in ENGINES">
                                    <option value="" disabled selected>Select the type of database you use</option>
                                </select>
                            </label>
                        </div>

                        <!-- Form -->
                        <div ng-include="'/app/admin/databases/partials/database_edit_forms.html'"></div>

                        <!-- Bottom Actions -->
                        <div ng-show="database.engine" class="Form-actions">
                            <button class="Button" mb-action-button="saveNoRedirect" success-text="Saved!" failed-text="Failed!" active-text="Validating " ng-disabled="!form.$valid || !database.engine">
                                Save
                            </button>
                            <mb-form-message></mb-form-message>
                        </div>
                    </form>

                    <div class="Form-field Form-offset">
                        <a href="#" ng-click="skipDatabase()">I'll add my data later</a>
                    </div>
                </div>
            </form>
        </section>

        <section class="SetupStep rounded full relative" ng-class="{ 'SetupStep--active shadowed' : (completedSteps.database && !completedSteps.usage), 'SetupStep--completed shadowed' : completedSteps.usage }">
            <div class="flex align-center py3">
                <span class="SetupStep-indicator flex layout-centered absolute bordered">
                    <span class="SetupStep-number">3</span>
                    <mb-icon name="check" class="SetupStep-check" width="16px" height="16px"></mb-icon>
                </span>
                <h2 class="SetupStep-title ml4 my1">{{usageStepText}}</h2>
            </div>
            <form ng-show="isStep('usage')" name="usageForm" ng-submit="createOrgAndUser()" novalidate>
                <div class="Form-field Form-offset">
                    In order to help us improve Metabase, we'd like to collect certain data about usage through Google Analytics.  <a class="link" href="">Here's a full list of everything we track and why.</a>
                </div>

                <div class="Form-field" mb-form-field="email">
                    <input class="Form-input Form-offset full" name="email" placeholder="johndoe@mycompany.com" ng-model="newUser.email" required />
                    <span class="Form-charm"></span>
                </div>

                <ul>
                    <li>Metabase never collects anything about your data or question results.</li>
                    <li>All collection is completely anonymous.</li>
                    <li>Collection can be turned off at any point in your admin settings.</li>
                </ul>

                <div class="Form-actions">
                    <button class="Button Button--primary" ng-click="setUsagePreference()">
                        Next
                    </button>
                    <mb-form-message form="usageForm"></mb-form-message>
                </div>
            </form>
        </section>

        <section class="SetupCompleted SetupStep SetupStep--active flex flex-column layout-centered bordered rounded shadowed relative p4" ng-if="activeStep == 'finish'">
            <h3 class="SetupStep-title text-brand">You're all set!</h3>
            <p class="text-body m0">Your data is being imported and analyzed.</p>
            <p class="text-body">(This can take a while depending on the size of your data, but any data that's finished importing can be accessed immediately.)</p>
            <a class="Button Button--primary mt3" href="/">Take me to my data</a>
        </section>
    </div>

    <div class="SetupHelp bordered border-dashed p2 rounded mb4" >
      If you feel stuck, <a class="link" href="http://www.metabase.com/docs/latest/getting-started">our getting started guide</a> is just a click away.
    </div>
</div>
