.Container {
  /*
  Because this variable is defined dynamically in `PreviewPane.tsx`, we need to define
  this variable here otherwise `yarn find-never-defined-css-variables` would fail.
  */
  --background-url: ;

  width: 100%;
  min-height: 17.5rem;
  background-image: var(--background-url);
  color-scheme: normal; /* Prevents browsers from adding their own "canvas color" to the preview window */
}
