.options {
  padding: 0.75rem;
}

.option {
  font-size: 0.875rem;
  padding: 0.75rem 0.5rem;

  &:hover {
    color: var(--mb-color-brand);
    background-color: var(--mb-color-background-hover);
  }
}

.empty {
  color: var(--mb-color-text-light);
  font-size: 0.875rem;
  padding: 1.5rem 0.5rem;
}
