.nav {
  border-right: 1px solid var(--mb-color-border);
}

.item {
  color: var(--mb-color-text-primary);
  background-color: var(--mb-color-bg-secondary);

  &:hover,
  &.selected {
    color: var(--mb-color-brand);
    background-color: var(--mb-color-brand-light);
  }
}
