/* TODO: rtl support */

.container {
  width: 100%;
}

.innerContainer {
  padding: 0 1rem;
  border-radius: 22px;
  align-items: center;
  box-sizing: border-box;
  border: solid 1.5px transparent;
  background: var(--mb-color-bg-white);
  transition: background 150ms ease;
}

.innerContainerLoading {
  background: var(--mb-color-bg-light);
}

.innerContainerExpanded {
  padding: 1rem;
  align-items: flex-start;
  height: 8rem;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.input {
  caret-color: var(--mb-color-brand);
}

.textarea {
  textarea {
    border: none;
    border-radius: 0;
    background: transparent;
    outline: none;
    width: 100%;
    caret-color: var(--mb-color-brand);
    padding: 0.5rem 0;
    line-height: 1.7;
    color: var(--mb-color-text-dark);
  }
}

.textareaExpanded {
  textarea {
    padding: 0;
  }
}

.textareaLoading {
  textarea {
    font-weight: bold;

    &:disabled {
      opacity: 1;
      background: transparent;
    }
  }
}

/* nesting the style above keeps it from getting applied */
.textareaLoading textarea::placeholder,
.textareaLoading textarea:disabled::placeholder {
  color: var(--mb-color-brand);
}

.responses {
  padding: 1rem;
}

.response {
  padding: 0.5rem 1rem;
  display: flex;
  background: var(--mb-color-brand);
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 1rem;
  color: white;
  pointer-events: auto;
  margin-bottom: 0.25rem;
  position: relative;
}

.responseMessage {
  flex-grow: 1;
}

button.responseDismissBtn {
  color: #cbe2f7;
  height: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
