/* TODO: rtl support */

.container {
  --paddxing-x: 1rem;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem var(--paddxing-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerWithScrollContent {
  border-bottom: 1px solid var(--border-color);
}

.conversationStatusContainer {
  margin: 1rem var(--paddxing-x) 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes rotate-background {
  0% {
    background-position: 110%;
  }

  100% {
    background-position: -10%;
  }
}

.thinkingText {
  --spread: 120px;
  --base-gradient-color: var(--mb-color-bg-white);
  --base-color: var(--mb-color-brand);
  --bg: linear-gradient(
    90deg,
    #0000 calc(50% - var(--spread)),
    var(--base-gradient-color),
    #0000 calc(50% + var(--spread))
  );

  color: transparent;
  background-clip: text;
  background-size:
    250% 100%,
    auto;
  background-image: var(--bg),
    linear-gradient(var(--base-color), var(--base-color));
  animation: rotate-background 2000ms ease infinite;
  font-weight: bold;
}

.input {
  & > div {
    --input-size: 3rem;
  }

  box-shadow: 0 3px 6px 0 #0000000d;

  &:focus {
    border-color: var(--mb-color-brand);
  }
}

.messagesContainer {
  padding: 1rem var(--paddxing-x);
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.messages {
  display: flex;
  flex-direction: column;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.messageContainerUser {
  align-items: flex-end;
  align-self: flex-end;
  max-width: 80%;
  min-width: 6rem;
  width: fit-content;
}

.message {
  font-size: 0.875rem;
  line-height: 1.4;
}

.messageUser {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: var(--mb-color-bg-medium);
}

.messageActions {
  opacity: 0;
  transition: all 150ms linear;
}

.messageContainer:hover .messageActions,
.messageContainer:last-child.messageContainerAgent .messageActions {
  opacity: 1;
}

.markdown {
  ol,
  ul {
    list-style-type: auto;
    list-style-position: inside;
    padding: 0;

    ol,
    ul {
      padding-left: revert;
      padding-right: revert;
    }
  }
}
