.toolCalls {
  padding-left: 0.75rem;
  border-left: 1px solid var(--mb-color-border);
  color: var(--mb-color-text-primary);
}

.toolCallStarted {
  --spread: 160px;
  --base-gradient-color: var(--mb-color-background-primary);
  --base-color: var(--mb-color-text-primary);
  --bg: linear-gradient(
    90deg,
    #0000 calc(50% - var(--spread)),
    var(--base-gradient-color),
    #0000 calc(50% + var(--spread))
  );

  color: transparent;
  background-clip: text;
  background-size:
    250% 100%,
    auto;
  background-image: var(--bg),
    linear-gradient(var(--base-color), var(--base-color));
  background-position: 50%;
  animation: rotate-background 1500ms ease infinite;
}

@keyframes rotate-background {
  0% {
    background-position: 120%;
  }

  100% {
    background-position: -20%;
  }
}
