.saveQuestionModalFields {
  overflow: hidden;
}

.saveQuestionModalFields-enter {
  max-height: 0px;
}
.saveQuestionModalFields-enter.saveQuestionModalFields-enter-active {
  /* using 100% max-height breaks the transition */
  max-height: 300px;
  transition: max-height 500ms ease-out;
}
.saveQuestionModalFields-exit {
  max-height: 300px;
}
.saveQuestionModalFields-exit.saveQuestionModalFields-exit-active {
  max-height: 0px;
  transition: max-height 500ms ease-out;
}
