:local(.listing) {
  composes: m2 from "style";
  composes: fixed left bottom from "style";
  z-index: 99;
}

:local(.undo) {
  composes: mt2 p2 from "style";
  composes: bordered rounded shadowed from "style";
  composes: relative from "style";
  composes: flex align-center from "style";
  width: 320px;
  background-color: #2e353b;
  color: white;
}

:local(.actions) {
  composes: flex align-center flex-align-right from "style";
}

:local(.undoButton) {
  composes: mx2 from "style";
  composes: text-uppercase text-bold from "style";
  color: var(--brand-color);
}
:local(.dismissButton) {
  composes: cursor-pointer from "style";
  color: var(--grey-1);
}
:local(.dismissButton):hover {
  color: var(--grey-3);
}

/* enter and exit initial and final state */
.UndoListing-enter,
.UndoListing-leave.UndoListing-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.UndoListing-leave,
.UndoListing-enter.UndoListing-enter-active {
  opacity: 1;
}
