.inputWrapper,
.inputWrapperText {
  width: 100%;
}

.inputWrapperDate {
  width: 15rem;
}

.inputWrapperBoolean,
.inputWrapperNumber {
  width: 10rem;
}

.inputWrapperDropdown {
  width: max-content;
  min-width: 10rem;
  max-width: 20rem;
}
