.modalHeader {
  background-color: var(--mb-color-background);
  border-bottom: 1px solid var(--mb-color-border);
  height: rem(80);
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
}

.modalBody {
  background-color: var(--mb-base-color-orion-5);
  display: grid;
  grid-template-columns: 45% auto;
  row-gap: rem(24);
  max-height: calc(
    100vh - (var(--modal-y-offset) * 2) - rem(80) - rem(72)
      /* header + footer */
  );
  overflow-y: scroll;
}

.modalBodyLoader {
  grid-column: 1 / -1;
}

.modalBodyEditing {
  max-height: calc(100vh - (var(--modal-y-offset) * 2) - rem(80) /* header */);
}

.modalBodyColumn {
  align-self: center;
}

.modalFooter {
  background-color: var(--mb-color-background);
  border-top: 1px solid var(--mb-color-border);
  height: rem(72);
  align-items: center;
}
