<div class="wrapper">
    <section class="PageHeader">
        <h2 class="PageTitle">Global Settings</h2>
    </section>

    <section>
        <form class="Form-new bordered rounded shadowed" name="form" novalidate>
            <!-- Form -->
            <div class="FormInputGroup">
                <div class="Form-field" ng-repeat="setting in settings" mb-form-field="{{setting.key}}">
                    <mb-form-label display-name="{{settingName(setting)}}" field-name="{{setting.key}}"></mb-form-label>

                    <input class="Form-input Form-offset full" name="{{setting.key}}" placeholder="{{settingPlaceholder(setting)}}" ng-model="setting.value" />
                    <span class="Form-charm"></span>
                </div>
            </div>

            <!-- Bottom Actions -->
            <div class="Form-actions">
                <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(database, details)" ng-disabled="!form.$valid">
                    Save
                </button>
                <mb-form-message></mb-form-message>
            </div>
        </form>
    </section>
</div>
