<div class="wrapper mt4">
    <h2>Settings</h2>
    <table class="Table my2">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
        </tr>
        <tr ng-repeat="setting in settings">
            <td>{{setting.key}}</td>
            <td>{{setting.description}}</td>
            <td>
                <input class="input block full" type="text" ng-model="setting.value"></input>
            </td>
            <td>
                <button class="Button" ng-click="saveSetting(setting)" ng-disabled="!setting.value || setting.value === setting.originalValue">Save</a>
                <button class="mx2 Button" ng-click="deleteSetting(setting)" ng-disabled="!setting.value">Clear</a>
            </td>
        </tr>
    </table>
</div>
