.PagingButtons {
    border: 1px solid #ddd;
}

.TableInteractive-headerCellData {
  font-weight: 700;
}

.TableInteractive-headerCellData:hover {
    cursor: pointer;
}

.TableInteractive-headerCellData .Icon       { opacity: 0; }
.TableInteractive-headerCellData:hover .Icon,
.TableInteractive-headerCellData--sorted .Icon     {
    opacity: 1;
    transition: opacity .3s linear;
}

/* if the column is the one that is being sorted*/
.TableInteractive-headerCellData--sorted {
     color: var(--brand-color);
}

/* what follows is a war crime but such is the state of FE development */
.TableInteractive {
    border: 1px solid rgb(205, 205, 205);
}
.TableInteractive-header {
    border-bottom: 1px solid rgb(205, 205, 205);
    border-right: 1px solid rgb(205, 205, 205);
    box-sizing: border-box;
}

.TableInteractive .TableInteractive-cellWrapper {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;

    padding: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.TableInteractive.TableInteractive--pivot .TableInteractive-cellWrapper--firstColumn {
    border-right: 1px solid rgb(205, 205, 205);
}

.TableInteractive .TableInteractive-cellWrapper:hover {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.TableInteractive .TableInteractive-header,
.TableInteractive .TableInteractive-header .TableInteractive-cellWrapper {
    background-color: #fff;
    background-image: none;
}

.TableInteractive .TableInteractive-header,
.TableInteractive .TableInteractive-header .TableInteractive-cellWrapper {
    background-color: #fff;
}

.TableInteractive .TableInteractive-header .TableInteractive-cellWrapper:hover {
    border-color: #e8e8e8;
}

/* cell overflow ellipsis */
.TableInteractive .cellData {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
