.colorIcon {
  composes: inline-block from "style";
  width: 18px;
  height: 18px;
  border-radius: 3px;
}

.emojiIcon {
  composes: text-centered from "style";
  font-size: 20px;
}

.icon {
  composes: transition-color from "style";
  color: currentColor;
}
