.timelineEventList {
  max-width: 18.75rem;

  li:not(:first-of-type) {
    margin-top: var(--mantine-spacing-sm);
  }
}

.timelineEventDate {
  font-size: var(--mantine-font-size-sm);
  margin-top: 0.0625rem;
}
