.ClickBehaviorDescription {
  display: block;
  color: var(--mb-color-brand);

  &.isActive {
    color: unset;
  }
}

.ClickIcon {
  color: var(--mb-color-text-tertiary);

  &.isActive {
    color: unset;
  }
}

.Button {
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--mb-color-background-secondary);
  color: var(--mb-color-text-secondary);

  &.isActive {
    background-color: var(--mb-color-brand);
    color: var(--mb-color-text-primary-inverse);
  }
}
