<div class="ModalContent">
    <div class="bordered rounded shadowed" ng-show="firstStep">
        <div class="pl4 pr4 pt4 pb1 border-bottom">
            <h2>{{user.first_name}}, welcome to Metabase!</h2>
            <h2>Analytics you can use by yourself.</h2>

            <p>Metabase lets you find answers to your questions from data your company already has.</p>

            <p>It’s easy to use, because it’s designed so you don’t need any analytics knowledge to get started.</p>
        </div>
        <div class="pl4 pr4 pt2 pb2 clearfix Grid">
            <span class="Grid-cell Grid-cell--center text-grey-2">
                STEP 1 of 2
            </span>
            <span class="Grid-cell Grid-cell--center text-right">
                <button class="Button Button--primary" ng-click="next()">Continue</button>
            </span>
        </div>
    </div>

    <div class="bordered rounded shadowed" ng-show="!firstStep">
        <div class="pl4 pr4 pt4 pb1 border-bottom">
            <h2>Just 3 things worth knowing</h2>

            <p>All of your data is organized in Tables. Think of them in terms of Excel spreadsheets  with columns and rows.</p>

            <p>To get answers, you Ask Questions by picking a table and a few other parameters. You can visualize the answer in many ways, including cool charts.</p>

            <p>You (and anyone on your team) can save answers in Dashboards, so you can check them often. It's a great way to quickly see a snapshot of your business.</p>
        </div>
        <div class="pl4 pr4 pt2 pb2 clearfix Grid">
            <span class="Grid-cell Grid-cell--center text-grey-2">
                STEP 2 of 2
            </span>
            <span class="Grid-cell Grid-cell--center text-right">
                <button class="Button Button--primary" ng-click="close()">Continue</button>
            </span>
        </div>
    </div>
</div>
