.root {
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;

  &:hover {
    .grabberHandle {
      color: var(--mb-color-core-brand);
    }
  }
}

.grabberHandle {
  color: var(--mb-color-text-secondary);
  cursor: grab;
}

.chevronTarget {
  align-items: center;
  color: var(--mb-color-text-secondary);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
