.CopyButton {
  cursor: pointer;
  position: relative;
  color: var(--mb-color-text-tertiary);

  &:hover {
    color: var(--mb-color-brand);
  }
}

.InfoIcon {
  color: var(--mb-color-text-tertiary);

  &:hover {
    background-color: var(--mb-color-background-hover);
    color: var(--mb-color-brand);
  }

  border-radius: 100%;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--mb-color-focus);
  }
}
