@import "./Upsells.base.module.css";

.UpsellCTALink {
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  color: var(--mb-color-upsell-primary);
  background-color: var(--mb-color-upsell-secondary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--mb-color-upsell-primary);
    color: var(--mb-color-upsell-text-hover);
  }

  &.Medium {
    padding: 0.5rem 1rem;
  }

  &.Large {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
  }
}
