/**
 * The upsell color palette is designed to function in harmony with the original Metabase set of Blues, Grays and Purples
 * but with a twist. All three colors are new and should not be used elsewhere in the product experience.
 */
:root {
  --mb-color-upsell-primary: #005999;
  --mb-color-upsell-secondary: #bff4ff;
  --mb-color-upsell-gem: #00d4ff;
  --mb-color-upsell-text-hover: #fff;
}
