.ellipsisMenuButton {
  --ellipsis-button-size: 2rem;

  border-radius: 0.5rem;
  height: var(--ellipsis-button-size);
  width: var(--ellipsis-button-size);

  &.ellipsisMenuButton:hover {
    background-color: var(--mb-color-background_surface-hover);
  }
}

.ellipsisMenuButtonFloating {
  position: absolute;
  /** Make the container be centered without taking the ellipsis menu button into consideration */
  right: calc(
    -1 * calc(var(--mantine-spacing-sm) + var(--ellipsis-button-size))
  );
  top: 0.25rem;
}

.ellipsisMenuButtonInline {
  flex: 0 0 auto;
}
