.root {
  width: 260px;
  flex-shrink: 0;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg) var(--mantine-spacing-md) 0;
  overflow-y: auto;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}
