<div class="wrapper full-height flex flex-column">
    <section class="my3 clearfix">
        <div class="py2 float-right">
            <div class="Button-group Button-group--blue text-uppercase text-bold">
                <a class="Button AdminHoverItem" ng-class="{ 'Button--active': pane == 'tables' }" cv-org-href="/admin/databases/{{database.id}}/tables/{{table.id}}">Data</a>
                <a class="Button AdminHoverItem" ng-class="{ 'Button--active': pane == 'settings' }" cv-org-href="/admin/databases/{{database.id}}/settings">Connection Details</a>
            </div>
        </div>
        <h3 class="py2">{{database.name}}</h2>
    </section>

    <section class="DatabaseTablesAdmin Grid bordered rounded shadowed flex-full mb4" ng-show="pane == 'tables'">
        <div class="DatabaseTablesAdminSidebar relative Grid-cell Cell--1of3 border-right" ng-controller="DatabaseTables" ng-include="'/app/admin/databases/partials/database_table_list.html'">
        </div>

        <div class="DatabaseTableAdmin relative Grid-cell" ng-controller="DatabaseTable" ng-if="table" ng-include="'/app/admin/databases/partials/database_table_detail.html'">
        </div>
        <div class="Grid-cell flex layout-centered relative" ng-if="!table">
            <h2 class="text-grey-3">Select any table to see its schema and add or edit metadata.</h2>
        </div>
    </section>

    <section ng-show="pane == 'settings'" ng-controller="DatabaseEdit">
        <div class="Grid Grid--gutters Grid--full" ng-include="'/app/admin/databases/partials/database_edit_pane.html'" >
        </div>
    </section>
</div>
