<div class="wrapper">
    <section class="Breadcrumbs">
        <a class="Breadcrumb Breadcrumb--path" cv-org-href="/admin/databases/">Databases</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <a class="Breadcrumb Breadcrumb--path" cv-org-href="/admin/databases/{{field.table.db.id}}/tables/">{{field.table.db.name}}</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <a class="Breadcrumb Breadcrumb--path" cv-org-href="/admin/databases/table/{{field.table.id}}">{{field.table.name}}</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <h2 class="Breadcrumb Breadcrumb--page">{{field.name}}</h2>
    </section>

    <section>
        <div>
            <h3>Information</h3>
            <b>Data Type:</b> {{field.base_type}} <br/>
            <b>User Assigned Type:</b> <a href="#" editable-select="field.special_type" onaftersave="inlineSave()" e-ng-options="spec_type.id as spec_type.name for spec_type in utils.field_special_types">{{utils.fieldSpecialType(field.special_type)}}</a> <br/>
            <b>Display in preview:</b> <a href="#" editable-select="field.preview_display" onaftersave="inlineSave()" e-ng-options="spec_type.id as spec_type.name for spec_type in utils.boolean_types">{{field.preview_display && "Yes" || "No"}}</a> <br/>

            <b>Description:</b> <a href="#" editable-textarea="field.description" e-rows="4" e-cols="50" onaftersave="inlineSave()">{{field.description}}<span ng-if="!field.description">Description</span></a> <br/>
            <div ng-if="fks">
                <b>Relationships:</b><br>
                <table class="Table">
                    <thead>
                        <tr>
                            <th>Destination Table</th>
                            <th>Destination Field</th>
                            <th>Relationship Type</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fk in fks">
                            <td>{{fk.destination.table.name}}</td>
                            <td>{{fk.destination.name}}</td>
                            <td>{{fk.relationship}}</td>
                            <td> <a class="Button Button--remove" href="#" ng-click="deleteRelationship(fk.id)" delete-confirm>x</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <cv-comments type="field" id="field.id" title="Notes"></cv-comments>
        </div>
        <div>
            <h3>Summary</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Characteristic</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in field_summary">
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="border-top py2 clearfix">
                <div class="py2">
                    <input class="Button Button--primary float-right" type="button" value="Update Mapped Values" role="button" ng-click="updateMappedValues()" />
                    <h3>Valid Values</h3>
                </div>

                <table class="Table">

                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Remapped Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in field_values.values">
                            <td>{{value || "Empty Field"}}</td>
                            <td> <input class="input" ng-model="field_values.human_readable_values[value]"> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
