<div class="wrapper">
    <section class="PageHeader clearfix">
        <a class="Button Button--primary float-right" href="/admin/databases/create">Add database</a>
        <h2 class="PageTitle">Databases</h2>
    </section>

    <section>
        <table class="ContentTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Engine</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!databases">
                    <td colspan=4>
                        <mb-loading-icon></mb-loading-icon>
                        <h3>Loading ...</h3>
                    </td>
                </tr>
                <tr ng-repeat="database in databases">
                    <td>
                        <a class="text-bold link" href="/admin/databases/{{database.id}}">{{database.name}}</a>
                    </td>
                    <td>
                        {{form_input ? form_input.engines[database.engine]['driver-name'] : database.engine}}
                    </td>
                    <td class="Table-actions">
                        <!-- TODO: sync now button? -->
                        <button class="Button Button--danger" ng-click="delete(database.id)" delete-confirm>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pt4" ng-if="!hasSampleDataset">
            <span class="p2 text-italic" ng-class="{'border-top': databases.length > 0}"><a class="text-grey-2 text-brand-hover no-decoration" href="" ng-click="addSampleDataset()">Bring the sample dataset back</a></span>
        </div>
    </section>
</div>
