<div class="p4 border-bottom">
    <label class="Select Select--small EntityCustomType float-right">
        <select ng-class="{CustomTypeApplied: table.entity_type, 'Select--unselected': !table.entity_type }" ng-model="table.entity_type" ng-change="inlineSave()" ng-options="ent_type.id as ent_type.name for ent_type in utils.table_entity_types"></select>
    </label>
    <div>
        <span class="h2 text-bold mr2" editable-text="table.entity_name" e-form="tableNameForm" onaftersave="inlineSave()">
             {{table.entity_name || table.name}}
        </span>
        <span class="h5" ng-click="tableNameForm.$show()" ng-hide="tableNameForm.$visible">
            Rename
        </span>
    </div>
    <div class="mt2 full">
        <a e-class="full" href="#" editable-text="table.description" onaftersave="console.log('nyi', $index)">
            {{table.description || "Add a description..."}}
        </a>
    </div>
</div>
<ul class="border-bottom" as-sortable="dragControlListeners" ng-model="fields">
    <li class="TableField py2 px4 relative text-grey-3" ng-repeat="field in table.fields" as-sortable-item>
        <div class="Drag-handle" title="Reorder" as-sortable-item-handle>
            <svg width="9" height="36">
                <rect class="Dragger" fill="url(#dragger)" width="6" height="42">
            </svg>
        </div>
        <div class="clearfix">
            <div>
                <div class="float-left">
                    <h3 class="text-bold inline-block">
                        {{field.name}}
                    </h3>
                    <span class="EntityOriginalType">{{field.base_type}}</span>

                    <div class="full">
                        <a e-class="full" href="#" ng-class="{EditedEntity: field.description }" editable-text="field.description" onaftersave="inlineSaveField($index)">
                            {{field.description || "Add a description..."}}
                        </a>
                    </div>
                </div>

                <div class="float-right">
                    <div class="inline-block flex align-top">
                        <label class="Select Select--small Select--blue  mx1">
                            <select ng-model="field.field_type" ng-change="inlineSaveField($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_field_types">
                            </select>
                        </label>
                    </div>
                    <div class="inline-block">
                        <div>
                            <label class="Select Select--small Select--purple mx1">
                                <select ng-model="field.special_type" ng-change="inlineSpecialTypeChange($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_special_types">
                                </select>
                            </label>
                        </div>
                        <div>
                            <label class="Select  Select--small mx1" ng-if="field.special_type=='fk'">
                                <select ng-change="inlineChangeFKTarget($index)" ng-options="idf.id as idf.displayName for idf in idfields">
                                    <option value="" disabled selected>Target Field</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </li>
</ul>
<div class="m4 bottom text-centered">
    <cv-logo-icon class="text-grey-2" width="28" height="36"></cv-logo-icon>
</div>
