<div class="wrapper">
    <section class="PageHeader clearfix">
        <a class="Button Button--primary float-right" href="/admin/databases/create">Add database</a>
        <h2 class="PageTitle">Databases</h2>
    </section>

    <section>
        <table class="ContentTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Engine</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!databases">
                    <td colspan=4>
                        <cv-loading-icon></cv-loading-icon>
                        <h3>Loading ...</h3>
                    </td>
                </tr>
                <tr ng-repeat="database in databases">
                    <td>
                        <a class="text-bold link" href="/admin/databases/{{database.id}}/tables">{{database.name}}</a>
                    </td>
                    <td>
                        {{ENGINES[database.engine].name}}
                    </td>
                    <td class="Table-actions">
                        <!-- TODO: sync now button? -->
                        <button class="Button Button--danger" ng-click="delete(database.id)" delete-confirm>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
