<section class="wrapper">
    <div class="py2">
        <div class="float-right">
            <a class="Button Button--primary" cv-org-href="/admin/databases/create">Add Database</a>
        </div>
        <h2>Databases</h2>
    </div>

    <div ng-if="!databases">
        <h3 class="text-normal text-centered">Loading ...</h3>
    </div>

    <table class="Table">
        <tr>
            <th>Name</th>
            <th>Engine</th>
        </tr>
        <tr ng-repeat="database in databases">
            <td>
                <a class="link" cv-org-href="/admin/databases/{{database.id}}">{{database.name}}</a>
            </td>
            <td>
                {{database.engine}}
            </td>
            <td>
                <div class="float-right">
                    <button class="Button Button--remove" ng-click="delete(database.id)" delete-confirm>Delete</button>
                </div>
            </td>
    </table>
</section>
