<div>
    <!-- DB Engine (database.engine) -->
    <div class="Form-field" mb-form-field="engine">
        <mb-form-label display-name="Database type" field-name="engine"></mb-form-label>
        <label class="Select Form-offset mt1">
            <select class="Select" ng-model="database.engine" ng-options="type as properties['driver-name'] for (type, properties) in form_input.engines">
                <option value="" disabled selected>Select a database type</option>
            </select>
        </label>
    </div>

    <!-- DB Nickname (database.name) -->
    <div class="Form-field" mb-form-field="engine" ng-if="database.engine">
        <mb-form-label display-name="Name" field-name="name"></mb-form-label>
        <input class="Form-input Form-offset full" name="name" placeholder="How would you like to refer to this database?" ng-model="database.name" required autofocus />
        <span class="Form-charm"></span>
    </div>

    <!-- Database Connection Info Fields - Varies by Engine (details.*) -->
    <div class="FormInputGroup">
        <!-- If the controller defines an object called $scope.hiddenFields we'll check it to see if we should hide any fields.
             e.g. $scope.hiddenFields = { ssl : true } will hide the SSL field.
             Otherwise we'll default to showing every field. This way we can hide 'advanced options' like SSL during the setup process -->
        <div class="Form-field" ng-repeat="field in form_input.engines[database.engine]['details-fields']" mb-form-field="{{field.name}}" ng-if="!hiddenFields[field.name]">
            <mb-form-label display-name="{{field['display-name']}}" field-name="{{field.name}}"></mb-form-label>

            <!-- Boolean Field -->
            <div ng-if="field.type == 'boolean'" class="Form-input Form-offset full Button-group">
                <button ng-class="details[field.name] === true ? 'Button--active' : null"
                        ng-click="details[field.name] = true" class="Button">
                    Yes
                </button>
                <button ng-class="details[field.name] === false ? 'Button--danger' : null"
                        ng-click="details[field.name] = false" class="Button">
                    No
                </button>
            </div>

            <!-- Password Field -->
            <input ng-if="field.type === 'password'" type="password" class="Form-input Form-offset full" name="{{field.name}}"
                   placeholder="{{field.default || field.placeholder}}" ng-model="details[field.name]" ng-required="field.required" />

            <!-- Integer Field / String Field (default) -->
            <input ng-if="!field.type || field.type === 'integer' || field.type === 'string'" class="Form-input Form-offset full" name="{{field.name}}"
                   placeholder="{{field.default || field.placeholder}}" ng-model="details[field.name]" ng-required="field.required" />

            <span class="Form-charm"></span>
        </div>
    </div>
</div>
