<div class="wrapper">
    <section class="my3 clearfix">
        <div class="py2 float-right">
            <div class="Button-group Button-group--blue text-uppercase text-bold">
                <a class="Button" ng-class="{ 'Button--active': pane == 'tables' }" cv-org-href="/admin/databases/{{database.id}}/tables/{{currentTable.id}}">Data</a>
                <a class="Button" ng-class="{ 'Button--active': pane == 'settings' }" cv-org-href="/admin/databases/{{database.id}}/settings">Connection Details</a>
            </div>
        </div>
        <h3 class="py2">{{database.name}}</h2>
    </section>

    <section class="DatabaseTablesAdmin Grid bordered rounded shadowed" ng-show="pane == 'tables'">

        <div class="DatabaseTablesAdminSidebar Grid-cell Cell--1of3 border-right" ng-include="'/app/admin/databases/partials/database_table_list.html'">
        </div>

        <div class="DatabaseTableAdmin Grid-cell" ng-controller="DatabaseTable" ng-if="currentTable" ng-include="'/app/admin/databases/partials/database_table_detail.html'">
        </div>
    </section>

    <section ng-show="pane == 'settings'" ng-controller="DatabaseEdit">
        <div class="Grid Grid--gutters Grid--full" ng-include="'/app/admin/databases/partials/database_edit_pane.html'" >
        </div>
    </section>
</div>
