<svg width="0" height="0">
    <defs>
	<pattern id="dragger" width=".50" height=".08">
	    <rect width="2px" height="2px" fill="#cacaca">
	</pattern>
    </defs>
</svg>

<div class="wrapper">
    <section class="Breadcrumbs">
        <a class="Breadcrumb Breadcrumb--path" href="/admin/databases/">Databases</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <a class="Breadcrumb Breadcrumb--path" href="/admin/databases/{{table.db.id}}/tables/">{{table.db.name}}</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <h2 class="Breadcrumb Breadcrumb--page">{{table.name}}</h2>
    </section>

    <section>
        <div class="pb2 clearfix" ng-if="table">
            <div class="clearfix">
                <div class="text-grey-3 float-right" ng-if="table.entity_name">
                    <p class="text-right">actual table name: {{table.name}}</p>
                    <p class="py1 text-right clearfix">
                        <a class="link float-right" ng-click="syncMetadata()">Sync Metadata</a>
                    </p>
                </div>
                <div class="float-left">
                    <h2 class="inline-block">
                        <a class="text-brand" href="#" ng-class="{EditedEntity: table.entity_name}" editable-text="table.entity_name" onaftersave="inlineSave()">
                            <span ng-if="table.entity_name">{{table.entity_name}}</span>

                            <span ng-if="!table.entity_name">{{table.name}}</span>
                        </a>
                    </h2>
                    <label class="Select mx2 inline-block">
                        <select ng-class="{CustomTypeApplied: table.entity_type }" ng-model="table.entity_type" ng-change="inlineSave()" ng-options="ent_type.id as ent_type.name for ent_type in utils.table_entity_types">
                        </select>
                    </label>
                    <div class="text-grey-4 mt1">
                        <a e-class="full" href="#" ng-class="{EditedEntity: table.description }" editable-text="table.description" onaftersave="inlineSave()">
                            {{table.description}}
                            <span ng-if="!table.description">Add a description ...</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="DragBoundary mt2 border-bottom">
            <ul as-sortable="dragControlListeners" ng-model="fields">
                <li class="border-top py2 relative text-grey-3" ng-repeat="field in table.fields" as-sortable-item>
                    <div class="Drag-handle" title="Reorder" as-sortable-item-handle>
                        <svg width="9" height="36">
                            <rect class="Dragger" fill="url(#dragger)" width="6" height="42">
                        </svg>
                    </div>
                    <div class="ml3 mr1 clearfix">
                        <div class="float-right">
                            <span class="EntityOriginalType float-left">{{field.base_type}}</span>
                        </div>
                        <div>
                            <input ng-model="field.preview_display" type="checkbox" ng-change="inlineSaveField($index)">
                            <h3 class="text-bold inline-block">
                                <a class="link mr1" href="/admin/databases/field/{{field.id}}">{{field.name}}</a>
                            </h3>

                            <label class="Select mx1">
                                <select ng-class="{CustomTypeApplied: field.field_type }" ng-model="field.field_type" ng-change="inlineSaveField($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_field_types">
                                </select>
                            </label>
                            <label class="Select mx1">
                                <select ng-class="{CustomTypeApplied: field.special_type }" ng-model="field.special_type" ng-change="inlineSpecialTypeChange($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_special_types">
                                </select>
                            </label>
                            <label class="Select mx1" ng-if="field.special_type=='fk'">
                                <select ng-model="field.target_id" ng-change="inlineChangeFKTarget($index)" ng-options="idf.id as idf.displayName for idf in idfields">
                                <option value="" disabled selected>Target Field</option>
                                </select>
                            </label>

                        </div>
                        <div class="pt1 full">
                            <a e-class="full" href="#" ng-class="{EditedEntity: field.description }" editable-text="field.description" onaftersave="inlineSaveField($index)">
                                {{field.description}}
                                <span ng-if="!field.description">Add a description...</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>