<div class="TableField py4 pr4">
    <label class="Select Select--small float-right">
        <select ng-class="{CustomTypeApplied: table.entity_type, 'Select--unselected': !table.entity_type }" ng-model="table.entity_type" ng-change="inlineSave()" ng-options="ent_type.id as ent_type.name for ent_type in utils.table_entity_types"></select>
    </label>
    <div>
        <span class="h2 text-bold" editable-text="table.entity_name" e-form="tableNameForm" onaftersave="inlineSave()">
             {{table.entity_name || table.name}}
        </span>
        <span class="h5" ng-click="tableNameForm.$show()" ng-hide="tableNameForm.$visible">
            Rename
        </span>
    </div>
    <div class="mt2 full">
        <a e-class="full" href="#" editable-text="table.description" onaftersave="console.log('nyi', $index)">
            {{table.description || "Add a description..."}}
        </a>
    </div>
</div>
<div class="TableFieldList">
    <ul as-sortable="dragControlListeners" ng-model="fields">
        <li class="TableField AdminHoverItem py2 pr4 relative" ng-repeat="field in table.fields" as-sortable-item>
            <div class="Drag-handle" title="Reorder" as-sortable-item-handle>
                <svg width="9" height="36">
                    <rect class="Dragger" fill="url(#dragger)" width="6" height="42">
                </svg>
            </div>
            <div class="Grid">
                <div class="Grid-cell">
                    <h3 class="TableField-name inline-block">
                        {{field.name}}
                    </h3>
                    <span class="EntityOriginalType inline-block">{{field.base_type}}</span>

                    <div class="full">
                        <a e-class="full" href="#" ng-class="{EditedEntity: field.description }" editable-text="field.description" onaftersave="inlineSaveField($index)">
                            {{field.description || "Add a description..."}}
                        </a>
                    </div>
                </div>

                <div class="Grid Grid-cell Cell--1of3 py1 flex align-start">
                    <label class="Grid-cell mx2 Select Select--small Select--blue">
                        <select ng-model="field.field_type" ng-change="inlineSaveField($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_field_types">
                        </select>
                    </label>
                    <div class="Grid-cell flex flex-column">
                        <label class="Select flex-full Select--small Select--purple">
                            <select ng-model="field.special_type" ng-change="inlineSpecialTypeChange($index)" ng-options="spec_type.id as spec_type.name for spec_type in utils.field_special_types">
                            </select>
                        </label>
                        <label class="Select Select--small mt1" ng-if="field.special_type=='fk'">
                            <select ng-model="field.target_id" ng-change="inlineChangeFKTarget($index)" ng-options="idf.id as idf.displayName for idf in idfields">
                                <option value="" disabled selected>Target Field</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
