<div class="Grid-cell">
    <form class="Form-new bordered rounded shadowed" name="form" novalidate>
        <!-- Form -->
        <div ng-include="'/app/admin/databases/partials/database_edit_forms.html'"></div>

        <!-- Bottom Actions -->
        <div class="Form-actions">
            <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(database, details)" ng-disabled="!form.$valid">
                Save
            </button>
            <mb-form-message></mb-form-message>
        </div>
    </form>
</div>

<!-- Sidebar Actions -->
<div class="Grid-cell" ng-if="database.id">
    <div class="Actions  bordered rounded shadowed">
        <h3>Actions</h3>
        <div class="Actions-group">
            <button class="Button" mb-action-button="sync" success-text="Sync triggered!" failed-text="Failed to sync" active-text="Starting ...">Sync</button>
        </div>

        <div class="Actions-group Actions--dangerZone">
            <label class="Actions-groupLabel block">Danger Zone:</label>
            <!-- TODO: this doesn't do anything because its unclear if its really safe to delete dbs -->
            <button class="Button Button--danger">Remove this database</button>
        </div>
    </div>
</div>
