.dropdownMenu {
  background: white;
  border: 1px solid gray;
  border-radius: 0.7rem;
  box-shadow: 0 0 1px #000;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  padding: 0.4rem;
  position: relative;

  button {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 0.25rem;
    text-align: left;
    width: 100%;

    &:hover,
    &:hover.is-selected {
      background-color: gray;
    }

    &.is-selected {
      background-color: gray;
    }

    img {
      height: 1em;
      width: 1em;
    }
  }
}
