.ViewSidebarAside {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 0;

  &.rightSide {
    border-inline-start: none;

    &.isOpen {
      border-inline-start: 1px solid var(--mb-color-border);
    }

    @media screen and (max-width: 40em) {
      margin-inline-start: auto;
    }
  }

  &.leftSide {
    border-inline-end: none;

    &.isOpen {
      border-inline-end: 1px solid var(--mb-color-border);
    }
  }
}
