.docsLink {
  color: inherit;
  text-decoration: none;
  background-color: var(--mb-color-background_page-secondary);
}

.docsLink:hover {
  background-color: var(--mb-color-background_surface-hover);
}
