.NewModelOptionContainer {
    box-shadow: 0 1px 3px 0 var(--mb-color-text-light);
}

.NewModelOptionContainer:hover {
    box-shadow: 0 3px 8px 0 var(--mb-color-text-light);
}

.Title {
    color: var(--mb-color-text-medium);
}

.NewModelOptionContainer:hover .Title {
    color: var(--mb-color-text-brand);
}