.card {
  border: 2px solid var(--mb-color-border);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-border-radius);
  flex-direction: column;
  cursor: pointer;
}

.card:hover {
  border-color: var(--mb-color-brand);
  box-shadow: 0 1px 8px 2px var(--mb-color-shadow);
  transform: scale(1.025);
  transition:
    transform 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
  color: var(--mb-color-brand);
}
