{
    "rules": {
        "jest/no-focused-tests": 2,
        "jest/no-identical-title": [2, "branch"],
        "import/no-commonjs": 0,
        "no-color-literals": 0
    },
    "env": {
        "jest/globals": true,
        "node": true
    },
    "plugins": [
        "eslint-plugin-jest"
    ]
}
