{
    "rules": {
        "jasmine/no-focused-tests": 2,
        "jasmine/no-suite-dupes": [2, "branch"],
        "import/no-commonjs": 0,
        "no-color-literals": 0
    },
    "env": {
        "jasmine": true,
        "node": true
    },
    "plugins": [
        "jasmine"
    ]
}
