{:paths
 ["src" "resources-ee"]

 :deps
 {com.oracle.database.jdbc/ojdbc11 {:mvn/version "23.5.0.24.07"}}

 :aliases
 {:oss
  ;; JDBC driver isn't GPL-compatible
  {:replace-deps  {}
   :replace-paths ["src" "resources"]}

  :ee
  {}}}
