.Dashboard {
    background-color: #f9fbfc;
}

.Dash-wrapper {
    width: 100%;
}

@media screen and (--breakpoint-min-sm) {
   .Dash-wrapper { max-width: var(--sm-width); }
}

@media screen and (--breakpoint-min-md) {
   .Dash-wrapper { max-width: var(--md-width); }
}

@media screen and (--breakpoint-min-lg) {
   .Dash-wrapper { max-width: var(--lg-width); }
}

.DashboardGrid {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.DashCard {
  position: relative;
  z-index: 1;
}

.DashCard .Card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.Card-outer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.DashCard .DashCard-actions {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s linear;
}

.Dash--editing .DashCard .Card {
    pointer-events: none;
    border: 1px dashed rgba(149, 149, 149, 0.5);
    transition: border .3s, background-color .3s;
}

@keyframes fade-out-yellow {
    from {
        background-color: rgba(255, 250, 243, 1.0);
    }
    to {
        background-color: rgba(255, 250, 243, 0.0);
    }
}

.DashCard .Card {
    background-color: white;
}

.Dash--editing .DashCard .Card.Card--recent {
    /*background-color: rgb(255, 250, 243);*/
    animation-duration: 30s;
    animation-name: fade-out-yellow;
}

.Dash--editing .DashCard:hover .Card .Card-heading {
  z-index: 2;
}

.Dash--editing .DashCard:hover .DashCard-actions {
  opacity: 1;
  pointer-events: inherit;
  transition: opacity .3s linear;
}

.Dash--editing .DashCard .Card {
    background: #fff;
    user-select: none;
}

.Dash--editing .DashCard.dragging .Card {
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
}

.Dash--editing .DashCard.dragging,
.Dash--editing .DashCard.resizing {
    z-index: 2;
}

.Dash--editing .DashCard.dragging .Card,
.Dash--editing .DashCard.resizing .Card {
    background-color: #E5F1FB !important;
    border: 1px solid var(--brand-color);
}

.Dash--editing .DashCard.dragging .DashCard-actions,
.Dash--editing .DashCard.resizing .DashCard-actions {
    opacity: 0;
    transition: opacity .3s linear;
}

.Dash--editing .DashCard {
    transition: transform .3s;
}

.Dash--editing .DashCard.dragging,
.Dash--editing .DashCard.resizing {
    transition: transform 0s;
}

.Dash--editing .DashCard.react-draggable {
    cursor: url(/app/components/icons/assets/cursor_move.svg) 16 16, auto;
}

.Dash--editing .DashCard .react-resizable-handle {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    cursor: url(/app/components/icons/assets/cursor_resize.svg) 16 16, auto;
}

.Dash--editing .react-grid-placeholder {
    z-index: 0;
    background-color: #F2F2F2;
    transition: all 0.15s linear;
}

.Dash--editing .Card-title {
    pointer-events: none;
}

/* ensure action buttons do not respond to events when dragging */
.Dash--dragging .DashCard-actions {
    pointer-events: none !important;
}

.Modal.AddSeriesModal {
  height: 80%;
  max-height: 600px;
  width: 80%;
  max-width: 1024px;
}
