.watermarkOverlay {
  position: relative;
}

.watermarkOverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./watermark.png");
  background-size: 6rem;
  background-repeat: repeat;
  pointer-events: none;
}
