.SavedEntityListRoot {
  overflow: auto;
  width: 100%;

  @media screen and (max-width: 40em) {
    min-height: 220px;
  }
}

.SavedEntityListItem {
  .SavedEntityListItemIcon:last-child {
    justify-self: start;
  }
}

.LoadingWrapper {
  min-height: unset;
  height: 100%;
}
