.borderTop {
  border-top: 1px solid var(--color-bg-medium);

  .borderBottom + & {
    border-top: none;
  }

  &:first-child {
    border-top: none;
  }
}

.borderBottom {
  border-bottom: 1px solid var(--color-bg-medium);

  &:last-child {
    border-bottom: none;
  }
}

.action {
  color: var(--color-text-dark);

  &:hover {
    color: inherit;
  }
}
