.highlight {
  font-family: var(--mb-default-monospace-font-family);
  padding: 1rem 0.65rem;
  background-color: var(--mb-color-bg-light);
  color: var(--mb-color-text-primary);
  border-radius: 8px;
  font-size: 0.8125em;
  line-height: 1.065em;
  overflow: auto;
}
