.highlight {
  font-family: var(--mb-default-monospace-font-family);
  padding: var(--mantine-spacing-sm);
  background-color: var(--mb-color-bg-medium);
  color: var(--mb-color-text-primary);
  border-radius: var(--mantine-radius-sm);
  font-size: 0.85em;
  overflow: auto;
}
