.popoverTarget {
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchSection {
  border-bottom: 1px solid var(--mb-color-border);
}

.listSection {
  overflow-y: auto;
}

.dimensionList {
  max-width: 100%;
  color: var(--mb-color-brand);
}

.accordionItem {
  &:not(:last-child) {
    border-bottom: 1px solid var(--mb-color-border);
  }
}

.accordionControl {
  padding-block: 14px;
  cursor: pointer;
}

.accordionControlExpanded {
  padding-bottom: 6px;
}

.accordionHeader {
  padding-block: 14px;
}

.accordionHeaderExpanded {
  padding-bottom: 6px;
}
