.popoverTarget {
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchSection {
  border-bottom: 1px solid var(--mb-color-border);
}

.listSection {
  overflow-y: auto;
}

.dimensionList {
  max-width: 100%;
  color: var(--mb-color-brand);
}

.accordionItem {
  &:not(:last-child) {
    border-bottom: 1px solid var(--mb-color-border);
  }
}

.accordionControl {
  padding-block: 0.875rem;
  cursor: pointer;
}

.accordionControlExpanded {
  padding-bottom: 0.375rem;
}

.accordionHeader {
  padding-block: 0.875rem;
}

.accordionHeaderExpanded {
  padding-bottom: 0.375rem;
}

.segmentItem {
  cursor: pointer;

  &:hover {
    background-color: var(--mb-color-brand-lighter);
  }
}
