.codeBlockTextArea {
  color: var(--mb-color-text-primary);
  padding: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-lg);
  height: 110px;

  &[contenteditable="false"] {
    opacity: 0.5;
    cursor: progress;
  }
}

.placeholder {
  position: absolute;
  pointer-events: none;
  padding: var(--mantine-spacing-md);
  color: var(--mb-color-text-tertiary);
}

.borderRadius {
  border-radius: var(--mantine-radius-xs);
}

.closeButton {
  z-index: 1;
}

.contentWrapper {
  overflow: auto;
}

.iconShrink {
  flex-shrink: 0;
}
