:root {
  --workspace-bg-color: #F4F6F8;
  --workspace-border-color: #d9d9d9;
  --workspace-offset: 61px;
}

.Workspace {
  position: absolute;
  left: 0;
  top: var(--workspace-offset);
  padding-bottom: var(--workspace-offset);
  margin-bottom: calc(var(--workspace-offset) * -1);
  overflow-y: scroll;
  bottom: 0;
  background-color: var(--workspace-bg-color);
  border-left: 1px solid var(--workspace-border-color);
  border-right: 1px solid var(--workspace-border-color);
  z-index: 2;
  box-shadow: 1px 0 2px rgba(0, 0, 0, .12);
}

@media screen and (--breakpoint-min-md) {
  .Workspace {
    box-shadow: none;
  }
}

