.card {
  box-shadow: 0 1px 15px var(--mb-color-shadow-default);
  border-radius: var(--mantine-radius-xs);
}

.illustration {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
}
