{:paths
 ["src" "resources"]

 :deps
 ;; ensure the version of google-http-client transitively depended on here matches that of bigquery-cloud-sdk
 ;; (which, at the moment, is 1.39.2)
 {com.google.api-client/google-api-client {:mvn/version "1.32.1"}
  ;; for some reason, Google stopped depending on google-http-client-jackson2 from google-api-client somewhere between
  ;; 1.30.7 and 1.32.1, so we must explicitly bring it in because the google driver uses it directly
  ;; this version is closest to depending on Jackson 2.12.3, which is the version transitively depended on by
  ;; bigquery-cloud-sdk
  com.google.http-client/google-http-client-jackson2 {:mvn/version "1.39.2-sp.1"}}}
