.dbCard {
  background-color: var(--mb-color-background-primary);

  &:hover {
    color: var(--mb-color-brand);
  }
}

.addCard {
  background-color: var(--mb-color-background-tertiary);

  &:hover {
    background-color: var(--mb-color-brand);
    color: var(--mb-color-text-primary-inverse);
  }
}
