.container {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--mb-color-background_page-secondary);
}

.container:has([data-has-error]) {
  box-shadow: inset 0 0 0 1px var(--mb-color-error);
}

.filterPillsSection {
  border-radius: 0 0 1rem 1rem;
}

.filterButtonWithCount {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filterButtonAttachment {
  border-left: 1px solid var(--mb-color-border-filter);
}
