.container {
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  background: var(--mb-color-background-primary);
  transition: border-color 150ms ease;
}

.container:focus-within {
  border-color: var(--mb-color-brand);
}

.filterPillsSection {
  border-radius: 0 0 var(--mantine-radius-lg) var(--mantine-radius-lg);
}

.filterButtonWithCount {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filterButtonAttachment {
  border-left: 1px solid var(--mb-color-border-filter);
}
