.container {
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  background: var(--mb-color-background-primary);
  transition: border-color 150ms ease;
}

.container:hover {
  border: 1px solid var(--mb-color-brand);
}

.container:focus-within {
  border-color: var(--mb-color-brand);
}

.container:has([data-has-error]) {
  border-color: var(--mb-color-error);
}

.filterPillsSection {
  border-radius: 0 0 var(--mantine-radius-lg) var(--mantine-radius-lg);
}

.filterButtonWithCount {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.filterButtonAttachment {
  border-inline-start: 1px solid var(--mb-color-border-filter);
}
