{:paths ["src" "resources"]
 :deps
 {com.clickhouse/clickhouse-jdbc {:mvn/version "0.9.8"
                                  :exclusions [org.apache.commons/commons-lang3
                                               org.lz4/lz4-java
                                               ;; pinned in and resolved from /deps.edn
                                               org.apache.httpcomponents.client5/httpclient5
                                               org.apache.httpcomponents.core5/httpcore5-h2]}
  ;; original org.lz4:lz4-java project is discontinued, this is the maintained fork
  at.yawk.lz4/lz4-java {:mvn/version "1.11.1"}}}
