.refreshLink {
  color: var(--mb-color-text-disabled);
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: var(--mb-color-brand);
  }

  &.disabled:hover {
    color: var(--mb-color-text-disabled);
    cursor: unset;
  }
}
