.pill {
  cursor: default;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}

@supports (field-sizing: content) {
  .field {
    flex: 0 1 auto;
    min-width: auto;
    /* stylelint-disable-next-line property-no-unknown */
    field-sizing: content;
    max-width: 100%;

    &:not(:last-child) {
      padding-left: 0.5rem;
      padding-right: 1.5rem;
    }
  }
}
