.infoIconContainer {
  padding: 1.25rem;
  border-radius: 50%;
  background-color: var(--mb-color-background_surface-brand-subtle);
  margin-bottom: var(--mantine-spacing-xl);
}

.infoLink {
  color: var(--mb-color-text-primary);
  margin-top: var(--mantine-spacing-xxxl);

  &:hover {
    color: var(--mb-color-core-brand);
  }
}
