.tooltip {
  color: var(--mb-color-tooltip-text);
  font-size: var(--mantine-font-size-sm);
  font-weight: bold;
  padding: 0.6rem 0.75rem;
  white-space: unset;
}

.arrow {
  /*
  * Disabling the clip-path property to prevent the arrow from being cut off
  * (metabase#56307)
  */
  clip-path: unset !important;
}
