@keyframes blinking {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes blinking2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes blinking3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

.suggestionLoading {
  animation-name: blinking;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.suggestionLoading2 {
  animation-name: blinking;
  animation-duration: 0.9s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.suggestionLoading3 {
  animation-name: blinking;
  animation-duration: 0.9s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.llm-pulse-icon {
  animation: pulse 1s infinite;
  cursor: wait;
}
