.input {
  color: var(--mb-color-text-primary);
  background: var(--mb-color-background-primary);
  border-color: var(--mb-color-border);
}

.innerInput {
  &::placeholder {
    color: var(--mb-color-text-tertiary);
  }
}

.error {
  &::first-letter {
    text-transform: capitalize;
  }
}
