.root {
  .innerInput {
    line-height: rem(20px);

    &::placeholder {
      color: var(--mb-color-text-disabled);
    }
  }

  .wrapper[data-with-right-section] .input {
    --input-padding-inline-end: var(--psi-button-size);
  }

  .visibilityToggle {
    color: var(--mb-color-icon-primary);

    &:disabled {
      display: inline-flex;
      color: var(--mb-color-icon-disabled);
      pointer-events: none;
    }
  }

  .section[data-position="right"] {
    width: var(--psi-button-size);
  }
}
