.sectionLink {
  display: block;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.sectionLink[data-active] {
  color: var(--mb-color-text-brand);
  background-color: var(--mb-color-brand-light);
}

.sectionLink:not([data-active]):hover {
  background-color: var(--mb-color-brand-lighter);
}

.sectionLink[data-active]:hover {
  background-color: var(--mb-color-brand-light);
}

.titleText {
  flex: 1;
}
