.menuItem {
  font-weight: 600;
  border-radius: 0.5rem;
}

.menuItem:hover {
  background-color: var(--mb-color-background-hover);
  color: var(--mb-color-text-hover);
}

.menuItem[data-active="true"] {
  color: var(--mb-color-text-selected);
  background-color: var(--mb-color-background-selected);
}

.menuItemIcon {
  opacity: 0.5;
}
