.EntityCard {
  cursor: pointer;
  border: 2px solid transparent;
  will-change: border-color;
  transition: border-color 0.2s ease-in-out;
}

.EntityCardSelected {
  border: 2px solid var(--mb-color-brand);
}
