<div class="layout-centered col col-md-6" ng-if="!sentNotification">
    <h1 class="text-brand">
        Forgot password?
    </h1>

    <form novalidate>
        <p class="text-grey-4">
            Happens to the best of us. Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        </p>

        <alert class="Form-group alert mx2" type="error" ng-if="error">The specified user does not exist in the system.</alert>

        <div class="my2">
            <input class="input block full" id="id_email" name="email" size="30" type="email" placeholder="Email address" autofocus ng-model="email">
        </div>
        <button class="Button Button--primary my2" ng-click="sendResetNotification(email)">
            Send password reset email
        </button>
    </form>

    <p class="text-grey-4">
        Please <a class="text-brand" href="mailto:datahelp@expa.com">contact us</a> if you have any trouble resetting your password.
    </p>
</div>


<div class="layout-centered col col-md-6" ng-if="sentNotification" ng-cloak>
    <h1 class="text-brand my2">
        Password reset sent.
    </h1>

    <p class="text-grey-3">We have sent you an e-mail. Please <a class="text-brand" href="mailto:datahelp@expa.com">contact us</a> if you do not receive it within a few minutes.</p>
</div>