<div class="full-height bg-white flex flex-column flex-full md-layout-centered">
    <div class="wrapper">
        <div class="Login-wrapper Grid  Grid--full md-Grid--1of2">
            <div class="Grid-cell flex layout-centered text-brand">
                <mb-logo-icon class="Logo my4 sm-my0" width="66px" height="85px"></mb-logo-icon>
            </div>
            <div class="Grid-cell bordered rounded shadowed">
                <h3 class="Login-header Form-offset mt4">
                    No Metabase account exists for this Google account.
                </h3>
                <p class="Form-offset mb4 mr4">
                    You'll need an administrator to create a Metabase account before
                    you can use Google to log in.
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/app/auth/partials/auth_scene.html'"></div>
