<div class="full-height bg-white flex flex-column flex-full md-layout-centered">
    <div class="wrapper">
        <div class="Login-wrapper Grid Grid--full md-Grid--1of2">
            <div class="Grid-cell flex layout-centered text-brand">
                <mb-logo-icon class="Logo my4 sm-my0" width="66px" height="85px"></mb-logo-icon>
            </div>
            <div class="Login-content Grid-cell">
                <form class="Form-new bg-white bordered rounded shadowed" name="form" novalidate>
                    <h3 class="Login-header Form-offset mb3">Sign in to Metabase</h3>

                    <mb-form-message form="form"></mb-form-message>

                    <div class="Form-field" mb-form-field="email">
                        <mb-form-label display-name="Email address" field-name="email"></mb-form-label>
                        <input class="Form-input Form-offset full py1" name="email" placeholder="youlooknicetoday@email.com" type="text" ng-model="email" required autofocus>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field" mb-form-field="password">
                        <mb-form-label display-name="Password" field-name="password"></mb-form-label>
                        <input class="Form-input Form-offset full py1" name="password" placeholder="Shh..." type="password" ng-model="password" required>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field">
                        <ul class="Form-offset">
                            <input name="remember" type="checkbox" ng-init="remember_me = true" ng-model="remember_me" checked> <label class="inline-block">Remember Me:</label>
                        </ul>
                    </div>

                    <div class="Form-actions p2 Grid Grid--full md-Grid--1of2">
                        <button class="Button Grid-cell" ng-class="{'Button--primary': form.$valid}" ng-click="login(email, password, remember_me)" ng-disabled="!form.$valid">
                            Sign in
                        </button>
                        <a class="Grid-cell py2 sm-py0 text-grey-3 md-text-right text-centered flex-full link" href="#" ng-click="resetPassword()">I seem to have forgotten my password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/app/auth/partials/auth_scene.html'"></div>
