<div class="full-height bg-white flex flex-column flex-full md-layout-centered">
    <div class="wrapper">
        <div class="Login-wrapper Grid  Grid--full md-Grid--1of2">
            <div class="Grid-cell flex layout-centered text-brand">
                <mb-logo-icon class="Logo my4 sm-my0" width="66px" height="85px"></mb-logo-icon>
            </div>
            <div class="Grid-cell" ng-show="!resetSuccess">
                <form class="ForgotForm Login-wrapper bg-white Form-new bordered rounded shadowed" name="form" novalidate>
                    <h3 class="Login-header Form-offset">New password</h3>

                    <p class="Form-offset text-grey-3 mb4">To keep your data secure, passwords {{passwordComplexity}}</p>

                    <mb-form-message></mb-form-message>

                    <div class="Form-field" mb-form-field="password">
                        <mb-form-label display-name="Create a new password" field-name="password"></mb-form-label>
                        <input class="Form-input Form-offset full" name="password" placeholder="Make sure its secure like the instructions above" type="password" ng-model="password" required autofocus>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-field" mb-form-field="password2">
                        <mb-form-label display-name="Confirm new password" field-name="password2"></mb-form-label>
                        <input class="Form-input Form-offset full" name="password2" placeholder="Make sure it matches the one you just entered" type="password" ng-model="password2" required>
                        <span class="Form-charm"></span>
                    </div>

                    <div class="Form-actions">
                        <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="resetPassword(password)" ng-disabled="!form.$valid">
                            Save new password
                        </button>
                    </div>
                </form>
            </div>
            <div class="Grid-cell" ng-show="resetSuccess">
                <div class="SuccessGroup bg-white bordered rounded shadowed">
                    <div class="SuccessMark">
                        <mb-icon name="check"></mb-icon>
                    </div>
                    <p>Your password has been reset.</p>
                    <p>
                        <a ng-if="newUserJoining" href="/?new" class="Button Button--primary">Sign in with your new password</a>
                        <a ng-if="!newUserJoining" href="/" class="Button Button--primary">Sign in with your new password</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/app/auth/partials/auth_scene.html'"></div>
