<div class="full-height bg-white flex flex-column flex-full md-layout-centered">
    <div class="wrapper">
        <div class="Login-wrapper Grid  Grid--full md-Grid--1of2">
            <div class="Grid-cell flex layout-centered text-brand">
                <mb-logo-icon class="Logo my4 sm-my0" width="66px" height="85px"></mb-logo-icon>
            </div>
            <div class="Grid-cell bordered rounded shadowed">
                <h3 class="Login-header Form-offset mt4">Whoops, that's an expired link</h3>
                <p class="Form-offset mb4 mr4">
                    For security reasons, password reset links expire after a little while. If you still need
                    to reset your password, you can <a href="/auth/forgot_password" class="link">request a new reset email</a>.
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/app/auth/partials/auth_scene.html'"></div>
