/**
 * Non-active items border color is pretty much hardcoded in Mantine v8.
 * Therefore we need to override it for non-active items.
 */
.item {
  --item-border-color: var(--mb-color-border-neutral);

  &::before {
    bottom: calc(var(--mantine-spacing-xxl) * -1);
  }

  &:not(:first-of-type) {
    margin-top: var(--mantine-spacing-xxl);
  }

  &[data-line-active] {
    --item-border-color: var(--tl-color);
  }
}

.itemTitle {
  margin-bottom: calc(var(--mantine-spacing-xxs) / 2);
}

.itemBullet {
  border-color: var(--mb-color-border-neutral);

  &[data-active] {
    border-color: var(--tl-color);
  }
}
