.navButton {
  color: var(--mb-color-text-primary);
  background: var(--mb-color-background_surface-primary);
  border: 1px solid var(--mb-color-border-neutral);

  &:hover {
    background: var(--mb-color-background_surface-hover);
  }

  &[data-disabled] {
    color: var(--mb-color-text-disabled);
    background: var(--mb-color-background_surface-primary);

    &:hover {
      background: var(--mb-color-background_surface-primary);
    }
  }
}

.detailsTable {
  overflow: hidden;
}

.footer {
  border-top: 1px solid var(--mb-color-border-neutral);
  padding: var(--mantine-spacing-xl);
  background-color: var(--mb-color-background_page-primary);
}
