.MapperSettingsContainer {
  z-index: 1;
  overflow: auto;
}

.TextCardDefault {
  color: var(--mb-color-text-primary);
  margin: 0.5rem 0;
  align-items: baseline;
  line-height: 1.5rem;
}

.InfoIcon {
  flex-shrink: 0;
}

.CardLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Header {
  color: var(--mb-color-text-secondary);
}

.TargetButton {
  background-color: var(--mb-color-background-primary);
  cursor: pointer;
  border: 2px solid var(--mb-color-brand);
  border-radius: 8px;
  min-height: 30px;
  color: var(--mb-color-text-secondary);

  &.disabled {
    opacity: 0.4;
    border-color: inherit;
  }

  &.mapped {
    border-color: var(--mb-color-brand);
    background-color: var(--mb-color-brand);
    color: var(--mb-color-text-primary-inverse);
  }

  &.unauthed {
    pointer-events: none;
    border-color: var(--mb-color-background-secondary);
    background-color: var(--mb-color-background-secondary);
    color: var(--mb-color-text-secondary);
  }

  &.invalid {
    border-color: var(--mb-color-error);
    background-color: var(--mb-color-error);
    color: var(--mb-color-text-primary-inverse);
  }
}

.TargetButtonText {
  overflow: hidden;
}

.CloseIconButton {
  color: var(--mb-color-text-primary-inverse);
  background-color: transparent;
  border: none;
  padding: 0.25rem !important;

  &:hover {
    color: var(--mb-color-text-primary-inverse);
    background-color: color-mix(
      in srgb,
      var(--mb-color-background-primary),
      transparent 80%
    );
  }
}

.KeyIcon {
  flex: 1;
}

.Warning {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  padding: 2rem 0;
  text-align: center;
}
