.treeNode {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.5rem;
}

.treeNode[data-selected="true"] {
  color: var(--mb-color-text-brand);
  background-color: var(--mb-color-brand-light);
}

.treeNode[data-selected="false"] {
  color: var(--mb-color-text-primary);
}

.treeNode[data-selected="false"]:hover {
  background-color: var(--mb-color-brand-lighter);
}

.treeNode[data-selected="true"]:hover {
  background-color: var(--mb-color-brand-light);
}
