.CollapsedMoveParameterMenuInput {
  text-align: center;
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;

  &::placeholder {
    color: var(--mb-color-text-primary);
    font-weight: 700;
  }

  &:hover {
    background-color: var(--mb-color-background-hover);

    &::placeholder {
      color: var(--mb-color-brand);
    }
  }
}

.MoveParameterMenuOptionIcon {
  color: var(--mb-color-text-tertiary);
}

.MoveParameterMenuOptionText {
  color: var(--mb-color-text-primary);
}

.MoveParameterMenuOption[aria-selected="true"] {
  .MoveParameterMenuOptionIcon,
  .MoveParameterMenuOptionText {
    color: var(--mb-color-text-primary-inverse);
  }
}
