.CollapsedMoveParameterMenuInput {
  text-align: center;
  border-radius: var(--mantine-radius-sm);

  &::placeholder {
    color: var(--mb-color-text-dark);
    font-weight: 700;
  }

  &:hover {
    background-color: var(--mb-color-background-hover);

    &::placeholder {
      color: var(--mb-color-brand);
    }
  }
}
