<div class="wrapper">
    <section class="clearfix">
        <a class="Button Button--primary float-right" href="/superadmin/organization/create">Add Organization</a>
        <h2 class="PageTitle">Organizations</h2>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!organizations">
                    <td colspan=4>
                        <cv-loading-icon></cv-loading-icon>
                        <h3>Loading ...</h3>
                    </td>
                </tr>
                <tr ng-repeat="org in organizations">
                    <td>
                        <a class="link" href="/superadmin/organization/{{org.id}}">{{org.name}}</a>
                    </td>
                    <td>{{org.slug}}</td>
                    <td>{{org.description}}</td>
                    <td>
                        <button class="Button Button--danger" ng-click="deleteOrganization(org)" delete-confirm>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
