<div class="wrapper">
    <section class="Breadcrumbs">
        <a class="Breadcrumb Breadcrumb--path" href="/superadmin/organization/">Organizations</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <h2 class="Breadcrumb Breadcrumb--page" ng-if="!organization.id">Add Organization</h2>
        <h2 class="Breadcrumb Breadcrumb--page" ng-if="organization.id">{{organization.name}}</h2>
    </section>

    <section>
        <div class="p4 bordered">
            <form name="form" novalidate>
                <div class="FormError" ng-show="form.$error.message">{{form.$error.message}}</div>

                <div ng-class="{'FormFieldError': form.slug.$error.message == undefined}">
                    <mb-form-label form="form" display-name="Slug" field-name="slug"></mb-form-label>
                    <input class="input full" name="slug" ng-model="organization.slug" ng-disabled="organization.id" required />
                </div>

                <div ng-class="{'FormFieldError': form.name.$error.message == undefined}">
                    <mb-form-label form="form" display-name="Name" field-name="name"></mb-form-label>
                    <input class="input full" name="name" ng-model="organization.name" required />
                </div>

                <div ng-class="{'FormFieldError': form.description.$error.message == undefined}">
                    <mb-form-label form="form" display-name="Description" field-name="description"></mb-form-label>
                    <input class="input full" name="description" ng-model="organization.description" />
                </div>

                <div ng-class="{'FormFieldError': form.logo_url.$error.message == undefined}">
                    <mb-form-label form="form" display-name="Logo url" field-name="logo_url"></mb-form-label>
                    <input class="input full" name="logo_url" ng-model="organization.logo_url" />
                </div>

                <div>
                    <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(organization)" ng-disabled="!form.$valid">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
