<div class="wrapper">
    <section class="Breadcrumbs">
        <a class="Breadcrumb Breadcrumb--path" href="/superadmin/organization/">Organizations</a>
        <cv-chevron-right-icon class="Breadcrumb-divider" width="12px" height="12px"></cv-chevron-right-icon>
        <h2 class="Breadcrumb Breadcrumb--page" ng-if="!organization.id">Add Organization</h2>
        <h2 class="Breadcrumb Breadcrumb--page" ng-if="organization.id">{{organization.name}}</h2>
    </section>

    <section class="Grid Grid--gutters Grid--full Grid--2of3">
        <!-- form -->
        <div class="Grid-cell Cell--2of3">
            <form class="Form-new bordered rounded shadowed" name="form" novalidate>
                <div class="Form-field" mb-form-field="slug">
                    <mb-form-label display-name="Slug" field-name="slug"></mb-form-label>
                    <input class="Form-input Form-offset full" name="slug" placeholder="A short name to go in URLs" ng-model="organization.slug" ng-disabled="organization.id" required />
                </div>

                <div class="Form-field" mb-form-field="name">
                    <mb-form-label display-name="Name" field-name="name"></mb-form-label>
                    <input class="Form-input Form-offset full" name="name" placeholder="What is the name of your organization?" ng-model="organization.name" required autofocus />
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-field" mb-form-field="description">
                    <mb-form-label display-name="Description" field-name="description"></mb-form-label>
                    <input class="Form-input Form-offset full" name="description" placeholder="What else should people know about this org?" ng-model="organization.description" />
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-field" mb-form-field="logo_url">
                    <mb-form-label display-name="Logo url" field-name="logo_url"></mb-form-label>
                    <input class="Form-input Form-offset full" name="logo_url" placeholder="Link to an image of your logo" ng-model="organization.logo_url" />
                    <span class="Form-charm"></span>
                </div>

                <div class="Form-actions">
                    <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(organization)" ng-disabled="!form.$valid">
                        Save
                    </button>
                    <mb-form-message></mb-form-message>
                </div>
            </form>
        </div>
    </section>
</div>
