.Calendar-weeks {
  padding-bottom: 14px;
}

.Calendar-week {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
}

.Calendar-header {
  padding: 14px;
  margin-bottom: 8px;
}

.Calendar-header h4 {
  font-weight: 700;
}

.Calendar-day-names {
  opacity: 0.12;
}

.Calendar-day,
.Calendar-day-name {
  flex: 1;
}

.Calendar-day {
  color: var(--color-text-light);
  position: relative;
  border-radius: 99px;
  font-weight: 700;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
}

.Calendar-day:hover {
  background-color: var(--color-accent7);
  color: white;
}

.Calendar-day-name {
  cursor: inherit;
}

.Calendar-day--this-month {
  color: currentcolor;
}

.Calendar-day-name {
  color: inherit !important;
}

.Calendar-day--selected,
.Calendar-day--selected-end {
  color: white !important;
  background-color: var(--color-accent7);
  z-index: 1;
}

.Calendar--range .Calendar-day--selected {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Calendar--range .Calendar-day--selected-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Calendar-day--in-range {
  border-radius: 0;
  background-color: var(--color-bg-medium);
}

.circle-button {
  display: block;
  font-size: 20px;
  color: var(--color-text-medium);
  border: 2px solid var(--color-border);
  border-radius: 99px;
  width: 24px;
  height: 24px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  z-index: 2;
}

.circle-button:hover {
  color: var(--color-accent2);
  border-color: var(--color-accent2);
}

.circle-button--top {
  position: absolute;
  top: -12px;
}
.circle-button--bottom {
  position: absolute;
  bottom: -12px;
}
.circle-button--left {
  position: absolute;
  left: -12px;
}
.circle-button--right {
  position: absolute;
  right: -12px;
}

.Calendar--noContext .Calendar-day {
  visibility: hidden;
  pointer-events: none;
}

.Calendar--noContext .Calendar-day--this-month {
  visibility: visible;
  pointer-events: all;
}
