:root {
  --title-color: var(--color-text-medium);
  --subtitle-color: var(--color-text-medium);
  --muted-color: var(--color-text-light);
  --blue-color: var(--color-brand);
}

:local(.list) {
  max-width: var(--md-width);
  composes: ml-auto mr-auto from "style";
  padding-bottom: 40px;
}

:local(.list-wrapper) {
  max-width: var(--md-width);
  composes: ml-auto mr-auto from "style";
}

:local(.list) a {
  text-decoration: none;
}

:local(.header) {
  composes: flex flex-row from "style";
  composes: mt4 mb2 from "style";
  color: var(--title-color);
  font-size: 24px;
  min-height: 48px;
}

:local(.headerBody) {
  composes: flex flex-full pb2 border-bottom from "style";
  align-items: center;
  height: 100%;
  border-color: var(--color-border);
}

:local(.headerLink) {
  composes: text-brand ml2 flex-no-shrink from "style";
  font-size: 14px;
}

:local(.headerButton) {
  composes: flex ml1 align-center from "style";
  font-size: 14px;
}

:local(.empty) {
  composes: full flex justify-center from "style";
  padding-top: 75px;
}

:local(.item) {
  composes: flex align-center from "style";
  composes: relative from "style";
}

:local(.itemBody) {
  composes: border-top from "style";
  composes: flex-full from "style";
  max-width: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: var(--color-border);
}

:local(.itemTitle) {
  composes: text-bold inline-block from "style";
  max-width: 100%;
  overflow: hidden;
  color: var(--title-color);
  font-size: 18px;
}

:local(.itemName) {
  composes: mr1 from "style";
  composes: inline-block from "style";
  max-width: 100%;
  overflow: hidden;
}

:local(.itemName):hover {
  color: var(--blue-color);
}

:local(.itemSubtitle) {
  color: var(--subtitle-color);
  font-size: 14px;
}

:local(.itemSubtitleLight) {
  color: var(--subtitle-color);
  font-size: 14px;
}

:local(.itemSubtitleBold) {
  color: var(--title-color);
}

:local(.icons) {
  composes: flex flex-row align-center from "style";
}
:local(.leftIcons) {
  composes: flex-no-shrink flex layout-centered mr2 from "style";
  composes: icons;
  width: 48px;
}
:local(.rightIcons) {
  composes: icons;
}

:local(.extraIcons) {
  composes: icons;
  composes: absolute top full-height from "style";
  right: -40px;
}

/* hack fix for IE 11 which was hiding the archive icon */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  :local(.extraIcons) {
    composes: icons;
  }
}

:local(.icon) {
  composes: relative from "style";
  color: var(--muted-color);
}

:local(.item) :local(.icon) {
  visibility: hidden;
}
:local(.item):hover :local(.icon) {
  visibility: visible;
}
:local(.icon):hover {
  color: var(--blue-color);
  transition: color 0.3s linear;
}

/* ITEM CHECKBOX */
:local(.itemCheckbox) {
  composes: icon;
  display: none;
  visibility: visible !important;
  margin-left: 10px;
}
:local(.item):hover :local(.itemCheckbox),
:local(.item.selected) :local(.itemCheckbox) {
  display: inline;
}
:local(.item.selected) :local(.itemCheckbox) {
  color: var(--blue-color);
}

/* ITEM ICON */
:local(.itemIcon) {
  composes: icon;
  visibility: visible !important;
  composes: relative from "style";
}
:local(.item):hover :local(.itemIcon),
:local(.item.selected) :local(.itemIcon) {
  display: none;
}

/* CHART ICON */
:local(.chartIcon) {
  composes: icon;
  visibility: visible !important;
  composes: relative from "style";
}

/* ACTION ICONS */
:local(.tagIcon),
:local(.favoriteIcon),
:local(.archiveIcon) {
  composes: icon;
  composes: mx1 from "style";
}

/* TAG */
:local(.open) :local(.tagIcon) {
  visibility: visible;
  color: var(--blue-color);
}

/* FAVORITE */
:local(.item.favorite) :local(.favoriteIcon) {
  visibility: visible;
  color: var(--blue-color);
}

/* ARCHIVE */
:local(.item.archived) :local(.archiveIcon) {
  color: var(--blue-color);
}

:local(.trigger) {
  line-height: 0;
}
