@import "../questions/Questions.css";

:local(.searchIcon) {
  color: var(--muted-color);
}

:local(.searchBox) {
  composes: borderless from "style";
  color: var(--title-color);
  font-size: 20px;
  width: 100%;
}
:local(.searchBox)::-webkit-input-placeholder {
  color: var(--subtitle-color);
}
