:local(.sidebar) {
  composes: py2 from "metabase/css/core/index.css";
  width: 30%;
  max-width: 500px;
  background-color: var(--color-bg-light);
  color: var(--color-text-medium);
}

:local(.sidebar) a {
  text-decoration: none;
}

:local(.item),
:local(.sectionTitle) {
  composes: flex align-center from "metabase/css/core/index.css";
  composes: py1 mb1 from "metabase/css/core/index.css";
}

:local(.item) {
  composes: rounded pl2 from "metabase/css/core/index.css";
  font-size: 1em;
  color: var(--color-text-light);
}

:local(.item) :local(.icon) {
  line-height: 1em;
}

:local(.sectionTitle) {
  composes: my1 from "metabase/css/core/index.css";
  composes: text-bold from "metabase/css/core/index.css";
  font-size: 16px;
}

:local(.item):hover,
:local(.sectionTitle):hover {
  background-color: var(--color-bg-medium);
  color: var(--color-brand);
}

:local(.item.selected),
:local(.item.selected) :local(.icon),
:local(.sectionTitle.selected) {
  color: var(--color-brand);
}
:local(.item.selected),
:local(.sectionTitle.selected) {
  background-color: rgba(80, 158, 227, 0.15);
}

:local(.divider) {
  composes: my2 from "metabase/css/core/index.css";
  composes: border-bottom from "metabase/css/core/index.css";
}

:local(.name) {
  composes: ml2 text-bold from "metabase/css/core/index.css";
  color: var(--color-text-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

:local(.item):hover :local(.name),
:local(.item.selected) :local(.name) {
  color: var(--color-brand);
}

:local(.icon) {
  composes: flex-no-shrink from "metabase/css/core/index.css";
}
