.loader {
  height: 6px;
  position: relative;
  overflow: hidden;
  background-color: #509EE3;
  border-radius: 2px;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 6px;
  background-color: #2B81CC;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
