.Page {
  background-color: var(--mb-color-background-secondary);
  min-height: 100vh;
}

:global(main):has(> .Page) {
  background-color: var(--mb-color-background-secondary);
}

.PageHeader {
  margin-bottom: 4rem;
  padding: 1rem;
  border-bottom: 1px solid var(--mb-color-border);
  background-color: var(--mb-color-background-primary);
}

.Decoy {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.PageBody {
  margin: 0 auto;
  padding-inline: 1rem;
}

@media screen and (--breakpoint-min-sm) {
  .PageBody {
    max-width: 47rem;
    padding-inline: 2rem;
  }

  .Decoy {
    display: block;
  }
}
