.separator {
  flex: 0 0 auto;

  input {
    font-family: Monaco, monospace;
  }
}

.column {
  flex: 1;
}

.remove {
  flex: 0 0 auto;
  border-color: transparent !important;
}

.root {
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  &:not(:only-child) {
    margin-top: 0;
  }
}

.dropdown {
  display: none;
}

.placeholder {
  position: absolute;
  bottom: 0.5rem;
  left: 0.75rem;
  pointer-events: none;
}
