.separator {
  flex: 0 0 auto;

  input {
    font-family: Monaco, monospace;
  }
}

.column {
  flex: 1;
}

.remove {
  flex: 0 0 auto;
  border-color: transparent !important;
}

.dropdown {
  display: none;
}

.placeholder {
  position: absolute;
  bottom: 0.5rem;
  left: 0.75rem;
  pointer-events: none;
}

.button {
  justify-content: space-between !important;
  font-weight: normal;
}

button.root {
  &:hover {
    background: none;
  }

  &:hover .button {
    color: var(--color-text-dark);
  }

  &.open,
  &:focus-visible {
    border-color: var(--color-brand);
    outline: none;
  }
}
