<!DOCTYPE html>
<html lang="en" ng-app="corvus" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>Metabase</title>

        <link rel="stylesheet" href="/app/dist/styles.css"/>
        <script charset="utf-8" src="/app/dist/styles.js"></script>
    </head>

    <body ng-controller="Corvus">

        <div ng-controller="Nav" ng-if="user" ng-cloak>
            <!-- MAIN NAV -->
            <nav class="CoreNav clearfix" ng-show="nav === 'main'">
                <div class="col col-sm-12">
                    <div class="NavItem float-left">
                        <span class="NavItem-text">{{siteName}}</span>
                    </div>

                    <ul class="float-left ml4">
                        <li class="inline-block">
                            <a class="NavItem NavItem-withIcon" href="/dash/" selectable-nav-item="dashboards">
                                <mb-icon class="IconWrapper" name="dashboards"/></mb-icon>
                                <span class="NavItem-text">Dashboards</span>
                            </a>
                        </li>
                        <li class="inline-block">
                            <a class="NavItem NavItem-withIcon" href="/card/" selectable-nav-item="cards">
                                <mb-icon class="IconWrapper" name="cards"></mb-icon>
                                <span class="NavItem-text">Cards</span>
                            </a>
                        </li>
                        <li class="inline-block">
                            <a class="NavItem NavItem-withIcon" href="/explore/" selectable-nav-item="explore">
                                <mb-icon class="IconWrapper" name="explore"></mb-icon>
                                <span class="NavItem-text">Explore</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="float-right">
                        <li class="Dropdown inline-block" dropdown on-toggle="toggled(open)">
                            <a class="NavItem" selectable-nav-item="settings" dropdown-toggle>
                                <span class="NavItem-text" ng-if="!user.first_name">Me</span>
                                <span class="NavItem-text" ng-if="user.first_name">{{user.first_name}}</span>
                                <mb-icon name="chevrondown" width="8px" height="8px"></mb-icon>
                            </a>
                            <ul class="Dropdown-content right">
                                <li class="" ><a class="link" href="/user/edit_current">Account Settings</a></li>
                                <li class="" ><a class="link" ng-if="userIsSuperuser" href="/admin/">Administration</a></li>
                                <li class="" ><a class="link" href="/auth/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- ADMIN NAV -->
            <nav class="AdminNav" ng-show="nav === 'admin'">
                <div class="wrapper flex align-center">
                    <div class="NavTitle flex align-center">
                        <mb-icon name="gear" class="AdminGear" width="22px" height="22px"></mb-icon>
                        <span class="NavItem-text ml1">Site Administration</span>
                    </div>

                    <!-- admin sections -->
                    <ul class="ml4 flex flex-full">
                        <li>
                            <a class="NavItem" ng-class="{ 'is--selected' : isActive('/admin/settings')}" href="/admin/settings/">
                                <span class="NavItem-text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="NavItem" ng-class="{ 'is--selected' : isActive('/admin/people')}" href="/admin/people/">
                                <span class="NavItem-text">People</span>
                            </a>
                        </li>
                        <li>
                            <a class="NavItem" ng-class="{ 'is--selected' : isActive('/admin/databases')}" href="/admin/databases/">
                                <span class="NavItem-text">Databases</span>
                            </a>
                        </li>
                    </ul>

                    <!-- user profile dropdown -->
                    <mb-profile-link user="user" context="nav"></mb-profile-link>
                </div>
            </nav>
        </div>

        <div class="MainContent flex flex-column full-height" ng-view></div>
    </body>

    <script src="/app/dist/vendor.js"></script>
    <script src="/app/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="/app/dist/app.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
          google: {
            families: ['Lato:n1,n2,n4,n7']
          }
        });
      </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60817802-1', 'auto');
    ga('send', 'pageview');
    </script>
</html>
