{% load compress %}
<!DOCTYPE html>
<html ng-app="superadmin" class="no-js">
    <head>
        {% include "meta.html" %}
        <title>Corvus - Admin</title>
        {% compress css %}
        <link rel="stylesheet" href="/static/app/dist/corvus.css">
        {% endcompress %}
    </head>
    <body ng-controller="SuperAdminBase">
        <div class="wrapper">
            <div class="border-bottom bg-white py1 clearfix">
                <div class="mx1 my2 float-right">
                    <a class="link inline-block" href="/" target="_self">Exit SuperAdmin</a>
                </div>
                <h3 class="AdminPageTitle my2">Site Administration</h3>
            </div>
            <div class="clearfix">
                <nav class="col col-sm-3">
                    <ul class="CoreNav">
                        <li>
                            <a class="NavItem NavItem--large" href="/superadmin/">Global Settings</a>
                        </li>
                        <li>
                            <a class="NavItem NavItem--large" href="/superadmin/organizations/">Organizations</a>
                        </li>
                        <li>
                            <a class="NavItem NavItem--large" href="/superadmin/datamarts/">DataMarts</a>
                        </li>
                    </ul>
                </nav>
                <div class="col col-sm-9" ng-view></div>
            </div>
        </div>
    </body>
    {% include "js.html" %}
</html>
