.dropdown {
  display: flex;
}

.tooltip {
  background: var(--mb-color-background);
  z-index: 1000;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 20px 0;
  flex-grow: 1;
  flex-direction: column;
  font-size: 14px;

  &:empty {
    display: none;
  }
}
