.tooltip {
  background: var(--mb-color-background);
  border: 1px solid var(--mb-color-border) !important;
  z-index: 1000;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 20px 0;
  display: flex;
  flex-direction: column;

  &:empty {
    display: none;
  }
}

.listbox {
  flex-shrink: 1;
  min-height: 0;
  overflow-y: auto;
}

.item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,
  &[aria-selected="true"] {
    color: inherit;
    background-color: var(--mb-color-focus);
  }

  .icon {
    margin-right: 8px;
    height: 14px;
  }
}

.footer {
  /* TODO: use correct color */
  background-color: #fafafb;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: var(--mb-color-text-secondary);
  border-top: 1px solid var(--mb-color-border);
  font-size: 12px;
}

.key {
  padding: 6px;
  border-radius: 6px;
  background-color: var(--mb-base-color-orion-10);
  height: 12px;
  width: 12px;
  margin: 0 4px;

  & + .key {
    margin-left: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}
