.section {
  border-top-color: var(--mb-color-border);
  border-bottom-color: var(--mb-color-border);

  &[data-first-section] {
    border-bottom-color: var(--mb-color-border);
  }
}
[data-variant="subtle"] {
  border: none;
  box-shadow: none;
  background: transparent !important;
}
