.section {
  border-top-color: var(--mb-color-border);
  border-bottom-color: var(--mb-color-border);

  &[data-first-section] {
    border-bottom-color: var(--mb-color-border);
  }
}

.Card {
  &[data-variant="admin"] {
    box-shadow: none;
    border: 1px solid var(--mb-color-border);
  }
}
