.separator {
  flex: 0 0 auto;
}

.column {
  flex: 1;
}

.remove {
  flex: 0 0 auto;
  border-color: transparent !important;
}

.whitespacePlaceholder {
  pointer-events: none;
  user-select: none;
}
