.chartContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 20rem;
}

.exploreButtonOverlay {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-lg);
  z-index: 1;
}

.visualizationPanel {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
