.SetupSection {
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
}

.StatusBadge {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
