.row {
  position: relative;
  white-space: nowrap;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.handle {
  width: 1px;
  height: 1px;
  background: transparent;
  border: none;
  opacity: 0;
}
