---
title: Content verification
---

# Content verification

{% include plans-blockquote.html feature="Content verification" %}

![Verified icon](./images/verified-icon.png)

Admins can verify items to let others know that the content is accurate and up to date with the correct data source and query.

## Benefits of verifying an item

- Verified items get a fancy blue checkmark next to them.
- Verified items are more likely to show up higher in search suggestions and search results.
- The models and metrics browsers allow you to filter for verified items.

## Verifying items

To verify an item, an Admin can click on the three-dot menu (**...**) in the upper right when viewing that item and select: **Verify this item**.

If anyone makes any changes to the item, the check mark will disappear. An admin will have to verify item again to restore the check mark.

To remove verification from an item, Admins can visit the item, click on the three-dot menu (**...**) and select **remove verification**.

## Verifiable items

Admins can verify the following items:

- [Questions](../questions/start.md)
- [Models](../data-modeling/models.md)
- [Metrics](../data-modeling/metrics.md)
- [Dashboards](../dashboards/introduction.md)
