.clip {
  overflow: hidden;
}

.text {
  overflow-wrap: anywhere;
}

.crumb {
  color: inherit;

  &:hover,
  &:focus-visible {
    color: var(--mb-color-text-brand-hover);
    text-decoration: underline dotted;
  }
}

.crumbs {
  justify-content: flex-end;
}
