.StyledAnchor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  &:hover {
    color: var(--mb-color-text-dark);
  }
}

.Disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
