["And with me, I don't give a f**k, bro; it is what it is. I'm the best—now what? I don't know if that's a vain statement. I don't particularly like photos of myself, though."
 "Ask yourself why did you love music in the first place and what can you do to add to the story."
 "But for me to have the opportunity to stand in front of a bunch of executives and present myself, I had to hustle in my own way. I can't tell you how frustrating it was that they didn't get that. No joke - I'd leave meetings crying all the time."
 "Damn Yeezy, they all gotta be dimes? Well, Adam gave up a rib so mine better be prime."
 "Exes can be mad but just know I never let them play with my ass... I don't do that... I stay away from that area all together."
 "Fashion breaks my heart."
 "For me, first of all, dopeness is what I like the most. Dopeness. People who want to make things as dope as possible, and, by default, make money from it."
 "F**k all this d**k swinging contest. We all gon be dead in 100 Years. Let the kids have the music."
 "Fur pillows are hard to actually sleep on."
 "Here's something that's contrary to popular belief: I actually don't like thinking. I think people think I like to think a lot. And I don't. I do not like to think at all."
 "Hi Grammys this is the most important living artist talking."
 "How many m*****f***ers you done seen with a leather jogging pant?"
 "I actually don't like thinking. I think people think I like to think a lot. And I don't. I do not like to think at all."
 "I am God's vessel. But my greatest pain in life is that I will never be able to see myself perform live."
 "I am in the lineage of Gil Scott-Heron, great activist-type artists. But I'm also in the linage of a Miles Davis, you know, that liked nice things too."
 "I am not a fan of books. I would never want a book's autograph. I am a proud non-reader of books."
 "I am so credible and so influential and so relevant that I will change things."
 "I am the number one human being in music. That means any person that's living or breathing is number two."
 "I believe that bad taste is vulgar. It's like cursing. I think the world can be saved through design, because what is the most distasteful thing someone can do? Kill someone. So, good taste is the opposite of that."
 "I can always tell if a band has a British rhythm section due to the gritty production."
 "I didn't want to play it boring and safe. I also didn't want to innovate too much. Second albums, man, they're even scarier than first ones."
 "I don't even listen to rap. My apartment is too nice to listen to rap in."
 "I don't know what's better gettin' laid or gettin' paid."
 "I don't personally like suit jackets anymore. I especially hate suit jackets on women... that was a groundbreaking idea 5 million years ago."
 "I feel like I'm too busy writing history to read it."
 "I feel like the type of girl I would be with is a fellow superhero. So we get that 'already flying and now we're just flying together' thing."
 "I got rid of my phone so I can have air to create."
 "I hate when I'm on a flight and I wake up with a water bottle next to me like oh great now I gotta be responsible for this water bottle."
 "I have decided, in 2020, to run for president!"
 "I jog in Lanvin."
 "I know I got angels watchin me from the other side."
 "I like T-shirts and women in yoga pants... I live in LA that's what some people wear... not sure why someone would put a suit jacket with that."
 "I love her nude selfies. Like, I love ones from the side, the back ones, and the front. I just love seeing her naked; I love nudity. And I love beautiful shapes. I feel like it's almost a Renaissance thing, a painting, a modern version of a painting. I think it's important for Kim to have her figure. To not show it would be like Adele not singing."
 "I need Tim Cook Jay Z Dez Jimmy Larry me and Drake Scooter on the phone or in a room this week!!!"
 "I paid my dues when I had to wear a kilt in Chicago, and friends would say, 'What's your boy got on?' but there are warriors that have killed people in kilts in the past."
 "I really appreciate the moments that I was able to win rap album of the year or whatever."
 "I refuse to accept other people's ideas of happiness for me. As if there's a 'one size fits all' standard for happiness."
 "I still think I am the greatest."
 "I thank Marc Jacobs so much for giving me the opportunity to design a shoe for Louis Vuitton, but the thing that broke my heart most was when they said, 'You're finished. The shoe's finished.'"
 "I think I do myself a disservice by comparing myself to Steve Jobs and Walt Disney and human beings that we've seen before. It should be more like Willy Wonka... and welcome to my chocolate factory."
 "I think what Kanye West is going to mean is something similar to what Steve Jobs means. I am undoubtedly, you know, Steve of internet, downtown, fashion, culture. Period. By a long jump. I honestly feel that because Steve has passed, you know, it's like when Biggie passed and Jay Z was allowed to become Jay Z."
 "I used to have insecurity about my finances, then I announced that I had debt, and now I don't have any insecurities."
 "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus."
 "I will go down as the voice of this generation, of this decade, I will be the loudest voice."
 "I would hear stories about Steve Jobs and feel like he was at 100 percent exactly what he wanted to do, but I'm sure even a Steve Jobs has compromised. Even a Rick Owens has compromised. You know, even a Kanye West has compromised. Sometimes you don't even know when you're being compromised till after the fact, and that's what you regret."
 "I'll say things that are serious and put them in a joke form so people can enjoy them. We laugh to keep from crying."
 "I'm a designer. A musician. A manager. The media try to dishumanise [sic] people who believe in themselves."
 "I'm a pop enigma. I live and breathe every element in life. I rock a bespoke suit and I go to Harold's for fried chicken. It's all these things at once, because, as a taste maker, I find the best of everything."
 "I'm doing pretty good as far as geniuses go... I'm like a machine. I'm a robot. You cannot offend a robot."
 "I'm going to be the Tupac of clothing."
 "I'm not even gon lie to you. I love me so much right now."
 "I'm pretty calculating. I take stuff that I know appeals to people's bad sides and match it up with stuff that appeals to their good sides."
 "I'm the closest that hip-hop is getting to God. In some situations I'm like a ghetto Pope."
 "If I was just a fan of music, I would think that I was the number one artist in the world."
 "If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don't appreciate the moment until it's passed."
 "If you read books -- which I don't, none at all -- about how to become a billionaire, they always say, 'You learn more from your mistakes.' So if you learn from your mistakes, then I'm a f**king genius."
 "It was a strike against me that I didn't wear baggy jeans and jerseys and that I never hustled, never sold drugs."
 "It's only led me to complete awesomeness at all times. It's only led me to awesome truth and awesomeness."
 "It’s our life's mission to create the most transformative experiences."
 "Just imagine if I woke up one day and I was whack. What would I do then?"
 "Keep your nose out the sky, keep your heart to god, and keep your face to the raising sun."
 "Know your worth! People always act like they're doing more for you than you're doing for them."
 "Man, I'm the No. 1 living and breathing rock star. I am Axl Rose; I am Jim Morrison; I am Jimi Hendrix."
 "McDonalds is my favorite brand."
 "Michael Jordan changed so much in basketball, he took his power to make a difference. It's so much going on in music right now and somebody has to make a difference."
 "My goal, if I was going to do art, fine art, would have been to become Picasso or greater... That always sounds so funny to people, comparing yourself to someone who has done so much, and that's a mentality that suppresses humanity."
 "My message isn't perfectly defined. I have, as a human being, fallen to peer pressure."
 "Nobody can tell me where I can and can't go."
 "Nothing in life is promised except death."
 "Oh my God, I'm one of the greatest rappers in the world."
 "One of my biggest achilles heels has been my ego. And if I, Kanye West, can remove my ego, I think there's hope for everyone."
 "One of the problems with being a bubbling source of creativity - it's like I'm bubbling in a laboratory, and if you don't put a cap on it, at one point it will, like, break the glass. If I can hone that... then I have, like, nuclear power, like a superhero, like Cyclops when he puts his glasses on."
 "Our work is never over."
 "People always say that you can't please everybody. I think that's a cop-out. Why not attempt it? 'Cause think of all the people you will please if you try."
 "People ask me a lot about my drive. I think it comes from, like, having a sexual addiction at a really young age. Look at the drive that people have to get sex - to dress like this and get a haircut and be in the club in the freezing cold at 3 AM, the places they go to pick up a girl. If you can focus the energy into something valuable, put that into work ethic."
 "So, the voices in my head told me go, and then I just walked up, like, halfway up the stage... But I just didn't really want to take away from Beck's moment, or the time he's having to talk. It was kind of a joke - like the Grammys themselves."
 "Sometimes I get emotional over fonts."
 "Sometimes people write novels and they just be so wordy and so self-absorbed."
 "The Bible had 20, 30, 40, 50 characters in it. You don't think that I would be one of the characters of today's modern Bible?"
 "The concept of commercialism in the fashion and art world is looked down upon. You know, just to think, 'What amount of creativity does it take to make something that masses of people like?' And, 'How does creativity apply across the board?'"
 "The world needs a guy like me. The world needs somebody to not be scared and tell his truth."
 "There are some lame fake accounts trying to make Kanye-isms that are not Mark Twain level."
 "There's nothing I really wanted to do in life that I wasn't able to get good at. That's my skill. I'm not really specifically talented at anything except for the ability to learn. That's what I do. That's what I'm here for."
 "They say you can rap about anything except for Jesus, that means guns, sex, lies, video tapes, but if I talk about God my record won't get played Huh?"
 "Visiting my mind is like visiting the Hermès factory. Sh*t is real."
 "We all self-conscious. I'm just the first to admit it."
 "We were on the jet, flying back... and we were watching Mean Girls. And that's how we party."
 "When I think of competition it's like I try to create against the past. I think about Michelangelo and Picasso, you know, the pyramids."
 "When you're the absolute best, you get hated on the most."
 "Whoa by 50 percent [I am more influential than] Stanley Kubrick, Apostle Paul, Picasso... f****** Picasso and Escobar. By 50 per cent more influential than any other human being."
 "Would you believe in what you believe in if you were the only one who believed it?"
 "Y'all are acting like this ain't the most beautiful woman of all time. Wait a second, wait a second - I'm talking about arguably of human existence. The top 10 of human existence... I don't give a f**k what type of jacket she got on."
 "You don't have to be scared of me, because I am loyal. Why are people so scared of creative ideas and so scared of truth? All I want to do is do good."
 "You should only believe about 90 percent of what I say. As a matter of fact, don't even believe anything that I'm saying at all. I could be completely f**king with you, and the world, the entire time."]
