{:Card       [:description
              :archived
              :collection_position
              :table_id
              :result_metadata
              :database_id
              :enable_embedding
              :collection_id
              :query_type
              :name
              :creator_id
              :made_public_by_id
              :embedding_params
              :cache_ttl
              :dataset_query
              :parameter_mappings
              :serdes/meta
              :display
              :entity_id
              :collection_preview
              :visualization_settings
              :parameters
              :dataset
              :created_at
              :public_uuid],
 :Collection [:description
              :archived
              :slug
              :name
              :personal_owner_id
              :type
              :aauthority_level
              :parent_id
              :serdes/meta
              :entity_id
              :namespace
              :created_at],
 :Dashboard  [:description
              :archived
              :collection_position
              :ordered_cards
              :enable_embedding
              :collection_id
              :show_in_getting_started
              :name
              :caveats
              :creator_id
              :made_public_by_id
              :embedding_params
              :cache_ttl
              :ordered_tabs
              :serdes/meta
              :position
              :entity_id
              :parameters
              :auto_apply_filters
              :created_at
              :public_uuid
              :points_of_interest],
 :Database   [:description
              :cache_field_values_schedule
              :timezone
              :auto_run_queries
              :metadata_sync_schedule
              :name
              :settings
              :caveats
              :creator_id
              :is_full_sync
              :cache_ttl
              :details
              :is_sample
              :is_on_demand
              :serdes/meta
              :options
              :engine
              :initial_sync_status
              :is_audit
              :dbms_version
              :refingerprint
              :created_at
              :points_of_interest],
 :FieldValue [:created_at
              :hash_key
              :has_more_values
              :last_used_at
              :type
              :human_readable_values
              :values
              :serdes/meta],
 :Field      [:description
              :database_type
              :semantic_type
              :table_id
              :coercion_strategy
              :name
              :fingerprint_version
              :has_field_values
              :settings
              :caveats
              :fk_target_field_id
              :dimensions
              :custom_position
              :effective_type
              :active
              :nfc_path
              :parent_id
              :last_analyzed
              :serdes/meta
              :database_is_auto_increment
              :json_unfolding
              :position
              :visibility_type
              :preview_display
              :display_name
              :database_position
              :database_required
              :fingerprint
              :created_at
              :base_type
              :points_of_interest],
 :Table      [:description
              :entity_type
              :schema
              :show_in_getting_started
              :name
              :caveats
              :active
              :db_id
              :serdes/meta
              :visibility_type
              :field_order
              :is_upload
              :initial_sync_status
              :display_name
              :created_at
              :points_of_interest]}
