@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinnerIcon {
  box-sizing: border-box;
  border: var(--border-width) solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: spinner 1.3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &::after {
    content: "";
    display: inherit;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border: var(--border-width) solid currentColor;
    border-radius: 50%;
    opacity: 0.25;
    position: relative;
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
  }
}
