.row {
  border-top: 1px solid var(--mb-color-border-neutral-subtle);
}

.rowLink {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  color: var(--mb-color-text-primary);

  &:hover {
    .rowIcon,
    .rowName {
      color: var(--mb-color-core-brand);
    }
  }
}

.rowName {
  color: var(--mb-color-text-primary);
}

.inSyncIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--mb-color-background_page-secondary);
}

.rowStatus {
  flex-shrink: 0;
  white-space: nowrap;
}
