{:id     "S01"
 :focus  "default multiword Boolean and cross-field matches"
 :config "simple"
 :query  "amber cobalt"
 :docs   {:A {:name "amber"}
          :B {:name "cobalt"}
          :C {:name "amber cobalt"}
          :D {:name "amber", :description "cobalt"}
          :E {:name "indigo"}}
 :expect {:in-place       [:A :B :C :D]
          :appdb-h2       [:C :D]
          :appdb-postgres [:C :D]
          :semantic       {:keyword [:C :D], :vector []}}
 :comparisons
 [{:id     "T01"
   :focus  "OR across ordinary tokens"
   :target :in-place
   :alternatives
   {:appdb-h2       {:query "amber", :hits [:A :C :D]}
    :appdb-postgres {:query "amber or cobalt", :hits [:A :B :C :D]}
    :semantic       {:query "amber or cobalt", :hits [:A :B :C :D]}}}
  {:id     "T04"
   :focus  "conjunction of substrings"
   :target :appdb-h2
   :alternatives
   {:in-place {:query "amber", :hits [:A :C :D]}}}]}
