{:id     "S03"
 :focus  "last-word prefix versus arbitrary substring"
 :config "simple"
 :query  "amber co"
 :docs   {:A {:name "amber cobalt"}
          :B {:name "amber corgi"}
          :C {:name "amber taco"}
          :D {:name "amber"}
          :E {:name "co amber"}}
 :expect {:in-place       [:A :B :C :D :E]
          :appdb-h2       [:A :B :C :E]
          :appdb-postgres [:A :B :E]
          :semantic       {:keyword [:A :B :E], :vector []}}
 :comparisons
 [{:id     "T09"
   :focus  "prefix only on the final word"
   :target :appdb-postgres}]}
