{:id     "S09e"
 :focus  "English stopword removal"
 :config "english"
 :query  "the widget"
 :docs   {:A {:name "the widget"}
          :B {:name "widget"}
          :C {:name "the gadget"}}
 :expect {:in-place       [:A :B :C]
          :appdb-h2       [:A]
          :appdb-postgres [:A :B]
          :semantic       {:keyword [:A :B], :vector []}}
 :comparisons
 [{:id     "T10"
   :focus  "English stopword"
   :target :appdb-postgres
   :alternatives
   {:in-place {:query "widget", :hits [:A :B]}
    :appdb-h2 {:query "widget", :hits [:A :B]}}}]}
