{:id     "S09s"
 :focus  "same documents/query without English stopword removal"
 :config "simple"
 :query  "the widget"
 :docs   {:A {:name "the widget"}
          :B {:name "widget"}
          :C {:name "the gadget"}}
 :expect {:in-place       [:A :B :C]
          :appdb-h2       [:A]
          :appdb-postgres [:A]
          :semantic       {:keyword [:A], :vector []}}}
