{:id     "S11"
 :focus  "not is an ordinary word, not a negation operator"
 :config "simple"
 :query  "amber not cobalt"
 :docs   {:A {:name "amber cobalt"}
          :B {:name "amber not cobalt"}
          :C {:name "amber"}
          :D {:name "not cobalt"}}
 :expect {:in-place       [:A :B :C :D]
          :appdb-h2       [:B]
          :appdb-postgres [:B]
          :semantic       {:keyword [:B], :vector []}}}
