{:id     "S14e"
 :focus  "a query consisting only of an English stopword"
 :config "english"
 :query  "the"
 :docs   {:A {:name "the"}
          :B {:name "theater"}
          :C {:name "other"}
          :D {:name "widget"}}
 :expect {:in-place       [:A :B :C]
          :appdb-h2       [:A :B :C]
          :appdb-postgres []
          :semantic       {:keyword [], :vector []}}
 :comparisons
 [{:id     "T12"
   :focus  "stopword-only query becomes an empty text query"
   :target :appdb-postgres}]}
