{:id     "S15"
 :focus  "percent is literal in substring search but token punctuation in PostgreSQL"
 :config "simple"
 :query  "foo%bar"
 :docs   {:A {:name "fooxbar"}
          :B {:name "foobar"}
          :C {:name "foo%bar"}
          :D {:name "foo bar"}
          :E {:name "barfoo"}
          :F {:name "foo-bar"}
          :G {:name "foopizza"}}
 :expect {:in-place       [:C]
          :appdb-h2       [:C]
          :appdb-postgres [:C :D :F]
          :semantic       {:keyword [:C :D :F], :vector []}}
 :comparisons
 [{:id     "T15"
   :focus  "reproduce H2's literal percent substring"
   :target :appdb-h2}
  {:id     "T16"
   :focus  "reproduce PostgreSQL's punctuation tokenization"
   :target :appdb-postgres}]}
