{:id     "S18e"
 :focus  "English stopword inside a positional phrase"
 :config "english"
 :query  "\"amber and cobalt\""
 :docs   {:A {:name "amber and cobalt"}
          :B {:name "amber cobalt"}
          :C {:name "amber bright cobalt"}
          :D {:name "amber and bright cobalt"}
          :E {:name "\"amber and cobalt\""}}
 :expect {:in-place       [:A :D :E]
          :appdb-h2       [:E]
          :appdb-postgres [:A :C :E]
          :semantic       {:keyword [:A :C :E], :vector []}}
 :comparisons
 [{:id     "T19"
   :focus  "English stopword inside a phrase"
   :target :appdb-postgres
   :alternatives
   {:in-place {:query "amber cobalt", :hits [:A :B :C :D :E]}
    :appdb-h2 {:query "amber cobalt", :hits [:A :B :C :D :E]}}}]}
