{:id     "S23"
 :focus  "LIKE escape character and percent are both literal query text"
 :config "simple"
 :query  "!%"
 :docs   {:A {:name "literal !% marker"}
          :B {:name "literal % marker"}
          :C {:name "literal ! marker"}
          :D {:name "literal marker"}}
 :expect {:in-place       [:A]
          :appdb-h2       [:A]
          :appdb-postgres []
          :semantic       {:keyword [], :vector []}}}
