{:id     "S25"
 :focus  "punctuation-only query can still return a semantic vector hit"
 :config "simple"
 :query  "%"
 :docs   {:A {:name "amber"}
          :B {:name "cobalt"}
          :C {:name "indigo"}}
 :expect {:in-place       []
          :appdb-h2       []
          :appdb-postgres []
          :semantic       {:keyword [], :vector [:B]}}}
