.notebookContainer {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow-y: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
}

.sqlPreview {
  position: absolute;
  inset: 0;
}

.sqlSidebar {
  position: relative;
  border-left: 1px solid var(--color-border);
}
