:root {
  --notebook-width: 40rem;
  --sidebar-width: 428px;
}

.notebookContainer {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow-y: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;

  @media screen and (--breakpoint-min-lg) {
    min-width: var(--notebook-width);
  }
}

.sqlSidebar {
  position: absolute;
  inset: 0;

  @media screen and (--breakpoint-min-lg) {
    position: relative;
    flex: 0;
    border-left: 1px solid var(--color-border);
  }

  @media screen and (--breakpoint-min-lg) {
    flex-basis: var(--sidebar-width);
  }
}
