.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--mb-color-background_page-primary);
}

.tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.mbql {
  flex: 1;
  min-height: 0;
  overflow: auto;
  border-top: 1px solid var(--mb-color-border-neutral);
}

.mbql :global(.cm-editor) {
  height: 100%;
}
