.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--mb-color-background_page-primary);
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
}
