{
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@mantine/core",
            "message": "Please import from `metabase/ui` instead."
          },
          {
            "name": "moment",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "moment-timezone",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "@storybook/testing-library",
            "message": "Please use `testing-library/react` or `@testing-library/user-event`"
          },
          {
            "name": "react-redux",
            "importNames": ["useSelector", "useDispatch", "connect"],
            "message": "Please use \"useSdkSelector\", \"useSdkDispatch\""
          },
          {
            "name": "metabase/lib/redux",
            "importNames": ["useStore", "useDispatch"],
            "message": "Please use \"useSdkStore\", \"useSdkDispatch\""
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.stories.tsx"],
      "rules": {
        "import/no-default-export": 0,
        "no-restricted-imports": 0
      }
    }
  ]
}
