{
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react-redux",
            "importNames": ["useSelector", "useDispatch", "connect"],
            "message": "Please use \"useSdkSelector\", \"useSdkDispatch\""
          },
          {
            "name": "metabase/lib/redux",
            "importNames": ["useStore", "useDispatch"],
            "message": "Please use \"useSdkStore\", \"useSdkDispatch\""
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.stories.tsx"],
      "rules": {
        "import/no-default-export": 0,
        "no-restricted-imports": 0
      }
    }
  ]
}
