.triggerButtonLabel {
  display: flex;
  gap: 0.5rem;
}

.triggerButton {
  border-radius: 0;
  visibility: hidden;
  color: var(--mb-color-text-secondary-inverse);
  border-left: 2px solid var(--mb-color-text-tertiary-inverse);
}

.chevronIcon {
  color: var(--mb-color-text-primary-inverse);
  flex: 0 0 auto;
}
