.chat {
  --metabot-chat-messages-padding-top: 2rem;
}

.topFade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: linear-gradient(
    to bottom,
    var(--mb-color-background_page-primary),
    transparent
  );
  pointer-events: none;
  z-index: 1;
}
