.icon {
  --mb-color-logo-primary: var(--mb-base-color-brand-40);
  --mb-color-logo-secondary: var(--mb-base-color-brand-20);
}

.disabled {
  --mb-color-logo-primary: var(--mb-base-color-gray-30);
  --mb-color-logo-secondary: var(--mb-base-color-gray-10);
}

.labelMuted:not([data-css-specificity-hack="🐈"]) {
  --mb-color-label-text: var(--mb-color-text-dark);
  --mb-color-label-background: var(--mb-base-color-gray-20);
}
