<div class="wrapper">
    <div class="col col-sm-12">
        <div class="py2">
            <a class="Button Button--primary float-right my1" href="/dash/create">Create Dashboard</a>
            <h2>Dashboards</h2>
        </div>
        <div class="List">
            <div class="List-filters List-section clearfix">
                <div class="float-left">
                    <span class="List-filterLabel float-left">Filter:</span>
                    <div class="Button-group">
                        <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'all' }" ng-click="filter('all')">all</a>
                        <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'mine' }" ng-click="filter('mine')">mine</a>
                    </div>
                </div>
                <div class="float-right">
                    <input class="input" type="text" ng-model="searchFilter" placeholder="Search...">
                </div>
            </div>
            <ul>
                <li class="List-item List-section" ng-repeat="dash in dashboards | filter:searchFilter">
                    <div class="float-right my2">
                        <span class="List-timeStamp mx3 inline-block">{{dash.updated_at | date : 'MMM d, y, hh:mm a'}}</span>
                        <a class="Button Button--remove" href="#" ng-click="deleteDash(dash.id)" delete-confirm>Delete</a>
                    </div>
                    <h3>
                        <a class="link text-normal" href="/dash/{{dash.id}}">{{dash.name}}</a>
                    </h3>
                    <p>{{dash.description}}</p>
                    <span class="text-grey-3">Created by: {{dash.creator.common_name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
