<div class="wrapper">
    <div class="py2 border-bottom">
        <h2>Dashboards for {{cardName}}</h2>
    </div>
    <div class="List">
        <div class="List-filters List-section clearfix">
            <div class="float-left">
                <span class="List-filterLabel float-left">Filter:</span>
                <div class="Button-group">
                    <a class="Button" ng-click="filter('all')">all</a>
                    <a class="Button" ng-click="filter('mine')">mine</a>
                </div>
            </div>
            <div class="float-right">
                <input class="input" type="text" ng-model="searchFilter" placeholder="Search...">
            </div>
        </div>
        <ul>
            <li class="List-item List-section" ng-repeat="dash in dashboards | filter:searchFilter">
                <span class="List-timeStamp float-right">{{dash.updated_at | date : 'MMM d, y, hh:mm a'}}</span>
                <h3>
                    <a class="link text-normal" cv-org-href="/dash/{{dash.id}}">{{dash.name}}</a>
                </h3>
                <p>{{dash.description}}</p>
                {{dash.creator.common_name}}
            </li>
        </ul>
    </div>
</div>
