<div class="Dashboard full-height">

    <div class="wrapper full-height" ng-if="dashboardLoaded && dashboardLoadError">
        <div class="full-height text-centered flex layout-centered">
            <h2 class="text-error text-grey-1">{{dashboardLoadError}}</h2>
        </div>
    </div>

    <div class="text-centered my4 py4" ng-if="!dashboardLoaded">
        <div class="wrapper">
            <div class="my4 py4 text-brand">
                <mb-loading-icon></mb-loading-icon>
                <h1 class="text-normal text-grey-2">Loading...</h1>
            </div>
        </div>
    </div>

    <div ng-if="dashboardLoaded && !dashboardLoadError">
        <header class="py2 mt2 border-bottom">
            <div class="wrapper flex align-center">
                <div class="Entity">
                    <div class="flex align-center">
                        <h4 class="Entity-title">{{dashboard.name}}</h4>
                        <span class="Badge Badge--permissions ml2" ng-if="dashboard.public_perms === 0">
                            <mb-icon name="lock" width="12px" height="12px"></mb-icon>
                        </span>
                        <a href="#">Edit</a>
                    </div>
                    <span class="Entity-attribution">
                        Created by <span class="Entity-creator">{{dashboard.creator.common_name}}</span>
                    </span>
                </div>

                <div class="flex-align-right hide show-md">
                    <a ng-click="toggleDashEditMode()" ng-if="dashboard.can_write && dashcards.length > 0">
                        <mb-icon name="grid" width="16px" height="16px"></mb-icon>
                    </a>
                </div>
            </div>
        </header>

        <div class="wrapper full-height">

            <div ng-if="!dashboardLoaded">
                <div class="flex layout-centered text-centered full-height">
                    <div class="text-brand">
                        <mb-loading-icon></mb-loading-icon>
                        <h1 class="text-normal text-grey-2">Loading...</h1>
                    </div>
                </div>

                <div ng-if="dashboardLoaded && !dashcards.length > 0">
                    <h1 class="text-normal text-grey-2">This dashboard doesn't have any data yet.</h1>
                    <a class="Button Button--primary" href="/card/create">Ask a question</a>
                </div>
            </div>

            <div gridster="gridsterOptions">
                <div ng-class="editingClass">
                    <ul id="dashboard_list">
                        <li class="Dash-card" gridster-item="dashcard" ng-repeat="(index, dashcard) in dashcards">
                            <a class="DashCard-remove" ng-click="removeCard(index)">
                                <mb-icon name="close" class="DashCard-removeIcon"  width="12px" height="12px"></mb-icon>
                            </a>
                            <cv-card card="dashcard.card" card-data="dashcard.cardData.data" card-settings="cardSettings" index="index" wait-for-gridster />
                        </li>
                    </ul>
                </div>
            </div><!-- end gridsterOptions -->
        </div>
    </div>
</div>

<div ng-if="editing">
</div>
