<div>
    <div class="Form-group border-bottom">
        <div class="Button borderless float-right" ng-click='close()'>
            <mb-icon name="close" width="18px" height="18px"></mb-icon>
        </div>
        <h3 class="text-normal">Add <span class="text-bold">"{{card.name}}"</span> to dashboard</h3>
    </div>

    <form name="addCardToDash" novalidate ng-submit="submit()">
        <div class="Form-group" ng-class="{ 'Form-groupDisabled' : addToDashForm.newDashName }">
            <label class="Form-label">Add to an existing dashboard:</label>
            <label class="Select">
                <select class="my4 block" ng-model="addToDashForm.existingDash" required="false" ng-options="dash.id as dash.name for dash in dashboards">
                    <option value="">Select an existing dashboard</option>
                </select>
            </label>
        </div>
        <div class="Form-group" ng-class="{ 'Form-groupDisabled' : addToDashForm.existingDash }">
            <label class="Form-label">Create a new dashboard:</label>
            <input class="input block my3 full" type="text" ng-model="addToDashForm.newDashName" placeholder="Dashboard name"/>
        </div>
        <div class="Form-group border-top clearfix">
            <button class="Button Button--primary float-right" type="submit" > Add</button>
        </div>
    </form>
</div>
