@import '../Questions.css';

:local(.actionHeader) {
    composes: flex align-center from "style/flex";
    composes: my3 from "style/spacing";
    font-size: 14px;
    color: var(--blue-color);
}

:local(.selectedCount) {
    composes: mx4 from "style/spacing";
}

/* ALL CHECKBOX */
:local(.allCheckbox) {
    composes: icon from "./List.css";
    visibility: visible !important;
}

:local(.labelButton) {
    composes: px1 from "style/spacing";
    composes: cursor-pointer from "style/cursor";
}

:local(.archiveButton) {
    composes: px1 from "style/spacing";
    composes: cursor-pointer from "style/cursor";
}


:local(.labelButton) .Icon,
:local(.archiveButton) .Icon {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

:local(.labelButton) .Icon-chevrondown {
    color: #DEEAF1;
}
