@import "../Questions.css";

:local(.picker) {
    width: 290px;
    color: var(--title-color);
}

:local(.heading) {
    composes: p2 from "style";
    composes: border-bottom from "style";
    font-size: 14px;
}

:local(.options) {
    composes: py1 from "style";
}

:local(.option) {
    composes: cursor-pointer from "style";
    position: relative;
}

:local(.optionContent) {
    composes: px3 py1 from "style";
    composes: flex align-center from "style";
    font-size: 18px;
    color: var(--title-color);
}

:local(.optionBackground) {
    composes: spread from "style";
    opacity: 0.1;
    background-color: currentColor;
    visibility: hidden;
}

:local(.option.selected) :local(.optionContent),
:local(.option):hover :local(.optionContent) {
    color: inherit;
}

:local(.option.selected) :local(.optionBackground),
:local(.option):hover :local(.optionBackground) {
    visibility: visible;
}

:local(.mainIcon) {
    composes: mr1 from "style";
}

:local(.removeIcon) {
    composes: flex-align-right from "style";
    visibility: hidden;
}
:local(.option):hover :local(.removeIcon) {
    visibility: visible;
}
