
:local(.colorIcon) {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

:local(.emojiIcon) {
    text-align: center;
    font-size: 20px;
}

:local(.icon) {
    color: #CFE4F5;
}
