
:local(.sectionHeader) {
    composes: p1 px3 from "style";
    composes: flex align-center from "style";
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

:local(.list) {
    composes: flex align-center from "style";
    composes: px2 from "style";
}

:local(.sectionList) {
    composes: list;
    composes: border-top from "style";
}

:local(.option) {
    composes: p1 from "style";
    composes: flex layout-centered from "style";
    border: 1px solid transparent;
    width: 50px;
    height: 50px;
}

:local(.option):hover {
    border: 1px solid rgb(235,235,235);
    border-radius: 3px;
    background-color: rgb(248,248,248);
}

:local(.dropdownButton) {
    composes: flex layout-centered from "style";
    composes: px1 from "style";
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 40px;
}

:local(.dropdownButton):hover {
    border-color: #aaa;
}

:local(.chevron) {
    composes: ml1 from "style";
    color: #d9d9d9;
}
