;; method + url + body -> response from [[metabase-enterprise.harbormaster.client/make-request]]

{{:method :delete,
                               ;; uuid matches the one from get connections:
  :url "/api/v2/mb/connections/049f3007-2146-4083-be38-f160c526aca7",
  :body nil}
 [:ok {:cached nil,
       :request-time 945,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? false,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x61435626 "org.apache.http.impl.client.InternalHttpClient@61435626"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 21:45:48 GMT",
        "Connection" "close",
        "Content-Type" "application/octet-stream",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "0",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 0,
       :body nil,
       :trace-redirects []}]

 {:method :get, :url "/api/v2/mb/connections", :body nil},
 [:ok {:cached nil,
       :request-time 23,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "349",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 349,
       :body
       [{:updated-at "2025-01-27T18:43:42Z",
         :hosted-instance-resource-id 7,
         :last-sync-at "2025-01-27T18:43:42Z",
         :error-detail nil,
         :type "gdrive",
         :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
         :last-sync-started-at "2025-01-27T18:43:04Z",
         :status "active",
         :id "049f3007-2146-4083-be38-f160c526aca7",
         :created-at "2025-01-27T18:43:02Z"},]
       :trace-redirects []}]
 {:method :get, :url "/api/v2/mb/connections/049f3007-2146-4083-be38-f160c526aca7", :body nil},
 [:ok {:cached nil,
       :request-time 23,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "349",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 349,
       :body {:updated-at "2025-01-27T18:43:42Z",
              :hosted-instance-resource-id 7,
              :last-sync-at "2025-01-27T18:43:42Z",
              :error-detail nil,
              :type "gdrive",
              :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
              :last-sync-started-at "2025-01-27T18:43:04Z",
              :status "active",
              :id "049f3007-2146-4083-be38-f160c526aca7",
              :created-at "2025-01-27T18:43:02Z"},
       :trace-redirects []}]
 {:method :get, :url "/api/v2/mb/connections/80b0635a-f0d9-4103-9ac8-389df7fd250a", :body nil},
 [:ok {:cached                nil,
       :request-time          23,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "386",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                386,
       :body                  {:created-at                  "2025-03-24T21:52:09.547Z",
                               :error-detail                nil,
                               :hosted-instance-id          "eafc4346-850f-435e-8104-ac053fbe9a82",
                               :hosted-instance-resource-id 16,
                               :id                          "80b0635a-f0d9-4103-9ac8-389df7fd250a",
                               :status                      "initializing",
                               :type                        "gdrive",
                               :updated-at                  "2025-03-25T14:54:26.824Z"},
       :trace-redirects       []}]

 {:method :get, :url "/api/v2/mb/connections/663f3e8a-bfff-4b3f-ad5f-20ceadf929cc", :body nil},
 [:ok {:cached                nil,
       :request-time          23,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "386",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                386,
       :body                  {:created-at                  "2025-03-24T21:52:09.547Z",
                               :error-detail                nil,
                               :hosted-instance-id          "eafc4346-850f-435e-8104-ac053fbe9a82",
                               :hosted-instance-resource-id 16,
                               :id                          "663f3e8a-bfff-4b3f-ad5f-20ceadf929cc",
                               :last-sync-at                "2025-03-24T22:00:33.636Z",
                               :last-sync-started-at        "2025-03-25T14:54:26.816Z",
                               :status                      "syncing",
                               :status-detail               nil,
                               :type                        "gdrive",
                               :updated-at                  "2025-03-25T14:54:26.824Z"},
       :trace-redirects       []}]

 {:method :get, :url "/api/v2/mb/connections/93662bf7-b1c7-442b-80ec-18dee23894fa", :body nil},
 [:error {:cached                nil,
       :request-time          23,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "386",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                400,
       :length                386,
       :body                  {:error-detail                "Error Detail",
                               :hosted-instance-id          "eafc4346-850f-435e-8104-ac053fbe9a82",
                               :hosted-instance-resource-id 16,
                               :id                          "93662bf7-b1c7-442b-80ec-18dee23894fa",
                               :last-sync-at                "2025-03-24T22:00:33.636Z",
                               :last-sync-started-at        "2025-03-25T14:54:26.816Z",
                               :status                      "error",
                               :status-detail               "Error Status",
                               :type                        "gdrive",
                               :updated-at                  "2025-03-25T14:54:26.824Z"},
       :trace-redirects       []}]

 {:method :get, :url "/api/v2/mb/connections/e5b50d83-c1d6-4382-8351-ff95a23af60e", :body nil},
 [:error {:cached                nil,
          :request-time          23,
          :repeatable?           false,
          :protocol-version      {:name "HTTP", :major 1, :minor 1},
          :streaming?            true,
          ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
          :chunked?              false,
          :reason-phrase         "OK",
          :headers
          {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
           "Connection"                "close",
           "Content-Type"              "application/json;charset=utf-8",
           "X-Frame-Options"           "SAMEORIGIN",
           "X-Content-Type-Options"    "nosniff",
           "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
           "Content-Length"            "386",
           "Server"                    "Jetty(11.0.24)"},
          :orig-content-encoding nil,
          :status                403,
          :length                53,
          :body                  {:error "User not authorized to act over resource."},
          :trace-redirects       []}]

 {:method :get, :url "/api/v2/mb/connections/e8653c8d-4d86-4ebc-92a3-0468252b9d07", :body nil},
 [:ok {:cached                nil,
       :request-time          23,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "386",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                386,
       :body                  {
                               :updated-at                  "2025-04-15T16:54:00.050Z",
                               :hosted-instance-resource-id 5,
                               :last-sync-at                "2025-04-15T16:54:00.046Z",
                               :error-detail                nil,
                               :type                        "google_spreadsheet",
                               :hosted-instance-id          "eafc4346-850f-435e-8104-ac053fbe9a82",
                               :last-sync-started-at        "2025-04-15T16:53:12.919Z",
                               :status                      "error",
                               :id                          "e67754a7-c35f-4bd4-910e-70462257f122",
                               :status-reason               nil,
                               :error                       nil,
                               :created-at                  "2025-04-15T16:49:49.846Z"},
       :trace-redirects       []}]

 {:method :get, :url "/api/v2/mb/connections/eef1ae21-924e-4cba-9420-3a57aa06c955", :body nil},
 [:ok {:cached                nil,
       :request-time          23,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "386",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                386,
       :body                  {
                               :updated-at                  "2025-04-15T16:54:00.050Z",
                               :hosted-instance-resource-id 5,
                               :last-sync-at                "2025-04-15T16:54:00.046Z",
                               :error-detail                nil,
                               :type                        "google_spreadsheet",
                               :hosted-instance-id          "eafc4346-850f-435e-8104-ac053fbe9a82",
                               :last-sync-started-at        "2025-04-15T16:53:12.919Z",
                               :status                      "paused",
                               :id                          "e67754a7-c35f-4bd4-910e-70462257f122",
                               :status-reason               "DWH quota exceeded",
                               :error                       nil,
                               :created-at                  "2025-04-15T16:49:49.846Z"},
       :trace-redirects       []}]

 {:method :post,
  :url    "/api/v2/mb/connections",
  :body   {:type "gdrive", :secret {:resources ["https://drive.google.com/drive/expected-gdrive-link"]}}}
 [:ok {:cached                nil,
       :request-time          1941,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x5b19fc1e "org.apache.http.impl.client.InternalHttpClient@5b19fc1e"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:02 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "779",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                779,
       :body
       {:updated-at                  "2025-01-27T18:43:02Z",
        :hosted-instance-resource-id 7,
        :last-sync-at                nil,
        :error-detail                nil,
        :type                        "gdrive",
        :hosted-instance-resource
        {:updated-at         "2025-01-27T18:43:02Z",
         :shared-resource-id nil,
         :resource-id
         "arn:aws:secretsmanager:us-west-2:373519213707:secret:hosting/development/instance/f390ec19-bd44-48ae-991c-66817182a376/conn-secret/049f3007-2146-4083-be38-f160c526aca7-C6UvyD",
         :type               "conn-secret",
         :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
         :deleted-at         nil,
         :region             "us-west-2",
         :id                 7,
         :created-at         "2025-01-27T18:43:02Z",
         :provider           "k8s"},
        :hosted-instance-id          "f390ec19-bd44-48ae-991c-66817182a376",
        :last-sync-started-at        nil,
        :status                      "initializing",
        :id                          "049f3007-2146-4083-be38-f160c526aca7",
        :created-at                  "2025-01-27T18:43:02Z"},
       :trace-redirects       []}]

 {:method :post,
  :url    "/api/v2/mb/connections",
  :body   {:type "google_spreadsheet", :secret {:resources ["https://docs.google.com/spreadsheets/expected-sheet-link"]}}}
 [:ok {:cached                nil,
       :request-time          1941,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x5b19fc1e "org.apache.http.impl.client.InternalHttpClient@5b19fc1e"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:43:02 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "779",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                779,
       :body
       {:updated-at                  "2025-01-27T18:43:02Z",
        :hosted-instance-resource-id 7,
        :last-sync-at                nil,
        :error-detail                nil,
        :type                        "google_spreadsheet",
        :hosted-instance-resource
        {:updated-at         "2025-01-27T18:43:02Z",
         :shared-resource-id nil,
         :resource-id
         "arn:aws:secretsmanager:us-west-2:373519213707:secret:hosting/development/instance/f390ec19-bd44-48ae-991c-66817182a376/conn-secret/049f3007-2146-4083-be38-f160c526aca7-C6UvyD",
         :type               "conn-secret",
         :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
         :deleted-at         nil,
         :region             "us-west-2",
         :id                 7,
         :created-at         "2025-01-27T18:43:02Z",
         :provider           "k8s"},
        :hosted-instance-id          "f390ec19-bd44-48ae-991c-66817182a376",
        :last-sync-started-at        nil,
        :status                      "initializing",
        :id                          "049f3007-2146-4083-be38-f160c526aca7",
        :created-at                  "2025-01-27T18:43:02Z"},
       :trace-redirects       []}]

 {:method :post,
  :url    "/api/v2/mb/connections",
  :body   {:type "gdrive", :secret {:resources ["https://docs.google.com/spreadsheets/error-gdrive-link"]}}}
 [:error {:cached                nil,
          :request-time          1941,
          :repeatable?           false,
          :protocol-version      {:name "HTTP", :major 1, :minor 1},
          :streaming?            true,
          ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x5b19fc1e "org.apache.http.impl.client.InternalHttpClient@5b19fc1e"],
          :chunked?              false,
          :reason-phrase         "OK",
          :headers
          {"Date"                      "Mon, 27 Jan 2025 18:43:02 GMT",
           "Connection"                "close",
           "Content-Type"              "application/json;charset=utf-8",
           "X-Frame-Options"           "SAMEORIGIN",
           "X-Content-Type-Options"    "nosniff",
           "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
           "Content-Length"            "779",
           "Server"                    "Jetty(11.0.24)"},
          :orig-content-encoding nil,
          :status                400,
          :length                779,
          :body
          {:updated-at                  "2025-01-27T18:43:02Z",
           :hosted-instance-resource-id 7,
           :last-sync-at                nil,
           :error-detail                "Error detail",
           :type                        "gdrive",
           :hosted-instance-id          "f390ec19-bd44-48ae-991c-66817182a376",
           :last-sync-started-at        nil,
           :status                      "error",
           :status-reason               "Status Reason"
           :id                          "049f3007-2146-4083-be38-f160c526aca7",
           :created-at                  "2025-01-27T18:43:02Z"},
          :trace-redirects       []}]

 {:method :get,
  :url    "/api/v2/mb/connections-google/service-account"
  :body   nil}
 [:ok {:cached                nil,
       :request-time          12,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x4b1202cb "org.apache.http.impl.client.InternalHttpClient@4b1202cb"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:50:57 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "60",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                60,
       :body                  {:email "service-account@elt-sync.iam.gserviceaccount.com"},
       :trace-redirects       []}]

 {:method :put, :url "/api/v2/mb/connections/663f3e8a-bfff-4b3f-ad5f-20ceadf929cc/sync", :body nil}
 [:ok {:cached                nil,
       :request-time          12,
       :repeatable?           false,
       :protocol-version      {:name "HTTP", :major 1, :minor 1},
       :streaming?            true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x4b1202cb "org.apache.http.impl.client.InternalHttpClient@4b1202cb"],
       :chunked?              false,
       :reason-phrase         "OK",
       :headers
       {"Date"                      "Mon, 27 Jan 2025 18:50:57 GMT",
        "Connection"                "close",
        "Content-Type"              "application/json;charset=utf-8",
        "X-Frame-Options"           "SAMEORIGIN",
        "X-Content-Type-Options"    "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length"            "60",
        "Server"                    "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status                200,
       :length                2,
       :body                  {},
       :trace-redirects       []}]}
