;; method + url + body -> response from [[metabase-enterprise.harbormaster.client/make-request]]

{{:method :delete,
                               ;; uuid matches the one from get connections:
  :url "/api/v2/mb/connections/049f3007-2146-4083-be38-f160c526aca7",
  :body nil}
 [:ok {:cached nil,
       :request-time 945,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? false,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x61435626 "org.apache.http.impl.client.InternalHttpClient@61435626"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 21:45:48 GMT",
        "Connection" "close",
        "Content-Type" "application/octet-stream",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "0",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 0,
       :body nil,
       :trace-redirects []}]

 {:method :get, :url "/api/v2/mb/connections", :body nil},
 [:ok {:cached nil,
       :request-time 23,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "349",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 349,
       :body
       [{:updated-at "2025-01-27T18:43:42Z",
         :hosted-instance-resource-id 7,
         :last-sync-at "2025-01-27T18:43:42Z",
         :error-detail nil,
         :type "gdrive",
         :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
         :last-sync-started-at "2025-01-27T18:43:04Z",
         :status "active",
         :id "049f3007-2146-4083-be38-f160c526aca7",
         :created-at "2025-01-27T18:43:02Z"},]
       :trace-redirects []}]
 {:method :get, :url "/api/v2/mb/connections/049f3007-2146-4083-be38-f160c526aca7", :body nil},
 [:ok {:cached nil,
       :request-time 23,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x8f60f32 "org.apache.http.impl.client.InternalHttpClient@8f60f32"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:43:42 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "349",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 349,
       :body {:updated-at "2025-01-27T18:43:42Z",
              :hosted-instance-resource-id 7,
              :last-sync-at "2025-01-27T18:43:42Z",
              :error-detail nil,
              :type "gdrive",
              :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
              :last-sync-started-at "2025-01-27T18:43:04Z",
              :status "active",
              :id "049f3007-2146-4083-be38-f160c526aca7",
              :created-at "2025-01-27T18:43:02Z"},
       :trace-redirects []}]
 {:method :post,
  :url "/api/v2/mb/connections",
  :body {:type "gdrive", :secret {:resources ["<expected-gdrive-link>"]}}}
 [:ok {:cached nil,
       :request-time 1941,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x5b19fc1e "org.apache.http.impl.client.InternalHttpClient@5b19fc1e"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:43:02 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "779",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 779,
       :body
       {:updated-at "2025-01-27T18:43:02Z",
        :hosted-instance-resource-id 7,
        :last-sync-at nil,
        :error-detail nil,
        :type "gdrive",
        :hosted-instance-resource
        {:updated-at "2025-01-27T18:43:02Z",
         :shared-resource-id nil,
         :resource-id
         "arn:aws:secretsmanager:us-west-2:373519213707:secret:hosting/development/instance/f390ec19-bd44-48ae-991c-66817182a376/conn-secret/049f3007-2146-4083-be38-f160c526aca7-C6UvyD",
         :type "conn-secret",
         :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
         :deleted-at nil,
         :region "us-west-2",
         :id 7,
         :created-at "2025-01-27T18:43:02Z",
         :provider "k8s"},
        :hosted-instance-id "f390ec19-bd44-48ae-991c-66817182a376",
        :last-sync-started-at nil,
        :status "initializing",
        :id "049f3007-2146-4083-be38-f160c526aca7",
        :created-at "2025-01-27T18:43:02Z"},
       :trace-redirects []}]

 {:method :get,
  :url "/api/v2/mb/connections-google/service-account"
  :body nil}
 [:ok {:cached nil,
       :request-time 12,
       :repeatable? false,
       :protocol-version {:name "HTTP", :major 1, :minor 1},
       :streaming? true,
       ;; :http-client #object[org.apache.http.impl.client.InternalHttpClient 0x4b1202cb "org.apache.http.impl.client.InternalHttpClient@4b1202cb"],
       :chunked? false,
       :reason-phrase "OK",
       :headers
       {"Date" "Mon, 27 Jan 2025 18:50:57 GMT",
        "Connection" "close",
        "Content-Type" "application/json;charset=utf-8",
        "X-Frame-Options" "SAMEORIGIN",
        "X-Content-Type-Options" "nosniff",
        "Strict-Transport-Security" "max-age=31536000; includeSubDomains",
        "Content-Length" "60",
        "Server" "Jetty(11.0.24)"},
       :orig-content-encoding nil,
       :status 200,
       :length 60,
       :body {:email "service-account@elt-sync.iam.gserviceaccount.com"},
       :trace-redirects []}]}
