.modelItem {
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.modelItem:hover {
  background-color: var(--mb-color-bg-light);
}

.modelName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collectionName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
