.button {
  border-radius: 8px;
  text-align: start;

  .content {
    line-height: 1rem;
    font-weight: normal;
  }

  &:hover {
    background: var(--mb-color-brand);

    .content {
      color: var(--color-white);
    }
  }
}
