.button {
  border-radius: 8px;
  text-align: start;

  .content {
    font-family: var(--mb-default-font-family);
    line-height: 1rem;
  }

  &:hover {
    background: var(--mb-color-brand);

    .content {
      color: var(--color-white);
    }
  }
}
