.options {
  overflow: auto;
  list-style: none;
  padding: 0.5rem 0 0;

  &.dashboardFilter {
    max-height: 300px;
  }
}

.dropdown {
  display: none;
}

.wrapper {
  overflow: visible !important;
}

.wrapper .input {
  border-radius: 8px;

  &:hover {
    border-color: var(--mb-color-brand);
  }

  .root:focus-within &:focus-within,
  .root:focus-within & {
    border-color: var(--mb-color-brand);
    outline: 2px solid var(--mb-color-focus);
  }
}

.option {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 0.6rem;
  width: 100%;
  color: var(--mb-color-text-primary);
  background-color: var(--mb-color-background);
  text-align: inherit;
  margin-bottom: 2px;

  &:hover {
    color: var(--mb-color-text-hover);
    background-color: var(--mb-color-background-hover);
  }

  &.selected,
  &.selected:hover {
    color: var(--mb-color-text-selected);
    background-color: var(--mb-color-background-selected);
  }
}

.empty {
  padding-top: 1rem;
}
