.toolbar {
  align-self: center;
  box-shadow: var(--mantine-shadow-xs);
}

.commentDropdown {
  box-shadow: var(--mantine-shadow-xs);
}

.timelineMenuTarget {
  cursor: pointer;
  background-color: var(--mb-color-background-secondary);

  &:hover {
    background-color: var(--mb-color-background-tertiary);
  }
}
