<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Metabase API doc</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet" />
  </head>
  <style>
    :root {
      --scalar-font: 'Lato', sans-serif;
    }
  </style>
  <body>
    <script
      id="api-reference"
      type="application/json">
{{json}}
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
  </body>
</html>
