.token {
  padding: 4px 12px 4px 12px;
  border-radius: 100px;
  border: 1px solid color(var(--color-brand) alpha(-65%));
}
.token:hover {
  background-color: var(--color-brand);
}
.sort {
  padding: 4px 12px 4px 12px;
  text-align: center;
}
.large-button {
  padding: 12px;
}
