:local .ChartWithLegend {
  display: flex;
  justify-content: center;
}

:local .ChartWithLegend .Legend {
  display: flex;
  justify-content: center;
}

:local .ChartWithLegend .Chart {
  flex-shrink: 0;
  position: relative;
}

/* SMALL */
:local .ChartWithLegend.small .Legend {
  display: none;
}
:local .ChartWithLegend.small .Chart {
  flex: 1;
}

/* VERTICAL */
:local .ChartWithLegend.vertical {
  flex-direction: column-reverse;
  justify-content: space-around;
}
:local .ChartWithLegend.vertical .Legend {
  flex-shrink: 1;
  overflow: hidden;
}
:local .ChartWithLegend.vertical.flexChart .Legend {
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 25%;
}
:local .ChartWithLegend.vertical.flexChart .Chart {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 75%;
}

/* HORIZONTAL */
:local .ChartWithLegend.horizontal {
  flex-direction: row;
  justify-content: space-around;
}
:local .ChartWithLegend.horizontal .Legend {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
}
:local .ChartWithLegend.horizontal.flexChart .Legend {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33%;
}
:local .ChartWithLegend.horizontal.flexChart .Chart {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 66%;
}

/* DEBUG */
/*
:local .ChartWithLegend .Legend {
  background-color: color(var(--color-bg-black) alpha(-90%));
}
:local .ChartWithLegend .Chart {
  background-color: color(var(--color-success) alpha(-90%));
}
:local .ChartWithLegend.flexChart .Chart {
  background-color: color(var(--color-error) alpha(-90%));
}
*/
