/*
legend item needs to be in the scope in order to control the font size in
fullscreen dashboard mode
*/
.LegendItem {
  font-size: 1.12em;
  font-weight: 700;
  transition: opacity 0.25s linear;
  opacity: 1;
  color: var(--color-text-medium);
}

:local(.LegendItem).muted {
  opacity: 0.4;
}

:local .Legend.none {
  display: none;
}

:local .Legend.vertical {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

:local .Legend.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}
