/*
legend item needs to be in the scope in order to control the font size in
fullscreen dashboard mode
*/
.LegendItem {
  font-size: 1.2em;
  font-weight: bold;
  transition: opacity 0.25s linear;
  opacity: 1;
}

:local .LegendHeader {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

:local(.LegendItem).muted {
  opacity: 0.4;
}

:local .Legend.none {
  display: none;
}

:local .Legend.vertical {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

:local .Legend.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}
