
:root {
  --table-border-radius: 6px;
}

.TableInteractiveSummary {
  border-radius: var(--table-border-radius);
  overflow: hidden;
}

.TableInteractiveSummary-headerCellData {
  font-weight: 700;
}

.TableInteractiveSummary-headerCellData.TableInteractiveSummary-cellWrapper--firstColumn {
  border-top-left-radius: var(--table-border-radius);
}

.TableInteractiveSummary-headerCellData.TableInteractiveSummary-cellWrapper--lastColumn {
  border-top-right-radius: var(--table-border-radius);
}

.TableInteractiveSummary-headerCellData .Icon {
  opacity: 0;
}

.TableInteractiveSummary-headerCellData--sorted .Icon {
  opacity: 1;
  transition: opacity 0.3s linear;
}

/* if the column is the one that is being sorted*/
.TableInteractiveSummary-headerCellData--sorted {
  color: var(--color-brand);
}

.TableInteractiveSummary-header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
}

.TableInteractiveSummary .TableInteractiveSummary-cellWrapper,
.TableInteractiveSummary .TableInteractiveSummary-headerCellWrapper {
  padding-top: 0.4em;
  padding-bottom:1.25em;
  padding-left: 1em;
  padding-right: 1em;

  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border: 1px solid transparent;
}

.TableInteractiveSummary .TableInteractiveSummary-cellWrapper {
  border-bottom-color: color(var(--color-border) alpha(-70%));
}




.TableInteractiveSummary .TableInteractiveSummary-cellWrapper--active,
.TableInteractiveSummary:not(.TableInteractiveSummary--noHover)
.TableInteractiveSummary-cellWrapper-normal:hover,
.TableInteractiveSummary:not(.TableInteractiveSummary--noHover)
.TableInteractiveSummary-cellWrapper-total:hover,
.TableInteractiveSummary-headerCellWrapper:hover {
  border: 1px solid var(--color-brand);
  color: var(--color-brand);

}

.TableInteractiveSummary .TableInteractiveSummary-cellWrapper--active,
.TableInteractiveSummary .TableInteractiveSummary-headerCellWrapper:hover {
  z-index: 1;
}
.TableInteractiveSummary-cellWrapper-normalGrouped {
  background-color: var(--color-bg-light);
}
.TableInteractiveSummary-cellWrapper-grandTotal {
  background-color: var(--color-brand);
  font-weight: bold;
  color: var(--color-white);
}
.TableInteractiveSummary-cellWrapper-grandTotal.tether-enabled {
  background-color: var(--color-accent7);
  color: white !important;
}

.TableInteractiveSummary-cellWrapper-total {
  background-color: var(--color-bg-medium);
  font-weight: bold;
  color: var( --color-text-medium);
}
.TableInteractiveSummary-cellWrapper-total.tether-enabled {
  background-color: var(--color-accent7);
  color: white !important;
}


/* cell overflow ellipsis */
.TableInteractiveSummary .cellData {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}


.PagingButtons {
  border: 1px solid var(--color-border);
}

/* selected cell background */
.TableInteractiveSummary .TableInteractiveSummary-cellWrapper-normal.tether-enabled,
.TableInteractiveSummary .TableInteractiveSummary-headerCellWrapper.tether-enabled {
  background-color: var(--color-brand);
  color: white !important;
}


.TableInteractiveSummary .TableInteractiveSummary-mergedHeaderMarker:not(:hover):after {
  border-bottom: 1px solid var(--color-border);
  bottom: 0px;
  content: "";
  height: 1px;
  position: absolute;
  width: 90%;
  left: 5%;
}
