:root {
  --table-border-radius: 6px;
}

.TableInteractive {
  border-radius: var(--table-border-radius);
  overflow: hidden;
}

.TableInteractive-headerCellData {
  font-weight: 700;
}

.TableInteractive-headerCellData.TableInteractive-cellWrapper--firstColumn {
  border-top-left-radius: var(--table-border-radius);
}

.TableInteractive-headerCellData.TableInteractive-cellWrapper--lastColumn {
  border-top-right-radius: var(--table-border-radius);
}

.TableInteractive-headerCellData .Icon {
  opacity: 0;
}

.TableInteractive-headerCellData--sorted .Icon {
  opacity: 1;
  transition: opacity 0.3s linear;
}

/* if the column is the one that is being sorted*/
.TableInteractive-headerCellData--sorted {
  color: var(--color-brand);
}

.TableInteractive-header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
}

.TableInteractive .TableInteractive-cellWrapper {
  padding: 1em 1.25em;
  overflow: hidden;
  display: flex;
  align-items: center;

  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid color(var(--color-border) alpha(-70%));
}

.TableInteractive .TableInteractive-cellWrapper--active,
.TableInteractive:not(.TableInteractive--noHover)
  .TableInteractive-cellWrapper:hover {
  border-color: var(--color-brand);
  color: var(--color-brand);
}

.TableInteractive .TableInteractive-cellWrapper--active {
  z-index: 1;
}

.TableInteractive .TableInteractive-header,
.TableInteractive .TableInteractive-header .TableInteractive-cellWrapper {
  background-color: var(--color-bg-white);
  background-image: none;
}

.TableInteractive .TableInteractive-header,
.TableInteractive .TableInteractive-header .TableInteractive-cellWrapper {
  background-color: var(--color-bg-white);
}

/* cell overflow ellipsis */
.TableInteractive .cellData {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/* pivot */
.TableInteractive.TableInteractive--pivot
  .TableInteractive-cellWrapper--firstColumn {
  border-right: 1px solid var(--color-border);
}

.PagingButtons {
  border: 1px solid var(--color-border);
}

.TableInteractive .TableInteractive-cellWrapper.tether-enabled {
  background-color: var(--color-brand);
  color: white !important;
}
