:local(.Table) {
  /* standard table reset */
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;

  font-size: 12px;
  line-height: 12px;
  text-align: left;
}

:local(.Table) tr {
  border-bottom: 1px solid color(var(--color-border) alpha(-70%));
}

:local(.Table) th,
:local(.Table) td {
  padding: 0.72em;
  border-bottom: 1px solid color(var(--color-border) alpha(-70%));
}

:local(.TableSimple) th:first-child,
:local(.TableSimple) td:first-child {
  padding-left: 1.44em;
}
