.ghost {
  max-width: 20rem;
  background: var(--mb-color-background-primary);
  cursor: grabbing;
}

.kindBadge {
  color: var(--mb-color-text-secondary);
  font-weight: var(--mantine-font-weight-normal);
  font-size: var(--mantine-font-size-xs);
  flex: none;
}
