.results {
  position: relative;
  overflow: auto;
  height: 100%;
}

.item {
  position: absolute;
}

.hidden {
  opacity: 0;
}

.visibilityToggle {
  flex-shrink: 0;

  &:focus,
  .item:hover &,
  .item:focus &,
  .item.selected &,
  .item.active & {
    opacity: 0.75;
  }
}

.massVisibilityToggle {
  flex-shrink: 0;
  opacity: 0;

  &:focus,
  .item:hover &,
  .item:focus &,
  .item.selected {
    opacity: 0.75;
  }
}
