.node {
  color: var(--mb-color-text-primary);
  align-items: center;
}

.chevron {
  transition: transform 200ms ease-in-out;

  &.expanded {
    transform: rotate(90deg);
  }
}

.title {
  cursor: pointer;
  user-select: none;
}

.children {
  margin-left: var(--mantine-spacing-md);
}
