.DashCardVisualization {
  color: var(--mb-color-text-secondary);
}

.VirtualDashCardOverlayText {
  color: var(--mb-color-text-secondary);
}

.InlineParametersList *,
.InlineParametersMenuTrigger * {
  pointer-events: all;
}
