.DashboardCardRootDragging {
  .DashCardActionsPanel {
    display: none;
  }
}

.DashboardCardRoot {
  &:hover,
  &:focus-within {
    .DashCardActionsPanel {
      opacity: 1;
      pointer-events: all;
    }
  }
}
