.DashboardCardRootDragging {
  .DashCardActionsPanel {
    display: none;
  }
}

.DashboardCardRoot {
  &:hover,
  &:focus-within {
    .DashCardActionsPanel {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.DashCardRoot {
  background-color: var(--mb-color-bg-dashboard-card);
  scroll-margin: 6px 0;

  &.hasHiddenBackground {
    border: 0 !important;
    background: transparent !important;
  }

  &.shouldForceHiddenBackground {
    background: var(--mb-color-background-secondary);
    border: none !important;

    &.isEmbeddingSdk {
      background: var(--mb-color-bg-dashboard);
    }
  }
}
