.parent {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.div1 {
  grid-area: 1 / 2 / 2 / 5;
}

.div2 {
  grid-area: 1 / 5 / 2 / 6;
}

.div3 {
  grid-area: 1 / 6 / 2 / 7;
}

.div4 {
  grid-area: 1 / 1 / 4 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 6;
}

.div6 {
  grid-area: 3 / 2 / 4 / 6;
}
