.CommentGrid {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.UserInfo {
  grid-area: 1 / 2 / 2 / 5;
}

.ActionIcons {
  grid-area: 1 / 6 / 2 / 7;
}

.Avatar {
  grid-area: 1 / 1 / 4 / 2;
}

.CommentText {
  grid-area: 2 / 2 / 3 / 6;
}

.Reactions {
  grid-area: 3 / 2 / 4 / 6;
}
