.FilterButton {
  &[data-variant="default"] {
    transition:
      background 300ms linear,
      border 300ms linear;

    &:hover {
      color: var(--mb-color-filter);
      background-color: color-mix(
        in srgb,
        var(--mb-color-filter) 10%,
        var(--mb-color-white)
      );
      border-color: color-mix(
        in srgb,
        var(--mb-color-filter) 40%,
        var(--mb-color-white)
      );
    }

    /* this prevents the divider between the button group from changing color */
    &:hover&.FiltersActive {
      border-right-color: var(--mb-color-border);
    }
  }
}

@container query-builder (max-width: 50em) {
  .ActionButtonRoot[data-variant="default"] {
    flex-shrink: 0;
    padding: 11px;
  }

  .ActionButtonLabel {
    display: none;
  }

  .ActionButtonSection[data-position="left"] {
    margin-right: 0;
  }
}

.FilterButtonAttachment {
  &[data-variant="default"] {
    padding: 0.5rem;
    transition:
      background 300ms linear,
      border 300ms linear;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--mb-color-filter) 10%,
        var(--mb-color-white)
      );
      border-color: color-mix(
        in srgb,
        var(--mb-color-filter) 40%,
        var(--mb-color-white)
      );
    }

    &:hover,
    &[data-expanded="true"] {
      .FilterCountChip {
        color: var(--mb-color-text-primary-inverse);
        background-color: var(--mb-color-filter);
      }
    }
  }
}

.FilterCountChip {
  font-size: 0.6875rem;
  border-radius: 10px;
  line-height: 1rem;
  padding-inline: 0.5rem;
  color: var(--mb-color-text-primary);
  background-color: color-mix(
    in srgb,
    var(--mb-color-filter) 15%,
    var(--mb-color-white)
  );
}

.SummarizeButton {
  transition:
    background 300ms linear,
    border 300ms linear;

  &:hover:not([data-active="true"]) {
    color: var(--mb-color-summarize);
    border-color: color-mix(
      in srgb,
      var(--mb-color-summarize) 40%,
      var(--mb-color-white)
    );
    background-color: color-mix(
      in srgb,
      var(--mb-color-summarize) 15%,
      var(--mb-color-white)
    );
  }
}

.NotebookButton {
  transition:
    background 300ms linear,
    border 300ms linear;

  &:hover:not([data-active="true"]) {
    color: var(--mb-color-brand);
    border-color: color-mix(
      in srgb,
      var(--mb-color-brand) 40%,
      var(--mb-color-white)
    );
    background-color: color-mix(
      in srgb,
      var(--mb-color-brand) 15%,
      var(--mb-color-white)
    );
  }
}

.BackButton {
  color: var(--mb-color-brand);
  padding: 0.75rem;
}

.HeaderDivider {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--mb-color-text-secondary);
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.AdHocViewHeading {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-right: 1rem;
}

.SaveButton {
  border-radius: 8px;

  &[data-disabled="true"] {
    pointer-events: all;
  }

  &:hover {
    background-color: var(--mb-color-background-secondary);
  }
}

.Divider {
  flex-grow: 1;
}

.ViewHeaderActionPanel {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
  position: relative;

  @container query-builder (max-width: 70em) {
    margin-left: 0;
    width: 100%;
    justify-content: start;
    border-top: 1px solid var(--mb-color-border);
    margin-top: 1rem;
    padding: 0.5rem 1.325rem 0 1.325rem;
  }

  @media screen and (max-width: 40em) {
    padding-inline: 1.325rem;
  }

  /* increase specificity */
  .SaveButton {
    &[data-disabled="true"] {
      pointer-events: all;
    }
  }
}

.ViewRunButtonWithTooltip {
  color: var(--mb-color-text-primary);

  &:hover {
    color: var(--mb-color-brand);

    &.isDirty {
      color: var(--mb-color-text-primary-inverse);
    }
  }
}

.ViewHeaderContainer {
  --app-subheader-height: 48px;

  border-bottom: 1px solid var(--mb-color-border);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @media screen and (max-width: 70em) {
    &.isNavBarOpen {
      gap: 0.25rem;

      .ViewHeaderActionPanel {
        margin-left: 0;
      }

      flex-direction: column;
      align-items: start;
    }
  }

  @container query-builder (max-width: 70em) {
    flex-direction: column;
    align-items: start;
    padding: 0.5rem 0;
  }
}

.ViewHeaderIconButtonContainer {
  .ViewHeaderIconButton {
    padding: 0.25rem 0.5rem;
    height: 2rem;
    width: 2rem;

    &:hover {
      color: var(--mb-color-brand);
      background-color: var(--mb-color-background-tertiary);
    }
  }
}

.SavedQuestionHeaderButtonContainer {
  right: 0.38rem;
  width: 100%;

  &.isModelOrMetric {
    right: 0;
  }
}

.ViewHeaderLeftSideWrapper {
  flex-grow: 1;
  align-items: center;
  width: 100%;
  min-width: 0;
  gap: 0.5rem;

  @container query-builder (max-width: 70em) {
    padding-left: 1.325rem;
  }
}

.SavedQuestionLeftSideRoot {
  width: 100%;
  min-width: 0;

  .SavedQuestionHeaderButtonContainer {
    transition: all 400ms ease;
    position: relative;
    top: 0.5rem;
  }

  .ViewHeaderLeftSubHeading {
    opacity: 0;
    transition: all 400ms ease;
  }

  &.showSubHeader {
    .SavedQuestionHeaderButtonContainer {
      top: 0;
    }

    .ViewHeaderLeftSubHeading {
      opacity: 1;
    }
  }

  &:hover,
  &:focus-within {
    .SavedQuestionHeaderButtonContainer {
      top: 0;
    }

    .ViewHeaderLeftSubHeading {
      opacity: 1;
    }
  }

  @container query-builder (max-width: 70em) {
    .SavedQuestionHeaderButtonContainer {
      top: 0;
    }

    .ViewHeaderLeftSubHeading {
      opacity: 1;
    }
  }
}

.ViewHeaderLeftSubHeading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.25rem;
}

.FilterPanel:not([data-css-specificity-hack]) {
  @container query-builder (max-width: 70em) {
    padding-inline: 1.325rem;
  }

  @media screen and (max-width: 40em) {
    padding-inline: 1.325rem;
  }
}
