.iconContainer {
  width: 1.25rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.button {
  background: var(--mb-color-core-brand);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition:
    opacity 300ms ease,
    background 150ms ease,
    transform 150ms ease;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }
}

.button[disabled] {
  background-color: var(--mb-color-background-tertiary);
  cursor: not-allowed;
}

.buttonResponding {
  border: 1px solid var(--mb-color-core-brand);
  background: transparent;
}

.sendIcon {
  color: var(--mb-color-background_page-primary);
  width: 0.8rem;
  transition: color 150ms ease;
}

.stopIcon {
  color: var(--mb-color-core-brand);
  width: 0.5rem;
  height: 0.5rem;
  transition: color 150ms ease;
}

.contentWrapper {
  flex: 1;
  min-width: 0;
  width: 100%;
}
