.editorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 46px;
}

.contentWrapper {
  flex: 1;
  min-width: 0;
  width: 100%;
  padding-left: 0.5rem;
}

.button {
  margin: 0 -0.25rem calc(0.5rem - 1px) 2px;
  background: var(--mb-color-core-brand);
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  transition:
    opacity 300ms ease,
    background 150ms ease,
    transform 150ms ease;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }
}

.buttonHidden {
  opacity: 0;
  transition: opacity 0ms ease;
  user-select: none;
  cursor: default;

  &:hover,
  &:active {
    opacity: 0;
  }
}

.buttonResponding {
  border: 1px solid var(--mb-color-core-brand);
  background: transparent;
}

.sendIcon {
  color: var(--mb-color-background_page-primary);
  width: 0.8rem;
  transition: color 150ms ease;
}

.stopIcon {
  color: var(--mb-color-core-brand);
  width: 0.7rem;
  height: 0.7rem;
  transition: color 150ms ease;
}
