.itemRoot {
  color: var(--mb-color-text-primary);

  .icon {
    color: var(--mb-color-icon-primary);
  }

  .content {
    flex: 1;
    overflow: hidden;
  }

  .subtitle {
    color: var(--mb-color-text-light);
  }

  .tags {
    color: var(--mb-color-admin-navbar);
  }
}

.itemRoot.isActive {
  color: var(--mb-color-text-hover);

  .subtitle {
    color: var(--mb-color-text-brand);
  }
}

.navLink {
  border-radius: 0.5rem;

  &[data-active] {
    .itemRoot {
      color: var(--mb-color-text-hover);
    }

    .subtitle {
      color: var(--mb-color-text-brand);
    }
  }

  &:not([data-active]):hover {
    background-color: var(--mb-color-brand-lighter);
  }
}
