.wrapper {
  display: flex;
  border: 1px solid var(--mb-color-border);
  border-radius: 8px;
  min-height: 40px;
  align-items: center;
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
  transition: border-color 100ms ease;

  &:focus-within {
    border-color: var(--mb-color-brand);
  }
}

.prefix {
  font-weight: bold;
}

.error {
  color: var(--mb-color-error);
  margin: 0.5rem 0;
  white-space: pre-wrap;
}

:global {
  :local(.editor) {
    width: 100%;
    height: 100%;
    color: var(--mb-color-text-dark);

    .cm-editor {
      background: none;
    }

    .cm-focused {
      outline: none;
    }

    .cm-scroller {
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: none;
    }

    .cm-content {
      color: var(--mb-color-text-dark);
      background: none;
    }

    .cm-line {
      background: none;
    }

    .cm-gutters {
      display: none;
      background-color: var(--mb-color-bg-light);
      border: none;
    }

    .cm-gutterElement {
      font-weight: bold;
      font-size: 10px;
      color: var(--mb-color-text-light);
      vertical-align: baseline;
      display: flex;
      align-items: center;
      justify-content: end;

      span[title="Fold line"] {
        position: relative;
        top: -3px;
      }
    }

    .cm-activeLineGutter {
      background: none;
    }

    .cm-selectionBackground {
      background: var(--mb-color-focus) !important;
      border-radius: 1px;
    }

    .cm-selectionMatch {
      background: none;
    }

    .cm-cursor {
      border-left-width: 1.6px;
    }

    .cm-tooltip {
      border: none !important;
      background: none !important;
    }

    .cm-tooltip-autocomplete {
      display: none;
    }
  }

  :local(.tooltips) {
    .cm-tooltip {
      border: none !important;
      background: none !important;
    }

    .cm-tooltip-autocomplete {
      display: none;
    }
  }
}

.helpText {
  /* todo: use correct color */
  background-color: #fafafb;
  color: var(--mb-color-text-primary);

  & + ul {
    border-top: 1px solid var(--mb-color-border);
  }

  .usage {
    padding: 8px;
    font-size: 12px;
    color: var(--mb-color-text-secondary);
    cursor: pointer;
  }

  .arg {
    color: var(--mb-base-color-lobster-60);
  }

  .info {
    padding: 8px;
    max-height: 150px;
    overflow: auto;
    border-top: 1px solid var(--mb-color-border);
  }

  .title {
    color: var(--mb-color-text-secondary);
    margin: 8px 0;
  }

  .arguments {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(4rem, max-content));
    margin: 16px 0;
  }

  .example {
    background-color: var(--mb-color-bg-medium);
    color: var(--mb-color-text-primary);
    border-radius: 4px;
    padding: 16px 8px;
    overflow: auto;

    pre {
      margin: 0;
    }
  }
}

.tooltip {
  background: var(--mb-color-background);
  border: 1px solid var(--mb-color-border);
  border-radius: 8px;
  z-index: 1000;
  width: 400px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 20px 0;

  ul {
    max-height: 250px;
    overflow-y: auto;
  }

  li {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  li:hover,
  li[aria-selected="true"] {
    color: inherit;
    background-color: var(--mb-color-focus);
  }

  .icon {
    margin-right: 8px;
    height: 14px;
  }
}

.footer {
  /* todo: use correct color */
  background-color: #fafafb;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: var(--mb-color-text-secondary);
  border-top: 1px solid var(--mb-color-border);
  font-size: 12px;

  .key {
    padding: 6px;
    border-radius: 6px;
    background-color: var(--mb-base-color-orion-10);
    height: 12px;
    width: 12px;
    margin: 0 4px;

    & + .key {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
