.body {
  overflow: auto;
}

.item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--mb-color-border);
  }
}

.link {
  &:hover {
    color: var(--mb-color-brand);
    text-decoration: none;
  }

  &.primary {
    color: var(--mb-color-text-primary);
  }

  &.secondary {
    color: var(--mb-color-text-secondary);
  }
}
