.headerButton {
  &[data-variant="subtle"] {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    color: var(--mb-color-text-primary);

    &:hover {
      color: var(--mb-color-brand);
      background-color: var(--mb-color-background-tertiary);
    }
  }
}
