
.Calendar {
}

.Calendar-week {
    display: flex;
}

.Calendar-day {
    flex: 1;
    padding: 0.75em;
    margin: 0.25em;
    text-align: center;
    color: color(var(--base-grey) shade(30%));
    border-radius: 99px;
}

.Calendar-day--this-month {
    color: currentcolor;
}

.Calendar-day--today {
    font-weight: 700;
}


.Calendar-day:not(.Calendar-day-name) {
    cursor: pointer;
}

.Calendar-day:not(.Calendar-day--selected,.Calendar-day-name):hover {
    color: var(--purple-color);
}

.Calendar-day--selected {
    color: white;
    background-color: var(--purple-light-color);
}
