.StepperRoot {
  /* Add left margin to make room for the step labels that extend outside */
  margin-left: 1.5rem;
}

/* Active step styles (expanded) */
.ActiveStepRoot {
  position: relative;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  background-color: var(--mb-color-background-primary);
}

.ActiveStepTitle {
  color: var(--mb-color-brand);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ActiveStepLabel {
  position: absolute;
  top: 1.5rem;
  left: 0;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 50%;
  background-color: var(--mb-color-background-primary);
}

.ActiveStepLabelCompleted {
  background-color: var(--mb-color-background-success);
}

.ActiveStepLabelText {
  color: var(--mb-color-brand);
  font-weight: 700;
  line-height: 1;
}

.ActiveStepLabelIcon {
  width: 1rem;
  height: 1rem;
  color: var(--mb-color-success);
}

.ActiveStepTitleCompleted {
  color: var(--mb-color-text-secondary);
}

.ActiveStepContent {
  margin-top: 1rem;
}

/* Inactive step styles (collapsed) */
.InactiveStepRoot {
  position: relative;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--mb-color-background-primary);
  cursor: pointer;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}

.InactiveStepTitle {
  color: var(--mb-color-brand);
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.InactiveStepTitleCompleted {
  color: var(--mb-color-text-secondary);
}

.InactiveStepLabel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 50%;
  background-color: var(--mb-color-background-primary);
}

.InactiveStepLabelCompleted {
  background-color: var(--mb-color-background-success);
}

.InactiveStepLabelText {
  color: var(--mb-color-brand);
  font-weight: 700;
  line-height: 1;
}

.InactiveStepLabelIcon {
  width: 1rem;
  height: 1rem;
  color: var(--mb-color-success);
}
