.Container {
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas:
    "TopBar"
    "MidBar"
    "Main";
}

.TopBar {
  grid-area: TopBar;
}

.MidBar {
  grid-area: MidBar;
}

.Main {
  grid-area: Main;
  display: grid;
  grid-template: subgrid / 1fr;
  grid-template-areas: "Content";
}

.Content {
  grid-area: Content;
  overflow: auto;
}
