.editorButton:not([data-css-specificity-hack="😅"]) {
  color: var(--mb-color-text-dark);
  background: var(--mb-color-bg-white);

  &:hover {
    background: var(--mb-color-bg-white);
  }

  &[data-active="true"] {
    color: var(--mb-color-text-white);
    background: var(--mb-color-brand);
  }
}
