.editorButton:not([data-css-specificity-hack="😅"]) {
  color: var(--mb-color-icon-sdk-editor-button);
  background: var(--mb-color-bg-sdk-editor-button);
  border: 1px solid var(--mb-color-border-sdk-editor-button);

  &:hover {
    background: var(--mb-color-bg-sdk-editor-button);
  }

  &[data-active="true"] {
    color: var(--mb-color-icon-sdk-editor-button-active);
    background: var(--mb-color-bg-sdk-editor-button-active);
  }
}
