.PickerContainer {
  font-family: var(--mb-default-font-family);
  font-size: 13px;

  /** SDK does not have CSS resets for buttons, so we need to reset them here */
  button[disabled],
  button[type="button"] {
    border: none;
    background: none;
  }
}
