:local(.queryButton) {
  composes: flex align-center no-decoration text-brand py1 from "metabase/css/core/index.css";
}

:local(.queryButtonText) {
  composes: flex-full ml2 from "metabase/css/core/index.css";
  max-width: 100%;
}
