:local(.queryButton) {
  composes: align-center no-decoration text-brand py1 from "style";
  display: flex;
}

:local(.queryButtonText) {
  composes: ml2 from "style";
  flex: 1 0 auto;
  max-width: 100%;
}
