.shortcuts {
  position: absolute;
  bottom: var(--mantine-spacing-sm);
  left: calc(1.6rem + var(--mantine-spacing-sm));
  transition: opacity 300ms;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
