.root {
  --sc-background-color: var(
    --mantine-color-accent-gray-light-filled
  ) !important;

  /**
   * We're using :after to apply a border here, to prevent increasing element's height.
   */
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--mb-color-border);
    border-radius: inherit;
  }
}
