.tableContainer {
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.table {
  border-collapse: collapse;
}

.link {
  visibility: hidden;

  .row:hover & {
    visibility: visible;
  }
}
