.CollapsedMoveParameterMenuInput {
  text-align: center;
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
  color: transparent;

  &[data-variant="default"]:hover:not(:disabled) {
    border-color: var(--mb-color-border-neutral);
    background-color: var(--mb-color-background_surface-hover);
  }
}

.CollapsedMoveParameterMenuInputWrapper {
  position: relative;

  &::after {
    content: attr(data-label);
    color: var(--mb-color-text-primary);
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &:hover::after {
    color: var(--mb-color-text-brand-hover);
  }
}

.MoveParameterMenuOptionIcon {
  color: var(--mb-color-text-disabled);
}

.MoveParameterMenuOptionText {
  color: var(--mb-color-text-primary);
}

.MoveParameterMenuOption[aria-selected="true"] {
  .MoveParameterMenuOptionIcon,
  .MoveParameterMenuOptionText {
    color: var(--mb-color-text-selected);
  }
}
