:global(.mb-mantine-Popover-dropdown):has(> .accordionListRoot) {
  display: flex;
  flex-direction: column;
}

.accordionListRoot {
  outline: none;
  overflow: auto;
}

.hasSearch {
  /**
   * When we have a search row, it's sticky, so we need to add
   * scroll padding for scrollIntoView to work correctly and not
   * scroll the items into view behind the search row.
   */
  scroll-padding-top: 60px;
}
