.FullWidthContainer {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;

  @media screen and (min-width: 40em) {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }

  @media screen and (min-width: 80em) {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
  }
}
