.BannerContainer {
  z-index: 1000;
}

.PopoverDropdown.PopoverDropdown {
  border: none;
}

.Indicator {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 6px 24px 0 #0000001a;
}

.Indicator .Content {
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.Indicator .Logo {
  border-radius: 3px 0 0 3px;
}

/**
  * Use hard-coded colors instead of CSS variables to prevent user's themes
  * from interfering with the banner color.
  */

.Indicator.Warning {
  border: 1px solid #e8b923;
}

.Indicator.Error {
  border: 1px solid #f7a4a3;
}

.Indicator.Warning .Content {
  background: #fef3cf;
}

.Indicator.Error .Content {
  background: #fdf0f0;
}

.DocsButton:not([data-css-specificity-hack="🤣"]) {
  border: 1px solid var(--mb-color-brand);
}
