.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input {
  transition: none;

  &:focus-within {
    outline: 2px solid var(--mb-base-color-blue-50);
    border-color: transparent;
    z-index: 5; /* needed to avoid outline truncation for a focused cell */
  }
}
