:root {
  --page-header-padding: 2.375rem;
}

:global(.ContentTable),
.ContentTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

:global(.ContentTable thead),
.ContentTable thead {
  border-bottom: 1px solid var(--color-border);
}

:global(.PageHeader),
.PageHeader {
  padding-top: var(--page-header-padding);
  padding-bottom: var(--page-header-padding);
}

:global(.PageTitle),
.PageTitle {
  margin: 0;
}

:global(.TableActions),
.TableActions {
  text-align: right;
}

:global(.ContentTable .TableActions),
.ContentTable .TableActions {
  opacity: 0;
}

:global(.ContentTable td),
:global(.ContentTable th),
.ContentTable td,
.ContentTable th {
  padding: 1em;
}

:global(.ContentTable th),
.ContentTable th {
  color: var(--color-text-dark);
  padding: 1em;
}

/* TODO: remove this and apply AdminHoverItem to content rows */
:global(.ContentTable tbody tr:hover),
.ContentTable tbody tr:hover {
  background-color: var(--color-brand-alpha-04);
}

:global(.ContentTable tr:hover .TableActions),
.ContentTable tr:hover .TableActions {
  opacity: 1;
  transition: opacity 0.2s linear;
}

:global(.AdminList),
.AdminList {
  background-color: var(--color-bg-light);
  border: var(--border-size) var(--border-style) var(--color-border);
  border-radius: var(--default-border-radius);
  width: 266px;
  min-height: 300px;
  box-shadow: inset -1px -1px 3px var(--color-shadow);
  padding-bottom: 0.75em;
}

:global(.AdminListSearch),
.AdminListSearch {
  position: relative;
}

:global(.AdminListSearch .Icon),
.AdminListSearch .Icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1em;
  color: var(--color-text-light);
}

:global(.AdminListSearch .AdminInput),
.AdminListSearch .AdminInput {
  padding: 0.5em;
  padding-left: 2em;
  font-size: 18px;
  width: 100%;
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  border-bottom-color: var(--color-border);
}

:global(.AdminListItem),
.AdminListItem {
  padding: 0.75em 1em 0.75em 1em;
  border: var(--border-size) var(--border-style) transparent;
  border-radius: var(--default-border-radius);
  margin-bottom: 0.25em;
}

:global(.AdminListItem.selected),
.AdminListItem.selected {
  color: var(--color-brand);
}

:global(.AdminListItem.selected),
:global(.AdminListItem:hover),
.AdminListItem.selected,
.AdminListItem:hover {
  background-color: white;
  border-color: var(--color-border);
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-shadow: 0 1px 2px var(--color-shadow);
}

:global(.AdminListSection),
.AdminListSection {
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  color: var(--color-text-light);
  font-weight: 700;
  font-size: smaller;
  padding-right: 15px; /* set so that table visibility icons align */
}

:global(.AdminInput),
.AdminInput {
  color: var(--color-text-dark);
  padding: var(--padding-1);
  background-color: var(--color-bg-light);
  border: 1px solid transparent;
}

:global(.AdminInput:focus),
.AdminInput:focus {
  border-color: var(--color-brand);
  box-shadow: none;
  outline: 0;
}

:global(.AdminSelect) {
  display: inline-block;
  padding: 0.6em 0.9em;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-white);
  border-radius: var(--default-border-radius);
  font-weight: 700;
  min-width: 104px;
}

:global(.AdminSelect:hover) {
  border-color: color-mod(var(--color-border) blackness(10%));
}

:global(.MetadataTable),
.MetadataTable {
  min-width: 800px;
}

:global(.MetadataTableTitle),
.MetadataTableTitle {
  background-color: var(--color-bg-white);
}

:global(.TableEditorFieldDescription),
.TableEditorFieldDescription {
  font-size: 14px;
}

:global(.TableEditorFieldSemanticType),
:global(.TableEditorFieldTarget),
.TableEditorFieldSemanticType,
.TableEditorFieldTarget {
  margin-top: 3px;
}

:global(.SettingsInput),
.SettingsInput {
  width: 400px;
}

:global(.SettingsPassword),
.SettingsPassword {
  width: 200px;
}

:global(.UserActionsSelect),
.UserActionsSelect {
  min-width: 180px;
}

:global(.AdminTable),
.AdminTable {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

:global(.AdminTable th),
.AdminTable th {
  text-transform: uppercase;
  color: var(--color-text-medium);
  padding: var(--padding-1);
  font-weight: normal;
}

:global(.AdminTable thead),
.AdminTable thead {
  border-bottom: var(--border-size) var(--border-style) var(--color-border);
}

:global(.AdminTable tbody tr:first-child td),
.AdminTable tbody tr:first-child td {
  padding-top: var(--margin-1);
}
