:root {
  --card-border-color: var(--color-border);
  --card-text-color: var(--color-text-medium);
  --card-border-radius: 4px;

  --card-scalar-text-lg: 2.4em;
  --card-scalar-text-xl: 3.4em;
}

.Card {
  position: relative;
}

.Card-footing {
  font-size: 0.8rem;
  color: var(--color-text-medium);
}

.Card-title {
  color: var(--color-text-dark);
  font-size: 0.8em;
}

.Card-dataSource {
  color: var(--color-text-medium);
  padding-top: 0.5em;
}

.Card-defaultBox {
  height: 500px;
}

@media screen and (--breakpoint-min-md) {
  .Card-title {
    font-size: 0.8em;
  }
}

.Card--errored {
  min-height: 80px;
}

.Card-scalarValue {
  overflow: hidden;
}

@media screen and (--breakpoint-min-lg) {
  .Card-scalarValue {
    font-size: var(--card-scalar-text-lg);
  }
}

@media screen and (--breakpoint-min-xl) {
  .Card-scalarValue {
    font-size: var(--card-scalar-text-xl);
  }
}

.CardSettings-group {
  border-bottom: 1px solid var(--color-border);
}

.CardSettings-groupTitle {
  padding: 0.5em;
  border-bottom: 1px solid var(--color-border);
}

.CardSettings-content {
  padding: 2em;
  background-color: var(--color-bg-white);
}

.CardSettings {
  border-top: 1px solid var(--color-border);
  box-shadow: inset 0 1px 1px var(--color-shadow);
}

.CardSettings-label {
  font-size: 1.15em;
  margin-left: 0.5em;
  color: var(--color-text-dark);
}

.CardSettings-colorBlock {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  border-radius: 4px;
}

.CardSettings-colorBlock:last-child {
  margin-right: 0;
}

.Card--scalar {
  padding: 1em;
}
