.SuccessGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-accent1);
  padding: 4em;
}

.SuccessMark {
  display: flex;
  padding: 1em;
  border: 3px solid var(--color-accent1);
  border-radius: 99px;
  color: var(--color-accent1);
  line-height: 1;
}

.SuccessText {
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

#BridgeImg {
  position: relative;
  left: -1240px;
  bottom: -3px;
}

@media screen and (min-width: 800px) {
  #BridgeImg {
    left: -1040px;
  }
}

@media screen and (min-width: 1200px) {
  #BridgeImg {
    left: -840px;
  }
}

@media screen and (min-width: 1600px) {
  #BridgeImg {
    left: -640px;
  }
}

@media screen and (min-width: 1920px) {
  #BridgeImg {
    width: 100%; /* ensure the image always stretches the full width */
    left: 0px;
  }
}
