:global(.PulseEdit-header),
:global(.PulseEdit-footer) {
  width: 100%;
  margin: 0 auto;
  padding-left: 180px;
  padding-right: 180px;
}

:global(.PulseEdit-content) {
  max-width: 550px;
  margin-left: 180px;
}

:global(.PulseButton) {
  color: var(--color-text-medium);
  font-weight: 700;
  border-width: 2px;
  border-color: var(--color-border);
}

:global(.PulseEdit .input),
:global(.PulseEdit .bordered),
:global(.PulseEdit .border-bottom),
:global(.PulseEdit .border-row-divider),
:global(.PulseEdit .AdminSelect) {
  border-width: 2px;
  border-color: var(--color-border);
}

:global(.PulseEdit .AdminSelect) {
  padding: 1em;
}

:global(.PulseEdit .input:focus),
:global(.PulseEdit .input--focus) {
  border-width: 2px;
  border-color: var(--color-brand) !important;
}

:global(.PulseListItem button) {
  font-family: var(--default-font-family), Helvetica, sans-serif;
}

:global(.PulseEditButton) {
  opacity: 0;
  transition: opacity 0.3s linear;
}

:global(.PulseListItem) {
  overflow: hidden;
}

:global(.PulseListItem:hover .PulseEditButton) {
  opacity: 1;
}

:global(.PulseListItem.PulseListItem--focused) {
  border-color: var(--color-brand);
  box-shadow: 0 0 3px var(--color-shadow);
}

:global(.Modal.WhatsAPulseModal) {
  width: auto;
}
