.PulseEdit-header,
.PulseEdit-footer {
  width: 100%;
  margin: 0 auto;
  padding-left: 180px;
  padding-right: 180px;
}

.PulseEdit-content {
  max-width: 550px;
  margin-left: 180px;
}

.PulseButton {
  color: var(--color-text-medium);
  font-weight: 700;
  border-width: 2px;
  border-color: var(--color-border);
}

.PulseEdit .input,
.PulseEdit .bordered,
.PulseEdit .border-bottom,
.PulseEdit .border-row-divider,
.PulseEdit .AdminSelect {
  border-width: 2px;
  border-color: var(--color-border);
}

.PulseEdit .AdminSelect {
  padding: 1em;
}

.PulseEdit .input:focus,
.PulseEdit .input--focus {
  border-width: 2px;
  border-color: var(--color-brand) !important;
}

.PulseListItem button {
  font-family: "Lato", Helvetica, sans-serif;
}

.PulseEditButton {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.PulseListItem {
  overflow: hidden;
}

.PulseListItem:hover .PulseEditButton {
  opacity: 1;
}

.PulseListItem.PulseListItem--focused {
  border-color: var(--color-brand);
  box-shadow: 0 0 3px var(--color-shadow);
}

.DangerZone:hover {
  border-color: var(--color-accent3);
  transition: border 0.3s ease-in;
}

.DangerZone .Button--danger {
  opacity: 0.4;
  background: var(--color-bg-light);
  border: 1px solid var(--color-border);
  color: var(--color-text-dark);
}

.DangerZone:hover .Button--danger {
  opacity: 1;
  background-color: var(--color-accent3);
  border-color: var(--color-accent3);
  color: var(--color-text-white);
}

.Modal.WhatsAPulseModal {
  width: auto;
}
