<div class="bordered rounded clearfix">
    <div class="h5 py2 px3 border-bottom" ng-if="annotations.length > 1">
        <a href="#" ng-if="!expanded_view" ng-click="toggleExpandedView()">View {{annotations.length - 1}} more annotations</a>
        <a href="#" ng-if="expanded_view" ng-click="toggleExpandedView()">Close expanded annotations</a>
    </div>

    <div class="py1 px3 border-bottom" ng-if="annotations.length > 0">
    	<ul>
    		<li ng-repeat="annotation in visible_annotations track by $index">
                <div><!-- todo avatars --></div>
                <div>
                    <p class="h5">
                        <span class="text-brand">{{annotation.author.common_name}}</span>
                        <span class="text-grey-3"> added an annotation for </span>
                        <span class="text-brand">{{getAnnotationTimeframe(annotation)}}</span>
                    </p>

                    <p class="text-grey-4">{{annotation.body}}</p>
                </div>
            </li>
    	</ul>
    </div>

    <div class="py2 px3 text-grey-2">
        <div class="full" ng-if="!edit_mode" ng-click="toggleEditMode()">Add an annotation ...</div>
        <div class="py1" ng-if="edit_mode">
        	<input type="text" class="input full" placeholder=" Title (Optional)" ng-model="new_annotation.title" />

        	<textarea class="input full mt3" rows="2" placeholder=" Description" ng-model="new_annotation.body"></textarea>

        	<div class="mt3 clearfix">
        		<div class="float-right">
        			<button class="Button Button--primary" ng-click="create()">Save</button>
        			<button class="Button" ng-click="toggleEditMode()">Cancel</button>
        		</div>
        		<div>
        			FROM:
                    <span>
                        <input type="text" datepicker-popup="{{DATE_FORMAT}}" is-open="startPicker.isOpen" ng-model="startPicker.date"/>
                        <span class="input-group-btn">
                            <button type="button" class="Button" ng-click="openCalendar($event, 'start')">
                                cal
                            </button>
                        </span>
                    </span>
        			TO:
                    <span>
                        <input type="text" datepicker-popup="{{DATE_FORMAT}}" is-open="endPicker.isOpen" ng-model="endPicker.date"/>
                        <span class="input-group-btn">
                            <button type="button" class="Button" ng-click="openCalendar($event, 'end')">
                                cal
                            </button>
                        </span>
                    </span>
        		</div>
        	</div>
        </div>
    </div>

</div>