.tabList {
  width: 100%;
}

.scrollButton {
  height: calc(100% - 2px);
  cursor: pointer;
  color: var(--mb-color-text-disabled);

  &:hover {
    color: var(--mb-color-core-brand);
  }
}

.left {
  left: 0;
  background: linear-gradient(
    to left,
    transparent,
    8%,
    var(--mb-color-background_page-primary)
  );
}

.right {
  right: 0;
  background: linear-gradient(
    to right,
    transparent,
    8%,
    var(--mb-color-background_page-primary)
  );
}
