.root {
  margin-left: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-sm);
}

.iconWrapper {
  width: 2rem;
  height: 2rem;
  border-radius: var(--mantine-radius-xs);
  cursor: pointer;
  color: var(--mb-color-text-secondary-inverse);
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--mb-color-text-primary-inverse);
    background-color: var(--mb-color-admin-navbar-inverse);
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}
