.levelsGroup {
  /* Padding workaround since popover padding is overridden to zero */
  padding: var(--popover-padding);
  padding-bottom: 0;
}

.timeWrapper {
  /* Padding workaround since popover padding is overridden to zero */
  padding: var(--popover-padding);
  padding-top: 0;
}
