@supports (field-sizing: content) {
  .field {
    flex: 0 1 auto;
    min-width: auto;
    /* stylelint-disable-next-line property-no-unknown */
    field-sizing: content;
    max-width: 100%;
  }
}
