.ListItem[aria-selected="true"] {
  background-color: var(--mb-color-brand);
  color: var(--mb-color-text-primary-inverse);

  .ListItemLabel {
    color: var(--mb-color-text-primary-inverse);
  }

  &:hover {
    .ListItemLabel {
      color: var(--mb-color-text-primary);
    }
  }
}

.SegmentedControlLabel {
  padding: 0;
}
