.editorContainer {
  overflow: hidden;
}

.editor {
  height: 100%;
  background-color: var(--mb-color-background-primary);
}

.sidebar {
  flex-shrink: 0;
  border-left: 1px solid var(--mb-color-border);
}
