{:ssl-client-cert nil,
 :browser-id "129d39d1-6758-4d2c-a751-35b860007002",
 :protocol "HTTP/1.1",
 :cookies {"metabase.DEVICE" {:value "129d39d1-6758-4d2c-a751-35b860007002"}},
 :remote-addr "[0:0:0:0:0:0:0:1]",
 :params {},
 :route-params {},
 :headers
 {"origin" "http://localhost:3000",
  "sec-fetch-site" "same-origin",
  "host" "localhost:3000",
  "user-agent"
  "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.72 Safari/537.36",
  "content-type" "application/json",
  "cookie" "metabase.DEVICE=129d39d1-6758-4d2c-a751-35b860007002",
  "content-length" "67",
  "referer" "http://localhost:3000/auth/login?redirect=%2F",
  "connection" "keep-alive",
  "pragma" "no-cache",
  "accept" "application/json",
  "accept-language" "en-US,en;q=0.9",
  "sec-fetch-dest" "empty",
  "accept-encoding" "gzip, deflate, br",
  "sec-fetch-mode" "cors",
  "dnt" "1",
  "sec-gpc" "1",
  "cache-control" "no-cache"},
 :server-port 3000,
 :content-length 67,
 :form-params {},
 :compojure/route [:post "/"],
 :query-params {},
 :content-type "application/json",
 :path-info "/",
 :character-encoding "UTF-8",
 :context "/api/session",
 :uri "/api/session",
 :server-name "localhost",
 :query-string nil,
 :body {:password "123456", :username "cam@metabase.com", :remember true},
 :scheme :http,
 :request-method :post}
