.root :global(.mb-mantine-PillsInput-input) {
  border: none;
  min-height: 1.25rem;
  font-size: 0.75rem;
  padding: 0;
}

.root [data-combobox-option] {
  padding: 0.25rem 0.5rem;

  &:hover {
    background: var(--mb-color-background-brand);
    color: var(--mb-color-text-primary);
  }

  &[data-combobox-selected],
  &[data-combobox-selected]:hover {
    background-color: var(--mb-color-background-hover);
    color: var(--mb-color-text-primary);
  }
}
