.contentWrapper {
  padding: 0 1.5rem 1rem;
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
}

.copyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-medium);
  cursor: pointer;
}
