.MB-DataTable-header {
    background-color: #fff;
}
.MB-DataTable-header:hover {
    cursor: pointer;
}

.MB-DataTable-header .Icon-chevrondown       { opacity: 0; }
.MB-DataTable-header:hover .Icon-chevrondown { opacity: 1; }

/* what follows is a war crime but such is the state of FE development */
.Visualization .public_fixedDataTable_main {
}

.Visualization .public_fixedDataTableCell_main {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.Visualization .public_fixedDataTableCell_main:hover {
    cursor: pointer;
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.Visualization .public_fixedDataTableRow_highlighted,
.Visualization .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: #fff;
}

.Visualization .public_fixedDataTable_header,
.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: none;
}
