.MB-DataTable-header {
    background-color: #fff;
}
.MB-DataTable-header:hover {
    cursor: pointer;
}

.MB-DataTable-header .Icon       { opacity: 0; }
.MB-DataTable-header:hover .Icon,
.MB-DataTable-header--sorted .Icon     {
    opacity: 1;
    transition: opacity .3s linear;
}

.PagingButtons {
    border: 1px solid #ddd;
}

/* if the column is the one that is being sorted*/
.MB-DataTable-header--sorted {
     color: var(--brand-color);
}

/* what follows is a war crime but such is the state of FE development */
.Visualization .public_fixedDataTable_main {
    border-color: rgb(205, 205, 205);
}

.Visualization .public_fixedDataTableCell_main {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.Visualization .public_fixedDataTableCell_main:hover {
    cursor: pointer;
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.Visualization .public_fixedDataTableRow_highlighted,
.Visualization .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: #fff;
}

.Visualization .public_fixedDataTable_header,
.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #fff;
    background-image: none;
}

.Visualization .public_fixedDataTable_header,
.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #fff;
}
