{
  "rules": {
    "metabase/no-unscoped-text-selectors": 2,
    "import/no-commonjs": 0,
    "metabase/no-color-literals": 0,
    "no-console": 0,
    "@typescript-eslint/no-namespace": "off",
    "cypress/no-assigning-return-values": "error",
    "cypress/no-async-tests": "error",
    "cypress/no-pause": "error",
    "quotes": ["error", "double", { "avoidEscape": true }],
    // Note: adding this rule to a eslint config file in a subfolder will remove
    // *not* carry over the restricted imports from parent folders, you will
    // need to copy them over
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "moment",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "moment-timezone",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            // mocks/presets is for unit tests
            "name": "metabase-types/api/mocks/presets",
            "message": "Please use e2e/support/cypress_sample_database instead"
          }
        ],
        "patterns": [
          {
            "group": [
              "**/enterprise/frontend/src/embedding-sdk-package",
              "**/enterprise/frontend/src/embedding-sdk-package/*"
            ],
            "message": "Please use SDK package name - '@metabase/embedding-sdk-react'"
          }
        ]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "@metabase/embedding-sdk-react"
        ]
      }
    ],
    "metabase/no-direct-helper-import": 2,
    "metabase/no-unsafe-element-filtering": ["warn"],
    "metabase/no-unordered-test-helpers": 2
  },
  "env": {
    "cypress/globals": true,
    "node": true
  },
  "plugins": ["cypress"],
  "overrides": [
    {
      "files": ["*.cy.spec.*"],
      "rules": {
        "no-console": "error"
      }
    }
  ]
}
