.root {
  flex: 1 0 auto;
}

.visualization {
  background-color: var(--mb-color-background-primary);
  border: 1px solid var(--mb-color-border);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  flex: 1;
}
