<div class="wrapper">
    <div class="col col-sm-12">
        <div class="my2">
            <form class="Form bordered rounded" novalidate>
                <div class="Form-group border-bottom">
                    <h3>Create dashboard</h3>
                </div>

                <div class="Form-group">
                    <label class="block py1" for="id_name">Name:</label>
                    <input class="input block full" id="id_name" maxlength="255" type="text" ng-model="dashboard.name" placeholder="E.x. Sales dash"/>
                </div>

                <div class="Form-group clearfix">
                    <label class="Select float-right">
                        <select class="block py1" id="id_perms" ng-init="dashboard.public_perms = utils.perms[0].id" ng-model="dashboard.public_perms" ng-options="perm.id as perm.name for perm in utils.perms">
                        </select>
                    </label>
                    <label class="block py1" for="id_perms">Global Permissions:</label>
                </div>

                <div class="Form-group border-top clearfix">
                    <input class="Button Button--primary float-right" type="button" value="Create" ng-click="create(dashboard)"/>
                </div>
            </form>
        </div>
    </div>
</div>
