<div class="Dashboard">
    <div class="wrapper">
        <header class="py2 px2 clearfix">
            <div class="float-right">
	            <!-- <a class="Button" ng-click="toggleSubscribe()" ng-if="dashboard">{{toggleSubscribeButtonText()}}</a> -->
                <div class="mx1 inline-block">
                    <label class="Select">
                        <select class="block" ng-model="dashboard.public_perms" ng-change="inlineSave(dashboard)" ng-options="perm.id as perm.name for perm in utils.perms" ng-disabled="!dashboard.can_write">
                        </select>
                    </label>
                </div>
                <a class="Button borderless" ng-click="toggleDashEditMode()" ng-if="dashboard.can_write && dashcards.length > 0">
                    <cv-grid-icon width="16px" height="16px"></cv-grid-icon>
                    <span class="px1">{{editingText}}</span>
                </a>
            </div>
            <h3 class="inline-block" editable-text="dashboard.name" onaftersave="inlineSave(dashboard)" ng-if="dashboard.can_write">{{dashboard.name}}</h3>
            <h3 class="inline-block" ng-if="!dashboard.can_write">{{dashboard.name}}</h3>
            <p>
                <span ng-if="!dashEdit">{{dashboard.description}} <span ng-if="dashboard.can_write && dashboard.description">-- <a href="" ng-click="toggleDashEdit()">Edit</a></span></span>
                <span ng-if="dashEdit"><input class="input" type="text" size="140" ng-model="dashboard.description" /> <a class="Button Button--primary" ng-click="inlineSave(dashboard)">Save</a> <a class="Button" ng-click="toggleDashEdit()">Cancel</a></span>
            </p>
        </header>

        <div class="text-centered my4 py4" ng-if="!dashboardLoaded">
            <div class="my4 py4 text-brand">
                <cv-loading-icon></cv-loading-icon>
                <h1 class="text-normal text-grey-2">Loading...</h1>
            </div>
        </div>

        <div class="text-centered my4 py4" ng-if="dashboardLoaded && !dashcards.length > 0">
            <h1 class="text-normal text-grey-2 mt4 pt4">No cards have been added to this dashboard.</h1>
            <a class="Button Button--primary" cv-org-href="/card/create">Create Card</a>
        </div>

        <div gridster="gridsterOptions">
            <div ng-class="editingClass">
                <ul id="dashboard_list">
                    <li class="Dash-card" gridster-item="dashcard" ng-repeat="(index, dashcard) in dashcards">
                        <a class="DashCard-remove" ng-click="removeCard(index)">
                            <span class="DashCard-removeIcon">
                                <cv-close-icon width="12px" height="12px"></cv-close-icon>
                            </span>
                        </a>
                        <cv-card card="dashcard.card" card-data="dashcard.cardData.data" card-settings="cardSettings" index="index" wait-for-gridster />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
