.treeNode.treeNode {
  border-radius: 0.5rem;

  &.isSelected {
    background-color: var(--mb-color-brand-light);
  }

  &:hover:not(&.isSelected) {
    background-color: var(--mb-color-brand-lighter);
  }

  &:not(.isLeaf) {
    color: var(--mb-color-text-dark);

    &.isSelected {
      color: var(--mb-color-text-hover);
    }
  }
}

.nameContainer {
  font-weight: normal;
  overflow: hidden;
}

.leafContent {
  overflow: hidden;
  font-weight: normal;
}
