/* copied from metabase/query_builder/components/view/ViewHeader/ViewTitleHeader.module.css */

.FilterButton {
  &[data-variant="default"] {
    transition: background 300ms linear;

    &:hover {
      color: var(--mb-color-core-filter);
      background-color: color-mix(
        in srgb,
        var(--mb-color-core-filter) 10%,
        var(--mb-color-core-white)
      );
    }
  }
}
