.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gridWrapper {
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--mb-color-background-primary);
}

.gridFooter {
  border: 1px solid var(--mb-color-border);
  background-color: var(--mb-color-background-primary);
  color: var(--mb-color-text-secondary);
  padding: 0.5rem 1.5rem;
  padding-left: 0.5rem;
  height: 2.5rem;
  justify-content: flex-end;
  align-items: center;
}

.filtersSection {
  background-color: var(--mb-color-background-primary);
  border-top: 1px solid var(--mb-color-border);
}
