.animation-loading-bar {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 50px;
  animation: animation-loading-bar 1.5s linear infinite;
}
@keyframes animation-loading-bar {
    0%{
      margin-left:-250px;
    }

    100%{
      margin-left:250px;
  	}

    /*from {
      left: -200px;
      width: 30%;
    }
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}*/
}
