.pointerEventsNone,
.pointerEventsNone * {
  pointer-events: none;
}

.pointerEventsAll {
  pointer-events: all;
}

.pointerEventsAuto {
  pointer-events: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.circle {
  border-radius: 99px;
}
