.pointerEventsNone,
.pointerEventsNone * {
  pointer-events: none;
}

.pointerEventsAll {
  pointer-events: all;
}

.pointerEventsAuto {
  pointer-events: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.circle {
  border-radius: 99px;
}

:global(.sync-status-visible) .syncStatusAwarePagination {
  /* move pagination component up when database sync is in progress to avoid overlapping */
  margin-bottom: 6.5rem;
}
