:root {
  --default-font-family: "Lato";
  --default-font-size: 0.875em;
  --default-font-color: var(--color-text-dark);
  --default-bg-color: var(--color-bg-light);
}

html {
  height: 100%; /* ensure the entire page will fill the window */
  width: 100%;
}

body {
  font-family: var(--default-font-family), sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-dark);
  margin: 0;
  height: 100%; /* ensure the entire page will fill the window */
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-light);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  override default padding and margin on lists
  in most cases we won't be using list-style so
  the padding isn't necessary
*/
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* reset button element */
button {
  font-size: 100%;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input,
textarea {
  font-family: var(--default-font-family), "Helvetica Neue", Helvetica,
    sans-serif;
}

.pointer-events-none {
  pointer-events: none;
}

.disabled,
:local(.disabled) {
  pointer-events: none;
  opacity: 0.4;
}

.faded,
:local(.faded) {
  opacity: 0.4;
}

.MB-lightBG {
  background-color: var(--color-bg-light);
}

.circle {
  border-radius: 99px;
}

.undefined {
  border: 1px solid red !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  100% {
    transform: rotate(-360deg);
  }
}
