:global(.pointer-events-none),
:global(.pointer-events-none *) {
  pointer-events: none;
}

:global(.disabled),
.disabled {
  pointer-events: none;
  opacity: 0.4;
}

:global(.faded),
.faded {
  opacity: 0.4;
}

:global(.fade-in-hover:hover) {
  opacity: 1;
  transition: opacity 0.3s;
}

:global(.circle) {
  border-radius: 99px;
}
