:root {
  --border-size: 1px;
  --border-size-medium: 2px;
  --border-style: solid;
  --border-color: var(--color-border);
}

.bordered {
  border: var(--border-size) var(--border-style) var(--color-border);
}

.borderBottom {
  border-bottom: var(--border-size) var(--border-style) var(--color-border);
}

/* ensure that a border-top item inside of a bordered element won't double up */
.bordered > .border-bottom:last-child {
  border-bottom: none;
}

.borderTop {
  border-top: var(--border-size) var(--border-style) var(--color-border);
}

/* ensure that a border-top item inside of a bordered element won't double up */
.bordered > .border-top:first-child {
  border-top: none;
}

.borderRowDivider {
  border-bottom: var(--border-size) var(--border-style) var(--color-border);
}

.borderRowDivider:last-child {
  border-bottom: none;
}

.borderRight {
  border-right: var(--border-size) var(--border-style) var(--color-border);
}

.borderLeft {
  border-left: var(--border-size) var(--border-style) var(--color-border);
}

:global(.border-light) {
  border-color: color-mod(var(--color-border) alpha(-80%)) !important;
}

:global(.border-error),
.border-error,
.borderError {
  border-color: var(--color-error) !important;
}

:global(.border-success) {
  border-color: var(--color-success) !important;
}

:global(.border-brand),
.border-brand,
.borderBrand {
  border-color: var(--color-brand) !important;
}

:global(.border-transparent) {
  border-color: transparent;
}

/* BORDERLESS IS THE DEFAULT */
/* ONLY USE IF needing to override an existing border! */
/* ensure there is no border via important */
:global(.borderless),
.borderless {
  border: none !important;
}

:global(.border-medium) {
  border-width: var(--border-size-medium);
}
