:global(.cursor-pointer),
.cursor-pointer,
.cursorPointer {
  cursor: pointer;
}

:global(.cursor-grab),
.cursorGrab {
  cursor: grab;
}

:global(.cursor-default),
.cursor-default {
  cursor: default;
}
