:global(.Grid) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

:global(.Grid-cell),
:global(.Grid--normal > .Grid-cell) {
  flex: 1;
}

:global(.Grid--flexCells > .Grid-cell) {
  display: flex;
}

:global(.Grid--top) {
  align-items: flex-start;
}

:global(.Grid--bottom) {
  align-items: flex-end;
}

:global(.Grid--center) {
  align-items: center;
}

:global(.Grid--justifyCenter) {
  justify-content: center;
}

:global(.Grid-cell--top) {
  align-self: flex-start;
}

:global(.Grid-cell--bottom) {
  align-self: flex-end;
}

:global(.Grid-cell--center) {
  align-self: center;
}

:global(.Grid-cell--autoSize) {
  flex: none;
}

:global(.Grid--fit > .Grid-cell) {
  flex: 1;
}

:global(.Grid--full > .Grid-cell) {
  flex: 0 0 100%;
}

:global(.Grid--1of2 > .Grid-cell) {
  flex: 0 0 50%;
}

:global(.Grid--1of3 > .Grid-cell) {
  flex: 0 0 33.3333%;
}

:global(.Grid--1of4 > .Grid-cell) {
  flex: 0 0 25%;
}

@media (--breakpoint-min-sm) {
  :global(.small-Grid--fit > .Grid-cell) {
    flex: 1;
  }
  :global(.small-Grid--full > .Grid-cell) {
    flex: 0 0 100%;
  }
  :global(.small-Grid--1of2 > .Grid-cell) {
    flex: 0 0 50%;
  }
  :global(.small-Grid--1of3 > .Grid-cell) {
    flex: 0 0 33.3333%;
  }
  :global(.small-Grid--1of4 > .Grid-cell) {
    flex: 0 0 25%;
  }
}

@media (--breakpoint-min-md) {
  :global(.md-Grid--fit > .Grid-cell) {
    flex: 1;
  }
  :global(.md-Grid--full > .Grid-cell) {
    flex: 0 0 100%;
  }
  :global(.md-Grid--1of2 > .Grid-cell) {
    flex: 0 0 50%;
  }
  :global(.md-Grid--1of3 > .Grid-cell) {
    flex: 0 0 33.3333%;
  }
  :global(.md-Grid--1of4 > .Grid-cell) {
    flex: 0 0 25%;
  }
}

@media (--breakpoint-min-lg) {
  :global(.large-Grid--fit > .Grid-cell) {
    flex: 1;
  }
  :global(.large-Grid--full > .Grid-cell) {
    flex: 0 0 100%;
  }
  :global(.large-Grid--1of2 > .Grid-cell) {
    flex: 0 0 50%;
  }
  :global(.large-Grid--1of3 > .Grid-cell) {
    flex: 0 0 33.3333%;
  }
  :global(.large-Grid--1of4 > .Grid-cell) {
    flex: 0 0 25%;
  }
}

:global(.Grid--gutters) {
  margin: -1em 0 1em -1em;
}
:global(.Grid--gutters > .Grid-cell) {
  padding: 1em 0 0 1em;
}

:global(.Grid--guttersLg) {
  margin: -1.5em 0 1.5em -1.5em;
}
:global(.Grid--guttersLg > .Grid-cell) {
  padding: 1.5em 0 0 1.5em;
}

:global(.Grid--guttersXl) {
  margin: -2em 0 2em -2em;
}
:global(.Grid--guttersXl > .Grid-cell) {
  padding: 2em 0 0 2em;
}

:global(.Grid--guttersXXl) {
  margin: -5em 0 5em -5em;
}
:global(.Grid--guttersXXl > .Grid-cell) {
  padding: 5em 0 0 5em;
}

@media (--breakpoint-min-sm) {
  :global(.small-Grid--gutters) {
    margin: -1em 0 1em -1em;
  }
  :global(.small-Grid--gutters > .Grid-cell) {
    padding: 1em 0 0 1em;
  }
  :global(.small-Grid--guttersLg) {
    margin: -1.5em 0 1.5em -1.5em;
  }
  :global(.small-Grid--guttersLg > .Grid-cell) {
    padding: 1.5em 0 0 1.5em;
  }
  :global(.small-Grid--guttersXl) {
    margin: -2em 0 2em -2em;
  }
  :global(.small-Grid--guttersXl > .Grid-cell) {
    padding: 2em 0 0 2em;
  }
  :global(.small-Grid--guttersXXl) {
    margin: -5em 0 5em -5em;
  }
  :global(.small-Grid--guttersXXl > .Grid-cell) {
    padding: 5em 0 0 5em;
  }
  :global(.sm-Grid--normal > .Grid-cell) {
    flex: 1;
  }
}

@media (--breakpoint-min-md) {
  :global(.md-Grid--gutters) {
    margin: -1em 0 1em -1em;
  }
  :global(.md-Grid--gutters > .Grid-cell) {
    padding: 1em 0 0 1em;
  }
  :global(.md-Grid--guttersLg) {
    margin: -1.5em 0 1.5em -1.5em;
  }
  :global(.md-Grid--guttersLg > .Grid-cell) {
    padding: 1.5em 0 0 1.5em;
  }
  :global(.md-Grid--guttersXl) {
    margin: -2em 0 2em -2em;
  }
  :global(.md-Grid--guttersXl > .Grid-cell) {
    padding: 2em 0 0 2em;
  }
  :global(.md-Grid--guttersXXl) {
    margin: -5em 0 5em -5em;
  }
  :global(.md-Grid--guttersXXl > .Grid-cell) {
    padding: 5em 0 0 5em;
  }
  :global(.md-Grid--normal > .Grid-cell) {
    flex: 1;
  }
}

@media (--breakpoint-min-lg) {
  :global(.large-Grid--gutters) {
    margin: -1em 0 1em -1em;
  }
  :global(.large-Grid--gutters > .Grid-cell) {
    padding: 1em 0 0 1em;
  }
  :global(.large-Grid--guttersLg) {
    margin: -1.5em 0 1.5em -1.5em;
  }
  :global(.large-Grid--guttersLg > .Grid-cell) {
    padding: 1.5em 0 0 1.5em;
  }
  :global(.large-Grid--guttersXl) {
    margin: -2em 0 2em -2em;
  }
  :global(.large-Grid--guttersXl > .Grid-cell) {
    padding: 2em 0 0 2em;
  }
  :global(.large-Grid--guttersXXl) {
    margin: -5em 0 5em -5em;
  }
  :global(.large-Grid--guttersXXl > .Grid-cell) {
    padding: 5em 0 0 5em;
  }
  :global(.large-Grid--normal > .Grid-cell) {
    flex: 1;
  }
}

:global(.Grid-cell.Cell--1of3) {
  flex: 0 0 33.3333%;
}

@media screen and (--breakpoint-min-sm) {
  :global(.Grid-cell.sm-Cell--1of3) {
    flex: 0 0 33.3333%;
  }
}

@media screen and (--breakpoint-min-md) {
  :global(.Grid-cell.md-Cell--1of3) {
    flex: 0 0 33.3333%;
  }
}

@media screen and (--breakpoint-min-lg) {
  :global(.Grid-cell.lg-Cell--1of3) {
    flex: 0 0 33.3333%;
  }
}

@media screen and (--breakpoint-min-xl) {
  :global(.Grid-cell.xl-Cell--1of3) {
    flex: 0 0 33.3333%;
  }
}
