:root {
  --shadow-color: color(var(--color-shadow) alpha(-92%));
  --shadow-hover-color: color(var(--color-shadow) alpha(-88%));
}
.shadowed,
:local(.shadowed) {
  box-shadow: 0 2px 2px color(var(--color-shadow) alpha(-92%));
}

.shadow-hover:hover {
  box-shadow: 0 2px 2px color(var(--color-shadow) alpha(-88%));
  transition: box-shadow 300ms linear;
}
