.transition-color,
:local(.transition-color) {
  transition: color 0.3s linear;
}
.transition-background,
:local(.transition-background) {
  transition: background 0.2s linear;
}
.transition-shadow {
  transition: box-shadow 0.2s linear;
}
.transition-all {
  transition: all 0.2s linear;
}

.transition-border {
  transition: border 0.3s linear;
}
