.transition-color, :local(.transition-color) {
  transition: color .3s linear;
}
.transition-background, :local(.transition-background) {
	transition: background .2s linear;
}
.transition-shadow {
  transition: box-shadow .2s linear;
}
.transition-all {
  transition: all .2s linear;
}

.transition-border {
  transition: border .3s linear;
}
