.chevron {
  transition: transform 100ms ease-in-out;
  opacity: 0.35;
  flex-shrink: 0;

  &.expanded {
    transform: rotate(90deg);
  }
}

.item {
  &:hover {
    background-color: var(--mb-color-brand-lighter);
  }
}
