.pluginListItem {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.pluginListItem:hover {
  background-color: var(--mb-color-background-hover);
}

.pluginList > *:not(:last-child) {
  border-bottom: 1px solid var(--mb-color-border);
}
