.customVizListItem {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.customVizListItem:hover {
  background-color: var(--mb-color-background-hover);
}

.menuContainer {
  visibility: hidden;
}

.customVizListItem:hover .menuContainer {
  visibility: visible;
}
