.ToggleRoot {
  color: var(--mb-color-text-medium);
}

.ToggleContent {
  color: var(--mb-color-text-medium);
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;

  &.isReadOnly {
    display: none;
  }

  &:hover {
    color: var(--mb-color-brand);
  }
}
