.breadcrumb {
  min-width: 0;
  font-size: 0.875em;

  &:hover {
    .content {
      color: var(--active-color);
    }
  }
}

.content {
  --active-color: var(--mb-color-brand);

  color: var(--mb-color-text-tertiary);
}
