.root {
  overflow: hidden;
}

.filterBar {
  border-bottom: 1px solid var(--mb-color-border);
}

.tabsBar {
  border-bottom: 1px solid var(--mb-color-border);
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}
