.container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}

.containerSingleColumn {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: 0 auto;
}

.leftColumn {
  flex: 1;
}

.leftColumnSingleColumn {
  flex: 1;
}

.rightColumn {
  flex: 1;
  background-color: var(--mb-color-background-secondary);
  padding-left: 2.5rem;
}
