.iconButton {
  cursor: pointer;
  color: var(--mb-color-text-primary);
}

.iconButtonBrandHover:hover {
  color: var(--mb-color-brand);
}

.iconButtonErrorHover:hover {
  color: var(--mb-color-error);
}

.iconButtonSuccessHover:hover {
  color: var(--mb-color-success);
}

.iconButtonDisabled {
  color: var(--mb-color-text-tertiary);
  cursor: default;
}
