.root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 0.5rem;
}

.visualizationWrapper {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.chartGrid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 0;
  gap: 1rem;
}

.chartGridItem {
  width: calc(50% - 0.5rem);
  min-height: 300px;
}

.chartGridItem:only-child {
  width: 100%;
}

.visualization {
  background-color: var(--mb-color-background-primary);
  overflow: hidden;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
}
