.root {
  flex-grow: 1;

  .input,
  .input:focus-within {
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-weight: bold;
    padding-left: var(--mantine-spacing-lg);
  }
}
