<cv-setup-header
   text="Define your data.">
</cv-setup-header>
<h3 class="text-centered mb4">We'll get your data linked and labeled to make exploring easier.</h3>


<div class="border-bottom mt4 col col-sm-12 col-md-10 offset-md-1"> 
    <ul class="flex col col-sm-12 col-md-8 offset-md-2">
      <li class="flex-1 p2 border-left bg-white border-top border-right text-centered"
          ng-class="{'text-brand bg-brand-light border-brand' : currentTab == 'suggestions'}"
          ng-click="currentTab = 'suggestions'">
        Suggestions
      </li>
      <li class="flex-1 p2 border-left bg-white border-right border-top text-centered"
          ng-class="{'text-brand bg-brand-light border-brand' : currentTab == 'original' }"
          ng-click="currentTab = 'original'">
        Original
      </li>
    </ul>
</div> 

<div class="bg-white col col-sm-12 col-md-8 offset-md-2 bordered shadowed mt4" ng-if="currentTab == 'suggestions'">
    <accordion close-others="oneAtATime">
    <ul>
        <li class="p2 border-bottom" ng-repeat="ingestion in ingestedData"> 

          <h3>
            <input class="input text-brand" type="text" value="{{ingestion.suggestedName}}"> data lives in
            <div class="inline-block Dropdown" dropdown on-toggle="toggle(open)">
              <span class="text-brand" dropdown-toggle>{{ingestion.originalName}}
                <cv-chevron-down-icon width="16px" height="16px"></cv-chevron-down-icon>
              </span>
              <ul class="Dropdown-content">
                <li ng-repeat="ingestion in ingestedData">
                  {{ingestion.originalName}}
                </li>
              </ul>
            </div>
          </h3>

          <h5 class="mt2">{{ingestion.suggestedName}} have
            <ul class="inline-block ml1">
              <li class="inline-block mr1 bordered p1" ng-repeat="entity in ingestedData" ng-if="entity.suggestedName != ingestion.suggestedName">
                {{entity.suggestedName}}
              </li>
            </ul>
          </h4>

          <div class="border-top">
            <accordion-group heading="Edit table metadata">
              DATA TABLE
            </accordion-group>
          </div>

        </li>
        <li class="p2">
          <h2><input class="input" placeholder="" type="text"> data lives in </h2>
        </li>
    </ul>
    </accordion>
    <div class="text-centered border-top py2">
      <cv-step-button destination="/setup/profile"
                      text="Save and continue">
      </cv-step-button>
    </div>
  </div>
