<cv-setup-header
   text="Create your account.">
</cv-setup-header>


<div>
    <input class="input block" type="text" placeholder="Your first name" ng-model="newUser.firstName" autofocus>
    <input class="input block" type="text" placeholder="Your last name" ng-model="newUser.lastName" autofocus>
    <input class="input block" type="text" placeholder="Your company email address" ng-model="newUser.email">
    <input class="input block" type="password" placeholder="Create a password." ng-model="newUser.password">
    <input class="input block" type="password" placeholder="Confirm your new passoword" ng-model="newUser.repeated_password">
    <a class="Button Button--primary"
       ng-click="createAdmin(newUser)">
      Save and continue
    </a>
  <div>{{errors}}</div>
</div>
