<section class="SetupSubNav">
    <div class="SetupWrapper">
        <div class="SetupBreadcrumbs hidden">
            <ul>
                <li class="inline-block text-grey-3 invisible"><a class="Breadcrumb" href="/setup/intro">Welcome</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="SetupOffset">
    <div class="AdminContent AdminContent-shallow text-centered">
        <h1 class="SetupIntro-heading">Welcome to Metabase</h1>
        <p class="SetupIntro-subHeading">Let's get you connected to your data and invite your team.</p>
        <div class="mt1">
            <input class="Connection-input text-centered inline-block"
                type="text"
                placeholder="What's your company or organization called?"
                ng-model="userOrgName"
                autofocus
             />

            <div class="py4">
                <cv-step-button
                    ng-click="setOrgName(userOrgName)">
                </cv-step-button>
            </div>
        </div>
        <div>{{error}}</div>
    </div>
</section>
