<section class="SetupSubNav">
    <div class="SetupWrapper">
        <div class="SetupBreadcrumbs">
            <ul>
                <li class="inline-block text-grey-3"><a class="Breadcrumb" href="/setup/team">Team</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="SetupOffset">
<div class="AdminContent AdminContent-shallow">
        <div class="border-bottom">
            <input class="input borderless flex-1" type="text" placeholder="Team member's email address" ng-model="inviteeEamil">
            <a class="Button Button--primary ml1"
                href="#"
                ng-click="addInvitee(inviteeEamil)">
               Add
            </a>
        </div>
        <ul ng-if="users.length > 0">
          <li ng-repeat="user in users track by $index">
            <cv-user-cell user="user">
            </cv-user-cell>
          </li>
        </ul>
    </div>
</div>
</section>

<div class="SetupBar">
    <div ng-show="databases.length > 0">
        <cv-step-button
            text="Next"
            destination="/setup/team">
        </cv-step-button>
    </div>
</div>
