<section class="SetupSubNav">
    <div class="SetupWrapper">
        <div class="SetupBreadcrumbs hidden">
            <ul>
                <li class="inline-block text-grey-3 invisible"><a class="Breadcrumb" href="/setup/intro">Welcome</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="SetupOffset">
    <div class="AdminContent AdminContent-shallow">
        <div class="p4">
            <h1 class="SetupIntro-heading">Welcome to Metabase</h1>
            <p class="SetupIntro-subHeading">Let's set up your profile and get you connected to your data.</p>
            <div class="mt1">
                <input class="Connection-input inline-block"
                    type="text"
                    placeholder="What's your company or organization called?"
                    ng-model="userOrgName"
                    autofocus
                 />
                <input class="Connection-input block" type="text" placeholder="Your first name" ng-model="newUser.firstName" autofocus>
                <input class="Connection-input block" type="text" placeholder="Your last name" ng-model="newUser.lastName" autofocus>
                <input class="Connection-input block" type="text" placeholder="Your company email address" ng-model="newUser.email">
                <input class="Connection-input block" type="password" placeholder="Create a password." ng-model="newUser.password">
                <input class="Connection-input block" type="password" placeholder="Confirm your new password" ng-model="newUser.repeated_password">
            </div>
            <div class="bg-error text-white p2 rounded" ng-show="error">
                {{error}}
            </div>
        </div>
    </div>
</section>

<div class="SetupBar">
    <div>
        <cv-step-button
            text="Next"
            ng-click="createOrgAndUser()">
        </cv-step-button>
    </div>
</div>
