
<div class="wrapper">
    <div class="border-bottom">
        <h2 ng-if="!datamart.id">Create DataMart</h2>
        <h2 ng-if="datamart.id">{{datamart.name}}</h2>
    </div>

    <form novalidate>
        <div class="py1">
            <div class="py1">
                <label>Name:</label>
                <input class="input block full" type="text" ng-model="datamart.name"/>
            </div>

            <div class="py1">
                <label>Postgres Connection String:</label>
                <input class="input block full" type="text" ng-model="datamart.details.conn_str"/>
                <span>ex: host=[ip address] port=5432 dbname=examples user=corvus password=******</span>
            </div>

            <div class="py1">
                <label>Timezone:</label>
                <select class="block" ng-model="datamart.details.timezone" ng-options="tz for tz in form_input['timezones']">
                    <option value="">----------</option>
                </select>
            </div>
        </div>

        <div class="py2 border-top">
          <div class="inline-block">
            <input class="Button Button--primary" type="button" value="Save" ng-click="save(datamart)"/>
          </div>
        </div>
    </form>
</div>
