{
 ;; we have to copy over the Maven repos used for the Athena and Redshift drivers to here as well -- this is
 ;; apparently done on purpose, as a security thing. See
 ;; https://ask.clojure.org/index.php/10726/deps-manifest-dependencies-respect-repos-dependent-project
 :mvn/repos
 {"athena"   {:url "https://s3.amazonaws.com/maven-athena"}
  "redshift" {:url "https://s3.amazonaws.com/redshift-maven-repository/release"}}

 :deps
 {metabase/athena             {:local/root "athena"}
  metabase/bigquery-cloud-sdk {:local/root "bigquery-cloud-sdk"}
  metabase/druid              {:local/root "druid"}
  metabase/druid-jdbc         {:local/root "druid-jdbc"}
  metabase/mongo              {:local/root "mongo"}
  metabase/oracle             {:local/root "oracle"}
  metabase/presto-jdbc        {:local/root "presto-jdbc"}
  metabase/redshift           {:local/root "redshift"}
  metabase/snowflake          {:local/root "snowflake"}
  metabase/sparksql           {:local/root "sparksql"}
  metabase/sqlite             {:local/root "sqlite"}
  metabase/sqlserver          {:local/root "sqlserver"}
  metabase/vertica            {:local/root "vertica"}}}
