{
 ;; we have to copy over the Maven repos used for the Athena and Redshift drivers to here as well -- this is
 ;; apparently done on purpose, as a security thing. See
 ;; https://ask.clojure.org/index.php/10726/deps-manifest-dependencies-respect-repos-dependent-project
 :mvn/repos
 {"metabase-maven-downloads" {:url "https://s3.amazonaws.com/metabase-maven-downloads"}
  "redshift" {:url "https://s3.amazonaws.com/redshift-maven-repository/release"}}

 :deps
 {metabase/athena             {:local/root "../../components/driver-athena"}
  metabase/bigquery-cloud-sdk {:local/root "../../components/driver-bigquery-cloud-sdk"}
  metabase/clickhouse         {:local/root "../../components/driver-clickhouse"}
  metabase/databricks         {:local/root "../../components/driver-databricks"}
  metabase/druid              {:local/root "../../components/driver-druid"}
  metabase/druid-jdbc         {:local/root "../../components/driver-druid-jdbc"}
  metabase/hive-like          {:local/root "../../components/driver-hive-like"}
  metabase/mongo              {:local/root "../../components/driver-mongo"}
  metabase/oracle             {:local/root "../../components/driver-oracle"}
  metabase/presto-jdbc        {:local/root "../../components/driver-presto-jdbc"}
  metabase/redshift           {:local/root "../../components/driver-redshift"}
  metabase/snowflake          {:local/root "../../components/driver-snowflake"}
  metabase/sparksql           {:local/root "../../components/driver-sparksql"}
  metabase/sqlite             {:local/root "../../components/driver-sqlite"}
  metabase/sqlserver          {:local/root "../../components/driver-sqlserver"}
  metabase/starburst          {:local/root "../../components/driver-starburst"}
  metabase/vertica            {:local/root "../../components/driver-vertica"}}}
