.RowCountButton {
  font-weight: bold;
  cursor: pointer;
  color: var(--mb-color-text-secondary);

  &:hover {
    color: var(--mb-color-core-brand);
  }

  &.isHighlighted {
    color: var(--mb-color-core-brand);
  }
}

.RowCountStaticLabel {
  color: var(--mb-color-text-secondary);
}
