commands:
  test_command: 
    command: sed -i 's/location \/ {/location \/ {\nif ($http_x_forwarded_proto != "https") {\n    set $var "redirect";\n}\n\nif ($request_uri = "\/api\/health") {\n    set $var "${var}_health";\n}\n\nif ($var = 'redirect') {\n    rewrite ^ https:\/\/$host$request_uri? permanent;\n}\n/' *-proxy.conf 
    cwd: /etc/nginx/sites-available
    ignoreErrors: true
