.root {
  --ni-right-section-width-sm: rem(24px);
  --ni-right-section-width-md: rem(24px);
  --ni-right-section-width-lg: rem(24px);
}

.controls {
  max-width: none;
  width: rem(24px);
  height: 100%;
}

.wrapper .controls .control {
  --control-border: 0.5px solid var(--mb-color-border-neutral-strongest);

  color: var(--mb-color-icon-primary);
  background-color: var(--mb-color-background_surface-primary);

  &:last-of-type {
    border-top: 0.5px solid var(--mb-color-border-neutral-strong);
  }
}
