.table {
  position: relative;
  color: var(--mb-color-text-primary);
  width: 100%;
  height: 100%;
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.tableGrid {
  display: flex;
  flex-flow: column nowrap;
  outline: none;
  overflow: auto;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  scrollbar-gutter: stable;
}

.pinnedColumnsSection {
  flex-shrink: 0;
  position: sticky;
  left: 0;
  z-index: 2;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid var(--mb-color-border-subtle);
  min-width: max-content;
  height: 37px;
}

.pinnedRowsSection {
  position: sticky;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  /*
   Since each cell already has border-bottom: 1px,
   the total horizontal separator is now 2px + 1px = 3px,
   matching the .pinnedColumnsSection.withSeparator at 3px.
 */
  border-bottom: 2px solid var(--mb-color-border-subtle);
}

.pinnedColumnsSection.withSeparator {
  border-right: 3px solid var(--mb-color-border-subtle);
}

.centerRowsSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.centerColumnsSection {
  position: relative;
  flex: 0 0 auto;
  min-width: 0;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selectableBody {
  user-select: none;
}

.row {
  display: flex;
  width: 100%;
  position: relative;

  &.active {
    background-color: color-mix(
      in srgb,
      var(--mb-color-brand),
      transparent 90%
    );
  }
}

.headerCell {
  position: relative;
}

.bodyCell {
  position: relative;
  cursor: pointer;
}

.focusedCell {
  user-select: text;
  outline: 2px solid var(--mb-color-focus);
  outline-offset: -2px;
}

.focusedCell * {
  pointer-events: auto;
}

.rowHoverContent {
  visibility: hidden;
}

.row:hover .rowHoverContent {
  visibility: visible;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: transparent;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.resizer:hover {
  opacity: 1;
  background: var(--mb-color-brand);
}

.resizer:active {
  opacity: 1;
  background: var(--mb-color-brand);
}

.headerWrapper {
  width: 100%;
  height: 100%;
  outline: none;
}

.headerWrapper:hover {
  cursor: grab;
}

.rowHoverVisible {
  display: none;
}

.row:hover .rowHoverVisible {
  display: unset;
}

.rowHoverHidden {
  display: unset;
}

.row:hover .rowHoverHidden {
  display: none;
}

.row:hover .headerCell {
  box-shadow: inset -1px 0 0 var(--mb-color-border-subtle);
}

.cellHoverVisible {
  visibility: hidden;
}

.bodyCell:hover .cellHoverVisible {
  visibility: visible;
}

/** Used for storybook examples for class Styles Api */
.__storybookStylesApiBodyCellExample {
  background-color: #eef6fd;

  &:hover {
    background-color: aquamarine;
  }
}
