<div class="Home full-height" ng-controller="Home">
    <div class="bg-brand text-white border-bottom">
        <div class="Grid align-center wrapper">
            <div class="Greeting Grid-cell" ng-controller="HomeGreeting">
                <div class="Greeting-title">{{greeting}}</div>
                <div class="Greeting-subtitle">{{subheading}}</div>
            </div>
            <div class="Grid-cell flex-align-right">
                <a class="HomeTab Grid-cell" ng-class="{'HomeTab--active' : currentView === 'data' }" ng-click="currentView = 'data'">I have a new question</a>
                <a class="HomeTab Grid-cell" ng-class="{'HomeTab--active' : currentView === 'questions'}" ng-click="currentView = 'questions'">An existing question</a>
            </div>
        </div>
    </div>

    <div ng-controller="CardList" ng-if="currentView != 'data'">
        <div class="HomeSubNav bg-white border-bottom">
            <div class="wrapper flex">
                <a class="QuestionFilter flex align-center mr2" ng-click="filter('all')" ng-class="{'QuestionFilter--active': filterMode === 'all'}">
                    <mb-icon class="mr1" name="popular" width="32px" height="32px"></mb-icon>
                    Popular
                </a>
                <a class="QuestionFilter flex align-center mr2" ng-click="filter('mine')" ng-class="{'QuestionFilter--active': filterMode === 'mine'}">
                    <mb-icon class="mr1" name="star" width="18px" height="18px"></mb-icon>
                    Mine
                </a>
                <a class="QuestionFilter flex align-center mr2" ng-click="filter('fav')" ng-class="{'QuestionFilter--active': filterMode === 'fav'}">
                    <mb-icon class="mr1" name="star" width="18px" height="18px"></mb-icon>
                    Favorites
                </a>
            </div>
        </div>

        <div class="wrapper">
            <div ng-if="!cards" class="text-brand">
                <mb-loading-icon></mb-loading-icon>
            </div>

            <div class="Grid">
                <ul class="Grid-cell mt4">
                    <li ng-repeat="card in cards | filter:searchFilter">
                        <a href="/card/{{card.id}}" class="Entity flex align-center no-decoration mb2 p2 border-bottom">
                            <div class="flex flex-column">
                                <div class="flex align-center">
                                    <h4 class="Entity-title">{{card.name}}</h4>
                                    <span class="Badge Badge--permissions ml2" ng-if="card.public_perms === 0">
                                        <mb-icon name="lock" width="12px" height="12px"></mb-icon>
                                    </span>
                                </div>
                                <span class="Entity-attribution">
                                    Asked by: {{card.creator.common_name}}
                                </span>
                            </div>
                            <div class="flex flex-align-right">
                                <mb-icon class="text-grey-1 mr4" name="star" width="18px" height="18px" ng-click="console.log('derp');"></mb-icon>
                                <mb-icon class="text-grey-1 flex-align-right" name="chevronright" width="18px" height="18px"></mb-icon>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="full-height" ng-if="currentView === 'data'" ng-controller="ExploreDatabaseList">
        <div class="HomeSubNav border-bottom mb2">
            <div class="wrapper">
                Data source:
                <div class="Dropdown inline-block" dropdown on-toggle="toggled(open)">
                    <div class="DataSourceDropdown-title text-brand" dropdown-toggle>
                        {{currentDB.name}}
                        <mb-icon name="chevrondown" width="8px" height="8px"></mb-icon>
                        </span>
                        <ul class="Dropdown-content">
                            <li ng-repeat="(id, db) in databases">
                                <a class="Dropdown-item h6 block" ng-click="selectCurrentDB(id)">
                                    {{db.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="wrapper" ng-if="tables">
                <li ng-repeat="table in tables" ng-if="table.rows > 0">
                    <a class="no-decoration py2 border-bottom flex align-center" href="/card/create?db={{currentDB.id}}&table={{table.id}}">
                        <div class="flex flex-column">
                            <h2 class="text-brand">{{table.name}}</h2>
                            {{table.description}}
                        </div>
                        <div class="flex flex-align-right align-center">
                            <div class="text-right text-grey-3 mr2">
                                <h3>{{table.rows}}</h3>
                                <h6 class="text-uppercase ">total</h6>
                            </div>
                            <mb-icon class="text-grey-1" name="chevronright" width="18px" height="18px"></mb-icon>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="full-height" ng-if="tables.length === 0">
            <div class="wrapper flex layout-centered">
                <h2>No data is avaliable for this database</h2>
            </div>
        </div>
    </div>
</div>
