{:paths
 ["src" "resources"]

 :deps
 ;; TODO: use BOM to manage these (see extensive comment in project.clj under bigquery for more details)
 ;; ensure the version of google-http-client transitively depended on here matches that of bigquery-cloud-sdk
 ;; (which, at the moment, is 1.39.2)
 {com.google.apis/google-api-services-bigquery {:mvn/version "v2-rev20211106-1.32.1"}}

 :metabase.driver/parents #{:google}}
