  </div>
  {{#quotation}}
    <div style="padding-top: 2em; padding-bottom: 1em; padding-left: 16px; text-align: left; color: #CCCCCC; font-size: small;">"{{quotation}}"<br/>- {{quotationAuthor}}</div>
  {{/quotation}}
  {{#logoFooter}}
    <div style="padding-bottom: 2em; padding-top: 1em; padding-left: 16px; text-align: left;">
      {{> metabase/email/_logo }}
    </div>
  {{/logoFooter}}
</body>
</html>
