  </div>
  {{#quotation}}
    <div style="padding-top: 2em; padding-bottom: 1em; text-align: center; color: #CCCCCC; font-size: small;">"{{quotation}}"<br/>- {{quotationAuthor}}</div>
  {{/quotation}}
  {{#logoFooter}}
    <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
      <img width="32" height="40" src="http://static.metabase.com/email_logo.png"/>
    </div>
  {{/logoFooter}}
</body>
</html>
