<html>
<head>
  <style>
    @media screen and (min-width:600px) {
      .pulse .container {
        padding: 2em 4em !important;
      }
    }
  </style>
</head>
<body class="{{emailType}}" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 0.875rem; color: #727479; padding: 1em; background-color: #F9FBFC; ">
  {{#logoHeader}}
    <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
      <img width="32" height="40" src="http://static.metabase.com/email_logo.png"/>
    </div>
  {{/logoHeader}}
  <div class="container" style="margin: 0 auto; padding: 0; max-width: 660px; color: #9F9F9F;">
