<html>
<head>
  <style>
    @media screen and (min-width:600px) {
      .pulse .container {
        padding: 2em 4em !important;
      }
    }
  </style>
</head>
<body class="{{emailType}}" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; padding: 1em;">
  {{#logoHeader}}
    <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
      <img width="47" height="60" src="http://static.metabase.com/email_logo.png"/>
    </div>
  {{/logoHeader}}
  <div class="container" style="margin: 0; padding: 0 0 2em 0; max-width: 100%; font-size: 16px; line-height: 24px; color: #616D75;">
