{{> metabase/email/_header }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08);">
    <p>You’re no longer receiving alerts about <a href="{{questionURL}}">{{questionName}}</a>.</p>
  </div>
{{> metabase/email/_footer}}
