{{> metabase/email/_header }}
  <p>Alerts about {{questionName}} have stopped because the question was archived by {{archiverName}}.</p>
  <p>If you want to restore the alert, go to the <a href="{{archiveURL}}">archive</a>, unarchive the question and re-create the alert.</p>
{{> metabase/email/_footer}}
