{{> metabase/email/_header }}
    <p>{{adminName}} deleted an alert you created about <a href="{{questionURL}}">{{questionName}}.</p>
    <p>Since we're in the business of alerts, we thought we'd alert you.</p>
{{> metabase/email/_footer}}
