{{> metabase/email/_header }}
    <p>You’re now getting alerts about <a href="{{questionURL}}">{{questionName}}</a>.</p>
    <p>We’ll send you an email {{alertCondition}}.</p>
    <p>If you don’t want to receive these alerts, you can <a href="{{questionURL}}">go to this question</a> and unsubscribe from the menu in the top-right.</p>
{{> metabase/email/_footer}}
