{{> metabase/email/_header }}
    <p>This is just a confirmation that your alert about <a href="{{questionURL}}">{{questionName}}</a> has been set up.</p>
    <p>This alert will be sent {{alertCondition}}.</p>
{{> metabase/email/_footer}}
