{{> metabase/email/_header }}
  <div>
    {{#sentFromSetup}}
      <div style="max-width: 500px; margin-left: auto; margin-right: auto">
        <h2 style="font-weight: bold; color: #4C5773; line-height: 2rem;">{{invitorName}} could use your help setting up Omniloy</h2>
      </div>
      <div style="max-width: 500px; margin-left: auto; margin-right: auto; line-height: 1.5rem; color: #4C5773;">
        <p>Omniloy is a simple and powerful analytics tool that lets you easily <strong>ask questions</strong> and <strong>get answers</strong> about your company’s data.
        <p>Your Omniloy is up and running, but {{invitorName}} needs you to connect your data. You'll probably need:
        <ul>
          <li>Database type (Redshift, Snowflake, etc...)</li>
          <li>Host and port</li>
          <li>Username and password</li>
        </ul>
      </div>
    {{/sentFromSetup}}
    {{^sentFromSetup}}
      <div style="text-align: center">
        <h2 style="max-width: 500px; margin-left: auto; margin-right: auto; font-weight: bold; font-size: 28px; color: #46484C; line-height: 2rem;">{{invitorName}} wants you to join them on Omniloy</h2>
      </div>
      <div style="max-width: 500px; margin-left: auto; margin-right: auto; font-size: 18px; line-height: 1.5rem; color: #76797D; text-align: center">
        <p>Omniloy is a simple and powerful analytics tool that lets you easily <strong>ask questions</strong> and <strong>get answers</strong> about your company’s data.</p>
      </div>
    {{/sentFromSetup}}
    <div style="padding: 1.25em 0 1em 0; text-align: center">
      <a style="display: inline-block; box-sizing: border-box; text-decoration: none; font-size: 1rem; padding: 0.8rem 5.25rem; background: #FBFCFD; color: #444; cursor: pointer; text-decoration: none; font-weight: bold; border-radius: 6px; background-color: #223800; color: #fff;" href="{{joinUrl}}">Join now</a>
    </div>
    {{#sentFromSetup}}
      <div style="max-width: 500px; margin-left: auto; margin-right: auto; line-height: 1.5rem; color: #223800">
        <p>P.S. If you run into any issues, check out our <a href="https://www.metabase.com/docs/latest/databases/connecting">connection</a> and <a href="https://www.metabase.com/docs/latest/troubleshooting-guide/db-connection">troubleshooting</a> guides</p>
      </div>
    {{/sentFromSetup}}
  </div>
</div>
</body>
</html>
