{{> metabase/email/_header }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08); text-align: center;">
    <p>
      <h2 style="margin: 0; padding: 0; padding-bottom: .4em; font-weight: normal; color: #4C545B;">Things Have Changed</h2>
      <div style="padding-bottom: 1em;">
      {{#updated-by}}<a style="text-decoration: none; color: #509EE3;" href="mailto:{{email}}">{{first_name}} ({{email}})</a>{{/updated-by}}
      changed the definition of <span style="color: #757578; font-weight: bold;">"{{#object}}{{name}}{{/object}}."</span>
      This might affect the appearance or results of these items that you created:
      </div>
    </p>
    {{#dependencies}}
    <p>
      <h4 style="margin: 0; padding: 0; padding-bottom: .4em; color: #4C545B;">{{model}}s</h4>
      <div style="padding-bottom: .7em;">
      {{#objects}}
      <a style="text-decoration: none; color: #509EE3;" href="{{url}}">{{name}}</a>
      {{/objects}}
      </div>
    </p>
    {{/dependencies}}
    <p>
      <h2 style="margin: 0; padding: 0; padding-top: .6em; padding-bottom: .4em; font-weight: normal; color: #4C545B;">Why was this changed?</h2>
      "{{#object}}{{revision_message}}{{/object}}"
    </p>
  </div>
{{> metabase/email/_footer }}
