{{> metabase/email/_header }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08); text-align: center;">
    <p>
      <h1>Things Have Changed</h1>
      {{#updated-by}}<a href="mailto:{{email}}">{{common_name}} ({{email}})</a>{{/updated-by}} changed the definition of <span>"{{#object}}{{name}}{{/object}}"</span>.
      This might affect the appearance or results of these items that you created:
    </p>
    {{#dependencies}}
    <p>
      <h3>{{model}}s</h3>
      {{#objects}}
      <a href="{{url}}">{{name}}</a>
      {{/objects}}
    </p>
    {{/dependencies}}
    <p>
      <h1>Why was this changed?</h1>
      "{{#object}}{{revision_message}}{{/object}}"
    </p>
  </div>
{{> metabase/email/footer }}
