{{> metabase/email/_header }}
  <p>
    You're receiving this e-mail because you or someone else has requested a password for your user account at {{hostname}}.
    It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
  </p>
  <p>
    <a href="{{passwordResetUrl}}">{{passwordResetUrl}}</a>
  </p>
{{> metabase/email/footer }}
