{{> metabase/email/_header }}
  <div>
    {{#google}}
      <p>You're using Google to log in to {{applicationName}}, so you don't have a password. You can log in to {{applicationName}} by clicking "Sign in with Google"</p>
      <a href="{{siteUrl}}">Go to {{applicationName}}</a>
    {{/google}}
    {{^google}}
      {{#nonGoogleSSO}}
        <p>We can't reset your password because you're using single sign-on to log in to {{applicationName}}. Use the
        "Sign in with SSO" button on the log in page. To change your password, you'll need to contact an administrator.</p>
        <a href="{{siteUrl}}">Go to {{applicationName}}</a>
      {{/nonGoogleSSO}}
      {{^nonGoogleSSO}}
        {{#isActive}}
          <div style="text-align: center">
            <p>Click the button below to reset the password for your {{applicationName}} account at {{siteUrl}}.</p>
            <a style="display: inline-block; box-sizing: border-box; font-size: 18px; padding: 8px 22px; cursor: pointer; text-decoration: none; border-radius: 4px; background-color: #4990E2; border-color: #4990E2; color: #fff;" href="{{passwordResetUrl}}">Reset password</a>
            <p style="padding-top: 2em; font-size: small;">Didn't request this password reset? It's safe to ignore it.</p>
          </div>
        {{/isActive}}
        {{^isActive}}
          <p>Someone requested a password reset for your {{applicationName}} account at {{siteUrl}}, but your account
          has been deactivated. Contact an administrator for further assistance.</p>
          {{#adminEmailSet}}
            <a href="mailto:{{adminEmail}}">Contact your administrator</a>
          {{/adminEmailSet}}
        {{/isActive}}
      {{/nonGoogleSSO}}
    {{/google}}
  </div>
{{> metabase/email/_footer }}
