{{> metabase/email/_header}}
  {{#pulseName}}
    {{#pulseLink}}
      <a href="{{pulseLink}}" class="title-link">
        <h1 style="{{sectionStyle}} margin: 24px 0 24px 0;">
          {{pulseName}}
        </h1>
      </a>
    {{/pulseLink}}
    {{^pulseLink}}
      <h1 style="{{sectionStyle}} margin: 16px; color: {{color-brand}};">
        {{pulseName}}
      </h1>
    {{/pulseLink}}
  {{/pulseName}}
  {{{pulse}}}
{{> metabase/email/_footer_pulse}}
