<html>
  <head>
   {{!-- TODO: convert most styles to inline styles for wider support --}}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

      * {
        font-size: 12px;
        color: {{colorTextDark}};
        font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
      }

      body {
        padding: 0px;
      }

      .background {
        background-color: #F9F9F9;
        width: 719px;
        height: 100%;
      }

      .container {
        background-color: #FFFFFF;
        width: 555px;
        border-radius: 30px;
        margin-left: 52px;
        margin-right: 52px;
        padding: 30px;
      }

      .icon {
        padding-right: 16px;
      }

      hr {
        border-width: 0;
        background: #F0F0F0;
        color: #F0F0F0;
        height: 1px;
      }

      {{!-- General formatting for links. Marked as important since otherwise Gmail will sometimes override it --}}
      a {
        color: {{applicationColor}} !important;
        text-decoration: none !important;
      }

      a:hover, a:active {
         text-decoration: underline;
      }

      {{!-- Formatting for Markdown header elements --}}
      h1, h2, h3, h4, h5, h6 {
        color: {{colorTextDark}};
        font-weight: 900;
      }

      h1 {
        font-size: 20px;
        line-height: 24px;
      }

      h2 {
        font-size: 18px;
        line-height: 22px;
      }

      h3 {
        font-size: 16px;
        line-height: 20px;
      }

      h4, h5, h6 {
        font-size: 14px;
        line-height: 18px;
      }

      {{!-- Adjust layout for mobile clients --}}
      @media screen and (max-width:600px) {
        .background {
          width: 100%;
        }
        .container {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

    </style>
  </head>
  <body>
    <div class="background">
      <div class="spacer">&#8202;</div>
      <div class="container">
        <table class="header">
          <tr>
            <td>
              <img class="icon" width="20" height="20" style="padding-top: 4px" src="cid:{{iconCid}}"/>
            </td>
            <td>
              <a href={{dashboardUrl}} style="font-size: 20px; font-weight: 700; padding-bottom: 4px;">
                {{pulseName}}
              </a>
            </td>
          </tr>
          <tr>
            <td>&#8202;</td>
            <td>
              <div style="color: {{colorTextDark}}; font-size: 14px; padding-bottom: 4px;">
                {{dashboardDescription}}
              </div>
            </td>
          </tr>
          <tr>
            <td>&#8202;</td>
            <td>
              <div style="color: {{colorTextLight}}; font-size: 12px">
                Sent by {{pulseCreator}}
              </div>
            </td>
          </tr>
        </table>
        <hr style="border-width: 0; background: #F0F0F0; color: #F0F0F0; height: 1px; margin-top: 20px; margin-bottom: 20px;">
        {{{pulse}}}
        <hr style="border-width: 0; background: #F0F0F0; color: #F0F0F0; height: 1px; margin-top: 20px; margin-bottom: 20px;">
        <div style="font-size: 11px; width: max-content; margin: 0 auto">
          Sent from <a href="{{siteUrl}}" style="color: {{applicationColor}}">
            {{siteUrl}}
          </a>.
          <a href="{{notificationManagementUrl}}"
             style="color: {{applicationColor}}">
            Manage your subscriptions
          </a>
        </div>
      </div>
      <div class="spacer">&#8202;</div>
    </div>
  </body>
</html>

