{{> metabase/email/_header }}
  <div style="text-align: center; margin: 0 auto; max-width: 500px">
    <div style="text-align: left">
      <h2 style="font-weight: normal; color: #4C545B; line-height: 34px;">Your Slack connection stopped working</h2>
      <p style="line-height: 22px; margin-bottom: 40px">This may affect existing dashboard subscriptions. Follow the steps in settings to reconnect Slack and get things up and running again.</p>
    </div>
    <a style="{{buttonStyle}}" href="{{settingsUrl}}">
      Go to settings
    </a>
  </div>
{{> metabase/email/_footer }}
