.results {
  position: relative;
  overflow: auto;
  height: 100%;
}

.item {
  --item-top-border-color: transparent;
  /* box-shadow is a way to avoid layout shifts and doubled borders in the items */
  box-shadow: inset 0 1px 0 var(--item-top-border-color);
  /* TODO: probably we can avoid using absolute positioning */
  position: absolute;
  cursor: pointer;
  border-bottom: 1px solid var(--mb-color-border);

  &:focus-visible,
  &.selected {
    outline: 2px solid var(--mb-color-focus);

    --item-top-border-color: var(--mb-color-border);
  }

  &:hover {
    background-color: var(--mb-color-brand-lighter);

    --item-top-border-color: var(--mb-color-border);
  }

  &.active {
    color: var(--mb-color-brand);
    background-color: var(--mb-color-brand-light);

    --item-top-border-color: var(--mb-color-border);

    .icon {
      opacity: 1;
    }
  }

  &:first-of-type {
    --item-top-border-color: var(--mb-color-border);
  }
}

.icon {
  opacity: 0.5;
  flex-shrink: 0;
}

.checkbox {
  flex-shrink: 0;
}

.checkboxColumn {
  flex-shrink: 0;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: var(--mantine-spacing-sm);
}

.chevronSlot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  transition: transform 100ms ease-in-out;
  opacity: 0.35;
  flex-shrink: 0;

  &.expanded {
    transform: rotate(90deg);
  }
}

.label {
  user-select: none;
  overflow-wrap: anywhere;
  white-space: nowrap;
}

.hidden {
  opacity: 0;
}

.visibilityToggle {
  flex-shrink: 0;

  &:focus,
  .item:hover &,
  .item:focus &,
  .item.selected &,
  .item.active & {
    opacity: 0.75;
  }
}

.massVisibilityToggle {
  flex-shrink: 0;
  opacity: 0;

  &:focus,
  .item:hover &,
  .item:focus &,
  .item.selected {
    opacity: 0.75;
  }
}
