.tab {
  border-radius: 999px;
  padding: 0.6rem 1rem;
  color: var(--mb-color-text-primary);
  text-decoration: none;

  &:hover {
    background-color: var(--mb-color-background_surface-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--mb-color-input-focus);
  }
}

.selected {
  background-color: var(--mb-color-background_surface-selected);
  color: var(--mb-color-core-brand);

  &:hover {
    background-color: var(--mb-color-background_surface-selected);
  }
}

.label {
  font-size: var(--mantine-font-size-md);
  font-weight: bold;
  line-height: 1.15;
}
