.SidebarAside {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--mb-color-border-neutral);
  background: var(--mb-color-background_page-primary);
}

.ChildrenContainer {
  flex: auto;
  overflow-y: auto;
}

.ButtonContainer {
  border-top: 1px solid var(--mb-color-border-neutral);
}
