.dangerItem {
  color: var(--mb-color-error);
}

/* double classname for specificity */
.dangerItem.dangerItem:hover {
  background-color: var(--mb-color-error);
  color: var(--mb-color-text-primary-inverse);
}
