.dangerItem {
  color: var(--mb-color-feedback-negative);
}

/* double classname for specificity */
.dangerItem.dangerItem:hover {
  background-color: var(--mb-color-feedback-negative);
  color: var(--mb-color-text-primary-inverse);
}
