.featureList {
  margin: 0;
  padding-left: var(--mantine-spacing-lg);
  list-style-type: disc;
}

.featureList li {
  margin-bottom: var(--mantine-spacing-sm);
}

.featureList li:last-child {
  margin-bottom: 0;
}
