.root {
  &:has(.radio:disabled) {
    .label {
      color: var(--mb-color-text-tertiary);
    }

    .description {
      color: var(--mb-color-text-tertiary);
    }

    .icon {
      color: var(--mb-color-text-primary-inverse);
    }
  }

  /* Need the additional specificity to override global focus outline rule */
  .radio:focus {
    outline: none;
  }
}

.radio {
  cursor: pointer;
  border-color: var(--mb-color-text-tertiary);

  &:checked {
    border-color: var(--mb-color-brand);
    background-color: var(--mb-color-brand);
  }

  &:disabled {
    opacity: 0.3;
  }

  &:disabled:not(:checked) {
    border-color: var(--mb-color-text-tertiary);
    background-color: var(--mb-color-background-tertiary);
  }
}

.label {
  color: var(--mb-color-text-primary);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-md);
}

.labelWrapper {
  justify-content: center;
  width: 100%;
}

.description {
  color: var(--mb-color-text-primary);
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-md);
  margin-top: var(--mantine-spacing-xs);
}
