.paragraph {
  position: relative;

  &:hover {
    .commentsMenu {
      opacity: 1;
    }
  }
}

.commentsMenu {
  position: absolute;
  top: 0;
  right: 100%;
  opacity: 0;

  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

.visible {
  opacity: 1;
}
