.paragraph {
  position: relative;

  &:hover {
    .commentsMenu {
      opacity: 1;
    }
  }
}

.commentsMenu {
  position: absolute;
  top: 0;
  right: 100%;
  opacity: 0;
  user-select: none;

  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

.visible {
  opacity: 1;
}

.open {
  --padding: 24px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(-1 * var(--padding) / 2);
    top: calc(-1 * var(--padding) / 2);
    width: calc(100% + var(--padding));
    height: calc(100% + var(--padding));
    background-color: var(--mb-color-brand-alpha-04);
    border: 1px solid var(--mb-color-brand);
    border-radius: 8px;
    pointer-events: none;
  }
}
