.ObjectViewSectionActions {
  visibility: hidden;
}

.ObjectViewSection {
  border-radius: var(--default-border-radius);
  padding: 0 var(--mantine-spacing-md);
  position: relative;
  transition: all 0.2s ease;

  &:hover .ObjectViewSectionActions {
    visibility: visible;
  }

  &.hovered {
    position: relative;

    &:after {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: -12px;
      right: 0;
      bottom: -12px;
      left: 0;
      /* border: 2px solid var(--mb-color-brand); */
      background-color: var(--mb-color-brand);
      opacity: 0.2;
      pointer-events: none;
      user-select: none;
    }
    /* background-color: var(--mb-color-brand-0); */
    /* box-shadow: 0 0 0 1px var(--mb-color-brand); */
  }

  .SectionTitle {
    padding: 0;
  }

  .SectionContent {
    gap: var(--mantine-spacing-md);
  }

  .Field {
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    min-width: 0;
    gap: var(--mantine-spacing-md);

    .FieldName {
      display: flex;
      gap: var(--mantine-spacing-sm);
      align-items: center;
    }
  }

  &.normal {
    .SectionContent {
      flex-direction: column;

      .Field {
        align-items: start;
      }

      .FieldName {
        white-space: nowrap;
        min-width: 33%;
        max-width: 33%;
        flex-shrink: 0;

        > * {
          font-size: 1.0625rem;
        }
      }

      .FieldValue {
        word-break: break-word;
        font-size: 1.0625rem;
        text-align: left;
      }
    }
  }

  &.header {
    .SectionTitle {
      display: none;
    }

    .SectionContent {
      gap: 1rem;
    }

    .FieldName {
      display: none;
    }

    .FieldValue {
      font-size: 3.125rem;
      font-weight: 700;
    }
  }

  &.subheader {
    margin-top: -0.75rem;

    .SectionTitle {
      display: none;
    }

    .SectionContent {
      gap: 0;
      flex-wrap: wrap;
    }

    .FieldName {
      display: none;
    }

    .Field + .Field {
      display: flex;
      line-height: 1.25;

      .FieldValue {
        display: flex;
      }
    }
  }

  &.highlight1,
  &.highlight2 {
    .SectionContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--mantine-spacing-xl);
    }

    .SectionContent .Field {
      flex-direction: column;
      overflow: hidden;
      align-items: start;
      align-content: start;
    }

    &.highlight1 {
      .SectionTitle {
        display: none;
      }

      .SectionContent {
        background-color: var(--mb-base-color-gray-5);
        padding: 1.5rem 1rem;
        border-radius: var(--default-border-radius);
      }

      .Field {
        .FieldName,
        .FieldValue {
          text-align: center;
          justify-content: center;
        }

        .FieldName {
          font-size: 0.875rem;
        }

        .FieldValue {
          font-size: 2.625rem;
        }
      }
    }

    &.highlight2 {
      .Field {
        align-items: start;
        align-content: start;
        gap: var(--mantine-spacing-sm);
      }

      .FieldName {
        text-align: center;
        font-size: 0.875rem;
      }

      .FieldValue {
        font-size: 1.75rem;
        line-height: 1;
        font-weight: 700;
      }
    }

    .SectionContent .FieldName,
    .SectionContent .FieldValue {
      width: 100%;
    }
  }
}

.ObjectViewSidebarSectionActions {
  visibility: hidden;
}

.ObjectViewSidebarSection {
  &:hover .ObjectViewSidebarSectionActions {
    visibility: visible;
  }
}

.ObjectViewSidebarColumnActionIcon {
  visibility: hidden;
}

.ObjectViewSidebarColumn {
  &:hover .ObjectViewSidebarColumnActionIcon {
    visibility: visible;
  }
}

.link,
.link > div {
  cursor: pointer;
  text-decoration: none;
  color: var(--mb-color-brand) !important;

  &:hover {
    text-decoration: underline;
  }
}

.separator::before {
  display: block;
  content: "•";
  margin: 0 0.75rem;
  color: var(--mb-color-text-secondary);
  font-size: 1em;
}
