.ObjectViewSectionActions {
  visibility: hidden;
}

.ObjectViewSection {
  &:hover .ObjectViewSectionActions {
    visibility: visible;
  }

  &.normal {
    .SectionContent {
      flex-direction: column;

      .Field {
        align-items: center;
      }

      .FieldName {
        white-space: nowrap;
        min-width: 40%;
        max-width: 40%;
        flex-shrink: 0;
        font-size: 1rem;
      }
      .FieldValue {
        font-size: 1rem;
        text-align: left;
      }
    }
  }

  &.header {
    /* todo  */
  }
  &.subheader {
    /* todo  */
  }
  &.highlight1 {
    /* todo  */
  }
  &.highlight2 {
    /* todo  */
    .SectionContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--mantine-spacing-md);
    }

    .SectionContent .Field {
      grid-column: span 1;
      flex-direction: column;
      overflow: hidden;
      align-items: start;
      align-content: start;

      .FieldName {
        font-size: 0.875rem;
      }

      .FieldValue {
        font-size: 1.75rem;
        line-height: 1;
        font-weight: 700;
      }
    }

    .SectionContent .FieldName,
    .SectionContent .FieldValue {
      width: 100%;
    }
  }
}

.ObjectViewSidebarSectionActions {
  visibility: hidden;
}

.ObjectViewSidebarSection {
  &:hover .ObjectViewSidebarSectionActions {
    visibility: visible;
  }
}

.ObjectViewSidebarColumnActionIcon {
  visibility: hidden;
}

.ObjectViewSidebarColumn {
  &:hover .ObjectViewSidebarColumnActionIcon {
    visibility: visible;
  }
}
