.EditableTitle {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.ParameterWidget {
  border: 1px solid var(--mb-color-border);
  border-radius: 8px;
  background-color: var(--mb-color-bg-light);
  padding: 1rem;
}
