.headerBorder {
  border: 1px solid var(--mb-color-border-neutral);
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.bodyBorder {
  border: 1px solid var(--mb-color-border-neutral);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.rowDivider:not(:first-of-type) {
  border-top: 1px solid var(--mb-color-border-neutral);
}
