.monthsList {
  display: block;

  & > tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

.monthsListCell {
  padding: 0 !important;

  &:not(:first-child) {
    display: none;
  }
}
