.root {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 32rem;
}

.body {
  overflow: auto;
}

.item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--mb-color-border);
  }
}

.itemLink {
  &:hover {
    color: var(--mb-color-brand);
  }
}
