.iconButton {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 0.25rem;
}

.searchTextButton {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem 0 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  gap: 0.25rem;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }

  &:hover .shortcutText {
    color: var(--mb-color-text-secondary);
    transition: color 100ms ease;
    /* Not semantically correct color, but we need something with contrast on background-hover */
    background-color: var(--mb-color-background-selected);
  }
}

.shortcutText {
  color: transparent;
  user-select: none;
  transition: color 350ms ease;
  border-radius: 2px;
  height: 1rem;
  padding-inline: 4px;
  min-width: 1rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 1rem;
}
