.iconButton {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 0.25rem;
}

.searchTextButton {
  height: 100%;
  width: 100%;
  padding-left: 0.25rem;
}
