.sdkDebugInfo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  backdrop-filter: blur(6px);
  background: color-mix(
    in srgb,
    var(--mb-color-background-primary) 60%,
    transparent
  );
  font-size: 12px;
  text-align: left;
}
