.Container {
  max-width: 100%;

  &.headVariant {
    .HeaderBreadcrumb {
      font-size: 1.25rem;
    }
  }
}

.HeaderBreadcrumbs {
  color: var(--mb-color-text-disabled);
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
  user-select: none;
}
