.container {
  padding-inline: 0.75rem;
  height: 2.5rem;
  background-color: var(--mb-color-background-primary);
  border: 1px solid var(--mb-color-border);
  border-radius: var(--default-border-radius);
}

.label {
  flex-shrink: 0;
}

.triggerButton {
  border: none;
  background: transparent !important;

  &:hover {
    color: var(--mb-color-brand) !important;
  }
}

.tableList {
  max-height: 300px;
  overflow-y: auto;
}

.listItem {
  height: 2.25rem;
  min-height: 2.25rem;
  padding: 0.5rem;
  border-radius: var(--default-border-radius);

  &:hover {
    background-color: var(--mb-color-background-hover);

    .focusButton {
      opacity: 1;
    }
  }
}

.checkboxRoot {
  flex: 1;
  min-width: 0;
}

.checkboxBody {
  min-width: 0;
  width: 100%;
  overflow: hidden;
}

.checkboxLabelWrapper {
  overflow: hidden;
}

.checkboxLabel {
  flex: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkboxLabelBold {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}

.checkboxLabelTertiary {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--mb-color-text-tertiary);
}

.focusButton {
  flex-shrink: 0;
  padding: 0.25rem;
  border-radius: var(--default-border-radius);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}
