<div class="layout-centered col col-md-6">
    <h1 class="text-brand">
        Forgot password?
    </h1>

    <form novalidate>
        <p class="text-grey-4">
            Happens to the best of us. Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        </p>

        <div class="my2">
            <input class="input block full" id="id_email" name="email" size="30" type="email" placeholder="Email address" autofocus>
        </div>

        <button class="Button Button--primary my2" ng-click="">
            Send password reset email
        </button>
    </form>

    <p class="text-grey-4">
        Please <a class="text-brand" href="mailto:datahelp@expa.com">contact us</a> if you have any trouble resetting your password.
    </p>
</div>