<div class="layout-centered col col-md-6" ng-if="!resetSuccess">
    <h1 class="text-brand my2">
        Change password
    </h1>

    <div class="row">
        <form novalidate>
            <p class="text-grey-4 px2">Your new password must be <b>10 characters</b> or longer, and <b>include an uppercase letter</b> and <b>a punctuation mark</b>. We know it's a bit much, but security is what the cool kids care about.</p>

            <alert class="Form-group alert mx2" type="error" ng-if="error">Failed to set new password.</alert>

            <div class="col col-md-8">
                <div class="py2">
                    <input class="input block full" id="id_password1" name="password1" type="password" placeholder="New Password" autofocus ng-model="password">
                </div>
                <div class="py2">
                    <input class="input block full" id="id_password2" name="password2" placeholder="New password again" type="password" ng-model="password2">
                </div>
                <div class="py2">
                    <button class="Button Button--primary" ng-click="resetPassword(password)">
                        Change Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="layout-centered col col-md-6" ng-if="resetSuccess" ng-cloak>
    <h1 class="text-brand my2">
        Password change successful!
    </h1>
    <p class="text-grey-4">
        Your password has been changed.
        <a class="link" href="/auth/login">Sign in with your new password.</a>
    </p>
</div>