.SnippetForm {
  .FormSnippetTextArea {
    width: 100%;
    background-color: var(--mb-color-background-secondary);
    font-family: var(--mb-default-monospace-font-family, monospace);
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5em;
  }
}

.ArchiveButton {
  &[data-variant="subtle"]:hover {
    background-color: var(--mb-color-background-secondary);
  }
}
