:root {
  --brand-color: #509EE3;

  --base-grey: #f8f8f8;
  --alt-bg-color: #F4F6F8;

  --success-color: #9CC177;
  --headsup-color: #F5A623;

  --gold-color: #F9D45C;

  --error-color: #EF8C8C;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-alt {
  background-color: var(--alt-bg-color);
}

/* brand */
.text-brand {
  color: var(--brand-color);
}

.bg-brand {
  background-color: var(--brand-color);
}

/* success */

.text-success {
  color: var(--success-color);
}

.bg-success {
  background-color: var(--success-color);
}

/* error */

.text-error {
  color: var(--error-color);
}

.bg-error {
  background-color: var(--error-color);
}

.text-headsup {
  color: var(--headsup-color);
}

.bg-headsup {
  background-color: var(--headsup-color);
}

/* favorite */
.text-gold {
    color: var(--gold-color);
}

.bg-gold {
    background-color: var(--gold-color);
}

/* grey */

.text-grey-1 { color: color(var(--base-grey) shade(10%)) }
.text-grey-2 { color: color(var(--base-grey) shade(20%)) }
.text-grey-3 { color: color(var(--base-grey) shade(30%)) }
.text-grey-4 { color: color(var(--base-grey) shade(40%)) }

.bg-grey-1 { background-color: color(var(--base-grey) shade(10%)) }
.bg-grey-2 { background-color: color(var(--base-grey) shade(20%)) }
.bg-grey-3 { background-color: color(var(--base-grey) shade(30%)) }
.bg-grey-4 { background-color: color(var(--base-grey) shade(40%)) }
