.Grid {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

/* grid cells are used to create columns */
.Grid-cell {
    flex: 1;
}

.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
}

.Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
}


/* TODO - use breakpoint md and add responsive grid classes */
@media screen and (--breakpoint-max-lg) {
    .Grid--1of4 > .Grid-cell {
        flex: 50%;
    }
}

@media screen and (--breakpoint-max-sm) {
    .Grid--1of4 > .Grid-cell {
        flex: 100%;
    }
}

/* a simple utility to make sure an item fills its height */
.fill-height: {
    flex: 1;
}
