:root {
  --default-header-margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: var(--default-header-margin);
  margin-bottom: var(--default-header-margin);
}

.h1 { font-size: 2em; }
.h2 { font-size: 1.5em; }
.h3 { font-size: 1.17em; }
.h4 { font-size: 1.12em; }
.h5 { font-size: .83em; }
.h6 { font-size: .75em; }
