:root {
  --default-link-color: #4A90E2;
}

.no-decoration {
    text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--default-link-color);
}
.link:hover {
  text-decoration: underline;
}
.link--nohover:hover {
  text-decoration: none;
}
