:root {
  --body-text-color: #8E9BA9;
}
/* text alignment */
.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

/* text weight */
.text-light {
    font-weight: 100;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

/* text style */

.text-italic {
  font-style: italic;
}

/* larger text size used for descriptions  */
.text-body {
  font-size: 1.286em;
  line-height: 1.857em;
  color: var(--body-text-color); /* TODO - is this bad? */
}
