<div ng-controller="PasswordUpdateController">
    <form class="Form-new bordered rounded shadowed" name="form" novalidate>
        <div class="Form-field" mb-form-field="old_password">
            <mb-form-label display-name="Current password" field-name="old_password"></mb-form-label>
            <input class="Form-input Form-offset full" name="old_password" placeholder="Shhh..." type="password" ng-model="passwordDetails.old_password" required autofocus />
            <span class="Form-charm"></span>
        </div>

        <div class="Form-field" mb-form-field="password">
            <mb-form-label display-name="New password" field-name="password"></mb-form-label>
            <span style="font-weight: 400;" class="Form-label Form-offset">{{passwordComplexity}}</span>
            <input class="Form-input Form-offset full" name="password" placeholder="Make sure its secure like the instructions above" type="password" ng-model="passwordDetails.password" required>
            <span class="Form-charm"></span>
        </div>

        <div class="Form-field" mb-form-field="password2">
            <mb-form-label display-name="Confirm new password" field-name="password2"></mb-form-label>
            <input class="Form-input Form-offset full" name="password2" placeholder="Make sure it matches the one you just entered" type="password" ng-model="passwordDetails.password2" required>
            <span class="Form-charm"></span>
        </div>

        <div class="Form-actions">
            <button class="Button" ng-class="{'Button--primary': form.$valid}" ng-click="save(passwordDetails)" ng-disabled="!form.$valid">
                Save
            </button>
            <mb-form-message></mb-form-message>
        </div>
    </form>
</div>