
<form class="Form bordered rounded" name="passwordEdit" novalidate ng-submit="c.submit()" cv-form="c.passwordEditUser" ng-controller="PasswordUpdateController as c">
    <div class="Form-group" cv-error-flag="old_password">
        <label class="block py2" for="old_password">Current Password</label>
        <input class="input block full" ng-model="c.passwordEditUser.old_password" type="password" name="old_password" placeholder="Old Password">
        <fielderrors for="old_password"></fielderrors>
    </div>

    <div class="Form-group" cv-error-flag="password">
        <label class="block py2" for="password">New Password</label>
        <input class="input block full" ng-model="c.passwordEditUser.password" type="password" name="password" placeholder="Password">
        <fielderrors for="password"></fielderrors>
    </div>

    <div class="Form-group" cv-error-flag="password_verify">
        <label class="block py2" for="password_verify">Verify Password</label>
        <input class="input block full" ng-model="c.passwordEditUser.password_verify" type="password" name="password_verify" placeholder="Verify Password" data-password-verify="c.passwordEditUser.password" ng-disabled="!form.password.$dirty">
        <fielderrors for="password_verify"></fielderrors>
    </div>

    <div class="Form-group border-top">
        <button type="submit" class="Button Button--primary" ng-disabled="!form.$dirty || form.$invalid || !form.password_verify.$dirty || !form.old_password.$dirty || !form.password.$dirty">Save</button>
        <button type="button" class="Button" cv-reset-button ng-disabled="!form.$dirty" reset-callback="c.resetCallback">Reset</button>
    </div>

    <div cv-form-status></div>
</form>
