<form class="Form-new bordered rounded shadowed" name="passwordEdit" novalidate ng-submit="c.submit()" cv-form="c.passwordEditUser" ng-controller="PasswordUpdateController as c">
    <div class="Form-field">
        <mb-form-label display-name="Old password" field-name="old_password"></mb-form-label>
        <input class="Form-input Form-offset full" ng-model="c.passWordE.email" type="email" name="email" placeholder="Shhh..." required>
    </div>

    <div class="Form-field">
        <mb-form-label display-name="New password" field-name="old_password"></mb-form-label>
        <input class="Form-input Form-offset full" ng-model="c.passWordE.email" type="email" name="email" placeholder="Shhh..." required>
    </div>

    <div class="Form-field">
        <mb-form-label display-name="Confirm new password" field-name="old_password"></mb-form-label>
        <input class="Form-input Form-offset full" ng-model="c.passWordE.email" type="email" name="email" placeholder="Shhh..." required>
    </div>

    <div class="Form-offset pt2 pb4">
        <button class="Button Button--primary" type="submit" ng-disabled="!form.$dirty || form.$invalid || !form.password_verify.$dirty || !form.old_password.$dirty || !form.password.$dirty">Save</button>
    </div>

</form>
