.dashboardTabs {
  margin-bottom: -2px;
  position: relative;

  &:before {
    content: " ";
    border-bottom: 2px solid var(--mb-color-border);
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: var(--transition-theme-change);
  }
}

.createTabButton {
  border: none;
  padding: 0.25rem;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: -2px; /* Matches tab bottom border so this aligns vertically centered with tab labels */
}
