.sidebar {
  flex: 1 1 auto;
  overflow: auto;
  border-left: 1px solid var(--mb-color-border-neutral);
}

.wrap {
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;
}

.link {
  word-break: break-word;
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--mb-color-border-neutral);
}
