.inputWrapper {
  display: flex;
  gap: 0.5rem;

  .input {
    flex-grow: 1;

    &.unset {
      display: none;

      & ~ .generateButton {
        min-width: 10rem;
      }
    }
  }

  .generateButton {
    flex-shrink: 0;
    position: relative;
    width: auto;
  }
}

.rightSection {
  justify-content: flex-start;
  position: relative;
  width: auto;
}
