:root {
  --icon-color: #BFC4D1;
}

.IconWrapper {
  font-size: 0;
}

.Logo .Icon {
    width: 33px;
    height: 42.5px;
}

@media screen and (--breakpoint-min-mid) {
    .Logo .Icon {
        width: 66px;
        height: 85px;
    }
}
