.NativeCardText {
  color: var(--mb-color-text-primary);
  text-align: center;
}

.NativeCardIcon {
  color: var(--mb-color-text-secondary);
}

.NativeCardLink {
  color: var(--mb-color-brand);
  font-weight: bold;
  margin-top: 0.5rem;
}
