.customTemplateRoot {
  border: none;

  color: var(--mb-color-text-primary);
}

.customTemplateControl {
  border: none;

  padding: 0;
}

.customTemplateLabel {
  font-weight: 500;
  color: var(--mb-color-text-primary);
}

.customTemplateIcon {
  color: var(--mb-color-text-primary);

  path {
    stroke-width: 0.75;
  }
}

.customTemplateItem,
.customTemplateChevron {
  border: none !important;
}
