.customTemplateRoot {
  border: none;
  color: var(--mb-color-text-primary);
}

.customTemplateControl {
  border: none;
  padding: 0;
}

.customTemplateLabel {
  font-weight: 500;
  color: var(--mb-color-text-primary);
}

.customTemplateItem,
.customTemplateChevron {
  border: none !important;
}

.customTemplateChevron {
  margin-left: 0;
}

:global(.cm-line) {
  transition: opacity 200ms ease;
}

.defaultTemplate :global(.cm-editor:not(.cm-focused) .cm-line) {
  opacity: 0.5;

  & * {
    color: inherit;
  }
}
