.SegmentedControlRoot {
  align-self: flex-start;
}

.Label {
  padding-inline: 0.75rem;
}

.InstanceTokenLimitInput {
  max-width: 15rem;
}

.QuotaMessageInput {
  max-width: 26rem;
}

.InputDescription {
  color: var(--mb-color-text-secondary);
  line-height: 1rem;
}
