.Label {
  padding-inline: 0.75rem;
}

.InstanceLimitInputWrapper {
  max-width: 15rem;
}

.InputDescription {
  color: var(--mb-color-text-secondary);
  line-height: 1rem;
}

.InputUnitSection {
  color: var(--mb-color-text-primary);
  padding-inline: 0.75rem;
}
