.logs {
  white-space: pre;
  border: 1px solid var(--mb-color-border);
  font-family: var(--mb-default-monospace-font-family);
}

.visualization {
  flex: 1 0 auto;
}

.results {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
}

.empty {
  border-top: 1px solid var(--mb-color-border);
}

.tableHeader {
  background-color: var(--mb-color-background-secondary);
  padding: var(--mantine-spacing-sm);
}

.tableCell {
  border-top: 1px solid var(--mb-color-border);
  padding: var(--mantine-spacing-sm);
}

.error {
  color: var(--mb-color-error);
  background-color: var(--mb-color-background-error);
  border-bottom: 1px solid var(--mb-color-border);
}

.info {
  color: var(--mb-color-text-primary);
  border: 1px solid var(--mb-color-background-tertiary);
  background-color: var(--mb-color-background-secondary);
}

.success {
  color: var(--mb-color-success);
  border-bottom: 1px solid var(--mb-color-border);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
