.radioCard {
  cursor: pointer;
  border: 1px solid var(--mb-color-border);
}

.radioCard[data-checked] {
  border-color: var(--mb-color-brand);
  background: var(--mb-color-background-hover);
}

.radioCard[data-checked] .radioCardTitle {
  color: var(--mb-color-brand);
}

.cardIcon {
  flex-shrink: 0;
  color: var(--mb-color-brand);
}
