.root {
  cursor: pointer;
  outline-offset: 1px;
  position: relative;
}

.root:hover {
  outline: 1px solid blue;
  outline-style: dashed;
}

.root.selected {
  outline: 1px solid blue;
}

.selectedPlaceholder {
  outline: 1px solid blue;
}

.addSection {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--mb-color-bg-medium);
}

.add-top {
  width: 90%;
  left: 5%;
  top: -20px;
  height: 20px;
}

.add-bottom {
  width: 90%;
  left: 5%;
  bottom: -20px;
  height: 20px;
}

.add-left {
  left: -20px;
  top: 5%;
  width: 20px;
  height: 90%;
}

.add-right {
  top: 5%;
  right: -20px;
  width: 20px;
  height: 90%;
}

.root:hover > .addSection {
  display: flex;
}

.root:hover:has(.root:hover) > .addSection {
  display: none;
}
