.inputWrapper {
  cursor: text;
}

.inputField {
  background: transparent;
  border: none;
  padding: 0;
  height: auto;
  min-height: unset;
  font-family: Monaco, monospace;
}

.inputField::placeholder {
  color: var(--mb-color-text-tertiary);
}

.parenToken {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--mb-color-text-medium);
  line-height: 1;
  user-select: none;
}

.operatorText {
  font-weight: 700;
  font-size: 1rem;
  color: var(--mb-color-text-medium);
  user-select: none;
  white-space: nowrap;
}

.operatorTextPending {
  opacity: 0.5;
}

.metricTokenText {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--mb-color-text-primary);
  white-space: nowrap;
}

.separatorText {
  font-weight: 700;
  font-size: 1rem;
  color: var(--mb-color-text-medium);
  user-select: none;
}

.cmOperator {
  color: var(--mb-color-syntax-parameters);
}

.codeEditor {
  flex: 1;
  min-width: 7.5rem;

  :global {
    .cm-editor {
      background: transparent;
    }

    .cm-focused {
      outline: none;
    }

    .cm-content {
      padding: 0;
      font-family: var(--mb-default-monospace-font-family);
      font-size: 0.875rem;
      color: var(--mb-color-text-primary);
    }

    .cm-line {
      padding: 0;
    }

    .cm-cursor {
      border-left-width: 1.6px;
      border-left-color: var(--mb-color-text-secondary);
    }

    .cm-placeholder {
      color: var(--mb-color-text-tertiary);
    }

    .cm-scroller {
      overflow: hidden;
    }
  }
}
