;; this is a map of how long it takes to load the test data for the dataset (in nanoseconds) for an in-memory H2
;; database on Cam's local computer (Ryzen 3950x/32 GB of RAM/Java 14)
{["airports" "airport"]                                               131568400
 ["airports" "continent"]                                             2131300
 ["airports" "country"]                                               30031300
 ["airports" "municipality"]                                          61022600
 ["airports" "region"]                                                79085800
 ["attempted-murders" "attempts"]                                     29658300
 ["avian-singles" "messages"]                                         11632000
 ["avian-singles" "users"]                                            1475300
 ["basic-field-comments" "basic_field_comments"]                      876400
 ["bird-flocks" "bird"]                                               2902800
 ["bird-flocks" "flock"]                                              1267600
 ["checkins_interval_15" "checkins"]                                  1353500
 ["checkins_interval_86400" "checkins"]                               2494900
 ["checkins_interval_900" "checkins"]                                 1477200
 ["comment-after-sync" "comment_after_sync"]                          1265800
 ["daily-bird-counts" "bird-count"]                                   4581800
 ["db-with-some-cruft" "acquired_toucans"]                            1267800
 ["db-with-some-cruft" "south_migrationhistory"]                      951300
 ["office-checkins" "checkins"]                                       5350200
 ["places-cam-likes" "places"]                                        1194400
 ["sad-toucan-incidents" "incidents"]                                 7324200
 ["string-times" "times"]                                             2629800
 ["table_with_comment_after_sync_db" "table_with_comment_after_sync"] 997500
 ["table_with_comment_db" "table_with_comment"]                       871300
 ["table_with_updated_desc_db" "table_with_updated_desc"]             818600
 ["test-data" "categories"]                                           10092000
 ["test-data" "checkins"]                                             130413900
 ["test-data" "users"]                                                23762400
 ["test-data" "venues"]                                               29380500
 ["test-data" "orders"]                                               3439047900
 ["test-data" "people"]                                               1922302400
 ["test-data" "products"]                                             95636200
 ["test-data" "reviews"]                                              292738400
 ["test-data-self-referencing-user" "users"]                          5118200
 ["test-data-null-date" "categories"]                                 8328000
 ["test-data-null-date" "checkins"]                                   132575300
 ["test-data-null-date" "users"]                                      6756300
 ["test-data-null-date" "venues"]                                     16336800
 ["test-data-with-time" "users"]                                      15280900
 ["test-data-with-timezones" "categories"]                            11324400
 ["test-data-with-timezones" "checkins"]                              143596000
 ["test-data-with-timezones" "users"]                                 7185000
 ["test-data-with-timezones" "venues"]                                18375000
 ["toucan-microsecond-incidents" "incidents"]                         1388100
 ["tupac-sightings" "categories"]                                     2228800
 ["tupac-sightings" "cities"]                                         17286900
 ["tupac-sightings" "sightings"]                                      46284700
 ["update-desc" "update_desc"]                                        794500}
