.sortableField {
  /* make border-radius of focus state match border-radius of .card */
  border-radius: var(--default-border-radius);
}

.card {
  &.draggable {
    cursor: grab;
  }

  &:hover {
    &:not(.active) {
      background-color: var(--mb-color-background-light) !important;
    }

    .grabber {
      color: var(--mb-color-brand);
    }
  }
}

.icon {
  color: var(--mb-color-brand);
}

.label {
  overflow: hidden;
  overflow-wrap: break-word;
}
