.root {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 0.8rem;
  color: var(--mb-color-text-primary);
  border-radius: 8px;
  background-color: color-mix(in srgb, var(--mb-color-accent4) 5%, transparent);
  border: 1px solid var(--mb-color-accent4);
}
