.SqlButton {
  height: 2rem;
  width: 2rem;
  color: var(--mb-color-text-dark);

  &:hover {
    color: var(--mb-color-brand);
    background-color: var(--mb-color-bg-medium);
    border: 1px solid var(--mb-color-brand);
    transition: all 200ms linear;
  }

  &.isSelected {
    color: var(--mb-color-text-white);
    background-color: var(--mb-color-brand);
  }
}
