.TablesDivider {
  color: var(--mb-color-text-tertiary);
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.2em;
  user-select: none;
}

.IconWrapper {
  color: var(--mb-color-text-tertiary);
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  padding-bottom: 1px;
}
