.addButton {
  align-self: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchSection {
  border-bottom: 1px solid var(--mb-color-border);
}

.listSection {
  overflow-y: auto;
  max-height: 300px;
}
