.root {
  position: relative;
}

.open {
  --padding: 24px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(-1 * var(--padding) / 2);
    top: calc(-1 * var(--padding) / 2);
    width: calc(100% + var(--padding));
    height: calc(100% + var(--padding));
    background-color: var(--mb-color-background-highlight);
    border-radius: 8px;
    pointer-events: none;
  }
}
