.Root {
  flex-basis: 40%;
  flex-grow: 0;

  .FooterButtonGroup {
    .Button {
      border: 1px solid var(--mb-color-background_page-primary);

      /* compatibility with Button.Group */
      &:not(:last-of-type) {
        border-right-width: 0.5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-of-type) {
        border-left-width: 0.5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
