.buttonEnter {
  /* background-color: red !important; */
  opacity: 0;
}

.buttonEnterActive {
  /* background-color: purple !important; */
  transition:
    opacity 300ms,
    transform 300ms;
  opacity: 1;
}

.buttonExit {
  /* background-color: green !important; */
  /* border-radius: 2rem; */
  color: transparent;
  transform-origin: center;
  /* opacity: 0; */
  /* width: 2rem; */
  /* transition: transform 150ms; */
}

.buttonExitActive {
  min-width: 2rem;
  width: 2rem;
  /* transform: scaleX(0.5); */
  opacity: 0.5;
  color: transparent;
  border-radius: 9999px;
  transition:
    width 300ms,
    opacity 300ms;
}
