{:allowed-directories ["."
                       "src"
                       "test"
                       "resources"
                       "dev"
                       "enterprise"
                       "frontend"
                       ".github"]}
