<div class="wrapper">
    <section>
        <h2 class="PageTitle">Global Settings</h2>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!settings">
                    <td colspan=4>
                        <cv-loading-icon></cv-loading-icon>
                        <h3>Loading ...</h3>
                    </td>
                </tr>
                <tr ng-repeat="setting in settings">
                    <td>{{setting.key}}</td>
                    <td>{{setting.description}}</td>
                    <td>
                        <input class="input block full" type="text" placeholder="{{setting.default}}" ng-model="setting.value"></input>
                    </td>
                    <td>
                        <button class="Button Button--primary" ng-click="saveSetting(setting)" ng-disabled="!setting.value || setting.value === setting.originalValue">Save</button>
                        <button class="mx2 Button" ng-class="{ 'Button--danger' : setting.value !== null}" ng-click="deleteSetting(setting)" ng-disabled="!setting.originalValue">Clear</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
