{:api-any-namespaces 78
 :largest-api 31
 :largest-ns-scc 385
 :largest-scc-modules 95
 :largest-scc-namespaces 1164
 :max-file-deftests 18599
 :max-file-test-namespaces 1468
 :module-count 206
 :module-exports 68
 :ns-prefix-overrides 79
 :parent-team-mismatches 26
 :total-api 578}
