{:api-any-namespaces 76
 :largest-api 32
 :largest-ns-scc 384
 :largest-scc-modules 95
 :largest-scc-namespaces 1122
 :max-file-deftests 17538
 :max-file-test-namespaces 1388
 :module-count 199
 :module-exports 67
 :ns-prefix-overrides 77
 :parent-team-mismatches 26
 :total-api 561}
