:root {
  --metric-border-color: #ddd;
  --metric-title-color: #94A2B3;
  --metric-color: #4A90E2;
}

.Metric {
  border: 1px solid var(--metric-border-color);
  border-radius: 4px;
}

.Metric-value {
  color: var(--metric-color);
  font-weight: 700;
  font-size: 1em;
  margin-top: 1em;
}

@media screen and (--breakpoint-min-lg) {
  .Metric-value {
    margin-top: .5em;
    margin-bottom: .25em;
    font-size: 1.25em;
  }
}

.Metric-title {
  color: var(--metric-title-color);
}

@media screen and (--breakpoint-min-lg) {
  .Metric-title {
    margin-bottom: .75em;
  }
}