.root[data-variant="monospace"] {
  font-family: var(--mantine-font-family-monospace);
  white-space: pre;
}

.root[data-size="md"] {
  line-height: 1.43; /* 20px */
}

.root {
  font-weight: inherit;
}
