* {
  box-sizing: border-box;
  color: #4C5773;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
}

a {
  color: #4C5773;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 30px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 60px;
}

#left-side {
  border-right: 1px solid #F0F0F0;
  float: left;
  min-height: 100vh;
  justify-content: center;
  padding: 200px 0;
  width: 50%;
}

#left-container {
  padding: 0 172px;
  margin: 0 auto;
  max-width: 758px;
}

#right-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -110px;
  min-height: 100vh;
  justify-content: center;
  position: relative;
  width: 50%;
}


header {
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  z-index: 2;
}

#store-link {
  color: #509EE3;
  display: flex;
  align-items: center;
  font-weight: 700;
}

#store-link > img {
  margin-right: 14px;
  width: 20px;
}

nav a {
  font-weight: 500;
  margin-left: 60px;
  margin-right: 10px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #509EE3;
  border-radius: 8px;
  height: 8px;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 8px;
}

progress[value]::-webkit-progress-value {
  background-color: green;
  background-color: #4A90E2;
  border-radius: 8px;
}

#progress {
  margin-top: 25px;
}

.heading {
  box-shadow: 0px 5px 6px rgba(80, 158, 227, 0.16), 0px 12px 24px rgba(148, 154, 171, 0.08);
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -90px;
  padding: 4px 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 800ms cubic-bezier(.165,.84,.44,1);
}

#status {
  margin-top: 15px;
  font-size: 14px;
  color: #949AAB;
}

.animation {
  max-width: 100%;
  mix-blend-mode: multiply;
  opacity: 1;
  transition: opacity 800ms cubic-bezier(.165,.84,.44,1);
  width: 600px;
}

.transparent {
  opacity: 0;
}

#footer {
  bottom: 50px;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 72em) {
  #left-side {
    border-bottom: 1px solid #F0F0F0;
    min-height: 0;
    padding: 80px 0 80px;
    width: 100%;
  }

  #left-container {
    max-width: 410px;
    padding: 0;
  }

  #right-side {
    min-height: 0;
    width: 100%;
  }

  .animation {
    max-width: 80%;
  }

  #heading {
    margin-bottom: 60px;
  }
}
