.workspace {
  overflow-x: auto;
  overflow-y: hidden;
}

.candidateRow {
  display: block;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: var(--mb-color-background_surface-hover);
  }

  &[data-selected] {
    background-color: var(--mb-color-background_surface-selected);
  }
}
