.tooltipRowRoot {
  font-size: var(--mantine-font-size-sm);
}

.header {
  font-size: var(--mantine-font-size-md);
}

.colorIndicator {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.colorIndicatorLarge {
  width: 12px;
  height: 12px;
}

.cell {
  vertical-align: middle;
  padding: 0.375rem var(--mantine-spacing-sm);
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;

  &:first-of-type,
  &:last-of-type {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &:first-of-type {
    border-top-left-radius: var(--mantine-radius-xs);
    border-bottom-left-radius: var(--mantine-radius-xs);
  }

  &:last-of-type {
    border-bottom-right-radius: var(--mantine-radius-xs);
    border-top-right-radius: var(--mantine-radius-xs);
  }
}

.colorIndicatorCell {
  width: 1%;
  text-align: center;
  padding-right: var(--mantine-spacing-xs);
}

.valueCell {
  padding-left: var(--mantine-spacing-xl);
  text-align: right;
}

.percentCell {
  padding-left: var(--mantine-spacing-md);
  color: var(--mb-color-tooltip-text-secondary);
  text-align: right;
}

.totalRowRoot {
  width: 100%;
  border-radius: 60px;
  background-color: var(--mb-color-tooltip-background-focused);
}
