---
// The "Was this helpful?" widget that sits at the bottom of the right rail.
// Server-renders static markup; the client hydrates it via /js/feedback-widget.js
// (vote handling, comment form, POST to the CRM endpoint, and computing the
// "Propose a change" GitHub link from window.location.pathname).
import ThumbIcon from "./ThumbIcon.astro";
---

<div id="was-this-helpful-widget" class="feedback-widget">
  <div id="page-feedback">
    <h6>Was this helpful?</h6>
    <button id="page-feedback-vote-up" class="vote-button" type="button">
      <ThumbIcon />
      Yes
    </button>
    <button id="page-feedback-vote-down" class="vote-button" type="button">
      <ThumbIcon flipped />
      No
    </button>
  </div>

  <div id="page-comment" class="hide">
    <p id="page-feedback-question"></p>
    <form id="page-comment-form">
      <textarea
        id="feedback-comment-text"
        name="comment"
        placeholder="Type here…"
        maxlength="500"></textarea>
      <button id="page-comment-submit" type="submit">Send</button>
    </form>
  </div>

  <div id="page-feedback-message" class="hide">
    <h6>Thanks for your feedback!</h6>
  </div>

  <span id="page-feedback-footer" class="feedback-footer"></span>
</div>
