:root {
  --form-padding: 1em;
  --form-input-placeholder-color: #C1C1C1;
}

/* TODO: deprecate this base object, it shouldn't be this specific */
.Form {
  margin: 0 auto;
  max-width: 640px;
}

/* TODO: combine this and the scoped version */
.Form-label {
  display: block;
  color: #777;
  font-size: 1.2rem;
}

.Form-field {
   color: #ADADAD;
   margin-bottom: 1em;
}

/* TODO: remove this scoping once we've converted non admin forms */
/* form labels inherit the color of the parent, allowing for easy error changes */
.Form-field .Form-label {
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    color: currentColor;
}

.Form-field.Form--fieldError {
    color: var(--error-color);
}

.Form-input {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.185em;
    border: none;
    background-color: transparent;
}

.Form-offset {
    padding-left: 1em;
}

.Form-input:focus {
    outline: none;
}

.Form-field .Form-input:before {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background-color: red;
    display: block;
}

.Form-field:hover .Form-input {
    color: red;
}

.Form-field:hover .Form-input {
    background: rgba(0, 0, 0, 0.02);
}

/* TODO: replace instances of Form-group with Form-field */
.Form-group {
  padding: var(--form-padding);
  transition: opacity .3s linear;
}

.Form-groupDisabled {
  opacity: 0.2;
  pointer-events: none;
  transition: opacity .3s linear;
}
