:root {
    --form-padding: 1em;
    --form-input-placeholder-color: #C1C1C1;
}

/* TODO: deprecate this base object, it shouldn't be this specific */
.Form {
  margin: 0 auto;
  max-width: 640px;
}

.Form-new {
    padding-top: 2em;
}

/* TODO: combine this and the scoped version */
.Form-label {
  display: block;
  color: #777;
  font-size: 1.2rem;
}

.Form-field {
    position: relative;
    color: #929292;
    margin-bottom: 1.5em;
}

/* TODO: remove this scoping once we've converted non admin forms */
/* form labels inherit the color of the parent, allowing for easy error changes */
.Form-field .Form-label {
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    color: currentColor;
    margin-bottom: 1em;
}

.Form-field.Form--fieldError {
    color: var(--error-color);
}

.Form-input {
    border: 1px solid #e0e0e0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 1.185em;
    border: none;
    background-color: transparent;
    transition: color .3s linear;
}

.Form-input:focus {
    outline: none;
}

.Form-offset {
    padding-left: 2rem;
}

.Form-charm {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0.15em;
    height: 100%;
    background-color: #ddd;
    box-sizing: border-box;
    opacity: 0;
    transition: background-color .3s linear;
    transition: opacity .3s linear;
}


.Form-field.Form--fieldError .Form-charm {
    background-color: var(--error-color);
    opacity: 1;
}

.Form-input:focus + .Form-charm {
    background-color: var(--brand-color);
    opacity: 1;
}

.Form-field:hover .Form-input {
    color: #ddd;
    background: rgba(0, 0, 0, 0.02);
}

.Form-field:hover .Form-charm {
    opacity: 1;
}

.Form-field:hover .Form-input:focus {
    transition: color .3s linear;
    color: #444;
    background-color: transparent;
    transition: background .3s linear;
}


/* TODO: replace instances of Form-group with Form-field */
.Form-group {
  padding: var(--form-padding);
  transition: opacity .3s linear;
}

.Form-groupDisabled {
  opacity: 0.2;
  pointer-events: none;
  transition: opacity .3s linear;
}

.Form-actions {
    padding: 2em;
}

/* TODO: - this is itchy CSS */
.Form-field .Button-group .Button {

}
