.ImageCard {
  --mb-color-upsell-pattern-light: color-mix(
    in srgb,
    var(--mb-color-brand),
    transparent 95%
  );

  display: flex;
  height: fit-content;
  background-color: var(--mb-color-upsell-pattern-light);
}

.UpsellCta {
  /* Copied (and slightly adapted if needed) from metabase/css/components/buttons.module.css */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background: var(--mb-color-brand);
  color: var(--mb-color-text-primary-inverse);
  transition:
    background 150ms,
    color 150ms,
    box-shadow 100ms;
  outline: none;
  text-decoration: none;
  line-height: 1.4;
  box-shadow: 0 2px 4px 0 rgba(13, 19, 35, 0.04);
}

.UpsellCta:hover,
.UpsellCta:focus {
  color: var(--mb-color-text-primary-inverse);
  border-color: color-mix(in srgb, var(--mb-color-brand), transparent 12%);
  background-color: color-mix(in srgb, var(--mb-color-brand), transparent 12%);
}

@media screen and (max-height: 520px) {
  .UpsellPageContent {
    height: 100%;
    overflow-y: auto;
  }
}
