.measuring {
  visibility: hidden;
}

.header {
  z-index: 1;
  flex-shrink: 0;
  font-size: 12.5px;
  background-color: var(--mb-color-background-primary);
  border-bottom: 1px solid var(--mb-color-border);
}

.cell {
  overflow: hidden;
}

.cell:first-child {
  padding-left: 1rem;
}
