.listViewContainer {
  --max-width: 75rem;
  background: var(--mb-color-background-light);
  width: 100%;
  height: 100%;
  gap: var(--mantine-spacing-xs);
  padding-top: var(--mantine-spacing-xl);
  overflow: auto;
  padding-inline: calc(50% - var(--max-width) / 2);
}
@media (max-width: 75rem) {
  .listViewContainer {
    padding-inline: 1rem;
  }
}

.listContainer {
  padding-inline: 1rem;

  /* TODO: Customize VariableHeightVirtualizedList */
  [data-testid="scroll-container"] {
    overflow-y: initial !important;
    overflow: auto;
  }
}

.listHeader {
  padding-inline: var(--mantine-spacing-lg);
  margin-bottom: var(--mantine-spacing-sm);
}

.listBody {
  gap: var(--mantine-spacing-sm);
}

.listItem {
  cursor: pointer;
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
  background: var(--mb-color-bg-white);
  padding: var(--mantine-spacing-md) 1.4rem;

  &:hover {
    background-color: var(--mb-color-brand-lighter);
  }
}

.listHeader,
.listItem {
  display: grid;
  grid-template-columns: 1fr repeat(var(--grid-columns), 10%);
  gap: var(--mantine-spacing-sm);
}
