.AIMessageMarkdown {
  line-height: 1.35;
  word-break: break-word;
  p {
    margin-bottom: 1rem;
  }
  li {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  h1,
  h2,
  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
