.parameter {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 32px;
  min-width: 120px;
  background: var(--mb-color-background-primary);
  color: var(--mb-color-text-primary);
  border: 1px solid var(--mb-color-border);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: all 0.2s ease-in-out;

  &.selected {
    font-weight: bold;
    color: var(--mb-color-brand);
  }

  .Prefix {
    color: var(--mb-color-text-secondary);
    font-weight: 400;
  }

  &:hover {
    border-color: var(--mb-color-brand);
    color: var(--mb-color-text-hover);

    .Prefix,
    .parameterIcon,
    .widgetStatus,
    .widgetStatus button {
      transition: all 0.2s ease-in-out;
      color: var(--mb-color-text-hover);
    }
  }
}

.Prefix {
  white-space: nowrap;
}

.parameterIcon {
  color: var(--mb-color-text-secondary);
  flex-shrink: 0;
  margin-right: 0.5rem;
  margin-top: 1px;
}

.parameter input {
  flex-grow: 1;
  border-radius: 0;
}

.parameter.noPopover input {
  font-size: 1em;
  font-weight: 600;
  border: none;
  background: none;

  @media screen and (min-width: 440px) {
    & {
      padding: 0;
    }
  }
}

.parameter.noPopover.selected input {
  font-weight: bold;
  color: var(--mb-color-brand);
}

.parameter.noPopover input:focus {
  outline: none;
  color: var(--mb-color-text-primary);
}

.parameter.noPopover input::-webkit-input-placeholder {
  color: var(--mb-color-text-secondary);
}

.parameter.noPopover input:-moz-placeholder {
  color: var(--mb-color-text-secondary);
}

.parameter.noPopover input::-moz-placeholder {
  color: var(--mb-color-text-secondary);
}

.parameter.noPopover input:-ms-input-placeholder {
  color: var(--mb-color-text-secondary);
}

.name {
  composes: mr1 from "style";
  font-size: 16px;
  font-weight: bold;
  color: var(--mb-color-text-secondary);
}

.widgetStatus {
  flex: 0 0 auto;
}

.TriggerContainer {
  padding: 0.6875rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.25rem;
  cursor: pointer;

  &.hasValue {
    border-color: var(--mb-color-brand);
  }
}
