.ace_hidpi .ace_content {
  color: #4c5773;
  font-weight: 700;
}

.ace-tm .ace_keyword,
.ace-tm .ace_constant.ace_numeric {
  color: #4c5773;
}

.ace-tm .ace_variable {
  color: var(--color-brand);
}
