:local(.editor) {
  position: relative;
}

:local(.input) {
  padding-left: 1.5em !important;
}

:local(.equalSign) {
  pointer-events: none;
  padding-left: 0.7em;
}

:local(.placeholder) {
  /* match the placeholder text */
  color: var(--color-text-light);
}
