{:config-paths ["macros"]

 :lint-as
 {}

 :hooks
 {:analyze-call
  {methodical.core/defmethod   hooks.methodical.macros/defmethod
   methodical.core/defmulti    hooks.methodical.macros/defmulti
   methodical.macros/defmethod hooks.methodical.macros/defmethod
   methodical.macros/defmulti  hooks.methodical.macros/defmulti}

  :macroexpand
  {methodical.impl.combo.operator/defoperator macros.methodical.impl.combo.operator/defoperator}}}
