# To release locally, copy this file to a .env and fill in all values

GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=metabase

DOCKERHUB_REPO=metabase
DOCKERHUB_OWNER=
DOCKERHUB_RELEASE_USERNAME=
DOCKERHUB_RELEASE_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_STATIC_BUCKET=
AWS_S3_DOWNLOADS_BUCKET=
AWS_CLOUDFRONT_STATIC_ID=
AWS_CLOUDFRONT_DOWNLOADS_ID=
AWS_REGION=us-east-1
