{
  "rules": {
    // Note: adding this rule to a eslint config file in a subfolder will remove
    // *not* carry over the restricted imports from parent folders, you will
    // need to copy them over
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": [
              "metabase/*",
              "!metabase/env",
              "!metabase/lib",
              "!metabase/querying",
              "!metabase/services"
            ]
          },
          {
            "group": [
              "metabase/lib/*",
              "!metabase/lib/colors",
              "!metabase/lib/encoding",
              "!metabase/lib/formatting",
              "!metabase/lib/number",
              "!metabase/lib/time",
              "!metabase/lib/types",
              "!metabase/lib/urls",
              "!metabase/lib/utils"
            ]
          }
        ],
        "paths": [
          {
            "name": "moment",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "moment-timezone",
            "message": "Moment is deprecated, please use dayjs"
          }
        ]
      }
    ],
    "ttag/no-module-declaration": 2,
  }
}
