{
  "rules": {
    "@typescript-eslint/no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": [
              "metabase/*",
              "!metabase/env",
              "!metabase/lib",
              "!metabase/services"
            ],
            "allowTypeImports": true,
            "message": "Cannot import from metabase to metabase-lib"
          },
          {
            "group": [
              "metabase/lib/*",
              "!metabase/lib/colors",
              "!metabase/lib/encoding",
              "!metabase/lib/formatting",
              "!metabase/lib/time",
              "!metabase/lib/urls",
              "!metabase/lib/utils"
            ]
          }
        ]
      }
    ]
  }
}
