<div>
    <div class="Form-group border-bottom clearfix">
        <button class="Button borderless float-right" type="button" ng-click="close()">
            <cv-close-icon width="18px" height="18px"></cv-close-icon> 
        </button>
        <h3 class="text-normal">Edit password</h3>
    </div>
    <div ng-cloak>
        <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <form name="editPasswordAdmin" novalidate ng-submit="submit()" cv-form="userToEdit">
        <div class="Form-group" cv-error-flag="password">
            <input class="input block full" ng-model="userToEdit.password" type="password" name="password" placeholder="New Password" autofocus>
            <fielderrors for="password"></fielderrors>
        </div>

        <div class="Form-group" cv-error-flag="password_verify">
            <input class="input block full" ng-model="userToEdit.password_verify" type="password" name="password_verify" placeholder="Verify Password" data-password-verify="userToEdit.password" ng-disabled="!form.password.$dirty">
            <fielderrors for="password_verify"></fielderrors>
        </div>
        <div class="Form-group border-top clearfix">
            <button class="Button Button--primary float-right" type="submit" ng-disabled="!form.$dirty || form.$invalid">Save changes</button>
            <button class="Button" type="button" cv-send-password-reset-email ng-click="sendEmail(userToEdit)">Send Password Reset E-Mail</button>
        </div>
    </form>
</div>
