<div>
    <div class="Form-group border-bottom clearfix">
        <h3 class="text-normal">Change password for {{user.first_name}} {{user.last_name}}</h3>
    </div>
    <div ng-cloak>
        <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <form name="editPasswordAdmin" novalidate ng-submit="resetPassword()" cv-form="user">
    {{errors}}
        <div class="Form-group" cv-error-flag="password">
            <input class="input block full" ng-model="password" type="password" name="password" placeholder="New Password" autofocus>
            <fielderrors for="password">{{errors.password}}</fielderrors>
        </div>

        <div class="Form-group" cv-error-flag="password_verify">
            <input class="input block full" ng-model="password_verify" type="password" name="password_verify" placeholder="Verify Password" ng-disabled="!form.password.$dirty">
            <fielderrors for="password_verify">{{errors.password_verify}}</fielderrors>
        </div>
        <div class="Form-group border-top clearfix">
            <button class="Button Button--primary float-right" type="submit" ng-disabled="!form.$dirty || form.$invalid">Save changes</button>
            <button class="Button" type="button" ng-click="sendEmail(user)">Send Password Reset E-Mail</button>
        </div>
    </form>
</div>
