:root {
  --default-button-border-radius: 4px;
  --default-button-border-color: #b9b9b9;
  --default-button-background-color: #fff;

  --primary-button-border-color: #4A90E2;
  --primary-button-bg-color: #4A90E2;
  --selected-button-bg-color: #F4F6F8;

  --danger-button-bg-color: #EF8C8C;
}

.Button {
  text-decoration: none;
  padding: 0.5em 0.75em;
  background: #FBFCFD;
  border: 1px solid #ddd;
  color: #444;
  border-radius: var(--default-button-border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 1em;

  display: inline-block;
  box-sizing: border-box;
}

.Button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  transition: border .3s linear, box-shadow .3s linear;
}

.Button--primary {
  color: #fff;
  background: #4A90E2;
  border: 1px solid #3282DF;
  transition: background .3s linear, border .3s linear, color .3s linear;
}

.Button--primary:hover {
  color: #fff;
  border-color: color(var(--primary-button-border-color) shade(10%));
  background-color: color(var(--primary-button-bg-color) shade(10%));
}

.Button--cancel {
  border-radius: 99px;
}

.Button-group {
  display: inline-block;
  border-radius: var(--default-button-border-radius);
  border: 1px solid var(--default-button-border-color);
  overflow: hidden;
  clear: both;
}

.Button-group .Button {
  margin: 0;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
}

.Button-group .Button--active {
  background-color: var(--success-color);
  color: #fff;
}

.Button-group .Button:first-child {
  border-left: none;
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Button--selected,
.Button--selected:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .12);
  background-color: var(--selected-button-bg-color);
}

.Button--danger {
    background-color: var(--danger-button-bg-color);
    border-color: var(--danger-button-bg-color);
    color: #fff;
}
