.leftPanel {
  right: 0;
  pointer-events: none;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  bottom: 0;
  pointer-events: none;
}

.panelContent {
  pointer-events: all;
}

[data-mantine-color-scheme="dark"] {
  .reactFlow {
    --xy-background-color-default: transparent;
    --xy-controls-button-background-color-default: transparent;

    .controls {
      border: 1px solid var(--mb-color-border);
      background-color: var(--mb-color-background);
    }
  }
}

.appSwitcher {
  margin-left: auto;
  margin-right: 2.5rem;
  background-color: var(--mb-color-background-secondary);
}
