:local(.Table) {
  /* standard table reset */
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;

  font-size: 12px;
  line-height: 12px;
  text-align: left;
}

:local(.Table) tr {
  border-bottom: 1px solid color-mod(var(--color-border) alpha(-70%));
}

:local(.Table) th,
:local(.Table) td {
  height: 2.1875rem;
  padding: 0 0.75rem;
  border-bottom: 1px solid color-mod(var(--color-border) alpha(-70%));
}

:local(.TableSimple) th:first-child,
:local(.TableSimple) td:first-child {
  padding-left: 1.44em;
}
