.modalContent {
  display: flex !important;
  flex-direction: column;
}

.modalHeader {
  border-bottom: 1px solid var(--mb-color-border);
}

.modalBody {
  position: relative;
}

.modalFooter {
  background: white;
  position: sticky;
  bottom: 0;
}
