.modalContent {
  display: flex !important;
  flex-direction: column;
}

.modalHeader {
  border-bottom: 1px solid var(--mb-color-border);
}

.modalBody {
  position: relative;
  overflow-y: scroll;
}

.modalFooter {
  background: white;
}
