{:paths
 ["src" "resources-ee"]

 :deps
 {com.vertica.jdbc/vertica-jdbc {:mvn/version "11.0.2-0"}}

 :aliases
 {:oss
  ;; JDBC driver isn't GPL-compatible
  {:replace-deps  {}
   :replace-paths ["src" "resources"]}

  :ee
  {}}}
