.card {
  position: relative;
  width: 20rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  background: var(--mb-color-white);
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.05);
}

.card.selected {
  border-color: var(--mb-color-brand);
}

.header {
  border-bottom: 1px solid var(--mb-color-border);
}

.fields {
  overflow: visible;
}
