{
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["cljs/metabase.lib*"],
        "paths": [
          {
            "name": "moment",
            "message": "Moment is deprecated, please use dayjs"
          },
          {
            "name": "moment-timezone",
            "message": "Moment is deprecated, please use dayjs"
          }
        ]
      }
    ]
  }
}
