/* text alignment */
.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

/* text weight */
.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

/* text style */

.text-italic {
  font-style: italic;
}
