.root {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
}

.link {
  cursor: pointer;

  &:hover {
    color: var(--mb-color-brand);
  }
}

.icon {
  margin: 0 0.5rem;
  color: var(--mb-color-text-tertiary);
}
