/* based on https://rawgit.com/Caged/d3-tip/master/examples/example-styles.css */

.ChartTooltip {
  min-width: 100px;
  line-height: 1.3;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none;
  border-radius: 4px;
  z-index: 100000;
}

/* Creates a small triangle extender for the tooltip */
.ChartTooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.ChartTooltip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.ChartTooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.ChartTooltip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.ChartTooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.ChartTooltip-name {
    font-weight: bold;
}
