.embedWrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.cardEmbed {
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
  margin: 1rem 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--mb-color-background-primary);
  overflow: hidden;
}

.cardEmbed.selected {
  border-color: var(--mb-color-brand);
  outline: none;
}

.cardEmbed * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Firefox doesn't respect `user-select: none` when inside a contenteditable element. */
.cardEmbed *:not(input, textarea)::selection {
  background: transparent;
}

.questionHeader {
  padding: 0.5rem 1rem;
}

.questionResults {
  position: relative;
  flex-grow: 1;
  overflow: hidden; /* needed to constraint funnel chart */
}

.loadingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
  justify-content: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  flex-shrink: 1;
}

.titleText {
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleEditIcon {
  opacity: 0;
  transition: opacity 0.2s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.titleContainer:hover .titleEditIcon {
  opacity: 1;
}

.menuButton {
  cursor: pointer;
  border: none;
  border-radius: var(--mantine-radius-xs);

  &:hover {
    background-color: var(--mb-color-background-secondary);
  }
}
