.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.listItemsContainer {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.addButtonWrapper {
  flex-shrink: 0;
}
