.EditorButton:not([data-css-specificity-hack]) {
  color: var(--mb-color-text-primary);
  background: var(--mb-color-background-primary);

  &:hover {
    background: var(--mb-color-background-hover);
  }

  &[data-active="true"] {
    color: var(--mb-color-text-primary-inverse);
    background: var(--mb-color-brand);

    &:hover {
      background: color-mix(in srgb, var(--mb-color-brand), transparent 20%);
    }
  }
}
