:root {
    --title-color: #606E7B;
    --subtitle-color: #AAB7C3;
    --muted-color: #DEEAF1;
    --blue-color: #2D86D4;
}

:local(.header) {
    composes: mt4 mb2 from "style";
    color: var(--title-color);
    font-size: 24px;
}
