.root {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 12.5px;
  line-height: 18px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--mb-color-border-alpha-30);
}

.content {
  width: 100%;
  overflow: visible;
  line-height: 1.4;
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  cursor: pointer;
}

.pill {
  padding: 0 12px;
}

.pill .content {
  display: inline-flex;
  color: var(--mb-color-brand);
  border: 1px solid var(--mb-color-brand-light);
  background-color: var(--mb-color-brand-lighter);
  border-radius: 99px;
  padding: 2px 4px;
  width: auto;
  min-width: 35px;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.minibar {
  border: 1px solid transparent;
  border-radius: 99px;
}

.alignLeft {
  text-align: left;
  justify-content: left;
}

.alignRight {
  text-align: right;
  justify-content: right;
}
