/*
  Ace autocompletion styles are hard to migrate to CSS-in-JS
  because the popover is rendered at the top level of the DOM,
  outside of the NativeQueryEditor component.
*/

.ace_editor.ace_autocomplete {
  border: none;
  box-shadow: 0 2px 3px 2px var(--color-shadow);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-text-dark);
  width: 520px;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line,
.ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
  background-color: var(--color-brand-light);
  border: none;
  outline: none;
}

.ace_completion-highlight {
  color: var(--color-brand);
}

.ace_editor.ace_autocomplete .ace_line {
  font-weight: bold;
  padding-left: 4px;
}

.ace_editor.ace_autocomplete .ace_completion-meta {
  font-weight: 400;
}
