:root {
  --title-color: var(--color-text-medium);
  --muted-color: var(--color-text-light);
  --blue-color: var(--color-brand);
}

:local(.detail) {
  composes: flex align-center from "style";
  composes: relative from "style";
}

:local(.detailBody) {
  composes: flex-full from "style";
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

:local(.detailTitle) {
  composes: text-bold inline-block from "style";
  color: var(--title-color);
}

:local(.detailSubtitle) {
  composes: text-dark text-paragraph mt1 from "style";
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 24px;
}

:local(.detailSubtitleLight) {
  composes: mt2 text-light from "style";
}

:local(.detailTextarea) {
  composes: text-dark input p2 from "style";
  resize: none;
  font-size: 16px;
  width: 100%;
  min-height: 100px;
}
