:local(.editButton) {
  composes: flex align-center text-dark p0 mx1 from "style";
  color: var(--color-brand);
  font-weight: normal;
  font-size: 16px;
}

:local(.editButton):hover {
  color: var(--color-brand);
  transition: color 0.3s linear;
}

:local(.editButtonBody) {
  composes: flex align-center relative from "style";
}
