.editHeader {
  composes: textWhite from "style";
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.editHeaderButtons {
  padding-top: 72px;
  padding-right: 16px;
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.editHeaderButton {
  color: var(--mb-color-brand);
}

.saveButton {
  composes: editHeaderButton;
}

.cancelButton {
  composes: editHeaderButton;
}
