:local(.editHeader) {
  composes: text-white flex align-center from "metabase/css/core/index.css";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  background-color: color-mod(var(--color-bg-white) alpha(-85%));
}

:local(.editHeaderButtons) {
  composes: flex-align-right from "metabase/css/core/index.css";
}

:local(.editHeaderButton) {
  border: none;
  color: var(--color-brand);
}

:local(.saveButton) {
  composes: editHeaderButton;
}

:local(.cancelButton) {
  composes: editHeaderButton;
  opacity: 0.5;
}
