:local(.editButton) {
  composes: flex align-center text-dark p0 mx1 from "style";
  color: var(--primary-button-bg-color);
  font-weight: normal;
  font-size: 16px;
}

:local(.editButton):hover {
  color: color(var(--primary-button-border-color) shade(10%));
  transition: color 0.3s linear;
}

:local(.editButtonBody) {
  composes: flex align-center relative from "style";
}
