:root {
  --title-color: var(--color-text-medium);
}

.field {
  align-items: center;
  display: flex;
}

.fieldNameTitle {
  composes: pr2 from "style";
  flex: 0.5;
}

.fieldName {
  composes: fieldNameTitle;
}

.fieldNameTextInput {
  composes: input p1 from "style";
  color: var(--title-color);
  width: 100%;
  font-size: 14px;
}

.fieldSelect {
  composes: input p1 from "style";
  display: block;
}

.fieldType {
  composes: text-medium pr2 from "style";
  flex: 0.25;
  overflow: hidden;
  white-space: nowrap;
}

.fieldDataType {
  composes: text-medium from "style";
  flex: 0.25;
}

.fieldSecondary {
  composes: field;
  font-size: 13px;
}

.fieldActualName {
  composes: fieldNameTitle;
  composes: text-monospace text-light from "style";
  font-size: 12px;
  letter-spacing: 1px;
}

.fieldForeignKey {
  composes: fieldType;
}

.fieldOther {
  composes: fieldDataType;
}
