:local(.field) {
    composes: flex from "style";
    composes: align-baseline from "style";
}

:local(.fieldName) {
    composes: flex-full pr2 from "style";
}

:local(.fieldType) {
    composes: flex-half pr1 from "style";
    overflow: hidden;
    white-space: nowrap;
}

:local(.fieldDataType) {
    composes: flex-half from "style";
}

:local(.fieldSecondary) {
    composes: field;
}

:local(.fieldActualName) {
    composes: fieldName;
}

:local(.fieldForeignKey) {
    composes: fieldType;
}

:local(.fieldOther) {
    composes: fieldDataType;
}
