:root {
    --icon-width: calc(48px + 1rem);
}

:local(.formula) {
    composes: bordered rounded from "style";
    background-color: #FBFCFD;
    margin-left: var(--icon-width);
    max-width: 550px;
    cursor: pointer;
    /*FIXME: transition doesn't work. use ReactCSSTransitionGroup ?*/
    max-height: calc(24px + 2px + 1rem);
    overflow: hidden;
    transition: max-height 1s ease-out;
}

:local(.formula.expanded) {
    max-height: 100%;
}

:local(.formulaHeader) {
    composes: flex align-center text-brand py1 px2 from "style";
}

:local(.formulaTitle) {
    composes: ml2 from "style";
    font-size: 16px;
}

:local(.formulaDefinition) {
    composes: p2 from "style";
}
