:local(.guideEditSectionCollapsed) {
  composes: flex flex-full align-center mt4 p3 input text-brand text-bold from "style";
  font-size: 16px;
}

:local(.guideEditSectionDisabled) {
  composes: text-medium from "style";
}

:local(.guideEditSectionCollapsedIcon) {
  composes: mr3 from "style";
}

:local(.guideEditSectionCollapsedTitle) {
  composes: flex-full mr3 from "style";
}

:local(.guideEditSectionCollapsedLink) {
  composes: text-brand no-decoration from "style";
  font-size: 14px;
}
