:local(.guideHeader) {
    composes: full border-bottom from "style";
    height: 150px;
}

:local(.guideHeaderBody) {
    composes: flex full align-center justify-center align-center relative from "style";
    height: 100%;
}

:local(.guideHeaderTitle) {
    composes: flex-full flex-no-shrink text-dark text-bold from "style";
    max-width: 550px;
    min-width: 400px;
    font-size: 30px;
}

:local(.guideHeaderTitlePadding) {
    composes: flex-full from "style";
    max-width: 200px;
}

:local(.guideHeaderButtons) {
    composes: flex align-center absolute from "style";
    height: 100%;
    top: 0;
    right: 0;
}

:local(.guideHeaderEditButton) {
    composes: mr4 from "style";
}