:local(.guideDetailEditor):last-child {
  margin-bottom: 0;
}

:local(.guideDetailEditorTextarea) {
  composes: text-dark input p2 mb4 from "style";
  resize: none;
  font-size: 16px;
  width: 100%;
  min-height: 100px;
  background-color: unset;
}

:local(.guideDetailEditorTextarea):last-child {
  margin-bottom: 0;
}
