:root {
  --title-color: var(--color-text-medium);
  --icon-width: calc(48px + 1rem);
}

:local(.headerBody) {
  composes: flex flex-full border-bottom text-dark text-bold from "style";
  overflow: hidden;
  align-items: center;
  border-color: var(--color-border);
}

:local(.headerTextInput) {
  composes: input p1 pl2 pr2 from "style";
  font-size: 18px;
  color: var(--title-color);
  width: 100%;
  max-width: 550px;
}

:local(.subheader) {
  composes: mt1 mb2 from "style";
}

:local(.subheaderBody) {
  composes: text-dark from "style";
  margin-left: var(--icon-width);
  font-size: 16px;
}

:local(.subheaderLink) {
  color: var(--color-brand);
  text-decoration: none;
}

:local(.subheaderLink):hover {
  color: var(--color-brand);
  transition: color 0.3s linear;
}

:local(.headerSchema) {
  composes: text-light absolute from "style";
  left: var(--icon-width);
  top: -10px;
  font-size: 12px;
}
