:root {
  --title-color: #606e7b;
  --icon-width: calc(48px + 1rem);
}

:local(.headerBody) {
  composes: flex flex-full border-bottom text-dark text-bold from "style";
  overflow: hidden;
  align-items: center;
  border-color: #edf5fb;
}

:local(.headerTextInput) {
  composes: input p1 pl2 pr2 from "style";
  font-size: 18px;
  color: var(--title-color);
  width: 100%;
  max-width: 550px;
}

:local(.subheader) {
  composes: mt1 mb2 from "style";
}

:local(.subheaderBody) {
  composes: text-dark from "style";
  margin-left: var(--icon-width);
  font-size: 16px;
}

:local(.subheaderLink) {
  color: var(--primary-button-bg-color);
  text-decoration: none;
}

:local(.subheaderLink):hover {
  color: color(var(--primary-button-border-color) shade(10%));
  transition: color 0.3s linear;
}

:local(.headerSchema) {
  composes: text-grey-2 absolute from "style";
  left: var(--icon-width);
  top: -10px;
  font-size: 12px;
}
