.editorWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.editorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  padding: 2rem 0;
}

.editorPaper {
  width: 100%;
  max-width: 816px;
  min-height: 1056px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px #dadce0;
}
