.row {
  color: var(--mb-color-text-dark);
  cursor: pointer;

  &:hover {
    color: var(--mb-color-text-white);
    background-color: var(--mb-color-brand);

    .descriptionCell {
      color: var(--mb-color-text-white);
    }
  }
}

.icon {
  display: block;
}

.iconCell {
  text-align: center;
  vertical-align: middle;
}

.descriptionCell {
  color: var(--mb-color-text-light);
}
