:local .popover {
  padding: 1em;
  min-width: 200px;
}

:local .title {
  color: var(--color-text-medium);
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

:local .option {
  composes: cursor-pointer from "style";

  color: var(--color-text-dark);
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
:local .option:hover,
:local .option:hover .valueLabel {
  color: var(--color-brand) !important;
}
:local .option.on.selected,
:local .option.on.selected .valueLabel {
  color: var(--color-accent1);
}

:local .option :global(.Icon) {
  visibility: hidden;
  margin-right: 0.5em;
}
:local .option:hover :global(.Icon) {
  visibility: visible;
}
:local .option.selected :global(.Icon) {
  visibility: visible;
}

:local .option .valueLabel {
  color: var(--color-text-medium);
}
