

<div class="wrapper">
    <div class="py2 border-bottom">
        <h2>ETL Job Executions</h2>
    </div>

    <div>
        <div class="List-filters List-section clearfix">
          <div class="List-filterCategories float-left">
            <span class="List-filterLabel float-left">filter:</span>
            <div class="Button-group">
                <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'all' }" ng-click="filter('all')">all</a>
                <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'mine' }" ng-click="filter('mine')">mine</a>
            </div>
          </div>

          <div class="float-left">
            <input class="mx3 input" type="text" ng-model="searchFilter" placeholder="Search executions ...">
          </div>

          <div class="float-right">
              <span>Sort by:</span>
              <select ng-init="sortMode = 'lastexec'" ng-model="sortMode" ng-change="sort()">
                <option value="lastexec">Last Execution (default)</option>
                <option value="name">Name</option>
                <option value="owner">Owner</option>
              </select>
          </div>
        </div>

        <div ng-if="!jobexecs">
            <h3 class="text-normal text-centered">Loading ...</h3>
        </div>

        <ul>
            <li class="py2 border-bottom" ng-repeat="jobexec in jobexecs | filter:searchFilter">
                <div class="my1 float-right">
                    <span class="mx1">{{jobexec.created_at | date : 'MMMM d, y, hh:mm a'}}</span>
                    <span class="mx1">
                      <span class="text-success" ng-if="jobexec.status == 'completed'">{{jobexec.status}}</span>
                      <span class="text-error" ng-if="jobexec.status == 'failed'">{{jobexec.status}}</span>
                      <span ng-if="jobexec.status == 'running'">{{jobexec.status}}</span>
                    </span>
                    <span class="mx1">{{jobexec.steps_status.steps.length | isempty: '0'}} / {{jobexec.details.steps.length}}</span>
                    <a ng-click="execDetail = !execDetail">
                      <span ng-if="!execDetail">more</span>
                      <span ng-if="execDetail">less</span>
                    </a>
                </div>
                <h3>
                    <a class="text-normal link" cv-org-href="/admin/etl/job/{{jobexec.job.id}}">{{jobexec.job.name}}</a>
                </h3>
                <span>{{jobexec.details.table_name}}</span>
                <span>[{{jobexec.job.creator.common_name}}]</span>

                <ul class="my1 bordered rounded ng-hide" ng-show="execDetail">
                    <li class="py2 px2 border-bottom clearfix" ng-repeat="step in jobexec.steps_status.steps">
                        <h5 class="float-left">Step #{{$index}} ({{step.end - step.start}}ms)</h5>
                        <div class="float-right">
                            <span class="mx1"></span>
                            <span class="mx1">{{step.start | date : 'MM-d-y HH:mm:ss.sss'}}</span>
                            <span class="mx1">{{step.end | date : 'MM-d-y HH:mm:ss.sss'}}</span>
                            <span class="mx1">
                              <span class="text-success" ng-if="step.status == 'completed'">{{step.status}}</span>
                              <span class="text-error" ng-if="step.status == 'failed'">{{step.status}}</span>
                              <span ng-if="step.status == 'running'">{{step.status}}</span>
                            </span>
                        </div>
                        <div class="inline-block" ng-if="step.status == 'failed'">
                          <pre>{{step.error}}</pre>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
