
<div class="wrapper">
    <form id="settings_form" novalidate>
        <div class="py1">
            <h2>Global Settings</h2>

            <div>TODO: assuming there will be some application wide settings that can be managed here.</div>

            <div class="py1">
                <label for="id_name">Site Name:</label>
                <input class="input block full" id="id_name" type="text" />
            </div>
        </div>

        <div class="py2 border-top">
          <div class="inline-block">
            <input class="Button Button--primary" type="button" value="Save" ng-click=""/>
          </div>
        </div>
    </form>
</div>
