.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.alias {
  font-family: var(--mb-default-monospace-font-family);
  font-size: 0.75rem;
}
