.ItemName {
  color: var(--mb-color-core-brand);
}

.ColumnClickBehaviorHeader {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--mb-color-core-brand);
  }
}

.ChevronIconContainer {
  padding: 4px 6px;
  margin-right: 8px;
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: 4px;
}
