@media screen and (--breakpoint-min-md) {
  :global(.Entity-search-back-button) {
    position: absolute;
    margin-left: -150px;
  }

  :global(.Entity-search-grouping-options) {
    position: absolute;
    margin-left: -150px;
    margin-top: 22px;
  }
}

@media screen and (--breakpoint-max-md) {
  :global(.Entity-search-grouping-options) {
    display: flex;
    align-items: center;
  }
  :global(.Entity-search-grouping-options > h3) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  :global(.Entity-search-grouping-options > ul) {
    display: flex;
  }
  :global(.Entity-search-grouping-options > ul > li) {
    margin-right: 10px;
  }
}

:global(.Entity-search input) {
  width: 100%;
}
