.launcher {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-sm);
  width: 100%;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mb-color-border-neutral);
  background-color: var(--mb-color-background_page-primary);
  font-weight: bold;
  cursor: pointer;
}

.launcher[data-for-root="true"] {
  background-color: var(--mb-color-background_page-tertiary);
  font-weight: normal;
}

.launcher[data-inherits-root="true"] {
  font-weight: normal;
}

.token {
  border-width: 1px;
  border-style: solid;
}

.token[data-variant="filled"],
.token[data-variant="outline"] {
  border-color: var(--mb-color-core-brand);
}

.token :global(.mantine-Button-inner) {
  gap: var(--mantine-spacing-sm);
}

@media (max-width: 40em) {
  .launcher {
    flex-direction: column;
    align-items: stretch;
  }

  .token {
    flex: 1;
  }
}
