.CardContainer {
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  background: var(--mb-color-background-primary);
  overflow: hidden;
}

.Table {
  border-collapse: collapse;
  width: 100%;
}

.HeaderCell {
  background: var(--mb-color-background-primary);
  border-bottom: 1px solid var(--mb-color-border);
  box-sizing: border-box;
  color: var(--mb-color-text-primary);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;

  &.CenterText {
    text-align: center;
  }

  &.AiFeatureCell {
    border-right: 1px solid var(--mb-color-border);
  }
}
