:local(.nameInput) {
    composes: flex-full ml1 from "style";
    font-size: 18px;
}

:local(.invalid) {
    composes: border-error from "style";
}

:local(.errorMessage) {
    composes: px1 pt1 text-bold text-error from "style";
}
