.avatarFrame {
  background-color: var(--mb-color-background-secondary);
  border: 1px solid var(--mb-color-border);
  border-radius: 50%;
  overflow: hidden;
}

.text {
  overflow-wrap: break-word;
  word-break: break-word;
}
