.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: color-mix(
    in srgb,
    var(--mb-color-accent7) 85%,
    transparent
  );
}

.root.brand {
  background-color: color-mix(
    in srgb,
    var(--mb-color-core-brand) 85%,
    transparent
  );
}

.editIcon {
  color: var(--mb-color-text-primary-inverse);
}

.title {
  color: var(--mb-color-text-primary-inverse);
  font-weight: 700;
}
