.NavItem {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 8px;
}
.NavItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
