:root {
  /* visual */
  --core-nav-text-color: #8691AC;
  --core-nav-selected-text-color: #4A90E2;
  --core-nav-border-radius: 4px;
  --core-nav-border-color: #E4E4E4;
  --nav-item-text-color: #8691AC;
  --brand-text-color: #333;
}

.CoreNav {
  background-color: #fff;
  border-bottom: 1px solid var(--core-nav-border-color);
}

.CoreNav-trigger {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  left: 1em;
  bottom: 1em;
  border-radius: 99px;
  color: #fff;
  z-index: 3;
  transform: translate3d(0, 0, 0);
  transition: transform .2s ease-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, .22);
  background-color: var(--core-nav-selected-text-color);
}

.CoreNav-trigger.CoreNav--showing {
  transform: translate3d(0, -334px, 0);
  transition: transform .3s ease-in-out;
}

.CoreNav-triggerIconOpen,
.CoreNav-triggerIconClose {
  display: block;
  position: absolute;
  top: 11px;
  left: 11px;
  right: 0;
}

.CoreNav-triggerIconClose {
  opacity: 0;
  transform: rotate(12deg);
  transition: transform .3s linear;
}

.CoreNav-triggerIconClose.CoreNav--showing {
  opacity: 1;
  transform: rotate(0deg);
  transition: transform .3s linear .2s;
}

.CoreNav-triggerIconOpen.CoreNav--showing {
  opacity: 0;
}

.CoreNav-showingBg {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .18);
  z-index: 1;
  transition: opacity .3s linear;
}

.CoreNav-showingBg.CoreNav--showing {
  opacity: 1;
  pointer-events: all;
  transition: opacity .3s linear;
}

.CoreNav--showing {
  transform: translate3d(0, 0, 0);
  transition: transform .3s linear;
}

.NavItem {
  display: inline-block;
  text-decoration: none;
  color: var(--nav-item-text-color);
  padding: 1em 0.5em;
  font-size: 0.9em;
  text-rendering: optimizeLegibility;
  position: relative;
}

.NavItem-withIcon {
  padding-left: 3.5em;
  padding-right: 1em;
}

.NavItem-text {
  display: inline-block;
  margin: 0.5em 0;
}

.NavItem:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--core-nav-text-color);
    height: 4px;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in;
}


.NavItem:hover {
  color: color(var(--nav-item-text-color) shade(20%));
  transition: color .3s linear, opacity .3s ease-in;
}

.NavItem:hover:after {
  opacity: 1;
}

.NavItem.is--selected {
  color: var(--core-nav-selected-text-color);
  fill: var(--core-nav-selected-text-color);
}

.NavItem.is--selected .IconWrapper {
  color: var(--core-nav-selected-text-color);
  border-color: var(--core-nav-selected-text-color);
}

.NavItem.is--selected:after {
  background-color: var(--core-nav-selected-text-color);
  opacity: 1;
  transition: opacity .3s ease-in;
}

.ContextNav {
  margin-left: 1em;
}

.NavItem-withIcon .IconWrapper {
  position: absolute;
  left: 10px;
  color: var(--icon-color);
}

.NavTitle {
    color: currentColor;
}
