.AIMessageMarkdown {
  line-height: 1.35;
  word-break: break-word;
  p {
    margin-bottom: 1rem;
  }
  li {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  h1,
  h2,
  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
.ChatMenu {
  background-color: rgba(255, 255, 255, 0.9);
  &:hover {
    background-color: #fff;
  }
  border-radius: 1rem;
  z-index: 10;
}

.ChatNavButton {
  &:hover:not([data-css-specificity-hack]) {
    background-color: var(--mb-color-border);
    color: #000;
  }
}
