:root {
    --sm-width: 752px;
    --md-width: 940px;
    --lg-width: 1140px;
    --xl-width: 1540px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

@media screen and (--breakpoint-min-sm) {
    .wrapper {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (--breakpoint-min-md) {
    .wrapper {
        padding-left: 3em;
        padding-right: 3em;
    }
}

/* height */
.full-height {
  height: 100vh;
}

.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

/* display utilities */
.block        { display: block; }
.inline-block { display: inline-block; }

.table { display: table; }

.full {
  width: 100%;
}

.half {
  width: 50%;
}


/* position utilities */
.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top    { top: 0; }
.right  { right: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }

@media screen and (--breakpoint-min-md) {
    .wrapper.wrapper--trim {
        max-width: var(--md-width);
    }
}

@media screen and (--breakpoint-min-md) {
    .wrapper.wrapper--small {
        max-width: var(--sm-width);
    }
}
