.root {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  background-color: var(--mb-color-background-warning);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mb-color-warning);
}

.icon {
  flex-shrink: 0;
  color: var(--mb-color-warning);
}

.text {
  flex: 1;
}

.link {
  flex-shrink: 0;
  white-space: nowrap;
}
