{:paths
 ["src" "resources"]

 :deps
 {;; OceanBase unified JDBC driver (supports both MySQL and Oracle mode)
  com.oceanbase/oceanbase-client {:mvn/version "2.4.14"}}

 :aliases
 {:oss
  {:replace-deps {com.oceanbase/oceanbase-client {:mvn/version "2.4.14"}}
   :replace-paths ["src" "resources"]}

  :ee
  {}

   :test
  {:extra-paths ["test"]
   :exec-fn     metabase.test-runner/find-and-run-tests-cli
   :exec-args   {:include-tags [:mb/driver-tests]
                  :test-paths ["test"]}}

  :build
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
