.root {
  overflow: auto;
}

.descriptionSection {
  background-color: var(--mb-color-background-primary);
  border: 1px solid var(--mb-color-border);
  border-left: none;
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
  overflow: auto;
}

.visualizationPanel {
  background-color: var(--mb-color-background-primary);
  border: 1px solid var(--mb-color-border);
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
  overflow: hidden;
}

.innerVisualization {
  overflow: hidden;
  flex: 1;
}
