.options {
  padding: 0.5rem;
}

.listItem {
  height: 2.25rem;
  min-height: 2.25rem;
  padding: 0.5rem;
  border-radius: var(--default-border-radius);
}

.label {
  flex: 1 1 0;
  min-width: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fieldCount {
  flex-shrink: 0;
}
