.Container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: auto minmax(0, 1fr) minmax(auto, 42px);
  grid-template-areas:
    "left main top-right"
    "left main ."
    "bottom-left bottom .";
}
