.Pattern {
  --mb-color-upsell-pattern: color-mix(
    in srgb,
    var(--mb-color-brand),
    transparent 80%
  );
  --mb-color-upsell-pattern-light: color-mix(
    in srgb,
    var(--mb-color-brand),
    transparent 95%
  );

  position: relative;
  /* Using radial gradient to create dotted pattern with CSS variable support */
  /* Hard stop at 1.5px creates a crisp circle edge (no blur) */
  background-image: radial-gradient(
    circle,
    /* stylelint-disable-next-line length-zero-no-unit -- This is a hard stop */
      var(--mb-color-upsell-pattern) 0px,
    var(--mb-color-upsell-pattern) 1px,
    transparent 1px
  );
  background-position: center;
  background-repeat: round round;
  background-size: 1rem 1rem;
  overflow: hidden;
}

.Card {
  position: relative;
  display: flex;
}

.Border {
  position: absolute;
}

.Border[data-position="top"],
.Border[data-position="bottom"] {
  height: 1px;
  width: calc(100% + 500px);
  left: -250px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--mb-color-upsell-pattern),
    var(--mb-color-upsell-pattern),
    var(--mb-color-upsell-pattern),
    transparent
  );
}

.Border[data-position="top"] {
  top: -1px;
}

.Border[data-position="bottom"] {
  bottom: -1px;
}

.Border[data-position="right"],
.Border[data-position="left"] {
  width: 1px;
  height: calc(100% + 250px);
  top: -75px;
  /* background-color does not accept gradients, so this results in no color being shown.
     To display a vertical gradient border, use background-image instead: */
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--mb-color-upsell-pattern),
    var(--mb-color-upsell-pattern),
    var(--mb-color-upsell-pattern),
    transparent
  );
}

.Border[data-position="right"] {
  right: -1px;
}

.Border[data-position="left"] {
  left: -1px;
}

.ImageCard {
  display: flex;
  height: fit-content;
  background-color: var(--mb-color-upsell-pattern-light);
}

.UpsellCta {
  /* Copied (and slightly adapted if needed) from metabase/css/components/buttons.module.css */

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background: var(--mb-color-brand);
  color: var(--mb-color-text-primary-inverse);
  transition:
    background 150ms,
    color 150ms,
    box-shadow 100ms;
  outline: none;
  text-decoration: none;
  line-height: 1.4;
  box-shadow: 0 2px 4px 0 rgba(13, 19, 35, 0.04);

  /* Button hover and focus states */
}

.UpsellCta:hover,
.UpsellCta:focus {
  background: var(--mb-color-brand-alpha-88);
  color: var(--mb-color-text-primary-inverse);
}
