.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 28px 2rem 0 2rem;
  font-size: var(--mantine-font-size-sm);
  line-height: 1rem;
  white-space: nowrap;
}

.back {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  color: var(--mb-color-text-primary);
}

.values {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.value {
  font-weight: 700;
  font-size: 14px;
  color: var(--mb-color-text-primary);
}
