{:paths ["src"]

 :deps
 {common/common           {:local/root "../bin/common"}
  org.clojure/data.xml    {:mvn/version "0.0.8"}
  cheshire/cheshire       {:mvn/version "5.8.1"}
  clj-http/clj-http       {:mvn/version "3.9.1"}
  clj-tagsoup/clj-tagsoup {:mvn/version "0.3.0"}
  hiccup/hiccup           {:mvn/version "1.0.5"}
  org.flatland/ordered    {:mvn/version "1.5.7"}}}
