.root {
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: 500;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.content {
  line-height: 20px;
  overflow: visible;
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  cursor: pointer;
}

.pill {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pill .content {
  border-radius: 99px;
  padding: 1.5px 8px;
  height: 22px;
  width: auto;
  min-width: 30px;
  text-overflow: ellipsis;
  text-align: center;
}
