/* Global classes from tippy.js */
:global(.tippy-box),
:global(.tippy-content) {
  max-height: inherit;
  transition: transform 0s, visibility 0.3s, opacity 0.3s;
}

:global(.tippy-box[data-theme~="tooltip"]) {
  color: white;
  font-weight: bold;
  background-color: var(--color-bg-black);
  border: none;
  pointer-events: none;
  line-height: 1.26;
  font-size: 12px;
  border-radius: 6px;
  box-shadow: 0 4px 10px var(--color-shadow);
  overflow-wrap: break-word;
}

:global(.tippy-box[data-theme~="tooltip"] .tippy-content) {
  padding: 10px 12px;
}

:global(.tippy-box[data-theme~="no-padding"] .tippy-content) {
  padding: 0;
}

:global(.tippy-box[data-theme~="popover"]) {
  font-size: inherit;
  color: var(--color-text-default);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 10px var(--color-shadow);
  background-color: var(--color-bg-white);
  border-radius: 6px;
  overflow: auto;
}

:global(.tippy-box[data-theme~="popover"] .tippy-content) {
  padding: 0;
}

/* Local classes */
/* afaik popover needs a positioning context to be able to calculate the transform */
.PopoverContainer {
  position: absolute;
  z-index: 4;
}

.PopoverBody {
  pointer-events: auto;
  min-width: 1em; /* ewwwwwwww */
  display: flex;
  flex-direction: column;

  /* add a max-width so that long strings don't cause the popover to expand
   * see metabase#4930 */
  max-width: 500px;
}

.PopoverBody.PopoverBodyWithBackground {
  border: 1px solid #edf2f5;
  box-shadow: 0 4px 10px var(--color-shadow);
  background-color: var(--color-bg-white);
  border-radius: 6px;
  overflow: auto;
}

/* remove the max-width in cases where the popover content needs to expand
 * initially added  for date pickers so the dual date picker can fully
 * expand as necessary - metabase#5971
 */
.PopoverBody.PopoverBodyAutoWidth {
  max-width: none;
}

/* shared arrow styles */
.PopoverBodyWithArrow::before,
.PopoverBodyWithArrow::after {
  position: absolute;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  pointer-events: none;
}

/* As Popover footer uses absolute positioning
 * to stick to bottom, options lists and other
 * middle content need extra margin-bottom
 */
:global(.PopoverBody--marginBottom) {
  margin-bottom: 60px;
}

.PopoverBody .FormField {
  margin-bottom: 0.75rem;
}

:global(.PopoverHeader) {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  min-width: 400px;
}

:global(.PopoverHeader-item) {
  flex: 1;
  position: relative;
  top: 1px; /* to overlap bottom border */
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--color-text-medium);
  border-bottom: 2px solid transparent;
}

:global(.PopoverHeader-item.selected) {
  color: currentcolor;
  border-color: currentcolor;
}

:global(.PopoverHeader-item--withArrow) {
  margin-right: 8px;
}

:global(.PopoverHeader-item--withArrow::before),
:global(.PopoverHeader-item--withArrow::after) {
  position: absolute;
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 50%;
  margin-top: -8px;
}

/* create a slightly larger arrow on the right for border purposes */
:global(.PopoverHeader-item--withArrow::before) {
  right: -16px;
  border-left-color: var(--color-border);
}

/* create a smaller inset arrow on the right */
:global(.PopoverHeader-item--withArrow::after) {
  right: -15px;
  border-left-color: var(--color-bg-white);
}

:global(.PopoverFooter) {
  background: white;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--color-border);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 8px;
  width: 100%;

  /* Without z-index; calendar days, if selected, scroll above this component */
  z-index: 1;
}

/* create a slightly larger arrow on the top for border purposes */
:global(.tether-element-attached-top) .PopoverBodyWithArrow::before {
  top: -20px;
  border-bottom-color: var(--color-border);
}

/* create a smaller inset arrow on the top */
:global(.tether-element-attached-top) .PopoverBodyWithArrow::after {
  top: -18px;
  border-bottom-color: var(--color-bg-white);
}

/* create a slightly larger arrow on the bottom for border purposes */
:global(.tether-element-attached-bottom) .PopoverBodyWithArrow::before {
  bottom: -20px;
  border-top-color: var(--color-border);
}

/* create a smaller inset arrow on the bottom */
:global(.tether-element-attached-bottom) .PopoverBodyWithArrow::after {
  bottom: -18px;
  border-top-color: var(--color-bg-white);
}

/* if the tether element is attached right, move our arrows right */
:global(.tether-target-attached-right) .PopoverBodyWithArrow::before,
:global(.tether-target-attached-right) .PopoverBodyWithArrow::after {
  right: 12px;
}

/* if the tether element is attached center, move our arrows to the center */
:global(.tether-element-attached-center) .PopoverBodyWithArrow::before,
:global(.tether-element-attached-center) .PopoverBodyWithArrow::after {
  margin-left: 50%;
  left: -10px;
}

:global(.tether-element-attached-right) .PopoverBodyWithArrow::before,
:global(.tether-element-attached-right) .PopoverBodyWithArrow::after {
  right: 12px;
}

:global(.tether-element-attached-left) .PopoverBodyWithArrow::before,
:global(.tether-element-attached-left) .PopoverBodyWithArrow::after {
  left: 12px;
}

:global(#popover-event-target) {
  position: fixed;
  width: 6px;
  height: 6px;
  pointer-events: none;
}

/* transition classes */

:global(.Popover-appear),
:global(.Popover-enter) {
  opacity: 0.01;
}

:global(.Popover-appear.Popover-appear-active),
:global(.Popover-enter.Popover-enter-active) {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

:global(.Popover-leave) {
  opacity: 1;
}

:global(.Popover-leave.Popover-leave-active) {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}
