.icon {
  color: var(--mb-color-text-secondary);
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  color: var(--mb-color-text-primary);

  &:hover,
  &.selected {
    background-color: var(--mb-color-brand-light);
    color: var(--mb-color-brand);

    .icon {
      color: inherit;
    }
  }
}
