<div>
    <div class="Form-group border-bottom clearfix">
        <button class="Button borderless float-right" ng-click="close()">
            <cv-close-icon width="18px" height="18px"></cv-close-icon>
        </button>
        <h3>Add teammate</h3>
    </div>
    <div ng-cloak>
        <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <form name="createUserAdmin" novalidate ng-submit="submit()" cv-form="newUser">
        <div class="clearfix">
            <div class="Form-group" cv-error-flag="first_name">
                <input class="input block full" type="text" ng-model="newUser.first_name" name="first_name" placeholder="First name" required autofocus>
                <fielderrors for="first_name"></fielderrors>
            </div>
            <div class="Form-group" cv-error-flag="last_name">
                <input class="input block full" type="text" ng-model="newUser.last_name" name="last_name" placeholder="Last name" required>
                <fielderrors for="last_name"></fielderrors>
            </div>
            <div class="Form-group col-md-12" cv-error-flag="email">
                <input class="input block full" type="email" ng-model="newUser.email" name="email" placeholder="Email address" required>
                <fielderrors for="email"></fielderrors>
            </div>
        </div>
        <div class="Form-group border-top clearfix">
            <button class="Button Button--primary float-right" type="submit" ng-disabled="!form.$dirty || form.$invalid">Create</button>
        </div>
    </form>
</div>
