<div class="wrapper">

    <div ng-cloak>
        <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="py2 clearfix">
        <a class="Button Button--primary float-right" cv-admin-create-user organization="currentOrg" callback="createdUser">Add teammate</a>
        <h2>People</h2>
    </div>

    <ul class="bordered bg-white shadowed rounded">
        <li class="List-item List-section clearfix" ng-repeat="perm in people">
            <h4 class="inline-block">
                <a class="link" cv-org-href="/admin/people/{{perm.user.id}}/modify">{{perm.user.common_name}}</a>
            </h4>
            <span class="User-perms inline-block" ng-if="perm.admin">Admin</span>
        </li>
    </ul>
</div>
