<div class="wrapper">
    <section class="PageHeader clearfix">
        <a class="Button Button--primary float-right" href="/admin/people/add">Add person</a>
        <h2 class="PageTitle">People</h2>
    </section>

    <section>
        <table class="ContentTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in people">
                    <td>
                        {{user.common_name}} <span ng-show="user.is_superuser" class="AdminBadge">Admin</span>
                    </td>
                    <td class="Table-actions">
                        <button class="Button" ng-click="toggle(user.id)">
                            <span ng-show="user.is_superuser">Revoke</span>
                            <span ng-show="!user.is_superuser">Grant</span>
                            admin
                        </button>
                        <button class="Button Button--danger" ng-click="delete(user.id)" delete-confirm>Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
