<section class="wrapper">
    <div class="py2">
        <h2 class="text-normal">Edit teammate</h2>
    </div>

    <div class="bg-white bordered rounded shadowed">
        <form name="editUserAdmin" novalidate ng-submit="submit()">
            <div class="p4">
                <div class="py2">
                    <label class="block mb1" for="first_name">First name:</label>
                    <input class="input block" ng-model="user.first_name" type="text" name="first_name" placeholder="First Name" autofocus>
                </div>
                <div class="py2">
                    <label class="block mb1" for="last_name">Last name:</label>
                    <input class="input block" ng-model="user.last_name" type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="py2">
                    <label class="block mb1" for="email">Email</label>
                    <input class="input block" ng-model="user.email" type="email" name="email" placeholder="Email address" required>
                </div>
                <div class="py2">
                    <a class="Button" ng-if="perm.admin" ng-click="revokeAdmin()">Revoke Admin</a>
                    <a class="Button" ng-if="!perm.admin" ng-click="grantAdmin()">Grant Admin</a>
                    <a class="Button" cv-org-href="/admin/people/{{user.id}}/change_password" >Change Password</a>
                    <a class="Button" ng-click="removeMember(user.id)" delete-confirm>Delete User</a>
                </div>
            </div>
            <div ng-cloak>
                <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="border-top py2 px4 clearfix">
                <button class="Button Button--primary float-right" type="submit" ng-disabled="!form.$dirty || form.$invalid">Save changes</button>
            </div>
        </form>
    </div>
</section>
