:local .ChartAndDetail {
}

:local .Chart,
:local .Detail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:local .Chart {
  display: flex;
}

:local .Donut {
  flex: 1;
  height: 100%;
}

:local .Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:local .Value {
  color: var(--color-text-dark);
  font-size: 22px;
  font-weight: bolder;
}

:local .Title {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

:local(.Donut) path {
  transition: opacity 0.3s linear;
}
