:local .Scalar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em 1em 2em;
  color: #525658;
}
:local .Scalar .Value {
  font-weight: bold;
}

:local .Scalar.small .Value {
  font-size: 2em;
}

:local .Scalar.large {
  align-items: center;
}
:local .Scalar.large .Value {
  font-size: 2.5em;
}
