:local .Scalar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em 1em 2em;
  color: var(--color-text-dark);
}
:local .Scalar .Value {
  font-weight: bold;
}
:local .Scalar .Title {
  margin-top: 0.5em;
}

:local .Scalar.small .Value {
  font-size: 2em;
}
:local .Scalar.small .Title {
  font-size: 1em;
}

:local .Scalar.large {
  align-items: center;
}
:local .Scalar.large .Value {
  font-size: 2.5em;
}
:local .Scalar.large .Title {
  font-size: 1.2em;
}
