.menuButton {
  &[data-variant="subtle"] {
    align-self: center;
    height: auto;
    padding: 0.25rem;
    color: inherit;
    transition: background-color 0s;

    &:hover,
    &:focus,
    &.menuButtonOpen {
      color: var(--mb-color-core-brand);
      background-color: var(--mb-color-background-tertiary);
    }
  }
}
