.Wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Main {
  display: flex;
  height: 100%;
}

.Sidebar {
  overflow-y: auto;
  flex-shrink: 0;
  border-right: 1px solid var(--mb-color-border);
}

.Content {
  overflow-y: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: var(--mb-color-background-secondary);
}
