.TableContainer {
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  background: var(--mb-color-background-primary);
  overflow: hidden;
}

.Table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.HeaderCell {
  background: var(--mb-color-background-primary);
  border-bottom: 1px solid var(--mb-color-border);
  box-sizing: border-box;
  color: var(--mb-color-text-primary);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.BodyRow {
  border-bottom: 1px solid var(--mb-color-border);

  &:last-child {
    border-bottom: none;
  }
}

.BodyCell {
  padding: 0.5rem 1rem;
  vertical-align: middle;
  font-size: var(--mantine-font-size-md);
  color: var(--mb-color-text-primary);
}

.LimitInput {
  max-width: 10rem;
}

.InputWrapper {
  display: inline-flex;
  position: relative;
}
