.pillsRow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mantine-spacing-xs);
  border: 1px dashed var(--mb-color-border);
  background-color: var(--mb-color-bg-light);
  border-radius: var(--mantine-radius-xl);
}

.container {
  transition: box-shadow 250ms ease;
}

.max {
  cursor: not-allowed;
}

.dragOver {
  box-shadow: 0 0 2px 1px var(--mb-color-border);
}

.pill {
  font-weight: 400;
  background: var(--mb-color-bg-white);
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-xl);
  flex-shrink: 0;
  cursor: pointer;
  color: var(--mb-color-text-primary);
}

.dragging {
  opacity: 0.6;
}

.inputField {
  min-width: 6rem;
}
