:root {
    --breadcrumbs-color: #BFC1C2;
    --breadcrumbs-padding: 2.075em;
    --breadcrumb-page-color: #636060;
    --breadcrumb-divider-spacing: 0.75em;
}

.Breadcrumbs {
    display: flex;
    align-items: center;
    padding-top: var(--breadcrumbs-padding);
    padding-bottom: var(--breadcrumbs-padding);
    color: var(--breadcrumbs-color);
}

.Breadcrumb {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Breadcrumb-divider {
    margin-left: var(--breadcrumb-divider-spacing);
    margin-right: var(--breadcrumb-divider-spacing);
}

/* the breadcrumb path will always inherit the color of the breadcrumbs object */
.Breadcrumb.Breadcrumb--path {
    color: currentColor;
    transition: color .3s linear;
}

.Breadcrumb.Breadcrumb--path:hover {
    color: var(--breadcrumb-page-color);
    transition: color .3s linear;
}

/* the breadcrumb page (current page) should be a different contrasting color  */
.Breadcrumb.Breadcrumb--page {
    color: var(--breadcrumb-page-color);
}
