.root {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  cursor: default;
  flex-wrap: nowrap;

  &:hover .menu {
    visibility: visible;
  }

  &:hover {
    background-color: var(--mb-color-background-secondary);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  flex: 1;
  min-width: 0;
}

.cursorPointer {
  cursor: pointer;
}

.menu {
  visibility: hidden;
}
