.root {
  flex: 1 0 auto;
}

.visualization {
  background-color: var(--mb-color-background_page-primary);
  border: 1px solid var(--mb-color-border-neutral);
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
  overflow: hidden;
  flex: 1;
}
