.root {
  background-color: var(--mb-color-bg-white);
  border: 1px solid var(--mb-color-border);
  border-radius: var(--mantine-radius-md);
}

.RadioCardRoot {
  :hover {
    .label {
      color: var(--mb-color-brand);
    }
  }
}

.label {
  font-weight: bold;
}
