.page {
  background-color: var(--mb-color-background_page-primary);
  position: relative;
}

.item:not([data-css-specificity-hack="🪗"]) {
  &,
  & + &,
  &[data-active="true"] {
    border: 0;
    margin-top: 0;
  }

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.label:not([data-css-specificity-hack="🪗"]) {
  color: var(--mb-color-text-primary);
  font-weight: normal;
}

.control:not([data-css-specificity-hack="🪗"]) {
  background: linear-gradient(
    to right,
    var(--mb-color-background_surface-hover) 3rem,
    transparent 3rem
  );
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: 0.5rem;
  color: var(--mb-color-text-primary);
  padding-left: 0;
  height: 3rem;

  &:hover {
    background-color: var(--mb-color-background_surface-hover);
    color: var(--mb-color-core-brand);

    .label,
    .chevron {
      color: var(--mb-color-core-brand);
    }
  }

  [data-active="true"] & {
    background: linear-gradient(
      to right,
      var(--mb-color-core-brand) 3rem,
      transparent 3rem
    );

    &:hover {
      background: linear-gradient(
        to right,
        var(--mb-color-core-brand) 3rem,
        var(--mb-color-background_surface-hover) 3rem
      );

      .label,
      .chevron svg {
        color: var(--mb-color-core-brand);
      }
    }
  }
}

.chevron:not([data-css-specificity-hack="🪗"]) {
  border: 0;
}

.content:not([data-css-specificity-hack="🪗"]) {
  border: 0;
  color: var(--mb-color-text-secondary);
  padding-inline: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.icon:not([data-css-specificity-hack="🪗"]) {
  color: var(--mb-color-core-brand);
  height: 3rem;
  margin-right: 1rem;
  width: 3rem;

  [data-active="true"] & {
    color: var(--mb-color-text-primary-inverse);
  }
}

.list {
  list-style-type: circle;

  li {
    margin-left: 2rem;
  }
}

.inlineIcon {
  vertical-align: middle;
}

.support {
  align-items: center;
  background-color: var(--mb-color-background_surface-hover);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  @media screen and (--breakpoint-min-sm) {
    flex-wrap: nowrap;
  }
}

.video {
  aspect-ratio: 16 / 9;
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: 0.5rem;
  width: 100%;
}

.image {
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: 0.5rem;
}
