<div class="wrapper">
    <div class="col col-sm-12">

        <div class="row">
            <div ng-repeat="(dbId, database) in databases">
                <div class="mt2 py2 col col-sm-12 clearfix">
                    <a class="mt2 link float-right" ng-click="show_non_entities[dbId] = !show_non_entities[dbId]" ng-if="database.entities.length > 0">
                        <span ng-if="!show_non_entities[dbId]">Show</span>
                        <span ng-if="show_non_entities[dbId]">Hide</span>
                        other tables</a>
                    <h2>Explore {{database.name}}</h2>
                </div>
                <ul class="border-top col col-sm-12 clearfix">
                    <li class="border-bottom py2" ng-repeat="table in database.entities">
                        <span class="float-right text-grey-3 mt2">{{table.rows}} rows</span>
                        <h3 class="text-normal text-brand mt2 mb0">
                            <a class="link" cv-org-href="/explore/table/{{table.id}}">{{table.entity_name}}</a>
                        </h3>
                        <p class="text-grey-3 mt1">{{table.description}}</p>
                    </li>
                </ul>
                <div class="col col-sm-12 mt4" ng-if="show_non_entities[dbId]">
                    <h5 class="text-bold mb2" ng-if="database.entities.length > 0">Other tables</h5>
                    <ul>
                        <li class="border-bottom py1" ng-repeat="table in database.non_entities" ng-if="table.rows > 0">
                            <div class="clearfix">
                                <span class="float-right text-grey-3 mt1">{{table.rows}} rows</span>
                                <h4 class="text-normal inline-block">
                                    <a class="link" cv-org-href="/explore/table/{{table.id}}">{{table.name}}</a>
                                </h4>
                            </div>
                            <p class="text-grey-3 m0 pb1" ng-if="table.description">{{table.description}}</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a cv-org-href="/etl/ingestions/txndb/{{database.id}}" ng-if="txndb_status(database.name)">
                        <span class="ingetsion-label">Last db ingestion:</span>
                        {{txndb_status(database.name).status}} @ {{txndb_status(database.name).updated_at | date : 'MMM d, y, hh:mm a'}}
                    </a>
                    <a cv-org-href="/etl/ingestions/events/{{database.id}}" ng-if="events_status(database.name)">
                        <span>Last event ingestion:</span>
                        {{events_status(database.name).status}} @ {{events_status(database.name).updated_at | date : 'MMM d, y, hh:mm a'}}
                    </a>
                </div>
              </div>
          </div>
      </div>
</div>
