[:map
 [:value [:map
          [:entity_types {:optional true} [:sequential [:enum "card" "dashboard" "document" "collection" "transform"]]]
          [:include_personal_collections {:optional true} :boolean]]]]
