[:map {:closed true}
 [:value [:or
          ;; Last opened database (key = "last_database")
          [:map {:closed true}
           [:databaseId :int]
           [:schema {:optional true} :string]]
          ;; Per-database/schema preferences (key = "databaseId:schema")
          [:map {:closed true}
           [:table_ids {:optional true} [:sequential :int]]]]]]
