<div>
    <div class="col col-md-12">
        <div class="row p2 border-bottom clearfix">
            <h2>
                <a href="/explore/table/{{table.id}}">
                    <span class="text-brand inline-block" ng-if="table.entity_name">{{table.entity_name}}</span>
                    <span class="text-brand inline-block" ng-if="!table.entity_name">{{table.name}}</span>
                </a>
                &gt;
                {{entityKey}}
            </h2>
            <p class="text-grey-3" ng-if="table.description">{{table.description}}</p>
        </div>

        <!-- entity details -->
        <div class="TableWrapper my2">
            <table class="Table">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tfoot></tfoot>

                <tbody>
                    <tr ng-repeat="col in entity.data.cols track by $index" ng-switch="col.special_type">
                        <td>{{col.name}}</td>
                        <td ng-switch-when="url">
                            <a href="{{entity.data.rows[0][$index]}}">
                                {{entity.data.rows[0][$index]}}
                            </a>
                        </td>
                        <td ng-switch-when="image">
                            <img src="{{entity.data.rows[0][$index]}}"/>
                            <a href="{{entity.data.rows[0][$index]}}" class="block">
                                {{entity.data.rows[0][$index]}}
                            </a>
                        </td>
                        <!-- Unfortunately i don't think we can combine image/avatar with a single ng-switch -->
                        <td ng-switch-when="avatar">
                            <img src="{{entity.data.rows[0][$index]}}"/>
                            <a href="{{entity.data.rows[0][$index]}}" class="block">
                                {{entity.data.rows[0][$index]}}
                            </a>
                        </td>
                        <td ng-switch-when="fk">
                            <a href="{{'/explore/table/'+col.extra_info.target_table_id+'/'+entity.data.rows[0][$index]}}">
                                {{entity.data.rows[0][$index]}}
                            </a>
                        </td>
                        <td ng-switch-when="json">
                            <pre>
                                {{ghettoFormatJson(entity.data.rows[0][$index])}}
                            </pre>
                        </td>
                        <td ng-switch-default>
                            {{entity.data.rows[0][$index]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end entity details -->

        <div class="pt2 clearfix">
            <h4 class="inline-block float-left">Linked:</h4>
            <div class="Button-group mx2 inline-block">
                <a class="Button" ng-class="{ 'Button--selected' : fk_origin.id == fk.origin.id }"  href="#" ng-repeat="fk in fks" ng-click="selectRelated(fk)">
                    <span class="inline-block" ng-if="fk.origin.table.entity_name">{{fk.origin.table.entity_name}}</span>
                    <span class="inline-block" ng-if="!fk.origin.table.entity_name">{{fk.origin.table.name}}</span>
                </a>
            </div>
        </div>
        <div class="row px2" ng-if="fk_origin">
            <cv-data-grid table="fk_origin.table" query="query" filters="filters" allowSegments="false"></cv-data-grid>
        </div>
    </div><!-- end canvas -->
</div><!-- end page content -->
