<div>
    <div class="col col-md-12">
        <div class="row p2 border-bottom clearfix">
            <div class="float-right mt1">
                <a class="link" ng-class="{psdisabled: canvas === 'data'}" href="#" ng-click="canvas = 'data'">Data Grid</a>
                <a class="link px4" ng-class="{psdisabled: canvas === 'metadata'}" href="#" ng-click="canvas = 'metadata'">Metadata</a>
            </div>
            <h2>
                <span class="text-brand inline-block" ng-if="table.entity_name">{{table.entity_name}}</span>
                <span class="text-brand inline-block" ng-if="!table.entity_name">{{table.name}}</span>
            </h2>
            <p class="text-grey-3" ng-if="table.description">{{table.description}}</p>
        </div>

        <div ng-show="canvas == 'data'">
            <cv-data-grid table="table" query="query" allow-segments="true"></cv-data-grid>
        </div>
        <div ng-show="canvas == 'metadata'" class="TableMetadata">
            <div class="mt2 border-bottom">
                <ul>
                    <li class="border-top py2" ng-repeat="field in fields">
                        <div class="mx1 clearfix" ng-click="toggleExpandedField(field.id)">
                            <div class="float-right">
                                <h3 class="text-grey-2 float-left">{{field.base_type}}</h3>
                            </div>
                            <div class="float-left">
                                <h3 class="text-brand text-bold inline-block">{{field.name}}</h3>
                                <h3 class="text-grey-3 text-bold inline-block px3">{{field.field_type}}</h3>
                                <h3 class="text-grey-3 text-bold inline-block">{{field.special_type}}</h3>
                            </div>
                        </div>
                        <div class="mx1 pt1" ng-if="expanded_field === field.id">
                            <div ng-if="field.description">{{field.description}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- end canvas -->
<svg width="0" height="0">
    <defs>
    <pattern id="dragger" width=".50" height=".08">
        <rect width="2px" height="2px" fill="#cacaca">
    </pattern>
    </defs>
</svg>
</div><!-- end page content -->
