:root {
    --title-color: #606E7B;
    --edit-header-color: #6CAFED;
    --icon-width: calc(48px + 1rem);
}

:local(.guideEmpty) {
    composes: flex full justify-center from "style";
    padding-top: 75px;
}

:local(.guideEmptyBody) {
    composes: text-centered from "style";
    max-width: 400px;
}

:local(.guideEmptyMessage) {
    composes: text-dark text-centered mt3 from "style";
    font-size: 1.1em;
    line-height: 1.457em;
}

:local(.headerBody) {
    composes: flex flex-full border-bottom from "style";
    overflow: hidden;
    align-items: center;
    border-color: #EDF5FB;
}

:local(.headerTextInput) {
    composes: input p1 pl2 pr2 from "style";
    font-size: 18px;
    color: var(--title-color);
    width: 100%;
    max-width: 550px;
}

:local(.subheader) {
    composes: mt1 mb2 from "style";
}

:local(.subheaderBody) {
    composes: text-dark from "style";
    margin-left: var(--icon-width);
    font-size: 16px;
}

:local(.subheaderLink) {
    color: var(--primary-button-bg-color);
    text-decoration: none;
}

:local(.subheaderLink):hover {
    color: color(var(--primary-button-border-color) shade(10%));
    transition: color .3s linear;
}

:local(.editHeader) {
    composes: text-white flex align-center from "style";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 43px;
    background-color: var(--edit-header-color);
}

:local(.editHeaderButtons) {
    composes: flex-align-right from "style";
}

:local(.editHeaderButton) {
    border: none;
    color: var(--edit-header-color);
}

:local(.columnHeader) {
    composes: flex flex-full from "style";
    margin-left: var(--icon-width);
    padding-top: 20px;
    padding-bottom: 20px;
}

:local(.saveButton) {
    composes: editHeaderButton;
}

:local(.cancelButton) {
    composes: editHeaderButton;
    opacity: 0.5;
}

:local(.editButton) {
    composes: text-dark p0 mx1 from "style";
    color: var(--primary-button-bg-color);
    font-weight: normal;
    font-size: 16px;
}

:local(.editButton):hover {
    color: color(var(--primary-button-border-color) shade(10%));
    transition: color .3s linear;
}

:local(.revisionsWrapper) {
    padding-top: 20px;
    padding-left: var(--icon-width);
}

:local(.schemaSeparator) {
    composes: text-grey-2 mt2 from "style";
    margin-left: var(--icon-width);
    font-size: 18px;
}

:local(.headerSchema) {
    composes: text-grey-2 absolute from "style";
    left: var(--icon-width);
    top: -10px;
    font-size: 12px;
}

:local(.usefulQuestions) {
    composes: text-brand mt1 from "style";
    font-size: 14px;
}

:local(.tableActualName) {
    color: #AAB7C3;
}
