:root {
  --title-color: var(--color-text-medium);
  --subtitle-color: var(--color-text-medium);
  --icon-width: 60px;
}

:local(.guideEmpty) {
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 75px;
}

:local(.guideEmptyBody) {
  text-align: center;
  max-width: 400px;
}

:local(.guideEmptyMessage) {
  composes: text-dark text-paragraph mt3 from "style";
  text-align: center;
}

:local(.columnHeader) {
  flex: 1 0 auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

:local(.revisionsWrapper) {
  padding-top: 20px;
  padding-left: var(--icon-width);
}

:local(.schemaSeparator) {
  composes: text-light mt2 from "style";
  margin-left: var(--icon-width);
  font-size: 18px;
}

:local(.tableActualName) {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: 1px;
  white-space: pre-wrap;
  color: var(--color-text-medium);
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
  padding: 0.2em 0.4em;
}

:local(.guideLeftPadded) {
  width: 100%;
  justify-content: center;
  display: flex;
}

:local(.guideLeftPadded)::before {
  /*FIXME: not sure how to share this with other components
     because we can't use composes here apparently. any workarounds?*/
  content: "";
  display: block;
  flex: 0.3;
  max-width: 250px;
  margin-right: 50px;
}

:local(.guideLeftPaddedBody) {
  flex: 0.7;
  max-width: 550px;
}

:local(.guideWrapper) {
  margin-bottom: 50px;
}

:local(.guideTitle) {
  composes: guideLeftPadded;
  font-size: 24px;
  margin-top: 50px;
}

:local(.guideTitleBody) {
  composes: text-dark text-bold from "style";
  width: 100%;
  composes: guideLeftPaddedBody;
}

:local(.guideSeeAll) {
  composes: guideLeftPadded;
  font-size: 18px;
}

:local(.guideSeeAllBody) {
  composes: text-dark text-bold mt4 from "style";
  width: 100%;
  display: flex;
  composes: guideLeftPaddedBody;
}

:local(.guideSeeAllLink) {
  composes: no-decoration py1 border-top from "style";
  display: block;
  flex: 1 0 auto;
}

:local(.guideContact) {
  composes: mt4 from "style";
  composes: guideLeftPadded;
  margin-bottom: 100px;
}

:local(.guideContactBody) {
  width: 100%;
  composes: guideLeftPaddedBody;
  font-size: 16px;
}

:local(.guideEditHeader) {
  composes: text-body my4 from "style";
  width: 100%;
  max-width: 550px;
  color: var(--color-text-dark);
}

:local(.guideEditHeaderTitle) {
  composes: text-bold mb2 from "style";
  font-size: 24px;
}

:local(.guideEditCards) {
  composes: mt2 mb4 from "style";
}

:local(.guideEditCard) {
  composes: input p4 from "style";
}

:local(.guideEditLabel) {
  composes: text-bold mb2 from "style";
  display: block;
  font-size: 16px;
  color: var(--title-color);
}

:local(.guideEditHeaderDescription) {
  font-size: 16px;
}

:local(.guideEditTitle) {
  composes: text-body text-bold from "style";
  display: block;
  color: var(--title-color);
  font-size: 16px;
  margin-top: 50px;
}

:local(.guideEditSubtitle) {
  composes: text-body from "style";
  color: var(--color-text-light);
  font-size: 16px;
  max-width: 700px;
}

:local(.guideEditAddButton) {
  composes: my2 pl4 from "style";
  width: 100%;
  display: flex;
  padding-right: 3.5rem;
}

:local(.guideEditAddButton)::before {
  content: "";
  display: block;
  flex: 250;
  max-width: 250px;
  margin-right: 50px;
}

:local(.guideEditAddButtonBody) {
  flex: 550;
  max-width: 550px;
}

:local(.guideEditTextarea) {
  composes: text-dark input p2 from "style";
  resize: none;
  font-size: 16px;
  width: 100%;
  max-width: 850px;
  min-height: 100px;
}

:local(.guideEditContact) {
  display: flex;
}

:local(.guideEditContactName) {
  flex: 250;
  max-width: 250px;
  margin-right: 50px;
}

:local(.guideEditContactEmail) {
  flex: 550;
  max-width: 550px;
}

:local(.guideEditInput) {
  composes: text-dark input p2 from "style";
  width: 100%;
  font-size: 16px;
  display: block;
}
