:local(.form) {
    composes: flex align-center from "style";
}

:local(.nameInput) {
    composes: flex-full from "style";
    composes: mx1 from "style";

    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

:local(.invalid) {
    composes: border-error from "style";
}
