.root {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: default;
  font-size: 12.5px;
  padding: 0 12px;
}

.leftAligned {
  text-align: left;
  justify-content: flex-start;
}

.rightAligned {
  text-align: right;
  justify-content: flex-end;
}

.centerAligned {
  text-align: center;
  justify-content: center;
}
