.SidebarHeader {
  border-bottom: 1px solid var(--mb-color-border);
  padding-inline-start: 32px;
  padding-inline-end: 36px;
  margin-bottom: 16px;
}

.SidebarContentBordered {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--mb-color-border);

  /* increase specificity */
  .SelectedClickBehaviorItemIcon {
    border-color: transparent;
    padding-inline-start: 12px;
  }
}

.Heading {
  color: var(--mb-color-text-primary);
  padding-top: 22px;
  padding-bottom: 16px;
  margin-bottom: 8px;
}
