.container {
  background-color: var(--mb-color-summarize);
}

.message {
  padding: 1rem;
  color: var(--mb-color-text-primary-inverse);
  font-weight: bold;
  border: 1px solid var(--mb-color-brand);
  border-radius: 0.5rem;
  background-color: var(--mb-color-brand);
}

.iframe {
  width: 100%;
  height: 600px;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
