# environment
.env
.env.docker
.env*.local

# local dist
local-dist/*
!local-dist/.gitkeep

# dependencies
node_modules

# testing
cypress

# dist
out
dist
dist-ssr
*.local
build

# debug
npm-debug.log*
