.InfoBlockButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;

  &:hover {
    color: var(--mb-color-brand);
  }
}

.HelpExternalLink {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  transition: border 0.3s linear;
  text-decoration: none;
  background-color: var(--mb-color-background-primary);

  &:hover {
    border-color: var(--mb-color-brand);
  }
}
