.node {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
  background-color: var(--mb-color-bg-white);
}

:global(.selected) {
  &.node {
    border-color: var(--mb-color-brand);
  }
}
