.metricPill {
  background-color: var(--mb-color-background-primary);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
  transition: background-color 150ms ease;
  box-shadow:
    0 0 0 0.5px var(--mb-color-border),
    0 1px 2px 0 var(--mb-color-shadow);
}

.metricPill:hover {
  background-color: var(--mb-color-background-brand);
}

.menuTarget {
  pointer-events: none;
}
