<div class="Card-heading py1 px2">
    <div class="clearfix">
        <div class="Card-actions py1">
            <cv-card-favorite-button class="inline-block link py1 px1" card-id="card.id" ng-if="!cardSettings || cardSettings.allowFavorite">
            </cv-card-favorite-button>
            <div class="Dropdown inline-block" dropdown on-toggle="toggled(open)">
                <a class="text-grey-1 mx1" href="#" dropdown-toggle>
                    <mb-icon name="chevrondown" width="18px" height="18px"></mb-icon>
                </a>
                <ul class="Dropdown-content right">
                    <span ng-if="!cardSettings || (cardSettings.allowCardPermalink || cardSettings.allowSend)">
                        <li>
                            <a class="block link py1 px1" href="#" ng-if="!cardSettings || cardSettings.allowAddToDash" cv-add-to-dashboard-modal card="card">Add to Dashboard</a>
                            <li>
                                <a class="block link py1 px1" cv-org-href="/card/{{card.id}}" ng-if="card.can_write">Modify Card</a>
                            </li>
                            <li>
                                <a class="block link py1 px1" href="#" ng-if="!cardSettings || cardSettings.allowSend" cv-send-card-modal card="card">Send</a>
                            </li>
                            <li>
                                <a class="block link py1 px1" ng-href="/api/meta/dataset/csv/?query={{getEncodedQuery()}}" target="_self" ng-if="card.dataset_query.type == 'query' && (!cardDataEmpty) && (!sqlError)">Download Data</a>
                            </li>
                        </span>
                    </ul>
                </div>
            </div>
            <h3 class="text-normal my1">
                <a class="Card-title link" href="#" ng-if="(!cardSettings || cardSettings.allowTitleEdits) && card.can_write" editable-text="card.name" onaftersave="inlineSave(card)">{{card.name}}</a>
                <a class="Card-title link" cv-org-href="/card/{{card.id}}" ng-if="(!cardSettings || !cardSettings.allowTitleEdits)">{{card.name}}</a>
            </h3>
        </div>
    </div>
