<div>
    <cv-workspace>
        <div class="row border-bottom py1 px2" ng-if="isCanvasEditable(card)">
            <div class="Button-group float-right" ng-if="card.can_write">
                <a class="Button" ng-class="{ 'Button--selected' : card.dataset_query.type == 'query' }" ng-click="toggleQueryMode('query')">GUI</a>
                <a class="Button" ng-class="{ 'Button--selected' : card.dataset_query.type == 'native' }" ng-click="toggleQueryMode('native')">SQL</a>
            </div>
            <h3>Query</h3>
        </div>
        <div class="row border-bottom py1 px2" ng-if="isCanvasEditable(card)">
            <h5>Database</h5>
            <label class="Select block full py1">
                <select ng-model="card.dataset_query.database" ng-options="db.id as db.name for db in databases" ng-disabled="!card.can_write">
                </select>
            </label>
            <div ng-if="card.dataset_query.type == 'query'">
                <h5>Table</h5>
                <label class="Select block full py1">
                    <select ng-model="card.dataset_query.query.source_table" ng-options="tbl.id as tbl.name for tbl in tables" ng-disabled="!card.can_write">
                    </select>
                </label>
                <p ng-if="table.description">{{table.description}}</p>
            </div>
        </div>

        <div class="row" ng-if="card.dataset_query.type == 'query'">
            <form novalidate>
                <aggregation-widget query="card.dataset_query.query" table="table"></aggregation-widget>
                <filter-widget query="card.dataset_query.query" table="table" ng-class="{'disabled' : !card.dataset_query.database}"></filter-widget>
                <sort-by-widget query="card.dataset_query.query" table="table"> </sort-by-widget>
                <fields-widget query="card.dataset_query.query" table="table"></fields-widget>
                <limit-widget query="card.dataset_query.query"></limit-widget>

            </form>
        </div>

        <div class="row" ng-if="card.dataset_query.type == 'native'">
            <div class="px2 py2 clearfix">
                <cv-ace-sql-editor sql="card.dataset_query.native.query" database="card.dataset_query.database"></cv-ace-sql-editor>
            </div>
        </div>

        <div class="row" ng-if="card.dataset_query.type == 'result'">
            <div class="px2 py2 clearfix">
                <h3>Saved Query</h3>

                <p>The data for this card comes directly from a saved query.  To change the data you can <a cv-org-href="/admin/query/{{card.dataset_query.result.query_id}}/modify">Modify the Query</a>.</p>
            </div>
        </div>

        <div class="clearfix py2" ng-if="isCanvasEditable(card)">
            <button class="Button Button--primary float-right" ng-click="execute(card)" ng-if="card.can_write" ng-disabled="queryExecuting">Run</button>
        </div>
    </cv-workspace>

    <div ng-show="!cardData && !queryExecuting" class="Canvas Canvas--new offset-md-3 offset-lg-3 col col-md-9 col-lg-9">
        <div class="my4 py4 text-brand text-centered">
            <h1 class="text-normal text-grey-2">Start by entering a query and pressing run.</h1>
        </div>
    </div>

    <div ng-show="queryExecuting" class="Canvas Canvas--new offset-md-3 offset-lg-3 col col-md-9 col-lg-9">
        <div class="my4 py4 text-brand text-centered">
            <cv-loading-spinner></cv-loading-spinner>
            <h1 class="text-normal text-grey-2">Executing query and compiling data ...</h1>
        </div>
    </div>

    <div ng-show="cardData && !queryExecuting" class="Canvas Canvas--new offset-md-3 offset-lg-3 col col-md-9 col-lg-9">
        <div class="row px2 py1 border-bottom clearfix">
            <div class="float-right">
                <div class="mx2 inline-block">
                    <label class="Select">
                        <select class="block" ng-model="card.public_perms" ng-options="perm.id as perm.name for perm in utils.perms" ng-disabled="!card.can_write">
                        </select>
                    </label>
                </div>
                <a class="Button" cv-add-to-dashboard-modal card="card">Add to dashboard</a>
                <a class="Button" ng-class="{'Button--primary': carddirty && queryIsValid(card.dataset_query.query)}" ng-click="save(card)" ng-if="card.can_write">Save</a>
            </div>
            <input class="input" type="text" size="100" ng-model="card.name" ng-if="card.can_write" />
            <h3 class="text-brand inline-block" ng-if="!card.can_write">{{card.name}}</h3>
        </div>

        <div class="my4 py4 text-brand text-centered" ng-show="saving">
            <cv-loading-spinner></cv-loading-spinner>
            <h1 class="text-normal text-grey-2">Saving...</h1>
        </div>

        <div>
            <!-- tab controls -->
            <div class="clearfix py2">
                <alert class="Alert alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)" ng-bind-html="alert.msg"></alert>
                <div class="Alert alert-success" ng-if="success_message" cv-delayed-call="clearStatus()">
                    <span class="text-success">{{success_message}}</span>
                </div>
                <div class="Alert alert-error" ng-if="error_message" cv-delayed-call="clearStatus()">
                    <span class="text-error">{{error_message}}</span>
                </div>

                <div class="Button-group col col-md-6 offset-md-3 clearfix">
                    <div class="row">
                        <a class="Button col col-md-6 text-centered"
                           ng-click="setCanvasFocusViz()"
                           ng-class="{ 'Button--selected' : canvas_focus == 'viz' }">
                            Visualization
                        </a>

                        <a class="Button col col-md-6 text-centered"
                           ng-click="setCanvasFocusData()"
                           ng-class="{ 'Button--selected' : canvas_focus == 'data' }">Data
                        </a>
                    </div>
                </div>
            </div>

            <!-- card visualization -->
            <div ng-show="canvas_focus == 'viz'" class="row">
                <div class="pl4 pr4">
                    <cv-card card="card" card-data="cardData.data" card-settings="cardSettings" />
                </div>
                <ng-include src="'/app/card/partials/_card_settings.html'"></ng-include>
            </div>

            <!-- results grid -->
            <div ng-show="canvas_focus == 'data'">
                <div class="clearfix py1">
                    <div class="float-right">
                        <a class="Button" ng-href="/api/meta/dataset/csv?query={{getEncodedQuery(card.dataset_query)}}" target="_self" ng-if="cardData">Download Data</a>
                    </div>
                    <h3>Results</h3>
                </div>

                <div class="my2 bordered rounded TableWrapper">
                    <div ng-if="cardData.error">
                        <pre ng-if="cardData.sql_error">{{cardData.sql_error}}</pre>
                        <pre ng-if="!cardData.sql_error">{{cardData.error}}</pre>
                    </div>

                    <div ng-if="!cardData.error">
                        <div ng-if="cardData.row_count == 0">
                            <pre>No Data: query completed but returned 0 rows.</pre>
                        </div>

                        <div ng-if="cardData.row_count > 0">
                            <table class="Table">
                                <tr>
                                    <th ng-repeat="column_name in cardData.data.columns track by $index">{{column_name}}</th>
                                </tr>

                                <tr ng-repeat="row in cardData.data.rows track by $index" ng-if="$index < 50">
                                    <td ng-repeat="cell in row track by $index">{{cell}}</td>
                                </tr>

                                <tr ng-if="cardData.row_count > 50">
                                    <td class="text-centered" colspan="{{cardData.data.cols.length}}">
                                        <h2 class="text-brand text-bold">Too many rows to display!  Previewing 50 out of <span class="text-italic">{{cardData.row_count}}</span> total rows.</h2>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- end the status -->
                    </div><!-- end error -->
                </div>
            </div>
        </div><!-- end ng-if card is not being saved -->
    </div><!-- end canvas -->
</div><!-- end page content -->
