.nativeSidebar {
  border-inline-start: 1px solid var(--mb-color-border);
  margin-inline-start: 0.25rem;
}

.nativeSidebarToggle {
  position: absolute;
  top: var(--mantine-spacing-lg);
  inset-inline-end: var(--mantine-spacing-md);
}
