.spoilerControl {
  height: auto;
  z-index: 1;
  color: var(--mb-color-text-secondary);

  &:hover {
    color: var(--mb-color-brand);
  }
}

.spoilerContent {
  mask: linear-gradient(
      0deg,
      transparent 0,
      transparent 20px,
      rgb(0, 0, 0) 20px
    ),
    linear-gradient(270deg, transparent 0, transparent 48px, rgb(0, 0, 0) 96px);
}
