.root {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: var(--mb-color-background-hover);

    .text,
    .icon {
      color: var(--mb-color-brand-hover) !important;
    }
  }
}
