.localeGroup {
  overflow-y: scroll;
  border: 1px solid var(--mb-color-border-neutral);
  border-radius: var(--mantine-radius-xxs);
}

.localeInput {
  appearance: none;
  display: block;
  margin: 0;
  padding: 0;
}

.localeButton {
  display: block;
  padding: var(--mantine-spacing-sm);
  color: var(--mb-color-text-primary);
  border: 2px solid var(--mb-color-core-white);
  border-radius: var(--mantine-radius-xxs);
  background-color: var(--mb-color-background_page-primary);
  font-weight: 700;

  &:hover {
    color: var(--mb-color-text-primary-inverse);
    background-color: var(--mb-color-core-brand);
  }
}

.localeButtonChecked {
  color: var(--mb-color-text-primary-inverse);
  background-color: var(--mb-color-core-brand);
}

.localeInput:focus-visible + .localeButton {
  outline: 2px solid var(--mb-color-core-brand);
}
