{:calls [{:arg-key {:query-string "ip=8.8.8.8",
                    :request-method :get,
                    :server-name "get.geojs.io",
                    :server-port nil,
                    :uri "/v1/ip/geo.json"},
          :return {:body #vcr-clj/input-stream
                   ["H4sIAAAAAAAAA1zPQWuDQBCG4Xt/hXznrY2NlsSblJKLNAfJqS0ybLYyoLNlHQ9J6X8vq0ho2dv"
                    "DzDvs2zeUB3f14lCiGlxgS+8PtR/bSjrXuxEGNArKrMie9gY+dCR8JWUvcaOZPTkcj4f6BQaW9Y"
                    "IStR+TW8D6STREPwmrOyeNki7p4Ki1/hyvb/A33woN0W/tJbPOn5p/tp2xmlWUxYmus69Rydopk"
                    "L2gLAyC65YvPFPPnz4IEwx6UtZpXtnm6abI84heulXvs2yXPuZ5BgP+QoldOj/8fNz9AgAA//8D"
                    "APvDT+ZNAQAA"],
                   :cached nil,
                   :chunked? true,
                   :headers #vcr-clj/clj-http-header-map
                   {"CF-Cache-Status" "DYNAMIC",
                    "CF-RAY" "7c524cef2ab2b44a-EDI",
                    "Cache-Control" "no-store, no-cache, must-revalidate, private, max-age=0",
                    "Connection" "close",
                    "Content-Encoding" "gzip",
                    "Content-Type" "application/json",
                    "Date" "Wed, 10 May 2023 12:49:09 GMT",
                    "NEL" "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "Report-To" "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=w6giuIcRJ79SZ%2BdwU93NWoJhwOtxdemDfoZVxy4BmgHvkNY5XP7DCTnG6zRTSgGFOUW%2BpxiSQ3LZPlFohbFRTqnd1zU8Vtbalpn%2BRiN9%2Fzv5U0BVDxMf3urhrcqG2Q%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "Server" "cloudflare",
                    "Transfer-Encoding" "chunked",
                    "X-Content-Type-Options" "nosniff",
                    "access-control-allow-methods" "GET",
                    "access-control-allow-origin" "*",
                    "alt-svc" "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
                    "pragma" "no-cache",
                    "strict-transport-security" "max-age=15552000; includeSubDomains; preload",
                    "x-geojs-location" "AMS",
                    "x-request-id" "e6316efac8232cb19fcd02efe2b94489-AMS"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length -1,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string "ip=127.0.0.1",
                    :request-method :get,
                    :server-name "get.geojs.io",
                    :server-port nil,
                    :uri "/v1/ip/geo.json"},
          :return {:body #vcr-clj/input-stream
                   ["H4sIAAAAAAAAA4quVkoszlOyMjMxNTTSUcovSk/My6xKLMnMz1OyUnIMBosrhOZl5+WX5ynpKCU"
                    "WpSbGJ+enpCpZKRkooWqIz0vMBYkjVOcklmSWlIIV52XmgATy89JRRTILlKyUDI3M9Qz0DPQMlW"
                    "pjuQAAAAD//wMARiG2ZpMAAAA="],
                   :cached nil,
                   :chunked? true,
                   :headers #vcr-clj/clj-http-header-map
                   {"CF-Cache-Status" "DYNAMIC",
                    "CF-RAY" "7c524cefcb09b44a-EDI",
                    "Cache-Control" "no-store, no-cache, must-revalidate, private, max-age=0",
                    "Connection" "close",
                    "Content-Encoding" "gzip",
                    "Content-Type" "application/json",
                    "Date" "Wed, 10 May 2023 12:49:09 GMT",
                    "NEL" "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "Report-To" "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=aMxmYj5%2Bzdy8gwlm6y9ncDRgRqMF7y6a25XYq88KRBYCblNhNUJg6btxlkdtXPstHUx8WCHjBpXyRW83qXS8s12BTXkVV%2FOEZPt7YWmsHylGb1GzP81pb4fuBRvz4w%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "Server" "cloudflare",
                    "Transfer-Encoding" "chunked",
                    "X-Content-Type-Options" "nosniff",
                    "access-control-allow-methods" "GET",
                    "access-control-allow-origin" "*",
                    "alt-svc" "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
                    "pragma" "no-cache",
                    "strict-transport-security" "max-age=15552000; includeSubDomains; preload",
                    "x-geojs-location" "AMS",
                    "x-request-id" "d71088e8a1d3a1342df97c4bb79a490e-AMS"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length -1,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string "ip=0:0:0:0:0:0:0:1",
                    :request-method :get,
                    :server-name "get.geojs.io",
                    :server-port nil,
                    :uri "/v1/ip/geo.json"},
          :return {:body #vcr-clj/input-stream
                   ["H4sIAAAAAAAAA4quVkoszlOyMjMxNTTSUcovSk/My6xKLMnMz1OyUnIMBosrhOZl5+WX5ynpKCU"
                    "WpSbGJ+enpCpZKRkooWqIz0vMBYkjVOcklmSWlIIV52XmgATy89JRRTILQCZZIUNDpdpYLgAAAA"
                    "D//wMAPudzzpkAAAA="],
                   :cached nil,
                   :chunked? true,
                   :headers #vcr-clj/clj-http-header-map
                   {"CF-Cache-Status" "DYNAMIC",
                    "CF-RAY" "7c524cf06d69b444-EDI",
                    "Cache-Control" "no-store, no-cache, must-revalidate, private, max-age=0",
                    "Connection" "close",
                    "Content-Encoding" "gzip",
                    "Content-Type" "application/json",
                    "Date" "Wed, 10 May 2023 12:49:09 GMT",
                    "NEL" "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "Report-To" "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=v1GC5VILMsHx3IVLW47GNbWjDZokGFPQcNCqeqUJ%2BMgUqpHB3MOaqfe%2FxXdKLHU7wmPeTglmpo2R83U1Ww7WvWbR27xQrF8R%2BeedKZEKCVxii%2FA9TPCauHswLOEKeQ%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "Server" "cloudflare",
                    "Transfer-Encoding" "chunked",
                    "X-Content-Type-Options" "nosniff",
                    "access-control-allow-methods" "GET",
                    "access-control-allow-origin" "*",
                    "alt-svc" "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400",
                    "pragma" "no-cache",
                    "strict-transport-security" "max-age=15552000; includeSubDomains; preload",
                    "x-geojs-location" "AMS",
                    "x-request-id" "f5340cfee30c9288703f716d9cfca145-AMS"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length -1,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2023-05-10T12:49:08.819-00:00"}
