:root {
    --admin-nav-bg-color: #6F7A8B;
    --admin-nav-item-text-color: rgba(255, 255, 255, 0.63);
    --admin-nav-item-text-active-color: #fff;
}

.AdminNav {
    padding: 1em;
    background: var(--admin-nav-bg-color);
    color: #fff;
}

.AdminNav .NavItem {
    /* cancel out padding as .AdminNav + flex will allow for proper centering */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--admin-nav-item-text-color);
}

.AdminNav .NavItem:hover,
.AdminNav .NavItem.is--selected {
    color: var(--admin-nav-item-text-active-color);
}

/* TODO: this feels itchy. should refactor .NavItem.is--selected to be less cascadey */
.AdminNav .NavItem:hover:after,
.AdminNav .NavItem.is--selected:after {
    display: none;
}

.UserNick {
    border-width: 1px;
    border-style: solid;
    border-radius: 99px;
    width: 2rem;
    height: 2rem; /* set an explicit height since we want it to be square */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminNav .UserNick {
    color: #fff;
    border-color: #fff;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.AdminNav .Dropdown-chevron {
    color: #fff;
}

.UserInitials,
.UserInitials:hover {
    font-size: 1rem;
    color: currentColor;
}

.Actions {
    background-color: rgba(243,243,243,0.46);
    border: 1px solid #E0E0E0;
}

.Actions-header {
    padding: 1em;
}

.Actions-group {
    padding: 1em;
}

.Actions-group.Actions--dangerZone {
    color: var(--error-color);
}

.Actions-groupLabel {
    margin-bottom: 1em;
}

/* TODO: this is for the ace editor and should be handled without an ID */
#id_sql {
    height: 200px;
}
