.Greeting {
    padding-top: 2em;
    padding-bottom: 2em;
}
.Greeting-title,
.Greeting-subtitle {
    font-weight: 100;
}

@media screen and (--breakpoint-min-xl) {
    .Greeting {
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .Greeting-title,
    .Greeting-subtitle {
        font-size: 1.9375em;
    }
}

.Greeting-subtitle {
    opacity: 0.575;
}

.UserDropdown {
    margin-left: auto;
}

/* on the homepage, the wrapper should only be as wide as our largest size */
.Home .wrapper {
    max-width: var(--xl-width);
    margin: 0 auto;
}

.HomeTab {
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 1em 2em;
    border-radius: 4px;
}

.HomeTab:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.HomeTab.HomeTab--active {
    background-color: #fff;
    color: var(--brand-color);
    transition: background .3s linear;
}

.HomeSubNav {
    padding-top: 1.345em;
    padding-bottom: 1.345em;
}

.DashboardDropdown .Dropdown-content {
    min-width: 20em;
}

.QuestionFilter:hover {
    cursor: pointer;
    color: var(--brand-color);
    transition: color .3s linear;
}

.QuestionFilter--active {
    color: var(--brand-color);
}

.DBItem {
    text-decoration: none;
    margin-left: -1em;
    margin-right: -1em;
}

.TableRows {
    color: #ddd;
}

.TableRows h1 {
    font-weight: 100;
    font-size: 1em;
}

.Entity-title {
    font-size: 1.4em;
    margin-bottom: 0.45rem;
    color: #797979;
}

.Entity-attribution {
    display: block;
}

.Entity--card {
    border: 1px solid #ddd;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 4px;
    text-decoration: none;
}

.Entity--card:hover {
    border-color: red;
}
