.Greeting {
    padding-top: 6em;
    padding-bottom: 6em;
}

.Greeting-title,
.Greeting-subtitle {
    font-size: 1.5375em;
    font-weight: 100;
}

.Greeting-subtitle {
    opacity: 0.575;
}

.DashboardDropdown {

}

.UserDropdown {
    margin-left: auto;
}

.Entity-title {
    font-size: 1.456em;
}
