.brand-scene {
    z-index: 4;
}

.brand-boat {
    position: relative;
    z-index: 6;
    -webkit-animation: boat_trip 200s linear infinite;
    margin-bottom: 0.5em;
}

@-webkit-keyframes boat_trip {
    0% {
        margin-left: -2%;
    }
    10% {
        margin-left: 5%;
        transform: translate3d(0, 0, 2%);
    }
    100% {
        margin-left: 120%;
    }
}

.Login-header {
    color: #6A6A6A;
}

.brand-illustration {
    position: absolute;
    bottom: 15px;
    z-index: 5;
    margin: 0 auto;
    display: flex;
}

.brand-bridge {
    margin-left: -115px;
}

.SuccessGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--success-color);
}

.SuccessMark {
    display: flex;
    padding: 1em;
    border: 3px solid var(--success-color);
    border-radius: 99px;
    color: var(--success-color);
}
