/* ensure our form doesn't get too wide */
.Login-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

/* the login content should always sit on top of the illustration */
.Login-content {
    position: relative;
    z-index: 1000;
}

.Login-header {
    color: #6A6A6A;
}

.brand-scene {
    z-index: 4;
}

.brand-boat {
    position: relative;
    z-index: 6;
    -webkit-animation: boat_trip 200s linear infinite;
    margin-bottom: 0.5em;
}

@-webkit-keyframes boat_trip {
    0% {
        margin-left: -2%;
    }
    10% {
        margin-left: 5%;
        transform: translate3d(0, 0, 2%);
    }
    100% {
        margin-left: 120%;
    }
}

.brand-illustration {
    position: absolute;
    bottom: 15px;
    z-index: 5;
    margin: 0 auto;
    display: flex;
}

.brand-bridge {
    margin-left: -115px;
}


.SuccessGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--success-color);
    padding: 4em;
}

.SuccessMark {
    display: flex;
    padding: 1em;
    border: 3px solid var(--success-color);
    border-radius: 99px;
    color: var(--success-color);
    line-height: 1;
}

.SuccessText {
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}
