/* @layout */
.QueryBuilder {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1;
}

/* a major section of the query builder */
.QueryBuilder-section {
    padding-left: 1em;
    padding-right: 1em;
}

/* a section of the graphical query itself */
.Query-section {
    margin-bottom: 1em;
    color: #91979E;
}

.QueryVisualization {
    display: flex;
    flex: 1;
}

.QueryName {
    font-weight: 200;
    margin: 1em 0;
    font-size: 1.35em;
}

.Query-filter {
    display: flex;
}

/*
    @selectionmodule
*/
.SelectionModule {
    color: var(--brand-color);
}

.SelectionModule .SelectionItems {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 2.75em;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .18);
    border-radius: 4px;
    background: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    overflow-y: scroll;
    max-height: 360px;
}

.SelectionItems {
    min-width: 320px;
}

.SelectionItems.open {
    opacity: 1;
    pointer-events: all;
}

.SelectionItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.75em;
    font-size: 0.85em;
    position: relative;
    background-color: #fff;
}

.SelectionItem:hover {
    background-color: currentColor;
}

.SelectionItem:hover .SelectionModule-display {
    color: #fff;
}

.QueryBar .SelectionModule.open .SelectionItems {
    opacity: 1;
    pointer-events: all;
}

.SelectionModule-display {
    color: currentColor;
}

.SelectionModule.selected .SelectionTitle {
    margin: 0 0.25em;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.SelectionModule.selected .SelectionTitle:hover {
    cursor: pointer;
}

/* @ breakpoints */

@media screen and (min-width: 60em) {
    .SelectionTitle {
        padding: 0.75em 1.25em;
    }
}

@media screen and (min-width: 120em) {
    body {
        font-size: 1em;
    }
    .Button,
    .QueryBar .Button {
        padding: 1em 2em;
    }
    .Table-wrapper {
        margin-top: 3em;
    }
    .SelectionItems.open {
        top: 3em;
    }
    .DimensionList .RemoveTrigger {
        top: 15px;
        right: 17px;
    }

    .QueryName {
        margin-bottom: 1em;
    }

    .ActionBar {
        padding: 1em 0;
    }
    .QueryBar .SelectionTitle {
        padding: 1em 2em;
    }
}

.VisualizationSettings {
    padding-bottom: 1em;
}

.SaveModal {
    background: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 0.5em;
    right: 1.5em;
    width: 400px;
}

.SaveModal.Modal--showing {
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}

.SaveModal .ModalContent {
    display: none;
    margin-bottom: 6em;
    padding: 2em;
}

.SaveModal input {
    border: none;
    font-size: 1em;
    border-bottom: 1px dotted #111;
    display: block;
    width: 100%;
    padding: 1em;
}

.SaveModal input:focus {
    outline: none;
    border-bottom-color: #4A90E2;
}

.SaveModal.Modal--showing .ModalContent {
    display: block;
}

.SaveButton {
    position: relative;
    z-index: 10;
}

.qb-section-enter {
    opacity: 0.01;
}

.qb-section-enter-active {
    opacity: 1;
    transition: opacity .3s linear;
}

.qb-section-leave {
    opacity: 1;
}

.qb-section-leave-active {
    opacity: 0.01;
    transition: opacity .3s lienar;
}
