html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.QueryBuilder {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.QueryVisualization {
    display: flex;
    flex: 1;
}

.SearchBar:focus {
    outline: none;
}

.SaveModal {
    background: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 0.5em;
    right: 1.5em;
    width: 400px;
}

.QueryBuilder .dc-chart {
    padding: 2em;
}

.QueryBuilder .dc-chart .pie-slice {
    font-size: 1em;
}

.SaveModal.Modal--showing {
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}

.SaveModal .ModalContent {
    display: none;
    margin-bottom: 6em;
    padding: 2em;
}

.SaveModal input {
    border: none;
    font-size: 1em;
    border-bottom: 1px dotted #111;
    display: block;
    width: 100%;
    padding: 1em;
}

.SaveModal input:focus {
    outline: none;
    border-bottom-color: #4A90E2;
}

.SaveModal.Modal--showing .ModalContent {
    display: block;
}

.SaveButton {
    position: relative;
    z-index: 10;
}

.QueryBar {
    display: inline-block;
    margin: 0 0 1.2em 0;
}

.QueryName {
    font-weight: 200;
    margin: 1em 0;
    font-size: 1.35em;
}

.QueryBar .SelectionModule {
    position: relative;
    display: inline-block;
}

.SelectionModule {
    color: var(--brand-color);
}

.SelectionModule .SelectionItems {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 2.75em;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .18);
    border-radius: 4px;
    background: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    overflow-y: scroll;
    max-height: 360px;
}

.SelectionList {
    max-height: 420px;
}

.SelectionItems.open {
    opacity: 1;
    pointer-events: all;
}

.SelectionItem {
    padding: 0.75em;
    font-size: 0.85em;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SelectionItems {
    min-width: 320px;
}

.SelectionItem:hover {
    background-color: currentColor;
}

.SelectionItem:hover .SelectionModule-display {
    color: #fff;
}


.SelectionItem:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #ddd;
    border-radius: 99px;
    margin-right: 1em;
    color: currentColor;
}

.SelectionItem.selected {
    color: #4A90E2;
    color: currentColor;
}

.SelectionItem.selected:before {
    background-color: currentColor;
    border-color: currentColor;
}

.QueryBar .SelectionItem:hover:before {
    color: #fff;
    border-color: currentColor;
    transition: border .3s linear;
}

.QueryBar .SelectionTitle {
    text-align: left;
    font-size: 0.85em;
    border: 1px dotted #999;
    border-radius: 2px;
}

.FilterSection .SelectionModule,
.FilterSection .SelectionModule a {
    color: #A8C28e;
}

.FilterSection .input {
    color: #A8C28e;
    border-color: transparent;
}

.FilterSection .input:focus {
    border-color: transparent;
    border-bottom: 1px solid #A8C28e;
}

.DimensionList .SelectionModule,
.DimensionList .SelectionModule a {
    color: #B9A2CD;
}

.QueryBar .Button {
    padding: 0.75em 1.25em;
    border: 1px dotted #ddd;
    box-shadow: none;
}

.SearchBar {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0.75em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .12);
    width: 100%;
    box-sizing: border-box;
}

.QueryPicker-wrapper {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
}

.QueryBar .SelectionModule.open .SelectionItems {
    opacity: 1;
    pointer-events: all;
}

.SelectionModule-display {
    color: currentColor;
}

.SelectionModule.selected .SelectionTitle {
    display: inline-block;
    margin: 0 0.25em;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
}

.SelectionModule.selected .SelectionTitle:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .18);
    cursor: pointer;
}


.RemoveTrigger {
    display: inline-block;
}

.ActionBar {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    z-index: 100;
}

.ActionBar .SettingsButtons {
    float: right;
}

.FilterGroupWrapper {
    position: relative;
    display: inline-block;
}

.FilterGroupWrapper .FilterGroup {
    margin-top: 1em;
}

.QueryPicker-group {
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.QueryBar .Button {
    font-size: 0.85em;
}

.QueryFilter {
    background: #fff;
    position: relative;
    display: inline-block;
    font-size: 0.85em;
    margin-right: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, .12);
}

.QueryFilter .input {
    padding: 1em;
    border-radius: 0;
}

.QueryFilter .SelectionModule.selected .SelectionTitle {
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.QueryFilter .SelectionModule.selected .SelectionTitle:hover {
    background: #FBFCFD;
}

.QueryFilter .RemoveTrigger {
    margin: 0.75em 0.5em;
}

.FilterSection {
    display: inline-block;
}

.FilterSection .SelectionItems {
    position: absolute;
    display: none;
}

.FilterSection .SelectionItems.open {
    display: block;
}

.SelectionModule.removeable .SelectionTitle {
    padding-right: 3em;
}

.QueryTable td,
.QueryTable th {
    padding: 1em;
}

.QueryTable {
    margin-top: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0, .12);
}

.Metric-sourceTable:after {
    content: '•';
    display: inline-block;
    color: #ddd;
    margin-left: 1em;
}

.DimensionList .RemoveTrigger {
    position: absolute;
    top: 12px;
    right: 14px;
}

/* breakpoints */

@media screen and (min-width: 60em) {
    .SelectionTitle {
        padding: 0.75em 1.25em;
    }
}

@media screen and (min-width: 120em) {
    body {
        font-size: 1em;
    }
    .Button,
    .QueryBar .Button {
        padding: 1em 2em;
    }
    .Table-wrapper {
        margin-top: 3em;
    }
    .SelectionItems.open {
        top: 3em;
    }
    .DimensionList .RemoveTrigger {
        top: 15px;
        right: 17px;
    }

    .QueryName {
        margin-bottom: 1em;
    }

    .ActionBar {
        padding: 1em 0;
    }
    .QueryBar .SelectionTitle {
        padding: 1em 2em;
    }
}

.FilterTrigger {
    border-radius: 99px;
    padding: 0.85em;
    position: relative;
    color: #fff;
    background: #A8C28e;
    border-color: #A8C28e;
}

.FilterTrigger:hover {
    color: #fff;
}

.FilterTrigger .icon {
    display: flex;
}

.QueryHeader {
    background: #fff;
}

.TypeControls {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    left: 0;
    right: 0;
    text-align: center;
    margin: 1em 0;
}

.TypeControls .Button {
    display: inline-block;
    font-size: 0.85em;
    margin: 0 0.5em;
}

.Visualization {
    align-items: center;
    justify-content: center;
}

.VisualizationSettings {
    padding-bottom: 1em;
}
