:root {
    --selection-color: #ccdff6;
}
/* @layout */
.QueryBuilder {
    transition: margin-right 0.35s;
 }

.QueryBuilder--showDataReference {
    margin-right: 300px;
}

.QueryHeader-details {
    display: flex;
    align-items: center;
}

.Icon-download,
.Icon-addToDash {
    fill: #919191;
    transition: fill .3s linear;
}

.Icon-download:hover,
.Icon-addToDash:hover {
    fill: var(--brand-color);
    transition: fill .3s linear;
}

/* a section of the graphical query itself */
.Query-section {
    display: flex;
    align-items: center;
}

.Query-section.Query-section--right {
    justify-content: flex-end;
}

.QueryVisualization {
    display: flex;
    flex: 1;
}

.QueryName {
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.Query-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: color(var(--base-grey) shade(30%));
}

.Query-filters {
    display: flex;
    overflow-x: scroll;
    max-width: 400px;
    white-space: nowrap;
}

.Query-filter {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    height: 56px;
    border: 2px solid transparent;
    border-radius: var(--default-border-radius);
}

.Query-filter.selected {
    border-color: var(--purple-light-color);
}

.Filter-section {
    display: flex;
    align-items: center;
}

.Query-filter .input {
    border-radius: 0;
    border: none;
    font-size: inherit;
    background-color: transparent;
    width: 150px;
    padding: 0;
}

.QueryTable-wrapper {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    margin-bottom: 3px; /* we need a small amount of margin here for the box shadow to show */
    overflow: scroll;
    border-top: 1px solid #E8E8E8;
}

/*
    @selectionmodule
*/
.SelectionModule {
    color: var(--brand-color);
}

.SelectionList {
    padding-top: 5px;
}

.SelectionItems {
    overflow-y: scroll;
    max-height: 340px;
    min-width: 320px;
}

.SelectionItems.SelectionItems--open {
    opacity: 1;
    transition: opacity .3s linear;
    pointer-events: all;
}

.SelectionItems.SelectionItems--expanded {
    max-height: inherit;
}

.SelectionItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    background-color: #fff;
}

.SelectionItem:hover {
    background-color: currentColor;
}

.SelectionItem .Icon {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    color: currentcolor;
}

.SelectionItem .Icon-check {
    opacity: 0;
}

.SelectionItem .Icon-chevrondown {
    opacity: 1;
 }

.SelectionItem:hover .Icon {
    color: #fff !important;
}

.SelectionItem:hover .SelectionModule-display {
    color: #fff;
}

.SelectionItem:hover .SelectionModule-description {
    color: #fff;
}

.SelectionItem.SelectionItem--selected .Icon-check {
    opacity: 1;
}

.SelectionModule-display {
    color: currentColor;
    margin-bottom: 0.25em;
}

.SelectionModule-description {
    color: color(var(--base-grey) shade(40%));
    font-size: 0.8rem;
}

.Visualization {
    transition: background .3s linear;
}

.Visualization.Visualization--loading {
    transition: background .3s linear;
}

.Visualization.Visualization--error {
    justify-content: center;
}

.Visualization--scalar {
    justify-content: center;
    font-size: 8rem;
    font-weight: 200;
}

.Visualization .Card-outer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loading {
    background-color: rgba(255, 255, 255, 0.82);
}

.QueryError {
    flex-direction: column;
    justify-content: center;
}

.QueryError-iconWrapper {
    padding: 2em;
    margin-bottom: 2em;
    border: 4px solid var(--error-color);
    border-radius: 99px;
}

/* @save */

.SaveModal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 5000;
}

.SaveModal.Modal--showing {
    opacity: 1;
    pointer-events: all;
}

.SaveModal .ModalContent {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    display: flex;
    max-width: 40em;
    flex: 1;
}

.SaveModal .ModalContent .Form-new {
    width: 100%;
}

.GuiBuilder {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.GuiBuilder-section:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

.GuiBuilder-row:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

/* for medium breakpoint only expand if data reference is not shown */
@media screen and (--breakpoint-min-md) {
    .GuiBuilder {
        font-size: 1.0em;
    }
    .QueryBuilder:not(.QueryBuilder--showDataReference) .GuiBuilder {
        flex-direction: row;
    }
    .QueryBuilder:not(.QueryBuilder--showDataReference) .GuiBuilder-row:not(:last-child) {
        border-right: 1px solid #e0e0e0;
        border-bottom: none;
    }
}

/* for large breakpoint always expand */
@media screen and (--breakpoint-min-lg) {
    .GuiBuilder {
        font-size: 1.1em;
        flex-direction: row;
    }
    .GuiBuilder-row:not(:last-child) {
        border-right: 1px solid #e0e0e0;
        border-bottom: none;
    }
}

.GuiBuilder-section {
    position: relative;
    min-height: 48px;
    min-width: 120px;
}

.GuiBuilder-data {
    z-index: 1; /* moved the arrow thingy above the filter outline */
}

.GuiBuilder-sort-limit {
    min-width: 0px;
}

.EllipsisButton {
    font-size: 3em;
    position: relative;
    top: -0.8rem;
}

.GuiBuilder-section-label {
    background-color: white;
    position: absolute;
    top: -7px;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* @transitions */

.AddToDashSuccess {
    max-width: 260px;
    text-align: center;
}

/* FILTER BY SECTION */

.Filter-section-field,
.Filter-section-operator,
.Filter-section-value {
    color: var(--purple-color);
}

.Filter-section-field.selected .QueryOption {
    color: var(--purple-color);
}
.Filter-section-operator.selected .QueryOption {
    color: var(--purple-color);
    text-transform: lowercase;
}
.Filter-section-value.selected .QueryOption {
    color: var(--purple-color);
}
.Filter-section-value .QueryOption:not(.QueryOption--date):before,
.Filter-section-value .QueryOption:not(.QueryOption--date):after {
    content: '"';
}

.Filter-section-sort-field.selected .QueryOption,
.Filter-section-sort-direction.selected .QueryOption {
    color: inherit;
}

.Filter-section-value {
    padding-right: 0.5em;
}

.Filter-section-value:not(:nth-child(1),:nth-child(2)):before {
    content: " and ";
    font-weight: 700;
    margin-right: 0.5em;
}

.FilterPopover .ColumnarSelector-row--selected,
.FilterPopover .PopoverHeader-item.selected {
    color: var(--purple-color) !important;
}
.FilterPopover .ColumnarSelector-row:hover {
    background-color: var(--purple-color) !important;
}

.Filter-section-value .Button,
.Filter-section-value .input {
    padding: 0.5rem;
}

.Filter-section-value .input {
    font-size: inherit;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.Filter-section-value .input:focus {
    outline: none;
    border-color: var(--purple-color);
    box-shadow: 0 0 2px var(--purple-color);
}

/* VIEW SECTION */

.View-section-aggregation,
.View-section-aggregation-target,
.View-section-breakout {
    color: var(--green-color);
}

.View-section-aggregation.selected .QueryOption,
.View-section-aggregation-target.selected .QueryOption,
.View-section-breakout.selected .QueryOption {
    color: var(--green-color);
}

.QueryOption {
    color: color(var(--base-grey) shade(20%));
    font-weight: 700;
}

.QueryOption:hover {
    cursor: pointer;
}

.ChartType-button {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background-color: white;
    border: 1px solid #ccdff6;
}

.ChartType-popover {
    min-width: 15em !important;
}

.ChartType--selected {
    color: white;
    background-color: rgb(74, 144, 226);
}

.ChartType--notSensible {
    opacity: 0.5;
}

.ColorWell {
    width: 18px;
    height: 18px;
    margin: 3px;
    margin-right: 0.3rem;
}

.RunButton {
    position: relative;
    z-index: 1;
    transition: margin-top 0.5s;
    margin-top: -150px;
}

.RunButton.RunButton--isDirty.RunButton--canRun,
.RunButton.RunButton--isRunning {
    margin-top: 0;
}

/* data reference */
.DataReference {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #F9FBFC;
    overflow: hidden;
}

.DataReference-container {
    width: 300px;
}

.DataReference h1 {
    font-size: 20pt;
}

.DataRefererenceQueryButton-circle {
    border: 1px solid currentColor;
    border-radius: 99px;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DataRefererenceQueryButton-text {
    max-width: 160px;
}

.DataReference-paneCount {
    padding-right: 0.6em;
}

/* object detail */
.ObjectDetail {
    border: 1px solid #DEDEDE;
    min-width: 906px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

@media screen and (--breakpoint-min-lg) {
   .ObjectDetail {
       min-width: 1140px;
   }
}

.ObjectDetail-headingGroup {
    border-bottom: 1px solid #DEDEDE;
}

.ObjectDetail-infoMain {
    border-right: 1px solid #DEDEDE;
    margin-left: 2.4rem;
    font-size: 1rem;
}

.ObjectJSON {
    max-height: 200px;
    overflow: scroll;
    padding: 1em;
    background-color: #F8F8F8;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.ace_gutter-cell {
    padding-top: 2px;
    font-size: 10px;
    font-weight: 700;
    color: color(var(--base-grey) shade(30%));
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

.ace_gutter-layer {
    background-color: #F9FBFC;
    border-right: 1px solid var(--border-color);
}
