:root {
    --indicator-size: 3.000em; /* ~ 42 px */
    --indicator-border-radius: 99px;
}
.WelcomeMessage {
    margin-top: 4em;
    margin-bottom: 4em;
}

.WelcomeMessage-title {
    font-weight: 100;
    font-size: 2.286em;
    line-height: 2.786em;
}

.WelcomeMessage-subTitle {
    font-size: 1.2em;
    line-height: 1.4em;
}

.SetupSteps {
}

.SetupNav {
    border-bottom: 1px solid #f5f5f5;
}

.SetupStep {
    margin-bottom: 1.714em;
    background-color: var(--alt-bg-color);
    transition: background .3s linear;
    transition: background .3s linear;
    flex: 1;
}

.SetupStep.SetupStep--active {
    background-color: #fff;
}

.SetupStep.SetupStep--completed {
    color: var(--success-color);
    background-color: #fff;
}

.SetupStep-indicator {
    left: calc((var(--indicator-size) / 2) * -1);
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: var(--indicator-border-radius);
    font-weight: bold;
    line-height: 1;
    background-color: #fff;
}

.SetupStep-check {
    color: #fff;
    display: none;
}

.SetupStep.SetupStep--active  .SetupStep-indicator {
    color: var(--brand-color);
}

.SetupStep.SetupStep--completed .SetupStep-indicator {
    border-color: #9CC177;
    background-color: currentColor;
}

.SetupStep.SetupStep--completed .SetupStep-check {
    display: block;
}

.SetupStep.SetupStep--completed .SetupStep-number {
    display: none;
}
