:root {
    --indicator-size: 3.000em; /* ~ 42 px */
    --indicator-border-radius: 99px;
}
.WelcomeMessage {
    margin-top: 4em;
    margin-bottom: 4em;
}

.WelcomeMessage-title {
    font-weight: 100;
    font-size: 2.286em;
    line-height: 2.786em;
}

.WelcomeMessage-subTitle {
    font-size: 1.2em;
    line-height: 1.4em;
}

.SetupSteps {
    margin-top: 5.000em;
}

.SetupNav {
    border-bottom: 1px solid #f5f5f5;
}

.Setup-brandWordMark {
    font-size: 1.688em;
}

.SetupStep {
    margin-bottom: 1.714em;
    background-color: var(--alt-bg-color);
    transition: background .3s linear;
    transition: background .3s linear;
    flex: 1;
    border: 1px dashed #e8e8e8;
}

.SetupStep.SetupStep--active {
    background-color: #fff;
    border-style: solid;
    color: var(--brand-color);
}

.SetupStep.SetupStep--completed {
    color: var(--success-color);
    background-color: #fff;
    border-style: solid;
}

.SetupStep-indicator {
    left: calc((var(--indicator-size) / 2) * -1);
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: var(--indicator-border-radius);
    font-weight: bold;
    line-height: 1;
    background-color: #fff;
}

.SetupStep-check {
    color: #fff;
    display: none;
}

.SetupStep-title {
    color: currentColor; /* use the color of the parent to power the header text */
}

.SetupStep.SetupStep--active  .SetupStep-indicator {
    color: var(--brand-color);
}

.SetupStep.SetupStep--completed .SetupStep-indicator {
    border-color: #9CC177;
    background-color: #C8E1B0;
}

.SetupStep.SetupStep--completed .SetupStep-check {
    display: block;
}

.SetupStep.SetupStep--completed .SetupStep-number {
    display: none;
}

.SetupCompleted {
    text-align: center;
}

.DatabaseEngine {
    position: relative;
    font-size: 1.137em;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    padding-left: 3em;
    line-height: 2em;
}

.DatabaseEngine:hover {
    color: var(--brand-color);
    cursor: pointer;
}

.DatabaseEngine:before {
    position: absolute;
    left: 0;
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 99px;
    border: 1px solid currentColor;
}

.DatabaseEngine-check {
    display: none;
    position: absolute;
    left: 0.6em;
    top: 1em;
}

.DatabaseEngine:hover .DatabaseEngine-check {
    display: block;
}

.DatabaseEngine.DatabaseEngine--selected .DatabaseEngine-check {
    display: block;
}
