.list {
  &::before {
    display: none;
  }
}

.allTab :global(.Icon) {
  display: block;
}

.closeButton {
  display: inline-flex;
  align-items: center;
  margin-left: 0.25rem;
  cursor: pointer;
  visibility: hidden;
}

.tab:hover .closeButton {
  visibility: visible;
}
