.item.item {
  color: var(--entity-menu-item-color, var(--mb-color-text-primary));
  font-weight: 700;
}

.item.item:hover:not([data-disabled="true"]) {
  color: var(--entity-menu-item-hover-color, var(--mb-color-brand));
  background-color: var(
    --entity-menu-item-hover-bg-color,
    var(--mb-color-background-secondary)
  );
}

.item.item[data-disabled="true"] {
  color: var(--mb-color-text-tertiary);
  opacity: 1;
}

.item.item [data-position="left"] {
  color: inherit;
}
