.EditWarning {
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.HeaderBadges {
  align-items: center;
  border-left: 1px solid transparent;

  @container dashboard-header (max-width: 40rem) {
    flex-direction: column;
    align-items: baseline;
  }
}

.DashboardHeader {
  container-type: inline-size;
  container-name: dashboard-header;
}

.HeaderContainer {
  &.isFixedWidth.offsetSidebar {
    margin-right: var(--sidebar-width);
  }

  @container dashboard-header (max-width: 40rem) {
    margin-right: 0;
  }
}

.HeaderButtonsContainer {
  align-items: center;
  color: var(--mb-color-text-primary);

  @container dashboard-header (min-width: 40rem) {
    margin-left: auto;
  }

  @container dashboard-header (max-width: 40rem) {
    width: 100%;
    margin-bottom: 6px;
    padding-top: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid var(--mb-color-border);
  }
}

.HeaderButtonSection {
  align-items: center;
  gap: 0.5rem;

  @container dashboard-header (max-width: 40rem) {
    width: 100%;
    justify-content: space-between;
  }
}

.HeaderLastEditInfoLabel {
  transition: opacity 400ms ease;

  @container dashboard-header (max-width: 40rem) {
    margin-top: 4px;
  }
}

.HeaderCaptionContainer {
  position: relative;
  transition: top 400ms ease;
  padding-right: 2rem;
  right: 0.25rem;
  align-items: center;
}

.HeaderContent {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  min-width: 0;

  .HeaderCaptionContainer {
    top: 10px;
  }

  .HeaderLastEditInfoLabel {
    opacity: 0;
  }

  &:hover,
  &:focus-within,
  &.showSubHeader {
    .HeaderCaptionContainer {
      top: 0;
    }

    .HeaderLastEditInfoLabel {
      opacity: 1;
    }
  }

  @container dashboard-header (max-width: 40rem) {
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    .HeaderCaptionContainer {
      top: 0;
    }

    .HeaderLastEditInfoLabel {
      opacity: 1;
    }
  }
}

.HeaderCaption {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

.HeaderRow {
  @container dashboard-header (max-width: 40rem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.HeaderFixedWidthContainer {
  display: flex;
  align-items: center;
  justify-items: apart;

  @container dashboard-header (max-width: 40rem) {
    flex-direction: column;
    align-items: baseline;
  }
}
