.Column {
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 1 1 0;
  min-height: 5rem;
  background-color: var(--mb-color-bg-light);
  border-radius: 1rem;
  position: relative;

  &:hover {
    background-color: var(--mb-color-bg-medium);
  }
}

.ColumnBlock {
  padding: 0.5rem;
  display: flex;

  & > [data-node-view-content-react] {
    display: contents;
  }
}
