.table {
  border-color: var(--mb-color-border);
}

.thead {
  background-color: var(--mb-color-background-light);
}

.th {
  color: var(--mb-color-text-medium);
  background-color: var(--mb-color-background-light);
  border-color: var(--mb-color-border);
}

.tr {
  border-color: var(--mb-color-border);
}

.td {
  color: var(--mb-color-text-primary);
  border-color: var(--mb-color-border);
}
