.header {
  background-color: var(--mb-color-background);
  border-bottom: 1px solid var(--mb-color-border);
}

.row:not(:last-child) {
  border-bottom: 1px solid var(--mb-color-border);
}

.checkboxColumn {
  flex-shrink: 0;
}
