.QueryBuilderViewRoot {
  display: flex;
  flex-direction: column;
  background-color: var(--mb-color-background-primary);
  height: 100%;
  position: relative;
  container-name: query-builder;
  container-type: inline-size;
}

.QueryBuilderContentContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;

  @media screen and (max-width: 40em) {
    justify-content: flex-end;
  }
}
