.menuItem.menuItem {
  color: var(--entity-item-menu-item-color, var(--mb-color-text-primary));
  font-weight: 700;
}

.menuItem.menuItem:hover:not([data-disabled="true"]) {
  color: var(--entity-item-menu-item-hover-color, var(--mb-color-brand));
  background-color: var(
    --entity-item-menu-item-hover-bg-color,
    var(--mb-color-background-secondary)
  );
}

.menuItem.menuItem[data-disabled="true"] {
  color: var(--mb-color-text-tertiary);
  opacity: 1;
}

.menuItem.menuItem [data-position="left"] {
  color: inherit;
}
