.sortableField {
  /* make border-radius of focus state match border-radius of .content */
  border-radius: var(--default-border-radius);
}

.content {
  border-radius: var(--default-border-radius);
  border: 1px solid var(--mb-color-border);

  &.draggable {
    cursor: grab;

    &:hover {
      .grabber {
        color: var(--mb-color-brand);
      }
    }
  }

  &.active {
    background-color: var(--mb-color-brand-lighter);

    .label {
      color: var(--mb-color-brand);
    }
  }

  &:hover {
    background-color: var(--mb-color-brand-lighter);
  }
}

.label {
  overflow: hidden;
  overflow-wrap: break-word;
}
