@keyframes think {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dot {
  transition: all 200ms ease;
  transform-origin: center;
  animation: think 2500ms infinite linear forwards;
}

.dotOne {
  animation-delay: 0ms;
}

.dotTwo {
  animation-delay: 500ms;
}

.dotThree {
  animation-delay: 1000ms;
}

.dotFour {
  animation-delay: 1500ms;
}

.dotFive {
  animation-delay: 2000ms;
}
