.ViewButton {
  &[data-variant] {
    height: 2rem;
    font-size: 0.8rem;
    border: none;
    color: var(--view-button-color);
    background-color: color-mix(
      in srgb,
      var(--view-button-color) 20%,
      transparent
    );
    transition:
      background 300ms linear,
      border 300ms linear;

    &:hover {
      color: var(--view-button-color);
      background-color: color-mix(
        in srgb,
        var(--view-button-color) 35%,
        transparent
      );
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.active {
      background-color: var(--view-button-color);
      color: var(--mb-color-text-primary-inverse);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--view-button-color) 80%,
          transparent
        );
      }
    }
  }
}
