.sidebar {
  border-right: 1px solid var(--mb-color-border);
  background: var(--mb-color-bg-light);
  overflow: auto;

  &.noBorder {
    border-right: none;
  }
}

.tableSectionContainer {
  overflow: auto;
}

.contentLoadingAndErrorWrapper {
  height: 100%;
}
