.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: var(--mb-color-text-primary);

  &:hover {
    background-color: var(--mb-color-background-hover);
    color: var(--mb-color-text-hover);
  }
}
