  <div class=" clearfix">
    <div class="float-right">
      <div class="mx2 inline-block">

        <a class="Button float-right" cv-org-href="/admin/datasources/create">Add Data Source</a>
      </div>

    </div>

    <h2>Data Sources</h2>
  </div>

<div class="page-content row">
  <div class="TableWrapper">
    <table class="Table">
      <thead>
        <th>Source</th>
        <th>Type</th>
        <th>Database</th>
        <th>Refresh Interval</th>
        <th>Data Policy</th>
        <th>Created</th>
        <th>Delete</th>
      </thead>
      <tr ng-if="!datasources">
        <td colspan="7" style="text-align:center;"><h3>Loading ...</h3></td>
      </tr>

      <tr ng-repeat="datasource in datasources">
        <td><a cv-org-href="/admin/datasources/{{datasource.id}}">{{datasource.name}}</a></td>
        <td>{{datasource.source_type}}</td>
        <td>{{datasource.database.name}}</td>
        <td>{{datasource.refresh_interval}}</td>
        <td>{{datasource.data_policy}}</td>
        <td>{{datasource.created_at}}</td>
        <td><a class="Button" ng-click="delete(datasource.id)" delete-confirm>Delete</a></td>
      </tr>
    </table>
  </div>
</div>
