
<div>
	<h2>
		Edit Data Source
	</h2>
    <form id="datasource_form" novalidate>
	<p>
		<label for="id_name">Name:</label>
		<input id="id_name" size="100" type="text" ng-model="datasource.name"/>
	</p>

	<p>
		<label for="id_source_type">Type:</label>

		<select id="id_source_type" ng-model="datasource.source_type" ng-options="type.0 as type.1 for type in creation_information.types" ng-disabled="readonly" ng-change="clearTypeParameters()">
			<option value="">---------</option>
        </select>
	</p>
	<p>
		<label for="id_refresh_interval">Refresh Interval:</label>

		<select id="id_refresh_interval" ng-model="datasource.refresh_interval" ng-options="interval.0 as interval.1 for interval in creation_information.refresh_intervals" ng-disabled="readonly">
			<option value="">---------</option>
        </select>
	</p>
	<p>
		<label for="id_policy">Data Policy:</label>
		<select id="id_policy" ng-model="datasource.data_policy" ng-options="policy.0 as policy.1 for policy in creation_information.data_policies" ng-disabled="readonly">
			<option value="">---------</option>
        </select>
	</p>

	<p>
		<label for="id_datamart">Database:</label>
		<select id="id_datamart" ng-model="datasource.database.id" ng-options="dm.id as dm.name for dm in creation_information.databases" ng-disabled="readonly">
        </select>
	</p>

	<span ng-repeat="parameter in creation_information.available_datasources[datasource.source_type]">
		<p ng-if="!parameter.parent || datasource.parameters[parameter.parent]">
			<label for="id_database">{{parameter.name}}</label>
			<span ng-if="parameter.values.length > 0">
	            <label class="Select">
	                <select ng-model="datasource.parameters[parameter.name]" ng-options="f.key as f.name for f in field_for(table_filter, $index).values" ng-disabled="{{readonly}}">
	                </select>
	            </label>
	        </span>
	        <span ng-if="parameter.values.length == 0">
	            <input class="input" size="30" type="{{parameter.type}}" ng-model="datasource.parameters[parameter.name]" ng-readonly="{{readonly}}"/ >
	        </span>
		</p>
	</span>

    <table width="100%">
        <tr>
            <td>
            	<a class="Button mx1" href="#" ng-click="save(datasource)">Save</a>
            </td>
            <td style="text-align: right">
            </td>
        </tr>
    </table>
    </form>
</div>

