.BannerContainer {
  z-index: 1000;
}

.PopoverDropdown {
  border: none;
}

.Indicator {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 6px 24px 0 #0000001a;
}

/**
  * Use hard-coded colors instead of CSS variables to prevent user's themes
  * from interfering with the banner color.
  */

.Indicator .Content {
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: #eef6fd;
  padding: 0.3rem 0.75rem;
}

.Indicator .Content .PillTitle {
  color: #509ee3;
  margin-left: 0.37rem;
}

.Indicator .Logo {
  border-radius: 3px 0 0 3px;
}

.DocsButton:not([data-css-specificity-hack="🤣"]) {
  color: #509ee3;
  border: 1px solid #509ee3;
}
