{{> metabase/channel/email/_header.hbs }}
    <p>Just letting you know that {{adminName}} unsubscribed you from alerts about <a href="{{{questionURL}}}">{{questionName}}</a>.</p>
{{> metabase/channel/email/_footer.hbs}}
