{{> metabase/channel/email/_header.hbs }}
    <p>Alerts about <a href="{{{card-url card.id}}}">{{card.name}}</a> have stopped because the question was edited by {{actor.first_name}} {{actor.last_name}}.</p>
{{> metabase/channel/email/_footer.hbs }}
