{{> _header }}
  <div>
    <p>Two-factor authentication was turned off for your {{applicationName}} account using a verification code.</p>
    <p>If you did not do this, contact your administrator immediately.</p>
  </div>
{{> _footer }}
