{{> _header }}
  <div>
    <p>Two-factor authentication is now required when you sign in to {{applicationName}}.</p>
    <p>If you did not do this, reset your password and contact your administrator immediately.</p>
  </div>
{{> _footer }}
