{{> metabase/channel/email/_header.hbs }}
  <div style="text-align: center">
    <p>Your administrator has enabled a requirement for two-factor authentication on {{applicationName}}.</p>
    <p>You will need to set up two-factor authentication the next time you sign in.</p>
    <p style="padding-top: 1em">
      <a style="{{buttonStyle}}" href="{{siteUrl}}/account/security">Set up two-factor authentication</a>
    </p>
  </div>
{{> metabase/channel/email/_footer.hbs }}
