{{> _header }}
  <div>
    <p>Two-factor authentication is now required when you sign in to {{applicationName}}.</p>
    <p style="padding-top: 1em; font-size: small; color: {{colorTextMedium}};">If you did not do this, reset your password and contact your administrator immediately.</p>
  </div>
{{> _footer }}
