{{> metabase/channel/email/_header.hbs }}
    <p>Just letting you know that {{actor_name}} unsubscribed you from alerts about <a href="{{{card-url payload.card_id}}}">{{payload.card.name}}</a>.</p>
{{> metabase/channel/email/_footer.hbs }}
