{{> metabase/channel/email/_header.hbs }}
    <p>You're now getting alerts about <a href="{{{card-url payload.card_id}}}">{{payload.card.name}}</a>.</p>
    <p>We'll send you an email {{> metabase/channel/email/_notification_card_condition.hbs send_condition=payload.send_condition}}.</p>
    <p>If you don't want to receive these alerts, you can <a href="{{{card-url payload.card_id}}}">go to this question</a> and unsubscribe by clicking the sharing icon on the top right.</p>
{{> metabase/channel/email/_footer.hbs }}
