{{> metabase/channel/email/_header.hbs }}
  <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
    <img style="max-height: 40px; max-width: 100%;" src="{{context.application_logo_url}}" alt="{{context.application_name}} logo"/>
  </div>
  <div style="text-align: center; margin: 0 auto; max-width: 500px">
    <div style="text-align: left">
      <h2 style="font-weight: normal; color: #4C545B; line-height: 34px;">Your Slack connection stopped working</h2>
      <p style="line-height: 22px; margin-bottom: 40px">This may affect existing dashboard subscriptions. Follow the steps in settings to reconnect Slack and get things up and running again.</p>
    </div>
    <a style="{{context.style.button}}" href="{{context.site_url}}/admin/settings/notifications">Go to settings</a>
  </div>
{{> metabase/channel/email/_footer.hbs }}
