{{> metabase/channel/email/_header.hbs }}
    <p>You're no longer receiving notifications about changes to the <a href="{{{table-url payload.table.db_id payload.table.id}}}">{{payload.table.display_name}}</a> table.</p>
{{> metabase/channel/email/_footer.hbs }}
