<div class="wrapper mt4">
    <form name="mainSearchForm">
        <div ng-cloak>
            <alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-animate=" 'animate' " cv-delayed-call="closeAlert($index)">{{alert.msg}}</alert>
        </div>

        <div class="col col-sm-12 col-md-7">
            <span ng-if="response.page.num_results > 0">
                <div class="py1" ng-if="response.page && response.page.num_results > response.page.num_results_per_page">Showing {{response.page.start_index}} to {{response.page.end_index}} of {{response.page.num_results}} results.</div>
                <h1 class="text-normal" ng-if="response.page && response.page.num_results <= response.page.num_results_per_page">Result<span ng-if="response.page.num_results != 1">s</span> for <span class="text-brand">"{{query}}"</span></h1>
            </span>
            <div ng-if="response.page.num_results == 0">
                <h1 class="text-normal">No results for <span class="text-brand">"{{query}}"</span></h1>
            </div>

            <div ng-if="response.page.num_results > 0">
                <ul class="mt4">
                    <li class="border-bottom mb3 pb3 clearfix" ng-repeat="result in response.results track by $index">
                        <!-- begin icons.  ewww this is ugly -->
                        <div class="text-grey-3 float-right">
                            <div class="IconWrapper float-right"> <!-- ICON -->
                                <div ng-if="result.display_type == 'Dashboard'">
                                    <cv-dashboards-icon></cv-dashboards-icon>
                                </div>
                                <div ng-if="result.display_type == 'Card'">
                                    <cv-cards-icon></cv-cards-icon>
                                </div>
                                <div ng-if="result.display_type != 'Card' && result.display_type != 'Dashboard'">
                                    <cv-explore-icon></cv-explore-icon>
                                </div>
                            </div> <!-- /ICON -->
                            <div class="mt1 px2 float-right">
                                {{result.display_type}}
                            </div>
                        </div>
                        <!-- end icons. -->

                        <span ng-if="result.db || result.table.db">
                            <a cv-org-href="{{result.db ? result.db.url : result.table.db.url}}">{{result.db ? result.db.name : result.table.db.name}}</a> >>
                        </span>
                        <span ng-if="result.table"><a cv-org-href="{{result.table.url}}">{{result.table.name}}</a> >> </span>

                        <a cv-org-href="{{result.url}}" target="_self" ng-if="isAdminResult(result.display_type)">{{result.name}}</a>
                        <a cv-org-href="{{result.url}}" ng-if="!isAdminResult(result.display_type)">{{result.name}}</a>


                        <div class="my1">
                            <div ng-if="result.description">
                                Description: {{result.description}}
                            </div>
                            <div class="h5 text-grey-3" ng-if="result.created_at">
                                Created
                                <span ng-if="result.creator_name">
                                    by {{result.creator_name}}
                                </span>
                                on {{result.created_at}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="py2" ng-if="response.page.num_results > response.page.num_results_per_page">
                <button class="Button " ng-disabled="!response.page.has_previous" ng-click="changePageNumber(response.page.page_number - 1)">Previous</button>
                <button class="Button" ng-class="{'Button--primary': button_page_number == response.page.page_number}" ng-repeat="button_page_number in pageRange" ng-click="changePageNumber(button_page_number)">{{button_page_number}}</button>
                <button class="Button" ng-disabled="!response.page.has_next" ng-click="changePageNumber(response.page.page_number + 1)">Next</button>
            </div>
        </div>

        <div class="col col-sm-12 col-md-4 offset-md-1">
            <div class="bordered">
                <div class="p2 border-bottom">
                    Filter by:
                </div>
                <div class="p2">
                    <h4>Metabase</h4>
                    <ul>
                        <li class="py1" ng-repeat="(modelName, modelDisplayName) in modelChoices">
                            <input type="checkbox" ng-checked="isModelSelected(modelName)" ng-click="toggleModel(modelName); search()" />
                            <label class="ml1" ng-click="toggleModel(modelName); search();">{{modelDisplayName}}</label>
                        </li>
                    </ul>
                </div>
                <div class="p2">
                    <h4>Data</h4>
                    <ul>
                        <li class="py1" ng-repeat="(modelName, modelDisplayName) in dataChoices">
                            <input type="checkbox" ng-checked="isModelSelected(modelName)" ng-click="toggleModel(modelName); search()" />
                            <label class="ml1" ng-click="toggleModel(modelName); search();">{{modelDisplayName}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
