.label {
  width: 100%;
  cursor: pointer;
  color: var(--mb-color-text-primary);
  font-weight: 700;
  line-height: 1;
}

.description {
  color: var(--mb-color-text-secondary);
  line-height: 1.4;
  margin-top: 0;
}

.error {
  line-height: 1.4;
  margin-top: 0;
  color: var(--mb-color-error);
  border-left: 3px solid var(--mb-color-error);
  padding-left: 12px;
}
