.root {
  display: flex;
  flex-direction: column;
}

.widgetsRow {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.widgetContainer {
  display: flex;
  flex-direction: column;
  min-height: 75.5px;
}

.styledSettingSelect {
  width: 125px;
  margin-top: 12px;
}

.selectLabel {
  display: block;
  color: var(--mb-color-text-medium);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
  margin-top: 4px;
}

.explanation {
  margin-top: 1.5rem;
  color: var(--mb-color-text-medium);
}
