.value {
  display: inline;
  color: var(--scalar-value-color, inherit);
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  color: var(--mb-color-core-brand);
}

.titleLink {
  && {
    line-height: inherit;
  }

  &&:focus-visible {
    outline: 2px solid var(--mb-color-core-brand);
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.titleIcon {
  flex: 0 0 auto;
}

.descriptionIcon {
  display: flex;
  flex: 0 0 auto;
  color: var(--mb-color-text-disabled);

  &&&& {
    visibility: visible;
  }

  &&&&:hover {
    color: var(--mb-color-text-secondary);
  }

  &&&&:focus-visible {
    opacity: 1;
    color: var(--mb-color-text-secondary);
    outline: 2px solid var(--mb-color-core-brand);
    outline-offset: 2px;
    border-radius: 4px;
  }
}
