.value {
  display: inline;
  color: var(--scalar-value-color, inherit);
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  color: var(--mb-color-core-brand);
}

.titleLink {
  && {
    line-height: inherit;
  }
}

.titleIcon {
  flex: 0 0 auto;
}

.descriptionIcon {
  display: flex;
  flex: 0 0 auto;
  color: var(--mb-color-text-disabled);
}

.descriptionIcon:hover {
  color: var(--mb-color-text-secondary);
}
