.calendarHeader {
  min-width: 11rem;
}

.monthsListControl {
  color: var(--mb-color-text-primary);
  height: 2rem;
  width: 5rem;

  &[data-selected]:hover,
  &:hover:not(:disabled) {
    color: var(--mb-color-text-hover);
    background-color: var(--mb-color-background-hover);
  }
}

.monthsListCell {
  --horizontal-padding: var(--mantine-spacing-sm);
  --vertical-padding: var(--mantine-spacing-xs);

  padding: --mantine-spacing-md;

  &:not(:first-of-type) {
    padding-left: var(--horizontal-padding);
  }

  &:not(:last-of-type) {
    padding-right: var(--horizontal-padding);
  }
}

.monthsListRow {
  &:not(:first-of-type) .monthsListCell {
    padding-top: var(--vertical-padding);
  }

  .monthsListCell {
    padding-bottom: 0;
  }
}
