.levelsGroup {
  width: 100%;

  & > [data-year-level="true"] {
    width: 100%;
  }
}

.calendarHeader {
  width: 100%;
  margin-bottom: var(--mantine-spacing-xxs);
}

/* mantine styles are inline for this icon, so we have to override it with important */
.calendarHeaderControlIcon {
  width: var(--mantine-spacing-lg) !important;
  height: var(--mantine-spacing-lg) !important;
}
