.DataBucketList {
  width: 300px;
}

.DataBucketListItemTitle {
  color: var(--mb-color-text-primary);
  font-weight: 700;
  font-size: 14px;
  margin-left: 0.5rem;
}

.DataBucketListItemDescription {
  color: var(--mb-color-text-tertiary);
  font-weight: 700;
  font-size: 12px;
}

.DataBucketListItemIcon {
  color: var(--mb-color-text-primary);
}

.DataBucketListItemContainer {
  &:hover {
    .DataBucketListItemDescription,
    .DataBucketListItemTitle,
    .DataBucketListItemIcon {
      color: var(--mb-color-text-primary-inverse);
    }
  }
}
