
<div class="wrapper">
  <div class="py1 border-bottom">
      <h2>Queries</h2>
  </div>

  <div class="List-filters List-section clearfix">
      <div class="List-filterCategories float-left">
          <span class="List-filterLabel float-left">Filter:</span>
          <div class="Button-group">
              <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'all' }" ng-click="filter('all')">all</a>
              <a class="Button" ng-class="{ 'Button--selected' : filterMode == 'mine' }" ng-click="filter('mine')">mine</a>
          </div>
      </div>
      <div class="mx3 float-left">
          <input class="input" type="text" ng-model="searchFilter" placeholder="Search queries ...">
      </div>
      <div class="float-right">
          <span>Sort by:</span>
          <select ng-init="sortMode = 'name'" ng-model="sortMode" ng-change="sort()">
            <option value="name">Name (default)</option>
            <option value="owner">Owner</option>
            <option value="db">Database</option>
            <option value="date">Last Updated</option>
          </select>
      </div>
  </div>

  <div class="TableWrapper my2">
    <table class="Table">
      <thead>
        <th>Name</th>
        <th>Owner</th>
        <th>Visibility</th>
        <th>Database</th>
        <th>Last Updated</th>
        <th>Details</th>
        <th>Delete</th>
      </thead>

      <tfoot>
        <tr ng-if="!queries">
          <td colspan="7" style="text-align:center;"><h3>Loading ...</h3></td>
        </tr>
      </tfoot>

      <tbody>
        <tr ng-repeat="query in queries | filter:searchFilter">
          <td><a cv-org-href="/admin/query/{{query.id}}">{{query.name}}</a></td>
          <td>{{query.creator.common_name}}</td>
          <td style="white-space:nowrap;">
            <a href="#" ng-if="query.can_write" editable-select="query.public_perms" onaftersave="inlineSave(query, $index)" e-ng-options="perm.id as perm.name for perm in utils.perms">{{utils.permName(query.public_perms)}}</a>
            <span ng-if="!query.can_write">{{utils.permName(query.public_perms)}}</span>
          </td>
          <td>{{query.database.name}}</td>
          <td style="white-space:nowrap;">{{query.updated_at | date : 'MMMM d, y, hh:mm a'}}</td>
          <td width="40%">{{query.details.sql | limitTo : 200}}</td>
          <td style="text-align:center;"><input class="Button" type="button" value="Delete" ng-if="query.can_write" ng-click="deleteQuery(query.id)" delete-confirm/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
