/* .RunButtonWithTooltipStyled {
  margin: 1rem;
  margin-top: auto;
  height: 40px;
  width: 40px;
} */

.SidebarButton {
  color: var(--mb-color-text-primary);
  transition: color 0.3s linear;
  border: none;
  height: fit-content;

  &:hover {
    color: var(--mb-color-brand);
  }
}
