:local .text-card-markdown {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em 16px;
  pointer-events: all;
  width: 100%;
}

:local .cursor-text {
  cursor: text;
}

:local .text-card-markdown h1,
:local .text-card-markdown h2,
:local .text-card-markdown h3,
:local .text-card-markdown h4,
:local .text-card-markdown h5,
:local .text-card-markdown h6 {
  margin: 0.375em 0 0.25em 0;
}

:local .text-card-markdown h1:first-child,
:local .text-card-markdown h2:first-child,
:local .text-card-markdown h3:first-child,
:local .text-card-markdown h4:first-child,
:local .text-card-markdown h5:first-child,
:local .text-card-markdown h6:first-child,
:local .text-card-markdown p:first-child,
:local .text-card-markdown ul:first-child,
:local .text-card-markdown ol:first-child,
:local .text-card-markdown table:first-child {
  margin-top: 0.125em;
}

:local .text-card-markdown h1:last-child,
:local .text-card-markdown h2:last-child,
:local .text-card-markdown h3:last-child,
:local .text-card-markdown h4:last-child,
:local .text-card-markdown h5:last-child,
:local .text-card-markdown h6:last-child,
:local .text-card-markdown p:last-child,
:local .text-card-markdown ul:last-child,
:local .text-card-markdown ol:last-child,
:local .text-card-markdown table:last-child {
  margin-bottom: 0.125em;
}

:local .text-card-markdown h1 {
  font-weight: 900;
  font-size: 1.831em;
}
:local .text-card-markdown h2 {
  font-size: 1.627em;
}
:local .text-card-markdown h3 {
  font-size: 1.447em;
}
:local .text-card-markdown h4 {
  font-size: 1.286em;
}
:local .text-card-markdown h5 {
  font-size: 1.143em;
}
:local .text-card-markdown p {
  font-size: 1.143em;
  line-height: 1.602em;
  padding: 0;
  margin: 0 0 0.5em 0;
}

:local .text-card-markdown ul {
  font-size: 16px;
  margin: 0;
  padding: 0.5em 1.5em;
  list-style-type: disc;
}
:local .text-card-markdown ol {
  font-size: 16px;
  margin: 0;
  padding: 0.5em 1.5em;
  list-style-type: decimal;
}

:local .text-card-markdown li {
  list-style-position: outside;
  padding: 0.25em 0 0 0;
}

:local .text-card-markdown a {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-brand);
}
:local .text-card-markdown a:hover {
  text-decoration: underline;
}

:local .text-card-markdown a:hover {
  text-decoration: underline;
}

:local .text-card-markdown th {
  text-align: left;
}
:local .text-card-markdown table {
  /* standard table reset */
  border-collapse: collapse;
  border-spacing: 0;

  margin: 1em 0;
  width: 100%;
  font-family: Monaco, monospace;
  font-size: 12.64px;
  line-height: 0.76rem;
  text-align: left;
}
:local .text-card-markdown tr {
  border-bottom: 1px solid color-mod(var(--color-border) alpha(-70%));
}
:local .text-card-markdown tr:nth-child(even) {
  background-color: color-mod(var(--color-bg-black) alpha(-98%));
}
:local .text-card-markdown th,
:local .text-card-markdown td {
  padding: 0.75em;
  border: 1px solid color-mod(var(--color-border) alpha(-70%));
}

:local .text-card-markdown code {
  font-family: Monaco, monospace;
  font-size: 12.64px;
  line-height: 20px;
  padding: 0 0.25em;
  background-color: var(--color-bg-light);
  border-radius: var(--default-border-radius);
}

:local .text-card-markdown pre code {
  padding: 1em;
  display: block;
  margin-right: 1.5em;
}

:local .text-card-markdown blockquote {
  color: var(--color-text-medium);
  border-left: 5px solid var(--color-border);
  padding: 0 1.5em 0 17px;
  margin: 0.5em 0 0.5em 1em;
}
:local .text-card-markdown blockquote p {
  padding: 0;
  margin: 0;
}

:local .text-card-markdown img {
  max-width: 100%;
  height: auto;
}

:local .text-card-markdown hr {
  margin: 0;
}
