.resultItem {
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--mb-color-text-primary);
  min-height: 36px;
}

.resultItem:hover {
  background-color: var(--mb-color-background-hover);
}

.resultItem[data-active] {
  background-color: var(--mb-color-background-hover);
  color: var(--mb-color-text-hover);
}

.icon {
  flex-shrink: 0;
  color: var(--mb-color-text-tertiary);
}

.resultItem[data-active] .icon {
  color: var(--mb-color-text-hover);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slug {
  flex-shrink: 0;
  color: var(--mb-color-text-tertiary);
}

.resultItem[data-active] .slug {
  color: var(--mb-color-text-tertiary);
}

.selectedIcon {
  flex-shrink: 0;
  color: var(--mb-color-text-tertiary);
}

.resultItem[data-active] .selectedIcon {
  color: var(--mb-color-text-hover);
}
